<div class="nw-mb-4 nw-px-4 md:nw-px-7 nw-py-8 nw-bg-white nw-rounded-md nw-mt-4 nw-mx-auto" style="max-width: 1064px;">
  <div class="nw-mb-4 nw-font-bold nw-text-2xl">Newsletter</div>
  <div class="nw-text-base md:nw-text-md nw-text-gray-400">Verpassen Sie keine News aus OWL und der Welt – unsere Newsletter bringen sie direkt in Ihr Postfach.</div>
</div>