<div class="nw-infobox">
  <p class="nw-text-xl nw-uppercase nw-font-bold">INFORMATION</p>
  <hr class="nw-red-line-l nw-mt-0.5 nw-mb-6"/>
  <p class="nw-text-lg nw-font-bold nw-pb-2">Lorem Ipsum dollar sans connas</p>
  <p class="nw-text-md nw-text-gray-600">Das Bundeswirtschaftsministerium hatte am Montagmorgen mitgeteilt,
    dass die Expertenkommission nach rund 35 Stunden ihre Klausur "erfolgreich" beendet habe.
    "Die Kommission hat eine Reihe von Empfehlungen an die Bundesregierung erarbeitet und einstimmig verabschiedet."
  </p>
</div>
