<div class="nw-p-4 nw-bg-gray-100 nw-rounded-md md:nw-max-w-3xl">
  <p class="nw-text-base nw-uppercase nw-font-bold">{{info-title}}</p>
  <hr class="nw-red-line nw-pt-1" />
  <p class="nw-text-base nw-pt-2">{{info-caption}}</p>
</div>
