<div class="nw-infobox">
    <p class="text-lg md:nw-text-xl nw-uppercase nw-font-bold">{{info-title}}</p>
    <hr class="nw-red-line-l nw-mt-0.5"/>
    <p class="nw-text-md nw-pt-3">{{info-caption}}</p>
</div>

<div class="nw-editorial-comment">
    <p class="text-lg md:nw-text-xl nw-uppercase nw-font-bold">{{info-title}}</p>
    <hr class="nw-red-line-l nw-mt-0.5"/>
    <p class="nw-text-md nw-pt-3">{{info-caption}}</p>
</div>
