<style>
    .nw-bg-meistgelesen {
        background-color: #F2F5F9;
    }

    @media screen and (min-width: 533px) {
        .nw-width-meistgelesen {
            max-width: 300px;
        }
    }

</style>
<div id=""
     class="nw-flex nw-flex-col md:nw-flex-row nw-gap-6 nw-bg-white nw-justify-center">
    <div class="nw-pt-8 nw-w-full md:nw-mb-6 nw-bg-white paywall-overlay-rebrush-2023" style="max-width: 565px;"
         data-tracking-visible="paywall-overlay-show: plus">
        <div style="border-bottom-left-radius:0;border-bottom-right-radius:0"
             class=" nw-bg-custom-1-700 nw-p-8 nw-rounded-none md:nw-rounded-md nw-max-w-full nw-mx-auto">
            <div class="nw-flex nw-items-center nw-flex-col nw-gap-2">
                <div class="nw-flex nw-justify-between nw-gap-3">
                    <img class="" src="https://www.nw.de/_apps/nw/plus.svg" alt="">
                </div>
                <div class="">
                    <p class="nw-text-3xl nw-font-bold nw-text-white nw-mb-6">Jetzt
                        weiterlesen</p>
                </div>
            </div>
            <!-- First block -->
            <div class="nw-mb-8 nw-rounded-md nw-bg-gray-100 nw-max-w-xs nw-mx-auto nw-pb-6">
                <div class="nw-text-left nw-w-full">
                    <div class="nw-flex nw-flex-col nw-gap-0.5 nw-items-center nw-justify-center">
                        <div class="nw-bg-green-500 nw-text-sm nw-leading-6 nw-w-full nw-rounded-t-md nw-text-center nw-p-2 nw-text-white">
                          <p>
                            Nur
                            für kurze
                            Zeit
                          </p>
                        </div>
                        <div class="nw-text-gray-600 nw-text-base nw-font-medium nw-uppercase nw-mt-4">Ein Jahr</div>
                        <div>
                            <p class="nw-font-medium nw-block nw-text-3xl nw-text-gray-600">
                                <span class="nw-line-through nw-text-gray-300"> 9,90 € </span> &nbsp;5 €
                            </p>
                        </div>
                        <div>
                            <p class="nw-text-gray-400 nw-text-center nw-text-base nw-pb-4">pro Monat</p>
                        </div>
                    </div>
                </div>
                <div class="buttonWrap nw-flex nw-flex-col nw-items-center nw-justify-center nw-gap-2"
                     data-upscore-conversion="1">
                    <a href="https://www.nw.de/_apps/nw/tracking/redirect_checkout_jump.php?shop_id=SW12402&amp;product=Wochenabo%201%20EUR&amp;return=https%3A%2F%2Fwww.nw.de%2Flokal%2Fkreis_lippe%2Flage%2F23033142_Geplante-Fluechtlingsunterkunft-mit-300-Betten-im-Kreis-Lippe-versetzt-Anwohner-in-Aufruhr.html&amp;intl=nwp_overlay&amp;cmsId=23033142"
                       class="funnel-entry nw-uppercase nw-bg-red-500 nw-border nw-border-transparent
                            nw-rounded-full nw-py-2 nw-px-6 nw-w-200px nw-block nw-items-center nw-justify-center
                            nw-text-sm nw-font-bold nw-text-white nw-text-center hover:nw-bg-red hover:nw-text-white
                            focus:nw-outline-none focus:nw-ring-2 focus:nw-ring-offset-2 focus:nw-ring-offset-gray-800 focus:nw-ring-indigo-500 nw-uppercase"
                       data-label="Artikel-Overlay" data-product="NW+ Wochenabo" data-price="1 EUR/Woche"
                       data-event-value="paywall-overlay-click">
                        12 Monate sichern
                    </a>
                </div>
            </div>

            <!-- third block  -->
            <div class="nw-flex nw-mb-4 nw-justify-center">
                <p class="nw-text-md nw-font-bold nw-mr-2 nw-text-white">Sicher und bequem zahlen</p>
            </div>
            <div class="nw-flex md:nw-flex-row nw-justify-center nw-mb-4">
                <div>
                    <img class="nw-zahlungsarten nw-inline-block nw-mr-1 nw-mb-2"
                         src="https://www.nw.de/_apps/nw/assets/abo/Paypal.svg" alt="Paypal" width="80">
                    <img class="nw-zahlungsarten nw-inline-block nw-mr-1 nw-mb-2"
                         src="https://www.nw.de/_apps/nw/assets/abo/Sepa.svg" alt="Sepa" width="80">
                    <img class="nw-zahlungsarten nw-inline-block nw-mr-1 nw-mb-2"
                         src="https://www.nw.de/_apps/nw/assets/abo/Visa.svg" alt="Visa" width="80">
                </div>
            </div>
            <!-- third block E -->
            <div style="border-top-left-radius:0;border-top-right-radius:0"
                 class="nw-text-white nw-text-center nw-text-sm">
                <p class="nw-font-medium">Bereits Abonnent? <br></p>

                <p>
                    <a style="float:none" href="#"
                       class="nw-float-right nw-text-gray-200 hover:nw-text-white toLogin nw-underline">Zum
                        Login
                    </a>
                </p>
            </div>
        </div>
        <div class="nw-w-full nw-bg-gray-100 nw-pt-8 nw-pb-6 nw-px-8 nw-text-center nw-rounded-none md:nw-rounded-md">
            <div class="nw-max-w-sm nw-mx-auto">
                <p class="nw-text-md nw-font-bold nw-pb-2 nw-leading-6">Wir bedanken uns für Ihr Vertrauen in unsere
                    journalistische
                    Arbeit.</p>
                <p class="nw-text-sm nw-text-gray-500 nw-leading-5">Aktuelle Nachrichten, exklusive Berichte und
                    Interviews aus
                    Ostwestfalen-Lippe,
                    Deutschland und der Welt von mehr als 140 Journalisten für Sie recherchiert. Hier finden Sie unsere
                    <a class="nw-underline nw-text-black" href="'#">Digital-Angebote</a> in der Übersicht.</p>
            </div>
        </div>
    </div>
    <div class="nw-mb-6 md:nw-pt-8 nw-bg-white nw-px-4 md:nw-px-0 nw-width-meistgelesen" id="">
        <div class="nw-mb-0 nw-overflow-hidden nw-bg-meistgelesen nw-rounded-md">
            <div class="nw-mb-4">
                <h4 class="nw-text-md nw-font-bold nw-px-3 nw-py-4 nw-leading-5 nw-border-b nw-border-b-gray-200 nw-uppercase">
                    <a href="#">
                        Meistgelesen
                    </a>
                </h4>
            </div>
            <div id="">
                <!-- nur tailwind css-->
                <div class="md:nw-gap-4">
                    <div class="nw-flex nw-items-center nw-px-3 nw-pb-4">
                        <img class="nw-mr-4 nw-rounded-md" src="/images/sport-news/player2.jpg"
                             style="min-width: 80px;" width="80" height="55">
                        <a href="#" class="nw-text-sm sm:nw-text-xs nw-leading-4 nw-font-bold nw-pr-2">Umwetter in
                            Bielefeld: Keller
                            bis
                            unter die Decke überflutet
                            einer
                            Ära
                        </a>
                    </div>
                    <div class="nw-flex nw-items-center nw-px-3 nw-pb-4">
                        <img class="nw-mr-4 nw-rounded-md" src="/images/sport-news/player2.jpg"
                             style="min-width: 80px;" width="80" height="55">
                        <a href="#" class="nw-text-sm sm:nw-text-xs nw-leading-4 nw-font-bold nw-pr-2">Umwetter in
                            Bielefeld: Keller
                            bis
                            unter die Decke überflutet
                            einer
                            Ära
                        </a>
                    </div>
                    <div class="nw-flex nw-items-center nw-px-3 nw-pb-4">
                        <img class="nw-mr-4 nw-rounded-md" src="/images/sport-news/player2.jpg"
                             style="min-width: 80px;" width="80" height="55">
                        <a href="#" class="nw-text-sm sm:nw-text-xs nw-leading-4 nw-font-bold nw-pr-2">Umwetter in
                            Bielefeld: Keller
                            bis
                            unter die Decke überflutet
                            einer
                            Ära
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>