<div class="nw-bg-white nw-p-4 nw-rounded-md nw-text-center md:nw-text-left">
    <p class="nw-mb-3 nw-text-md nw-font-bold">
        Ihre Meinung ist gefragt
    </p>
    <p class="nw-text-base nw-max-w-md md:nw-max-w-none nw-mx-auto ">
        Um Ihren Kommentar abzusenden, melden Sie sich bitte vorher an. Sollten Sie noch keinen Zugang besitzen, können
        Sie sich
    </p>
    <p class="nw-mb-4"><a href="" class="nw-text-red-500 hover:nw-underline"> hier registrieren.</a></p>
    <div>
        <a
            class="
        nw-inline-flex
        nw-bg-red-500
        nw-py-3
        nw-px-8
        nw-text-base
        nw-font-bold
        nw-text-center
        nw-text-white
        nw-rounded
      "
        >
            Jetzt anmelden
        </a>
    </div>
</div>