<div class="nw-bg-gray-100 nw-p-4 nw-rounded-md">
    <div class="nw-flex nw-items-top nw-mb-1">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="21.827"
            height="20.827"
            viewBox="0 0 21.827 20.827"
            class="nw-mr-1 nw-w-6 nw-h-6 "
        >
            <g id="icon-no_comment" transform="translate(-14.086 -15.086)">
                <path
                    id="Pfad_206"
                    data-name="Pfad 206"
                    d="M2.25,11.276a2.73,2.73,0,0,0,2.3,2.736q1.383.2,2.792.313v3.938l3.456-3.456a1.294,1.294,0,0,1,.879-.376,40.943,40.943,0,0,0,4.817-.419,2.729,2.729,0,0,0,2.3-2.737v-5.1a2.729,2.729,0,0,0-2.3-2.737,41.215,41.215,0,0,0-11.945,0,2.73,2.73,0,0,0-2.3,2.737v5.1Z"
                    transform="translate(14.482 15.867)"
                    fill="none"
                    stroke="#999"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="1.5"
                />
                <line
                    id="Linie_92"
                    data-name="Linie 92"
                    y1="18"
                    x2="19"
                    transform="translate(15.5 16.5)"
                    fill="none"
                    stroke="#d20a11"
                    stroke-linecap="round"
                    stroke-width="2"
                />
            </g>
        </svg>
        <p class="nw-text-tiny nw-font-bold">Kommentarfunktion deaktiviert</p>
    </div>
    <p class="nw-text-xs nw-font-medium">
        Kommentare zu diesem Artikel sind nicht möglich.
    </p>
</div>
