<div class="nw-bg-gray-200 nw-p-4 nw-rounded-md">
  <div class="nw-flex nw-items-top nw-mb-1">
    <img
      class="nw-w-4 nw-h-4 nw-mr-1"
      src="/images/icon-comment-deaktiviert.svg"
      alt="icon-comment"
    />
    <p class="nw-text-tiny nw-font-bold">Kommentarfunktion deaktiviert</p>
  </div>
  <p class="nw-text-xs nw-font-medium">
    Kommentare zu diesem Artikel sind nicht möglich.
  </p>
</div>
