<div class="nw-p-4 nw-bg-white">
    {{>@kommentare-notifications--abgelaufen}}
    <br/>
    {{>@kommentare-notifications--deaktiviert}}
    <br/>
    {{>@kommentare-notifications--fehlerhaft}}
    <br/>
    {{>@kommentare-notifications--gespeichert}}
    <br/>
    {{>@kommentare-notifications--gesperrt}}
    <br/>
    {{>@kommentare-notifications--vereuffentlicht}}
</div>
