<div class="mx-4 my-2 divide-y-2">
  <div class="flex space-x-2 h-4 mb-2">
    <div class="w-4 h-4 border-2 rounded-full border-nw-red-100 flex"></div>
    <p
      class="
        text-sm
        font-roboto font-bold
        place-self-center
        tracking-wide
        uppercase
      "
    >
      Information
    </p>
  </div>
  <p class="text-tiny font-roboto font-regular pt-2">
    Ganz schön was los also in diesen. Passt aber ja perfekt zu diesem Verein.
    Mit Armin sagt einer im Film, „wird es nie langweilig".
  </p>
</div>
