<style>
    .min-height-block {
        min-height: 360px;
    }

    .min-height-mitte-block {
        min-height: 370px;
    }

    @media screen and (max-width: 767px) {
        .min-height-block {
            min-height: 290px;
        }

        .min-height-mitte-block {
            min-height: 300px;
        }
    }
</style>
<div style="max-width: 565px;" class="nw-bg-black sm:nw-px-4 nw-py-8 nw-text-white">
    <div class="nw-flex nw-flex-col">
        <div class="nw-flex nw-flex-row nw-justify-center nw-mb-3 nw-px-2">
            <p class="nw-text-2.5xl nw-font-bold nw-pr-4">
                Weiterlesen mit
            </p>
            <img src="/images/nw-plus_icon.svg" alt="nw_plus_icon" width="72" height="28" class="nw-place-self-center"/>
        </div>
        <p class="nw-text-md nw-text-center nw-max-w-sm nw-place-self-center nw-mb-10 nw-px-4 nw-leading-7">
            Jetzt alle Plus-Artikel freischalten und tägliches NW+ Update erhalten
        </p>
        <div class="nw-flex nw-flex-row nw-gap-1 sm:nw-gap-4 nw-items-center nw-mb-12">
            <!-- 1 -->
            <div class="nw-bg-gray-200 nw-flex nw-flex-col nw-py-4 nw-rounded-md nw-w-1/3 min-height-block">
                <p class="nw-text-black nw-place-self-center nw-font-medium nw-text-sm md:nw-text-xl">
                    Wochenabo
                </p>
                <p class="nw-text-black nw-text-md md:nw-text-2xl nw-place-self-center nw-font-bold nw-mb-0.5">
                    1 &euro;
                </p>
                <p class="nw-text-gray-400 nw-text-xs md:nw-text-sm nw-text-center nw-mb-4">
                    pro Woche
                </p>
                <div class="nw-flex nw-justify-center">
                    <a href="#"
                       class="nw-bg-gray-600 hover:nw-bg-gray-700 nw-text-center nw-text-sm md:nw-text-md nw-px-4 nw-py-2 nw-font-bold nw-mb-4 nw-rounded-full">
                        Weiter
                    </a>
                </div>
                <p class="nw-text-gray-400 nw-text-xs  md:nw-text-base nw-text-center nw-pb-2">
                    monatlich <br> kündbar
                </p>
                <p class="nw-text-gray-400 nw-text-xs  md:nw-text-base nw-text-center">
                    monatliche <br> Abrechnung, <br> nach einem <br> Jahr 2 &euro; pro <br> Woche
                </p>
            </div>
            <!-- 2 -->
            <div
                class="nw-bg-gray-600 nw-flex nw-flex-col nw-rounded-lg nw-border-2 nw-border-red-500 nw-w-1/3 ">
                <p class="nw-bg-gray-600 nw-rounded-t-lg nw-border nw-border-gray-600 nw-text-xs md:nw-text-base nw-text-center nw-px-2 nw-py-2">
                    Black Friday Deal
                </p>
                <div class="nw-bg-white nw-flex nw-flex-col nw-py-4 nw-rounded-b-md min-height-mitte-block">
                    <p class="nw-text-black nw-place-self-center nw-font-medium nw-text-sm md:nw-text-xl">
                        Jahresabo
                    </p>
                    <p class="nw-text-black nw-text-md md:nw-text-2xl nw-place-self-center nw-font-bold nw-mb-0.5">
                        39,90 &euro;
                    </p>
                    <p class="nw-text-gray-400 nw-text-xs md:nw-text-sm nw-text-center nw-mb-4">
                        im 1. Jahr
                    </p>
                    <div class="nw-flex nw-justify-center">
                        <a href="#" class="nw-mb-4 nw-px-4 nw-py-2 nw-inline-block nw-text-white
                                nw-bg-red-500 nw-border hover:nw-bg-white hover:nw-text-red-500
                                nw-border-red-500 nw-text-sm md:nw-text-md nw-text-center nw-font-bold nw-cursor-pointer nw-font-bold nw-rounded-full">
                            Weiter
                        </a>
                    </div>
                    <p class="nw-uppercase nw-text-red-500 nw-text-center nw-text-xs md:nw-text-sm nw-font-bold nw-mb-2">
                        Über 65% sparen
                    </p>
                    <p class="nw-text-gray-400 nw-text-xs md:nw-text-base nw-text-center nw-mb-8">
                        ab dem 2. Jahr <br> 99 &euro; pro Jahr und <br> monatlich <br> kündbar
                    </p>
                </div>
            </div>
            <!-- 3 -->
            <div
                class="nw-bg-gray-200 nw-flex nw-flex-col nw-py-4 nw-rounded-md nw-w-1/3 min-height-block">
                <p class="nw-text-black nw-place-self-center nw-font-medium nw-text-sm md:nw-text-xl">
                    2-&nbsp;Jahresabo
                </p>
                <p class="nw-text-black nw-text-md md:nw-text-2xl nw-place-self-center nw-font-bold nw-mb-0.5">
                    169 &euro;
                </p>
                <p class="nw-text-gray-400 nw-text-xs md:nw-text-sm nw-text-center nw-mb-4">
                    für 2 Jahre
                </p>
                <div class="nw-flex nw-justify-center">
                    <a href="#"
                       class="nw-bg-gray-600 nw-inline-block hover:nw-bg-gray-700 nw-text-center nw-text-sm md:nw-text-md nw-px-4 nw-py-2 nw-font-bold nw-mb-4 nw-rounded-full">
                        Weiter
                    </a>
                </div>
                <p class="nw-text-gray-400 nw-text-xs md:nw-text-base nw-text-center">
                    nach zwei Jahren <br> 9,90 &euro; pro <br> Monat und <br> monatlich <br> kündbar
                </p>
            </div>
        </div>
        <div class="nw-flex nw-text-white nw-justify-center nw-text-center nw-text-base">
            <p class="nw-font-medium nw-pr-3">Bereits Abonnent?</p>
            <p><a href="#" class="nw-underline">Zum Login</a></p>
        </div>
    </div>
</div>
