<div
  class="
    nw-ml-4
    sm:nw-ml-0
    nw-inline-block
    nw-flex
    nw-rounded-md
    nw-overflow-x-auto
    nw-overflow-y-hidden
    nw-scrollbar
    nw-scrollbar-horizontal
    nw-whitespace-nowrap
    nw-bg-gray-100
  "
>
  <a
    type="button"
    class="
      nw-mb-3
      nw-flex-1
      nw-items-center
      nw-py-1
      nw-px-2
      nw-text-base
      nw-font-medium
      nw-text-black
      nw-bg-white
      nw-rounded-l-md
      nw-border
      hover:nw-bg-gray-200 hover:nw-border-gray-500
      focus:nw-bg-gray-200 focus:nw-border-gray-500
      nw-uppercase
    "
  >
    A
  </a>

  {{#each this.buttons}}
  <a
    type="button"
    class="
      nw-mb-3
      nw-justify-between
      nw-flex-1
      nw-items-center
      nw-py-1
      nw-px-2
      nw-text-base
      nw-font-medium
      nw-bg-white
      nw-text-black
      nw-border
      hover:nw-bg-gray-200 hover:nw-border-gray-500
      focus:nw-bg-gray-200 focus:nw-border-gray-500
      nw-uppercase
    "
  >
    {{this}}
  </a>
  {{/each}}
  <a
    type="button"
    class="
      nw-mb-3
      nw-flex-1
      nw-items-center
      nw-py-1
      nw-px-2
      nw-text-base
      nw-font-medium
      nw-bg-white
      nw-text-black
      nw-rounded-r-md
      nw-border
      hover:nw-bg-gray-200 hover:nw-border-gray-500
      focus:nw-bg-gray-200 focus:nw-border-gray-500
      nw-uppercase
    "
  >
    0-9
  </a>
</div>
