<div class="nw-mt-8 nw-mb-4">
  <span
    class="
      nw-text-left
      nw-text-black
      nw-font-bold
      nw-font-roboto
      nw-text-xl
      nw-tracking-normal
    "
  >
    Themenglossar
  </span>
</div>
<!--buttons -->
<div
  class="
    nw-inline-block
    nw-flex
    nw-flex-row
    nw-justify-between
    nw-border
    nw-text-center
    nw-bg-white
    nw-rounded-md
    nw-overflow-x-auto
    nw-overflow-y-hidden
    nw-whitespace-nowrap
    nw-scrollbar
    nw-scrollbar-horizontal
  "
>
  {{#each buttons}}
  <a
    href=""
    class="
      nw-px-2
      nw-py-1.5
      nw-border-r
      nw-float-left
      nw-text-center
      nw-text-black
      nw-text-roboto
      nw-tracking-normal
      nw-uppercase
      nw-text-tiny
      nw-font-normal
      nw-cursor-pointer
    "
  >
    {{this}}
  </a>
  {{/each}}
  <a
    href=""
    class="
      nw-px-2
      nw-py-1.5
      nw-float-left
      nw-text-center
      nw-text-black
      nw-text-roboto
      nw-tracking-normal
      nw-uppercase
      nw-text-tiny
      nw-font-normal
      nw-cursor-pointer
    "
  >
    0-9
  </a>
</div>
