<div class="nw-mt-8 nw-mb-4">
  <span
    class="
      nw-text-left
      nw-text-black
      nw-font-bold
      nw-font-roboto
      nw-text-xl
      nw-tracking-normal
    "
  >
    Themenglossar
  </span>
</div>

<!--buttons -->
<div
  class="
    nw-inline-block
    nw-flex
    nw-flex-row
    nw-justify-between
    nw-border
    nw-text-center
    nw-bg-white
    nw-rounded-md
    nw-overflow-x-auto
    nw-overflow-y-hidden
    nw-whitespace-nowrap
    nw-scrollbar
    nw-scrollbar-horizontal
  "
>
  {{#each buttons}}
  <a
    href=""
    class="
      nw-px-2
      nw-py-1.5
      nw-border-r
      nw-float-left
      nw-text-center
      nw-text-black
      nw-uppercase
      nw-text-tiny
      nw-font-normal
      nw-cursor-pointer
    "
  >
    {{this}}
  </a>
  {{/each}}
  <a
    href=""
    class="
      nw-px-2
      nw-py-1.5
      nw-float-left
      nw-text-center
      nw-text-black
      nw-uppercase
      nw-text-tiny
      nw-font-normal
      nw-cursor-pointer
    "
  >
    0-9
  </a>
</div>

<br />

<div
  class="
    nw-inline-block
    nw-flex
    nw-flex-row
    nw-justify-between
    nw-rounded-md
    nw-shadow-sm
    nw-overflow-x-auto
    nw-overflow-y-hidden
    nw-scrollbar
    nw-scrollbar-horizontal
    nw-whitespace-nowrap
  "
>
  <a
    type="button"
    class="
      nw-mb-3
      nw-inline-flex
      nw-items-center
      nw-py-1
      nw-px-2
      nw-text-base
      nw-font-medium
      nw-text-black
      nw-bg-white
      nw-rounded-l-md
      nw-border
      hover:nw-bg-gray-200 hover:nw-border-gray-500
      focus:nw-bg-gray-200 focus:nw-border-gray-500
      nw-uppercase
    "
  >
    A
  </a>

  {{#each this.buttons}}
  <a
    type="button"
    class="
      nw-mb-3
      nw-inline-flex
      nw-items-center
      nw-py-1
      nw-px-2
      nw-text-base
      nw-font-medium
      nw-bg-white
      nw-text-black
      nw-border
      hover:nw-bg-gray-200 hover:nw-border-gray-500
      focus:nw-bg-gray-200 focus:nw-border-gray-500
      nw-uppercase
    "
  >
    {{this}}
  </a>
  {{/each}}
  <a
    type="button"
    class="
      nw-mb-3
      nw-inline-flex
      nw-items-center
      nw-py-1
      nw-px-2
      nw-text-base
      nw-font-medium
      nw-bg-white
      nw-text-black
      nw-rounded-r-md
      nw-border
      hover:nw-bg-gray-200 hover:nw-border-gray-500
      focus:nw-bg-gray-200 focus:nw-border-gray-500
      nw-uppercase
    "
  >
    0-9
  </a>
</div>
