<div class="nw-flex nw-flex-col nw-gap-10 nw-p-14 nw-bg-white">
<div>
      <h1 class="nw-text-lg nw-font-medium nw-mb-4">Weight</h1>
      <div class="nw-flex nw-flex-col nw-gap-4">
        <div class="nw-font-light nw-text-md">
            <div>The quick brown fox jumps over the lazy dog. font-light</div>
        </div>
        <div class="nw-font-normal nw-text-md">
            <div>The quick brown fox jumps over the lazy dog. font-normal</div>
        </div>
        <div class="nw-font-medium nw-text-md">
            <div>The quick brown fox jumps over the lazy dog. font-medium</div>
        </div>
        <div class="nw-font-bold nw-text-md">
            <div>The quick brown fox jumps over the lazy dog. font-bold</div>
        </div>
      </div>
    </div>
    <div>
      <h1 class="nw-text-lg nw-font-medium nw-mb-6">Headings Mobile</h1>
      <div class="nw-flex nw-flex-col nw-gap-10">
        <div class="nw-pb-5">
          <p class="nw-text-md"> nw-text-xs</p>
          <p class="nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> Font size: 12px |  Line-Height: 20px</p>
          <div class=" nw-flex nw-flex-row nw-gap-10 nw-text-xs">
            <div class="nw-font-bold">Roboto</div>
            <div class="nw-font-medium">Roboto</div>
            <div class="nw-font-normal">Roboto</div>
            <div class="nw-text-light">Roboto</div>
          </div>
        </div>
        <div class="nw-pb-5">
          <p class="nw-text-md"> nw-text-sm</p>
          <p class="nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> Font size: 14px |  Line-Height: 22px</p>
          <div class=" nw-flex nw-flex-row nw-gap-10 nw-text-sm">
            <div class="nw-font-bold">Roboto</div>
            <div class="nw-font-medium">Roboto</div>
            <div class="nw-font-normal">Roboto</div>
            <div class="nw-text-light">Roboto</div>
          </div>
        </div>
        <div class="nw-pb-5">
          <p class="nw-text-md"> nw-text-base</p>
          <p class="nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> Font size: 16px |  Line-Height: 24px</p>
          <div class=" nw-flex nw-flex-row nw-gap-10 nw-text-base">
            <div class="nw-font-bold">Roboto</div>
            <div class="nw-font-medium">Roboto</div>
            <div class="nw-font-normal">Roboto</div>
            <div class="nw-text-light">Roboto</div>
          </div>
        </div>
        <div class="nw-pb-5">
          <p class="nw-text-md"> nw-text-md</p>
          <p class="nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> Font size: 18px |  Line-Height: 26px</p>
          <div class=" nw-flex nw-flex-row nw-gap-10 nw-text-md">
            <div class="nw-font-bold">Roboto</div>
            <div class="nw-font-medium">Roboto</div>
            <div class="nw-font-normal">Roboto</div>
            <div class="nw-text-light">Roboto</div>
          </div>
        </div>
        <div class="nw-pb-5">
          <p class="nw-text-md"> nw-text-xl</p>
          <p class="nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> Font size: 24px |  Line-Height: 32px</p>
          <div class=" nw-flex nw-flex-row nw-gap-10 nw-text-xl">
            <div class="nw-font-bold">Roboto</div>
            <div class="nw-font-medium">Roboto</div>
            <div class="nw-font-normal">Roboto</div>
            <div class="nw-text-light">Roboto</div>
          </div>
        </div>
        <div class="nw-pb-5">
          <p class="nw-text-md"> nw-text-2xl</p>
          <p class="nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> Font size: 28px |  Line-Height: 36px</p>
          <div class=" nw-flex nw-flex-row nw-gap-10 nw-text-2xl">
            <div class="nw-font-bold">Roboto</div>
            <div class="nw-font-medium">Roboto</div>
            <div class="nw-font-normal">Roboto</div>
            <div class="nw-text-light">Roboto</div>
          </div>
        </div>
    </div>
  </div>

    <div>
      <h1 class="nw-text-lg nw-font-medium nw-mb-6">Headings Desktop</h1>
      <div class="nw-flex nw-flex-col nw-gap-10">
        <div class="nw-pb-5">
          <p class="nw-text-md"> nw-text-xs</p>
          <p class="nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> Font size: 12px |  Line-Height: 20px</p>
          <div class=" nw-flex nw-flex-row nw-gap-10 nw-text-xs">
            <div class="nw-font-bold">Roboto</div>
            <div class="nw-font-medium">Roboto</div>
            <div class="nw-font-normal">Roboto</div>
            <div class="nw-text-light">Roboto</div>
          </div>
        </div>
        <div class="nw-pb-5">
          <p class="nw-text-md"> nw-text-sm</p>
          <p class="nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> Font size: 14px |  Line-Height: 22px</p>
          <div class=" nw-flex nw-flex-row nw-gap-10 nw-text-sm">
            <div class="nw-font-bold">Roboto</div>
            <div class="nw-font-medium">Roboto</div>
            <div class="nw-font-normal">Roboto</div>
            <div class="nw-text-light">Roboto</div>
          </div>
        </div>
        <div class="nw-pb-5">
          <p class="nw-text-md"> nw-text-base</p>
          <p class="nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> Font size: 16px |  Line-Height: 24px</p>
          <div class=" nw-flex nw-flex-row nw-gap-10 nw-text-base">
            <div class="nw-font-bold">Roboto</div>
            <div class="nw-font-medium">Roboto</div>
            <div class="nw-font-normal">Roboto</div>
            <div class="nw-text-light">Roboto</div>
          </div>
        </div>
        <div class="nw-pb-5">
          <p class="nw-text-md"> nw-text-md</p>
          <p class="nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> Font size: 18px |  Line-Height: 26px</p>
          <div class=" nw-flex nw-flex-row nw-gap-10 nw-text-md">
            <div class="nw-font-bold">Roboto</div>
            <div class="nw-font-medium">Roboto</div>
            <div class="nw-font-normal">Roboto</div>
            <div class="nw-text-light">Roboto</div>
          </div>
        </div>
        <div class="nw-pb-5">
          <p class="nw-text-md"> nw-text-lg</p>
          <p class="nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> Font size: 20px |  Line-Height: 28px</p>
          <div class=" nw-flex nw-flex-row nw-gap-10 nw-text-lg">
            <div class="nw-font-bold">Roboto</div>
            <div class="nw-font-medium">Roboto</div>
            <div class="nw-font-normal">Roboto</div>
            <div class="nw-text-light">Roboto</div>
          </div>
        </div>
        <div class="nw-pb-5">
          <p class="nw-text-md"> nw-text-xl</p>
          <p class="nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> Font size: 24px |  Line-Height: 32px</p>
          <div class=" nw-flex nw-flex-row nw-gap-10 nw-text-xl">
            <div class="nw-font-bold">Roboto</div>
            <div class="nw-font-medium">Roboto</div>
            <div class="nw-font-normal">Roboto</div>
            <div class="nw-text-light">Roboto</div>
          </div>
        </div>
        <div class="nw-pb-5">
          <p class="nw-text-md"> nw-text-2xl</p>
          <p class="nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> Font size: 28px |  Line-Height: 36px</p>
          <div class=" nw-flex nw-flex-row nw-gap-10 nw-text-2xl">
            <div class="nw-font-bold">Roboto</div>
            <div class="nw-font-medium">Roboto</div>
            <div class="nw-font-normal">Roboto</div>
            <div class="nw-text-light">Roboto</div>
          </div>
        </div>
        <div class="nw-pb-5">
          <p class="nw-text-md"> nw-text-3xl</p>
          <p class="nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> Font size: 32px |  Line-Height: 40px</p>
          <div class=" nw-flex nw-flex-row nw-gap-10 nw-text-3xl">
            <div class="nw-font-bold">Roboto</div>
            <div class="nw-font-medium">Roboto</div>
            <div class="nw-font-normal">Roboto</div>
            <div class="nw-text-light">Roboto</div>
          </div>
        </div>
        <div class="nw-pb-5">
          <p class="nw-text-md"> nw-text-4xl</p>
          <p class="nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> Font size: 40px |  Line-Height: 48px</p>
          <div class=" nw-flex nw-flex-row nw-gap-10 nw-text-4xl">
            <div class="nw-font-bold">Roboto</div>
            <div class="nw-font-medium">Roboto</div>
            <div class="nw-font-normal">Roboto</div>
            <div class="nw-text-light">Roboto</div>
          </div>
        </div>
        <div class="nw-pb-5">
          <p class="nw-text-md"> nw-text-5xl</p>
          <p class="nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> Font size: 48px |  Line-Height: 56px</p>
          <div class=" nw-flex nw-flex-row nw-gap-10 nw-text-5xl">
            <div class="nw-font-bold">Roboto</div>
            <div class="nw-font-medium">Roboto</div>
            <div class="nw-font-normal">Roboto</div>
            <div class="nw-text-light">Roboto</div>
          </div>
        </div>
      </div>
    </div>
</div>
