<div class="nw-flex-col nw-p-10">
    <h1 class="nw-text-xl nw-font-medium nw-mb-4">Weight</h1>
    <div class="nw-flex-col">
        <div class="nw-flex nw-space-x-4 nw-font-regular nw-text-md">
            <div>The quick brown fox jumped over the lazy dog.</div>
        </div>
        <div class="nw-flex nw-space-x-4 nw-font-medium nw-text-md">
            <div>The quick brown fox jumped over the lazy dog.</div>
        </div>
        <div class="nw-flex nw-space-x-4 nw-font-bold nw-text-md">
            <div>The quick brown fox jumped over the lazy dog.</div>
        </div>
    </div>
    <div class="nw-h-10"></div>
    <h1 class="nw-text-xl nw-font-medium nw-mb-4">Size</h1>
    <div class="nw-flex-col">
        <div class="nw-flex nw-space-x-4 nw-font-regular nw-text-xs">
            <div>The quick brown fox jumped over the lazy dog.</div>
        </div>
        <div class="nw-flex nw-space-x-4 nw-font-regular nw-text-sm">
            <div>The quick brown fox jumped over the lazy dog.</div>
        </div>
        <div class="nw-flex nw-space-x-4 nw-font-regular nw-text-base">
            <div>The quick brown fox jumped over the lazy dog.</div>
        </div>
        <div class="nw-flex nw-space-x-4 nw-font-regular nw-text-md">
            <div>The quick brown fox jumped over the lazy dog.</div>
        </div>
        <div class="nw-flex nw-space-x-4 nw-font-regular nw-text-lg">
            <div>The quick brown fox jumped over the lazy dog.</div>
        </div>
        <div class="nw-flex nw-space-x-4 nw-font-regular nw-text-xl">
            <div>The quick brown fox jumped over the lazy dog.</div>
        </div>
        <div class="nw-flex nw-space-x-4 nw-font-regular nw-text-2xl">
            <div>The quick brown fox jumped over the lazy dog.</div>
        </div>
    </div>
</div>
