<div class="flex-columns p-10">
  <h1 class="font-roboto text-xl font-medium mb-4">Weight</h1>
  <div class="flex-columns">
    <div class="flex space-x-4 font-roboto font-regular text-md">
      <div>The quick brown fox jumped over the lazy dog.</div>
    </div>
    <div class="flex space-x-4 font-roboto font-medium text-md">
      <div>The quick brown fox jumped over the lazy dog.</div>
    </div>
    <div class="flex space-x-4 font-roboto font-bold text-md">
      <div>The quick brown fox jumped over the lazy dog.</div>
    </div>
  </div>
  <div class="h-10"></div>
  <h1 class="font-roboto text-xl font-medium mb-4">Size</h1>
  <div class="flex-columns">
    <div class="flex space-x-4 font-roboto font-regular text-xs">
      <div>The quick brown fox jumped over the lazy dog.</div>
    </div>
    <div class="flex space-x-4 font-roboto font-regular text-sm">
      <div>The quick brown fox jumped over the lazy dog.</div>
    </div>
    <div class="flex space-x-4 font-roboto font-regular text-tiny">
      <div>The quick brown fox jumped over the lazy dog.</div>
    </div>
    <div class="flex space-x-4 font-roboto font-regular text-base">
      <div>The quick brown fox jumped over the lazy dog.</div>
    </div>
    <div class="flex space-x-4 font-roboto font-regular text-lg">
      <div>The quick brown fox jumped over the lazy dog.</div>
    </div>
    <div class="flex space-x-4 font-roboto font-regular text-xl">
      <div>The quick brown fox jumped over the lazy dog.</div>
    </div>
  </div>
</div>
