<div
  id="nw-newsticker"
  class="nw-flex nw-text-sm nw-font-medium nw-bg-white nw-border-b"
>
  <div class="embla-newsticker nw-max-w-full">
    <div class="embla-newsticker__viewport nw-overflow-hidden nw-w-full">
      <div class="embla-newsticker__container nw-flex nw-text-sm">
        <div class="embla-newsticker__slide nw-font-medium">
          <a href="#">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </a>
          <span class="nw-text-xs nw-text-gray-400 nw-pt-1 nw-inline-block"
            >vor 2 Min.</span
          >
        </div>
        <div class="embla-newsticker__slide nw-font-medium">
          <a href="#"> Mauris porta tortor vel justo euismod vestibulum. </a>
          <span class="nw-text-xs nw-text-gray-400 nw-pt-1 nw-inline-block"
            >vor 2 Min.</span
          >
        </div>
        <div class="embla-newsticker__slide nw-font-medium">
          <a href="#">
            Proin pretium leo efficitur magna porttitor, sit amet viverra erat
            sodales.
          </a>
          <span class="nw-text-xs nw-text-gray-400 nw-pt-1 nw-inline-block"
            >vor 2 Min.</span
          >
        </div>
        <div class="embla-newsticker__slide nw-font-medium">
          <a href="#">
            Curabitur laoreet neque gravida, pellentesque nibh et, pellentesque
            augue.
          </a>
          <span class="nw-text-xs nw-text-gray-400 nw-pt-1 nw-inline-block"
            >vor 2 Min.</span
          >
        </div>
        <div class="embla-newsticker__slide nw-font-medium">
          <a href="#">
            Proin lobortis, elit eu aliquet tristique, lorem lacus tempor
            libero, eget consectetur ligula magna quis dolor.
          </a>
          <span class="nw-text-xs nw-text-gray-400 nw-pt-1 nw-inline-block"
            >vor 2 Min.</span
          >
        </div>
        <div
          class="
            embla-newsticker__slide
            nw-flex nw-flex-wrap nw-justify-center nw-content-center
          "
        >
          <a href="#" class="nw-font-bold nw-border-b-2"> Alle Schlagzeilen </a>
        </div>
      </div>
    </div>
  </div>
</div>
