<div class="nw-pb-4">
    <div class="nw-pt-12 nw-text-center nw-font-bold nw-text-2xl md:nw-text-4xl">
        <div class="nw-text-gray-600">Sie haben Fragen</div>
        <div class="nw-mt-0 md:nw-mt-1 nw-text-red-500">
            oder wünschen Beratung?
        </div>
    </div>
    <div
        class="
      nw-px-8 nw-pt-12 nw-pb-8
      md:nw-pb-12
      nw-text-md
      md:nw-text-2xl
      nw-font-bold nw-text-gray-600 nw-text-center
    "
    >
        Kontaktieren Sie uns gern oder besuchen Sie uns!
    </div>
    <div
        class="
      nw-px-4
      md:nw-px-12 md:nw-max-w-md
      lg:nw-max-w-full
      nw-mx-8 nw-grid nw-grid-cols-1
      lg:nw-grid-cols-3
      nw-gap-4 nw-font-bold nw-text-md
      md:nw-text-lg md:nw-text-center
      nw-mx-auto
    "
    >
        {{#each this.fragen-page}} {{>'@box-mit-icons'}} {{/each}}
    </div>
</div>
