<!-- 56px-->
<div class="nw-bg-white nw-p-6" >
  <div class="nw-mb-6">
    <img alt="" class="nw-w-14 nw-h-14" src="/images/avatar-profile-img-light.svg">
  </div>
  <div>
    <img alt="" class="nw-w-14 nw-h-14" src="/images/avatar-profile-img.svg">
  </div>
</div>

<!-- 200px das, was es in der svg Breite gibt -->
<div class="nw-bg-white nw-p-6" >
  <div class="nw-mb-6">
    <img alt="" src="/images/avatar-profile-img-light.svg">
  </div>
  <div>
    <img alt="" src="/images/avatar-profile-img.svg">
  </div>
</div>