<div class="nw-mx-4 nw-my-2 nw-bg-gray-100">
  <div class="nw-p-4">
    <p class="nw-text-tiny nw-font-bold">Empfohlener redaktioneller Inhalt</p>
    <p class="nw-text-sm nw-font-regular">
      Wir bieten an dieser Stelle weitere externe Informationen zu dem Artikel
      an. Mit einem Klick können Sie sich diese anzeigen lassen und auch wieder
      ausblenden.
    </p>
    <div class="nw-my-4">
      <div
        class="
          nw-relative
          nw-inline-block
          nw-w-12
          nw-mr-2
          nw-align-middle
          nw-select-none
          nw-transition
          nw-duration-200
          nw-ease-in
        "
      >
        <input
          type="checkbox"
          name="toggle"
          id="toggle"
          class="
            nw-toggle-checkbox
            nw-absolute
            nw-block
            nw-w-6
            nw-h-6
            nw-rounded-full
            nw-bg-white
            nw-border-4
            nw-appearance-none
            nw-cursor-pointer
          "
        />
        <label
          for="toggle"
          class="
            nw-toggle-label
            nw-block
            nw-overflow-hidden
            nw-h-6
            nw-rounded-full
            nw-bg-gray-300
            nw-cursor-pointer
          "
        ></label>
      </div>
      <label for="toggle" class="nw-text-black nw-text-tiny nw-font-regular"
        >Externe Inhalte aktivieren</label
      >
    </div>
    <p class="nw-text-sm nw-font-regular">
      Wenn Sie sich externe Inhalte anzeigen lassen, erklären Sie sich damit
      einverstanden, dass personenbezogene Daten an Drittplattformen übermittelt
      werden.
      <em class="nw-not-italic nw-text-red-100"
        >Weitere Hinweise dazu finden Sie in unserer Datenschutzerklärung.</em
      >
    </p>
  </div>
</div>

<style>
  /* CHECKBOX TOGGLE SWITCH */
  /* @apply rules for documentation, these do not work as inline style */
  .nw-toggle-checkbox:checked {
    @apply: nw-right-0 nw-border-green-400;
    right: 0;
    border-color: #68d391;
  }
  .nw-toggle-checkbox:checked + .nw-toggle-label {
    @apply: nw-bg-green-400;
    background-color: #68d391;
  }
</style>
