<div class="nw-grid nw-grid-cols-1 md:nw-grid-cols-2 lg:nw-grid-cols-3 nw-gap-2">
    <div class="">
        {{>@article-teaser--erwin-event}}
    </div>
    <div class="">
        {{>@article-teaser--erwin-event}}
    </div>
    <div class="">
        {{>@article-teaser--erwin-event}}
    </div>
    <div class="">
        {{>@article-teaser--erwin-event}}
    </div>
    <div class="">
        {{>@article-teaser--erwin-event}}
    </div>
    <div class="">
        {{>@article-teaser--erwin-event}}
    </div>
    <div class="">
        {{>@article-teaser--erwin-event}}
    </div>
</div>
