<div class="nw-text-center nw-mt-8 nw-px-4 md:nw-px-16 md:nw-px-0">
  <a
    href=""
    class="
      nw-mt-2 nw-mb-4 nw-w-full
      md:nw-w-1/2
      nw-text-white
      nw-bg-red-500
      nw-rounded-md
      nw-text-center
      nw-text-base
      nw-font-medium
      md:nw-font-bold
      nw-cursor-pointer nw-py-2
    "
    type="button"
  >
    {{button}}
  </a>
</div>
