<div class="nw-max-w-3xl nw-mx-auto nw-space-y-4">

  <!-- Akkordeon 1 -->
  <div class="nw-bg-white nw-rounded nw-shadow">
    <button
      data-accordion-toggle
      class="nw-flex nw-justify-between nw-rounded-t nw-rounded-b nw-bg-sky-300 nw-items-center nw-w-full nw-p-4 nw-text-white nw-text-lg nw-font-medium focus:nw-outline-none"
    >
      <span class="nw-flex nw-items-center nw-gap-2">

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="nw-w-5 nw-h-5">>
          <path fill-rule="evenodd"
                d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z"
                clip-rule="evenodd" />
          </svg>

            Artikelzusammenfassung
      </span>
      <svg
        class="nw-w-5 nw-h-5 nw-transform nw-transition-transform nw-duration-300"
        data-accordion-icon
        xmlns="http://www.w3.org/2000/svg"
        fill="none" viewBox="0 0 24 24" stroke="currentColor"
      >
        <!-- ▼ Pfeil nach unten -->
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3"
              d="M19 9l-7 7-7-7" />
      </svg>
    </button>
    <div
      data-accordion-content
      class="nw-hidden nw-px-4 nw-pb-4 nw-text-gray-600 nw-p-4 nw-border nw-border-gray-0 nw-rounded-b"
    >

      <ul class="nw-list-disc nw-pl-5 nw-space-y-1 nw-text-base nw-font-bold">
        <li>Wehner nennt eine „zu geringe Kundenfrequenz und unzureichende Umsätze</li>
        <li>Mutterkonzern in eine Krise, nach Ausbruch der Coronapandemie wurde im April 2020</li>
        <li>Ende Juni ist das zur international aktiven Vapiano-Franchise-Kette mit bundesweit</li>
        <li>Die Suche ist nicht gelungen. „Für das Vapiano-Restaurant in Bielefeld gibt es keine Zukunft</li>
        <li>Monatelang war unklar, was aus dem italienischen Selbstbedienungs-Restaurant</li>
      </ul>
    </div>
  </div>
</div>