<div>
    <nav
        class="nw-isolate nw-inline-flex nw-rounded-md nw-shadow-sm nw-align-middle"
        aria-label="Pagination">
        <a href="#" class=" nw-relative nw-inline-flex nw-items-center nw-justify-center nw-rounded-l-md nw-px-2 nw-py-3 nw-text-slate-300 nw-w-12
                                    nw-ring-1 nw-ring-inset nw-ring-gray-100 hover:nw-ring-slate-300
                                    focus:nw-z-20 focus:nw-outline-offset-0">
            <svg class="nw-h-5 nw-w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                      clip-rule="evenodd"/>
            </svg>
        </a>
        <a href="#" class=" nw-relative nw-inline-flex nw-items-center nw-justify-center nw-px-2 nw-py-3 nw-text-base
                                    nw-ring-1 nw-ring-inset nw-ring-gray-100 hover:nw-ring-slate-300 focus:nw-z-20 nw-w-12
                                    focus:nw-outline-offset-0"> 1 </a>
        <a href="#" class=" nw-relative nw-inline-flex nw-items-center nw-justify-center nw-px-2 nw-py-3 nw-text-base nw-w-12
                                    nw-ring-1 nw-ring-inset nw-ring-gray-100 hover:nw-ring-slate-300 focus:nw-z-20
                                    focus:nw-outline-offset-0"> 2 </a>
        <a href="#" class=" nw-relative nw-inline-flex nw-items-center nw-justify-center nw-px-2 nw-py-3 nw-text-base nw-w-12
                                    nw-ring-1 nw-ring-inset nw-ring-gray-100 hover:nw-ring-slate-300 focus:nw-z-20
                                    focus:nw-outline-offset-0"> 3 </a>
        <span class=" nw-relative nw-inline-flex nw-items-center nw-justify-center nw-px-2 nw-py-3 nw-text-sm nw-font-bold nw-text-gray-600 nw-w-12
                              nw-ring-1 nw-ring-inset nw-ring-gray-100 hover:nw-ring-slate-300 focus:nw-outline-offset-0">...</span>
        <a href="#" class="nw-relative nw-hidden md:nw-inline-flex nw-items-center nw-justify-center nw-px-2 nw-py-3 nw-text-base
                                    nw-ring-1 nw-ring-inset nw-ring-gray-100 hover:nw-ring-slate-300 focus:nw-z-20 nw-w-12
                                    focus:nw-outline-offset-0"> 8 </a>
        <a href="#" class=" nw-relative nw-hidden md:nw-inline-flex nw-items-center nw-justify-center nw-px-2 nw-py-3 nw-text-base
                                    nw-ring-1 nw-ring-inset nw-ring-gray-100 hover:nw-ring-slate-300 focus:nw-z-20 nw-w-12
                                    focus:nw-outline-offset-0"> 9 </a>
        <a href="#" class=" nw-relative nw-hidden md:nw-inline-flex nw-items-center nw-justify-center nw-px-2 nw-py-3 nw-text-base
                                    nw-ring-1 nw-ring-inset nw-ring-gray-100 hover:nw-ring-slate-300 focus:nw-z-20 nw-w-12
                                    focus:nw-outline-offset-0"> 10 </a>
        <a href="#" class=" nw-relative nw-inline-flex nw-items-center nw-justify-center nw-rounded-r-md nw-px-2 nw-py-3 nw-text-slate-300
                                    nw-ring-1 nw-ring-inset nw-ring-gray-100 hover:nw-ring-slate-300 nw-w-12
                                    focus:nw-z-20 focus:nw-outline-offset-0">
            <svg class="nw-h-5 nw-w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                      clip-rule="evenodd"/>
            </svg>
        </a>
    </nav>
</div>