<div>
  {{>@nw-article-head}} {{>@nw-image}} {{>@nw-paragraph}} {{>@nw-slider}}
  {{>@nw-paragraph}}{{>@nw-highlight}} {{>@nw-privacy}} {{>@nw-paragraph}}
  {{>@nw-subheading}}
  {{>@nw-paragraph}}{{>@nw-section}}{{>@nw-section--link}}{{>@nw-cta-button}}{{>@nw-section}}{{>@nw-teaser-heading}}{{>@nw-article-teaser}}{{>@nw-article-teaser}}{{>@nw-article-teaser}}{{>@nw-copyright}}
</div>
