<div
  class="
    nw-my-2 nw-p-4
    md:nw-p-2
    nw-flex nw-flex-col
    md:nw-flex-row
    nw-justify-between nw-space-y-2
    md:nw-space-y-0
    nw-bg-slate-300 nw-rounded-md
  "
>
  <div>
    <div
      class="
        nw-relative
        nw-inline-block
        nw-w-12
        nw-mr-2
        nw-align-middle
        nw-select-none
        nw-transition
        nw-duration-200
        nw-ease-in
      "
    >
      <input
        type="checkbox"
        name="check"
        id="check"
        class="
          nw-toggle-checkbox
          nw-absolute
          nw-block
          nw-w-6
          nw-h-6
          nw-rounded-full
          nw-bg-white
          nw-border-2
          nw-appearance-none
          nw-cursor-pointer
        "
      />
      <label
        for="check"
        class="
          nw-toggle-label
          nw-block
          nw-overflow-hidden
          nw-h-6
          nw-rounded-full
          nw-bg-gray-100
          nw-cursor-pointer
        "
      ></label>
    </div>

    <label for="check" class="nw-text-white nw-text-base"
    >Externe Inhalte
    </label>
  </div>
  <p class="nw-text-sm">
    <a
      href=""
      class="nw-not-italic nw-text-white nw-underline nw-cursor-pointer"
    >Zur Datenschutzerklärung</a
    >
  </p>
</div>
<style>
  /* CHECKBOX TOGGLE SWITCH */
  /* @apply rules for documentation, these do not work as inline style */
  .nw-toggle-checkbox:checked {
    @apply: nw-right-0 nw-border-green-100;
    right: 0;
    border-color: #6eb783;
  }

  .nw-toggle-checkbox:checked + .nw-toggle-label {
    @apply: nw-bg-green-100;
    background-color: #6eb783;
  }
</style>
