<style>
  .img-opacity {
    opacity: 0.9;
  }

  .texte {
    position: absolute;
    bottom: 20px;
    left: 20px;
  }
</style>
<div
  class="nw-relative nw-mx-auto nw-rounded-md nw-bg-gradient-to-t nw-from-black"
>
  <img
    class="img-opacity nw-rounded-md nw-w-full nw-h-auto"
    src="https://picsum.photos/id/60/324/176"
    alt="BG-Foto"
    height="170"
    width="250"
  />
  <div class="texte">
    <div
      class="
        nw-text-white nw-text-sm
        md:nw-text-xl
        nw-font-medium
        md:nw-font-bold
      "
    >
      Frist f체r Grundsteuererkl채rung l채uft ab - was passiert bei versp채teter
      Abgabe?
    </div>
  </div>
</div>
