<div class="nw-max-w-6xl" id="nw-menu">
  {{>'@logo-section--lokal' (contextData '@logo-section' lokal) }}
  {{>'@menu-section--lokal' (contextData '@menu-section' menuitems-lokal) }}
  {{>'@menu-section--sticky' (contextData '@menu-section') }} {{>'@burger-menu'
  (contextData '@burger-menu')}}
</div>
