<div class="nw-text-center nw-flex nw-flex-col nw-justify-center nw-items-center nw-pb-3 nw-pt-3 nw-px-4 nw-text-black nw-font-bold">
    <div class="nw-text-base nw-mb-1">Hier geht es zum</div>
    <div class="nw-flex nw-items-center nw-mb-2">
        <div class="nw-w-3 nw-h-3 nw-rounded-full nw-bg-red-0"></div>
        <span class="nw-ml-1 nw-text-md nw-uppercase"
        >Live-Tricker</span
        >
    </div>
  <a
    href=""
    class="
    nw-btn-primary-md
  "
  >
    {{label}}
  </a>
</div>

