<!-- Desktop Design -->
<div class="nw-px-4 nw-bg-white nw-pb-9 nw-hidden sm:nw-block">
  <div>
    <p
      class="
        nw-text-left
        nw-uppercase
        nw-tracking-normal
        nw-text-xl
        nw-font-bold
        nw-pt-2
        nw-text-black
      "
    >
      {{themen-title}}
    </p>
  </div>

  <div class="nw-pr-auto nw-max-w-lg nw-mt-1">
    {{#each buttons}}
    <a
      href="#"
      class="
        button
        nw-inline-block
        nw-border
        nw-border-gray-200
        nw-border-solid
        nw-rounded-3xl
        nw-pt-1.5
        nw-pb-1.5
        nw-px-3
        nw-font-bold
        nw-text-sm
        nw-text-black
        nw-text-left
        nw-tracking-normal
        nw-mt-1
        hover:nw-border-black
        focus:nw-outline-none focus:nw-bg-gray-200 focus:nw-border-red-500
        disabled:nw-opacity-200
      "
    >
      {{this}}
    </a>
    {{/each}}
  </div>
</div>
<!-- Mobile Design -->
<div
  class="slider nw-article-themenbox nw-pl-4 nw-bg-white nw-pb-9 sm:nw-hidden"
>
  <div>
    <p
      class="
        nw-text-left
        nw-uppercase
        nw-tracking-normal
        nw-text-xl
        nw-font-bold
        nw-py-2
        nw-text-black
      "
    >
      {{themen-title}}
    </p>
  </div>
  <div class="embla embla--main-carousel">
    <div class="embla__viewport relative">
      <div class="embla__container">
        {{#each buttons}}
        <div class="embla__slide">
          <div class="embla__slide__inner nw-bg-clip-padding nw-block">
            <a
              href="#"
              class="
                button
                nw-inline-block
                nw-border
                nw-border-gray-200
                nw-border-solid
                nw-rounded-3xl
                nw-pt-1.5
                nw-pb-1.5
                nw-px-3
                nw-font-bold
                nw-text-sm
                nw-text-black
                nw-text-left
                nw-mx-0.5
                hover:nw-border-black
                focus:nw-outline-none
                focus:nw-bg-gray-200
                focus:nw-border-red-500
                disabled:nw-opacity-200
              "
            >
              {{this}}
            </a>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <!-- Dots -->
  <div class="embla__dots nw-mt-0 sm:nw-mt-2"></div>
  <script type="text/template" id="embla-dot-template">
    <button class="embla__dot" type="button"></button>
  </script>
</div>
