<div class="nw-pl-4 nw-pr-4 nw-bg-white nw-pb-9">
  <div>
    <p
      class="
        nw-text-left
        nw-uppercase
        nw-tracking-normal
        nw-text-xl
        nw-font-bold
        nw-pt-2
        nw-text-black
      "
    >
      {{title}}
    </p>
  </div>

  <div class="nw-pr-auto nw-max-w-lg nw-mt-1">
    {{#each buttons}}
    <a
      href="#"
      class="
        button
        nw-inline-block
        nw-border
        nw-border-gray-200
        nw-border-solid
        nw-rounded-3xl
        nw-pt-1.5
        nw-pb-1.5
        nw-px-3
        nw-font-bold
        nw-text-sm
        nw-text-black
        nw-text-left
        nw-tracking-normal
        nw-mt-1
        hover:nw-border-black
        focus:nw-outline-none focus:nw-bg-gray-200 focus:nw-border-red-500
        disabled:nw-opacity-200
      "
    >
      {{this}}
    </a>
    {{/each}}
  </div>
</div>
