<div class="nw-header-container">
  {{>@header-full--lokal}}
</div>
<div class="nw-mx-auto nw-mb-16" style="max-width: 1062px">
  {{>@autoren-profile}}
  <!-- -->
  <div class="nw-py-10 nw-px-4 md:nw-py-12 md:nw-px-7 md:nw-rounded-md nw-bg-white md:nw-shadow-md">
    <div>
      <p class="nw-text-xl nw-uppercase nw-font-bold">Aktuelle Beiträge</p>
      <hr class="nw-red-line-m nw-mt-0.5">
    </div>
    <div class="nw-py-6 nw-grid nw-grid-col-1 sm:nw-grid-cols-2 md:nw-grid-cols-1 nw-gap-6" >
      {{#each beitraege-box}} {{>'@recobox-item--in-der-autorenseite'}} {{/each}}
    </div>
    <div class="nw-flex nw-justify-center">
      <a href="#"
         class="nw-inline-flex nw-items-center nw-border nw-rounded-md nw-text-center nw-text-sm nw-font-bold nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-gray-0 focus:nw-bg-gray-100">
        Mehr laden
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="nw-w-4 nw-h-4 nw-ml-2">
          <path fill-rule="evenodd" d="M12 2.25a.75.75 0 0 1 .75.75v16.19l6.22-6.22a.75.75 0 1 1 1.06 1.06l-7.5 7.5a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 1 1 1.06-1.06l6.22 6.22V3a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
          <path fill-rule="evenodd" d="M12 2.25a.75.75 0 0 1 .75.75v16.19l6.22-6.22a.75.75 0 1 1 1.06 1.06l-7.5 7.5a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 1 1 1.06-1.06l6.22 6.22V3a.75.75 0 0 1 .75-.75Z" clip-rule="evenodd" />
        </svg>
      </a>
    </div>
  </div>
</div>