<div class="nw-mx-0">
  <div
    class="
      nw-pt-12
      nw-pb-6
      nw-text-center
      nw-font-bold
      nw-text-black
      nw-text-2xl
      nw-tracking-normal
      nw-leading-6
      nw-uppercase
    "
  >
    Was gerade wichtig ist
  </div>
  <!-- grid -->
  <div
    class="
      nw-mx-4
      sm:nw-mx-0
      md:nw-mx-0
      nw-grid nw-grid-cols-1
      md:nw-grid-cols-3
      nw-gap-4 nw-pt-6 nw-flex nw-flex-col nw-flex-row nw-justify-between
    "
  >
    <!-- box1 -->
    {{>'@single-thema-box'}}
    <!-- box1 Ende -->
  </div>
  <div class="nw-mx-4 sm:nw-mx-0 md:nw-mx-0 nw-mt-8 nw-mb-4 nw-text-left">
    <span class="nw-font-bold nw-text-xl nw-text-black"> Themenglossar </span>
  </div>
  <!-- buttons -->
  {{>'@themenglossar-buttons'}}
  <!-- buttons Ende -->
  <div
    class="
      nw-mx-4
      sm:nw-mx-0
      md:nw-mx-0
      nw-grid nw-grid-cols-1
      md:nw-grid-cols-3
      nw-gap-4 nw-mt-6 nw-mb-4
    "
  >
    <!-- box1-->
    {{>'@glossar-box' }}
    <!-- box1 Ende-->
  </div>
</div>
