
<section id="confirmation-section" class="nw-py-20 nw-bg-white nw-hidden">
  <div class="nw-zusteller-container nw-mx-auto nw-px-4">
    <div class="nw-max-w-2xl nw-mx-auto nw-text-center">
      <div class="nw-bg-[#D1FAE5] dark:nw-bg-green-900 nw-text-[#047857] dark:nw-text-[#579168] nw-p-6 nw-rounded-lg nw-mb-8">
        <i class="fas fa-check-circle nw-text-5xl nw-mb-4"></i>
        <h2 class="nw-text-3xl nw-font-bold nw-mb-4" data-i18n="thanks-message">Vielen Dank, Login!</h2>
        <p class="nw-text-lg nw-mb-4" data-i18n="thanks-caption1">Ihre Bewerbung wurde erfolgreich übermittelt.</p>
        <p class="nw-text-lg" data-i18n="thanks-caption2">Wir werden uns in Kürze mit Ihnen in Verbindung setzen.</p>
      </div>

      <div class="nw-mt-8">
        <p class="nw-font-bold nw-text-lg nw-mb-4" data-i18n="next">Was passiert als nächstes?</p>
        <ol class="nw-text-left nw-space-y-4 nw-mb-8">
          <li class="nw-flex nw-items-start">
            <div class="nw-flex-shrink-0 nw-mr-3">
              <div class="nw-w-6 nw-h-6 nw-bg-red-0 nw-rounded-full nw-flex nw-items-center nw-justify-center nw-text-white">
                <span>1</span>
              </div>
            </div>
            <p data-i18n="controll">Wir prüfen Ihre Bewerbung und kontaktieren Sie innerhalb der nächsten 1-2 Werktage.</p>
          </li>
          <li class="nw-flex nw-items-start">
            <div class="nw-flex-shrink-0 nw-mr-3">
              <div class="nw-w-6 nw-h-6 nw-bg-red-0 nw-rounded-full nw-flex nw-items-center nw-justify-center nw-text-white">
                <span>2</span>
              </div>
            </div>
            <p data-i18n="discuss">Wir besprechen mit Ihnen Ihre Einsatzzeit und Ihren bevorzugten Einsatzort.</p>
          </li>
          <li class="nw-flex nw-items-start">
            <div class="nw-flex-shrink-0 nw-mr-3">
              <div class="nw-w-6 nw-h-6 nw-bg-red-0 nw-rounded-full nw-flex nw-items-center nw-justify-center nw-text-white">
                <span>3</span>
              </div>
            </div>
            <p data-i18n="information">Nach erfolgreicher Abstimmung erhalten Sie alle notwendigen Informationen zum Arbeitsbeginn.</p>
          </li>
        </ol>
      </div>

      <a href="#" id="back-to-form" data-i18n="go-back" class="nw-inline-block nw-bg-red-0 nw-text-white nw-font-bold nw-rounded-lg nw-btn-primary nw-px-8 nw-py-3 hover:nw-text-white focus:nw-text-white">
        Zurück zur Startseite
      </a>
    </div>
  </div>
</section>
