<div class="nw-flex nw-flex-col nw-gap-10 nw-p-14 nw-bg-white">
  <div class="nw-mb-10">
    <h1 class="nw-text-md nw-font-medium nw-mb-2">Standard</h1>
    <div class="nw-text-sm nw-text-gray-400 nw-pb-1 nw-font-medium nw-border-b nw-border-gray-100 nw-mb-4"> States: Default, Hover, Pressed and Deactive</div>

    <div class="nw-flex nw-flex-col md:nw-flex-row nw-gap-8">

        <div>
          <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">Primary</p>
            <div class="nw-flex nw-flex-col nw-gap-2">
              <button
                class="nw-flex nw-items-center nw-justify-center nw-min-w-32 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                  nw-border nw-border-red-0 nw-bg-red-0 nw-rounded-md nw-text-center nw-text-base nw-font-bold
                  nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-red-100 focus:nw-bg-red-200 focus:nw-border-red-200
                  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ">
                  Button CTA
              </button>

              <button disabled
                class="nw-flex nw-items-center nw-justify-center nw-min-w-32 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                  nw-border nw-border-red-0 nw-bg-red-0 nw-rounded-md nw-text-center nw-text-base nw-font-bold
                  nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-red-100 hover:nw-border-red-100 focus:nw-bg-red-200 focus:nw-border-red-200
                  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ">
                Button CTA
              </button>
          </div>
        </div>

      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">Secondary</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button
            class="nw-flex nw-items-center nw-justify-center nw-min-w-32 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                  nw-border nw-border-gray-500 nw-bg-gray-500 nw-rounded-md nw-text-center nw-text-base nw-font-bold
                  nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-gray-600 hover:nw-border-gray-600 focus:nw-bg-black focus:nw-border-black
                  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ">
            Button CTA
          </button>

          <button disabled
            class="nw-flex nw-items-center nw-justify-center nw-min-w-32 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                  nw-border nw-border-gray-500 nw-bg-gray-500 nw-rounded-md nw-text-center nw-text-base nw-font-bold
                  nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-gray-600 hover:nw-border-gray-600 focus:nw-bg-black focus:nw-border-black
                  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ">
            Button CTA
          </button>
        </div>
      </div>

      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">Secondary-Out.</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
        <button
          class="nw-flex nw-items-center nw-justify-center nw-min-w-32 nw-max-w-fit nw-text-gray-600 nw-whitespace-nowrap nw-bg-white
              nw-border nw-border-gray-600 nw-rounded-md nw-text-center nw-text-base nw-font-bold
              nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-gray-0 focus:nw-bg-gray-100
              disabled:nw-bg-white
              disabled:nw-text-gray-200 disabled:nw-border-gray-200 disabled:nw-cursor-not-allowed"
        >
          Button CTA
        </button>

        <button disabled
          class="nw-flex nw-items-center nw-justify-center nw-min-w-32 nw-text-gray-600 nw-max-w-fit nw-whitespace-nowrap nw-bg-white
              nw-border nw-border-gray-600 nw-rounded-md nw-text-center nw-text-base nw-font-bold
              nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-gray-0 focus:nw-bg-gray-100
              disabled:nw-bg-white disabled:nw-text-gray-200 disabled:nw-border-gray-200 disabled:nw-cursor-not-allowed"
        >
          Button CTA
        </button>
        </div>

      </div>
      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">Primary-Blue</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button
            class="nw-flex nw-items-center nw-justify-center nw-min-w-32 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                  nw-border nw-border-sky-0 nw-bg-sky-0 nw-rounded-md nw-text-center nw-text-base nw-font-bold
                  nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-sky-100 hover:nw-border-sky-100 focus:nw-bg-sky-200 focus:nw-border-sky-200
                  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ">
            Button CTA
          </button>

          <button disabled
            class="nw-flex nw-items-center nw-justify-center nw-min-w-32 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                  nw-border nw-border-sky-0 nw-bg-sky-0 nw-rounded-md nw-text-center nw-text-base nw-font-bold
                  nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-sky-100 hover:nw-border-sky-100 focus:nw-bg-sky-200 focus:nw-border-sky-200
                  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ">
            Button CTA
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Medium -->
  <div class="nw-mb-10">
    <h1 class="nw-text-md nw-font-medium nw-mb-2">Medium</h1>
    <div class="nw-text-sm nw-text-gray-400 nw-pb-1 nw-font-medium nw-border-b nw-border-gray-100 nw-mb-4"> States: Default, Hover, Pressed and Deactive</div>

    <div class="nw-flex nw-flex-col md:nw-flex-row nw-gap-8">

      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">Primary</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button
            class="nw-flex nw-items-center nw-justify-center nw-min-w-26 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                  nw-border nw-border-red-0 nw-bg-red-0 nw-rounded-md nw-text-center nw-text-sm nw-font-bold
                  nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-red-100 focus:nw-bg-red-200 focus:nw-border-red-200
                  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ">
            Button CTA
          </button>

          <button disabled
                  class="nw-flex nw-items-center nw-justify-center nw-min-w-26 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                  nw-border nw-border-red-0 nw-bg-red-0 nw-rounded-md nw-text-center nw-text-sm nw-font-bold
                  nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-red-100 hover:nw-border-red-100 focus:nw-bg-red-200 focus:nw-border-red-200
                  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ">
            Button CTA
          </button>
        </div>
      </div>

      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">Secondary</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button
            class="nw-flex nw-items-center nw-justify-center nw-min-w-26 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                  nw-border nw-border-gray-500 nw-bg-gray-500 nw-rounded-md nw-text-center nw-text-sm nw-font-bold
                  nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-gray-600 hover:nw-border-gray-600 focus:nw-bg-black focus:nw-border-black
                  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ">
            Button CTA
          </button>

          <button disabled
                  class="nw-flex nw-items-center nw-justify-center nw-min-w-26 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                  nw-border nw-border-gray-500 nw-bg-gray-500 nw-rounded-md nw-text-center nw-text-sm nw-font-bold
                  nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-gray-600 hover:nw-border-gray-600 focus:nw-bg-black focus:nw-border-black
                  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ">
            Button CTA
          </button>
        </div>
      </div>

      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">Secondary-Out.</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button
            class="nw-flex nw-items-center nw-justify-center nw-min-w-26 nw-max-w-fit nw-text-gray-600 nw-whitespace-nowrap nw-bg-white
              nw-border nw-border-gray-600 nw-rounded-md nw-text-center nw-text-sm nw-font-bold
              nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-gray-0 focus:nw-bg-gray-100
              disabled:nw-bg-white
              disabled:nw-text-gray-200 disabled:nw-border-gray-200 disabled:nw-cursor-not-allowed"
          >
            Button CTA
          </button>

          <button disabled
                  class="nw-flex nw-items-center nw-justify-center nw-min-w-26 nw-text-gray-600 nw-max-w-fit nw-whitespace-nowrap nw-bg-white
              nw-border nw-border-gray-600 nw-rounded-md nw-text-center nw-text-sm nw-font-bold
              nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-gray-0 focus:nw-bg-gray-100
              disabled:nw-bg-white disabled:nw-text-gray-200 disabled:nw-border-gray-200 disabled:nw-cursor-not-allowed"
          >
            Button CTA
          </button>
        </div>

      </div>
      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">Primary-Blue</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button
            class="nw-flex nw-items-center nw-justify-center nw-min-w-26 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                  nw-border nw-border-sky-0 nw-bg-sky-0 nw-rounded-md nw-text-center nw-text-sm nw-font-bold
                  nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-sky-100 hover:nw-border-sky-100 focus:nw-bg-sky-200 focus:nw-border-sky-200
                  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ">
            Button CTA
          </button>

          <button disabled
                  class="nw-flex nw-items-center nw-justify-center nw-min-w-26 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                  nw-border nw-border-sky-0 nw-bg-sky-0 nw-rounded-md nw-text-center nw-text-sm nw-font-bold
                  nw-cursor-pointer nw-py-3 nw-px-4 hover:nw-bg-sky-100 hover:nw-border-sky-100 focus:nw-bg-sky-200 focus:nw-border-sky-200
                  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ">
            Button CTA
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Small -->
  <div>
    <h1 class="nw-text-md nw-font-medium nw-mb-2">Small</h1>
    <div class="nw-text-sm nw-text-gray-400 nw-pb-1 nw-font-medium nw-border-b nw-border-gray-100 nw-mb-4"> States: Default, Hover, Pressed and Deactive</div>

    <div class="nw-flex nw-flex-col md:nw-flex-row nw-gap-8">

      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">Primary</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button
            class="nw-flex nw-items-center nw-justify-center nw-min-w-16 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                  nw-border nw-border-red-0 nw-bg-red-0 nw-rounded-md nw-text-center nw-text-xs nw-font-bold
                  nw-cursor-pointer nw-py-1.5 nw-px-3 hover:nw-bg-red-100 focus:nw-bg-red-200 focus:nw-border-red-200
                  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ">
            Button CTA
          </button>

          <button disabled
                  class="nw-flex nw-items-center nw-justify-center nw-min-w-16 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                  nw-border nw-border-red-0 nw-bg-red-0 nw-rounded-md nw-text-center nw-text-xs nw-font-bold
                  nw-cursor-pointer nw-py-1.5 nw-px-3 hover:nw-bg-red-100 hover:nw-border-red-100 focus:nw-bg-red-200 focus:nw-border-red-200
                  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ">
            Button CTA
          </button>
        </div>
      </div>

      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">Secondary</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button
            class="nw-flex nw-items-center nw-justify-center nw-min-w-16 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                  nw-border nw-border-gray-500 nw-bg-gray-500 nw-rounded-md nw-text-center nw-text-xs nw-font-bold
                  nw-cursor-pointer nw-py-1.5 nw-px-3 hover:nw-bg-gray-600 hover:nw-border-gray-600 focus:nw-bg-black focus:nw-border-black
                  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ">
            Button CTA
          </button>

          <button disabled
                  class="nw-flex nw-items-center nw-justify-center nw-min-w-16 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                  nw-border nw-border-gray-500 nw-bg-gray-500 nw-rounded-md nw-text-center nw-text-xs nw-font-bold
                  nw-cursor-pointer nw-py-1.5 nw-px-3 hover:nw-bg-gray-600 hover:nw-border-gray-600 focus:nw-bg-black focus:nw-border-black
                  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ">
            Button CTA
          </button>
        </div>
      </div>

      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">Secondary-Out.</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button
            class="nw-flex nw-items-center nw-justify-center nw-min-w-16 nw-max-w-fit nw-text-gray-600 nw-whitespace-nowrap nw-bg-white
              nw-border nw-border-gray-600 nw-rounded-md nw-text-center nw-text-xs nw-font-bold
              nw-cursor-pointer nw-py-1.5 nw-px-3 hover:nw-bg-gray-0 focus:nw-bg-gray-100
              disabled:nw-bg-white
              disabled:nw-text-gray-200 disabled:nw-border-gray-200 disabled:nw-cursor-not-allowed"
          >
            Button CTA
          </button>

          <button disabled
                  class="nw-flex nw-items-center nw-justify-center nw-min-w-16 nw-text-gray-600 nw-max-w-fit nw-whitespace-nowrap nw-bg-white
              nw-border nw-border-gray-600 nw-rounded-md nw-text-center nw-text-xs nw-font-bold
              nw-cursor-pointer nw-py-1.5 nw-px-3 hover:nw-bg-gray-0 focus:nw-bg-gray-100
              disabled:nw-bg-white disabled:nw-text-gray-200 disabled:nw-border-gray-200 disabled:nw-cursor-not-allowed"
          >
            Button CTA
          </button>
        </div>

      </div>
      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">Primary-Blue</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button
            class="nw-flex nw-items-center nw-justify-center nw-min-w-16 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                  nw-border nw-border-sky-0 nw-bg-sky-0 nw-rounded-md nw-text-center nw-text-xs nw-font-bold
                  nw-cursor-pointer nw-py-1.5 nw-px-3 hover:nw-bg-sky-100 hover:nw-border-sky-100 focus:nw-bg-sky-200 focus:nw-border-sky-200
                  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ">
            Button CTA
          </button>

          <button disabled
                  class="nw-flex nw-items-center nw-justify-center nw-min-w-16 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                  nw-border nw-border-sky-0 nw-bg-sky-0 nw-rounded-md nw-text-center nw-text-xs nw-font-bold
                  nw-cursor-pointer nw-py-1.5 nw-px-3 hover:nw-bg-sky-100 hover:nw-border-sky-100 focus:nw-bg-sky-200 focus:nw-border-sky-200
                  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ">
            Button CTA
          </button>
        </div>
      </div>
    </div>
  </div>
</div>