<div class="nw-flex nw-flex-col nw-gap-10 nw-p-14 nw-bg-white">
  <div class="nw-mb-10">
    <h1 class="nw-text-md nw-font-medium nw-mb-2">Standard</h1>
    <div class="nw-text-sm nw-text-gray-400 nw-pb-1 nw-font-medium nw-border-b nw-border-gray-100 nw-mb-4"> Variants: nw-btn-primary, nw-btn-secondary, nw-btn-outline, nw-btn-primary-blue </div>

    <div class="nw-flex nw-flex-col md:nw-flex-row nw-gap-8">

        <div>
          <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">nw-btn-primary</p>
            <div class="nw-flex nw-flex-col nw-gap-2">
              <button class="nw-btn-primary">
                  Button CTA
              </button>
          </div>
        </div>

      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">nw-btn-secondary</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button
            class="nw-btn-secondary">
            Button CTA
          </button>
        </div>
      </div>

      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">nw-btn-outline</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
        <button
          class="nw-btn-outline">
          Button CTA
        </button>

        </div>

      </div>
      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">nw-btn-primary-blue</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button class="nw-btn-primary-blue">
            Button CTA
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Medium -->
  <div class="nw-mb-10">
    <h1 class="nw-text-md nw-font-medium nw-mb-2">Medium</h1>
    <div class="nw-text-sm nw-text-gray-400 nw-pb-1 nw-font-medium nw-border-b nw-border-gray-100 nw-mb-4"> Variants: nw-btn-primary, nw-btn-secondary, nw-btn-outline, nw-btn-primary-blue</div>

    <div class="nw-flex nw-flex-col md:nw-flex-row nw-gap-8">
      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">nw-btn-primary-md</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button class="nw-btn-primary-md">
            Button CTA
          </button>
        </div>
      </div>
      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">nw-btn-secondary-md</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button class="nw-btn-secondary-md">
            Button CTA
          </button>
        </div>
      </div>
      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">nw-btn-outline-md</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button class="nw-btn-outline-md">
            Button CTA
          </button>
        </div>

      </div>
      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">nw-btn-primary-blue-md</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button
            class="nw-btn-primary-blue-md">
            Button CTA
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Small -->
  <div>
    <h1 class="nw-text-md nw-font-medium nw-mb-2">Small</h1>
    <div class="nw-text-sm nw-text-gray-400 nw-pb-1 nw-font-medium nw-border-b nw-border-gray-100 nw-mb-4"> Variants: nw-btn-primary, nw-btn-secondary, nw-btn-outline, nw-btn-primary-blue</div>

    <div class="nw-flex nw-flex-col md:nw-flex-row nw-gap-8">
      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">nw-btn-primary-sm</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button class="nw-btn-primary-sm">
            Button CTA
          </button>
        </div>
      </div>
      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">nw-btn-secondary-sm</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button class="nw-btn-secondary-sm">
            Button CTA
          </button>
        </div>
      </div>
      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">nw-btn-outline-sm</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button class="nw-btn-outline-sm">
            Button CTA
          </button>
        </div>
      </div>
      <div>
        <p class="nw-text-gray-600 nw-text-sm nw-font-bold nw-pb-4">nw-btn-primary-blue-sm</p>
        <div class="nw-flex nw-flex-col nw-gap-2">
          <button class="nw-btn-primary-blue-sm">
            Button CTA
          </button>
        </div>
      </div>
    </div>
  </div>
</div>