<h1>Dummy file for important CSS classes that have no design</h1>
<p class="
nw-mr-20
nw-mb-9
nw-border-t-4
nw-border-slate-0
nw-drop-shadow
hover:nw-bg-transparent
hover:nw-border-2
hover:nw-border-white
nw-mt-2.5
nw-max-w-3xl">
    Usually applied in misc.scss
</p>
<div class="
      nw-ml-0.5
      nw-content-end
      nw-place-items-end
      nw-bg-opacity-50
      md:nw-min-h-36
      md:nw-max-h-36
      nw-min-w-auto
      nw-max-w-auto
      lg:nw-flex-row">

</div>
<div
    class="article-detail-entry-content
    nw-top-28
    nw-mt-7
    nw-aspect-video
    md:nw-h-10
    sm:nw-h-10
    nw-z-40
    nw-overflow-auto
    md:nw-pl-6
    nw-mb-20
    nw-mr-10
    lg:nw-mr-20
    nw-visible
    lg:nw-h-48
    nw-border-r
    nw-ml-3
">

    <ul>
        <li>Test</li>
    </ul>

    <ol>
        <li>Test</li>
    </ol>

</div>