<h1>Dummy file for important CSS classes that have no design</h1>
<p>
    Usually applied in misc.scss
</p>

<div class="article-detail-entry-content nw-top-28 nw-mt-7 nw-aspect-video nw-h-8 md:nw-h-10 sm:nw-h-10 nw-z-40 nw-overflow-auto">

    <ul>
        <li>Test</li>
    </ul>

    <ol>
        <li>Test</li>
    </ol>

</div>