<h1>Dummy file for important CSS classes that have no design</h1>
<p class="nw-mr-20">
    Usually applied in misc.scss
</p>
<div class="
      nw-mr-0.5 nw-ml-0.5
      focus:nw-ring-0
      nw-content-end
      nw-place-items-end
      nw-p-3
      nw-h-screen
      nw-bg-opacity-50
      nw-bg-no-repeat
      nw-my-8
nw-min-h-24
nw-max-h-24
md:nw-min-h-36
md:nw-max-h-36
nw-min-w-auto
nw-max-w-auto">

</div>
<div
    class="article-detail-entry-content nw-top-28 nw-mt-7 nw-aspect-video nw-h-8 md:nw-h-10 sm:nw-h-10
     nw-z-40 nw-overflow-auto nw-border-4 nw-opacity-60
     focus:nw-outline-none
     focus:nw-ring-2
     focus:nw-ring-offset-2
     focus:nw-ring-offset-gray-600
     focus:nw-ring-indigo-500
     nw-mb-20
     nw-mr-10
     lg:nw-mr-20
     nw-visible
     nw-my-1
     lg:nw-h-48
     md:nw-text-left
     md:nw-max-w-none
     md:nw-place-content-end
     nw-border-r
     nw-p-3
     md:nw-border-r-0
     md:nw-ml-12
     nw-w-screen
">

    <ul>
        <li>Test</li>
    </ul>

    <ol>
        <li>Test</li>
    </ol>

</div>