<div class="nw-mx-4 sm:nw-mx-0 md:nw-mx-0">
  <div
    class="
      nw-pt-12
      nw-pb-6
      nw-text-center
      nw-font-roboto
      nw-font-bold
      nw-text-black
      nw-text-2xl
      nw-tracking-normal
      nw-leading-6
      nw-uppercase
    "
  >
    Bielefeld
  </div>
  <!-- grid -->
  <div
    class="
      nw-grid nw-grid-cols-1
      md:nw-grid-cols-3
      nw-gap-4 nw-pt-6 nw-flex nw-flex-col nw-flex-row nw-justify-between
    "
  >
    <!-- box1 -->
    {{>'@single-thema-box'}}
    <!-- box1 Ende -->
  </div>
  <!-- buttons -->
  {{>'@themenglossar-buttons'}}
  <!-- buttons Ende -->
</div>
