<div>
  <div>
    <img
      class="nw-w-44 md:nw-w-64 nw-h-auto nw-mx-auto nw-my-4"
      src="/images/logo-short.png"
      alt="Erwin Events - Logo"
    />
  </div>
  <div class="md:nw-flex nw-mt-2 nw-gap-4 nw-p-4">
    {{>@erwin-tickets}} {{>@lz-tickets}}
  </div>
</div>
