
<div class="nw-bg-white dark:nw-bg-slate-800 nw-rounded-lg nw-px-6 nw-py-8 nw-ring-1 nw-ring-slate-900/5 nw-shadow-xl">
  <div>
    <span class="nw-inline-flex nw-items-center nw-justify-center nw-p-2 nw-bg-indigo-500 nw-rounded-md nw-shadow-lg">
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" class="nw-w-6 nw-h-6">
  <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 4.5 15 15m0 0V8.25m0 11.25H8.25" />
</svg>
    </span>
  </div>
  <h3 class="nw-text-slate-900 dark:nw-text-white nw-mt-5 nw-text-base nw-font-medium nw-tracking-tight">Writes Upside-Down</h3>
  <p class="nw-text-slate-500 dark:nw-text-slate-400 nw-mt-2 nw-text-sm">
    The Zero Gravity Pen can be used to write in any orientation, including upside-down. It even works in outer space.
  </p>
</div>

