<ul role="list" class="nw-mt-4 nw-space-y-2">
  {{#each menuitems}}
  <li>
    <a href="#" class="nw-text-sm nw-text-gray-0 hover:nw-text-white">
      {{menuitem}}
    </a>
  </li>
  {{/each}}
</ul>
