<div id="success-message" class="nw-bg-custom-1-700 nw-p-4 nw-rounded-md nw-text-white nw-max-w-sm nw-mx-auto">

  <div class="nw-flex nw-justify-between nw-mb-3">
      <p class="nw-text-lg nw-font-bold nw-leading-6"> Newsletter <br> abonnieren</p>
      <a href="#" class="nw-text-sm hover:nw-underline"> Alle <br>Newletter</a>
  </div>
  <hr class="nw-mb-3">
  <div class="nw-text-base ">
    <a href="#" class="nw-font-bold nw-pb-1 hover:nw-underline"> Update zum Mittag</a>
    <p class="nw-pb-3"> Das News-Update zum Mittag - die wichtigsten News des Tages aus OWL, Deutschland und der Welt um 12 Uhr
      direkt aus der Chefredaktion.
    </p>
    <p class="nw-pb-6"> Mit meiner Anmeldung zum Newsletter stimme ich der <a href="#" class="nw-underline">Werbevereinbarung</a> zu.
      Weitere Informationen finden Sle in der <a href="#" class="nw-underline">Datenschutzerklärung</a>.</p>
  </div>
  <div class="nw-flex nw-items-center">
    <p class="nw-text-xl nw-font-bold">Ihre Anmeldung war erfolgreich </p>
    <svg class="nw-flex-shrink-0 nw-w-12 nw-h-12 nw-text-green-500 svg-green" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path>
    </svg>
  </div>

</div>