<div class="nw-py-6">
  <section class="nw-relative nw-mt-6 md:nw-px-6">
    <img
      class="nw-object-cover md:nw-rounded-md nw-w-full nw-h-72 nw-opacity-50"
      src="https://images.unsplash.com/photo-1624520262270-dda87e60b541?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80"
    />
      <div class=" nw-w-full nw-px-4 nw-mt-8 md_nw-mt-0 nw-absolute nw-top-1/4 md:nw-top-1/3 nw-left-1/2 nw-transform -nw-translate-x-1/2 -nw-translate-y-1/2 nw-text-white nw-text-center">
        <img
          class="nw-inline-block nw-shrink-0 nw-rounded-full nw-w-16 nw-h-16"
          src="/images/sport-news/Logo-Arminia-Bielefeld.svg"
        />
        <h2 class=" nw-text-base md:nw-text-md nw-font-bold">ARMINIA-NEWSLETTER</h2>
        <h2 class="nw-text-lg md:nw-text-2xl nw-font-bold"> Wöchentlich <br> erstklassige News.</h2>
      </div>
  </section>

  <section class="nw-relative nw-max-w-sm nw-mx-auto nw-px-6 md:nw-px-0 ">
    <div class="nw-relative nw-flex nw-flex-col nw-min-w-0 nw-break-words nw-bg-white nw-w-full nw-mb-8 nw-shadow-xl nw-rounded-lg nw--mt-16 md:nw--mt-8">
      <div>
        <div class="nw-flex nw-flex-col nw-justify-center nw-items-center nw-p-4">
          <form>
            <div class="nw-mb-4">
              <p class="nw-uppercase nw-text-md nw-leading-6 nw-font-bold nw-text-center nw-pb-8">ARMINIA-NEWSLETTER <br>ABONNIEREN</p>
            </div>
            <div class="nw-mb-6 nw-w-full">
              <label class="input-label email-label nw-font-medium nw-text-xs nw-uppercase"
                   for="email">E-Mail</label>
              <input required
                class="nw-formfield nw-w-full nw-px-1 nw-py-2 nw-mx-auto nw-inline-block nw-border nw-rounded nw-text-tiny nw-box-border nw-cursor-pointer"
                type="email" placeholder="" name="email" id="email"
                value="">
            </div>
            <div class="nw-mb-4">
              <p class="nw-text-xs nw-leading-4">Mit meiner Anmeldung zum Newsletter stimme ich der  <a href="https://www.nw.de/service/formales/23036205_Werbevereinbarung.html" class="nw-underline nw-text-red-500">Werbevereinbarung</a> zu. Weitere Informationen finden Sie in der
                <a href="https://www.nw.de/service/formales/20262936_Datenschutzerklaerung.html" class="nw-underline nw-text-red-500">Datenschutzerklärung</a>.</p>
            </div>
            <div>
              <button
                type="submit"
                class=" nw-w-full nw-mx-auto md:nw-w-1/2 nw-bg-red-500 nw-border nw-border-transparent  nw-rounded-full nw-py-1 nw-px-6 nw-flex nw-items-center nw-justify-center
                      nw-text-base nw-font-medium nw-text-white hover:nw-bg-red-600 focus:nw-outline-none focus:nw-ring-2 focus:nw-ring-offset-2
                      focus:nw-ring-offset-gray-800 focus:nw-ring-indigo-500">
                Jetzt anmelden
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <div class="nw-bg-white nw-rounded-md nw-py-4 md:nw-mx-6">
    <div class="nw-pb-8 nw-text-center nw-leading-6 nw-block">
      <p class="nw-text-2xl nw-font-bold">Benötigen Sie Hilfe?</p>
      <p class="nw-text-md nw-text-gray-600">Wir helfen Ihnen gerne.</p>
    </div>

    <div
      class=" nw-flex nw-flex-col
                    md:nw-flex-row
                    nw-items-start
                    nw-justify-center
                    nw-gap-4
                    nw-text-md
                    nw-px-4">
      <div
        class=" nw-bg-white
                        nw-flex
                        nw-flex-col
                        nw-p-4
                        nw-rounded-md
                        nw-border
                        nw-w-full
                        md:nw-w-1/3
                        nw-text-black
                        nw-text-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="nw-h-8 nw-w-8 nw-mx-auto nw-mb-3 nw-text-gray-600"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
          />
        </svg>
        <p class="nw-font-medium nw-text-center">Schreiben Sie uns</p>
        <p>
          <a href="mailto:newsletter@nw.de" class="hover:nw-text-red-500">
            newsletter@nw.de
          </a>
        </p>
      </div>
      <div
        class=" nw-bg-white
                        nw-flex
                        nw-flex-col
                        nw-p-4
                        nw-rounded-md
                        nw-border
                        nw-w-full
                        md:nw-w-1/3
                        nw-text-black nw-text-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="nw-h-8 nw-w-8 nw-mx-auto nw-mb-3 nw-text-gray-600"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2">
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
          />
        </svg>
        <p class="nw-font-medium nw-text-center">Rufen Sie uns an</p>
        <a href="tel:0521555800" class="hover:nw-text-red-500">
          0521 555 800
        </a>
      </div>
    </div>
  </div>
</div>