<div class="nw-flex nw-flex-col nw-gap-10 nw-p-14 nw-bg-white">
  <div>
    <h1 class="nw-text-md nw-font-medium nw-mb-2">Shadows</h1>
    <div class="nw-text-sm nw-text-gray-400 nw-pb-1 nw-font-medium nw-border-b nw-border-gray-100 nw-mb-4"> Boxen, Outlines, Hover-Effekte</div>
    <div class="nw-grid nw-nw-grid-cols-1 md:nw-grid-cols-4  nw-gap-6 md:nw-gap-12">
      <div class="nw-w-full nw-font-medium">
        <div class="nw-bg-gray-0 nw-h-14 nw-rounded nw-mb-2 nw-shadow-md">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-shadow-md</div>
      </div>
      <div class="nw-w-full font-medium">
        <div class="nw-bg-gray-0 nw-h-14 nw-rounded nw-mb-2 nw-shadow-lg">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-shadow-lg</div>
      </div>
      <div class="nw-w-full nw-font-medium">
        <div class="nw-bg-gray-0 nw-h-14 nw-rounded nw-mb-2 nw-shadow-xl">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-shadow-xl</div>
      </div>
      <div class="nw-w-full nw-font-medium">
        <div class="nw-bg-gray-0 nw-h-14 nw-rounded nw-mb-2 nw-shadow-2xl">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-shadow-2xl</div>
      </div>
    </div>
  </div>
  <div>
    <h1 class="nw-text-md nw-font-medium nw-mb-2">Blurs</h1>
    <div class="nw-text-sm nw-text-gray-400 nw-pb-1 nw-font-medium nw-border-b nw-border-gray-100 nw-mb-4"> Images, Backgrounds</div>
    <div class="nw-grid nw-nw-grid-cols-1 md:nw-grid-cols-4  nw-gap-6 md:nw-gap-12">
      <div class="nw-w-full nw-font-medium">
        <div class="nw-bg-gray-0  nw-rounded nw-mb-2">
          <img class=" nw-w-full nw-h-14 nw-rounded  nw-blur-none nw-object-cover"
               src="https://via.placeholder.com/500x500" alt="profil-bild">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-blur-none</div>
      </div>
      <div class="nw-w-full nw-font-medium">
        <div class="nw-bg-gray-0  nw-rounded nw-mb-2">
          <img class=" nw-w-full nw-h-14 nw-rounded  nw-blur-md nw-object-cover"
               src="https://via.placeholder.com/500x500" alt="profil-bild">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-blur-md</div>
      </div>
      <div class="nw-w-full nw-font-medium">
        <div class="nw-bg-gray-0  nw-rounded nw-mb-2">
          <img class=" nw-w-full nw-h-14 nw-rounded  nw-blur-lg nw-object-cover"
               src="https://via.placeholder.com/500x500" alt="profil-bild">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-blur-lg</div>
      </div>
      <div class="nw-w-full nw-font-medium">
        <div class="nw-bg-gray-0  nw-rounded nw-mb-2">
          <img class=" nw-w-full nw-h-14 nw-rounded  nw-blur-2xl nw-object-cover"
               src="https://via.placeholder.com/500x500" alt="profil-bild">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-blur-2xl</div>
      </div>
    </div>
  </div>
  <div>
    <h1 class="nw-text-md nw-font-medium nw-mb-2">Outlines</h1>
    <div class="nw-text-sm nw-text-gray-400 nw-pb-1 nw-font-medium nw-border-b nw-border-gray-100 nw-mb-4"> Outlines an Backgrounds oder Texten</div>
    <div class="nw-grid nw-nw-grid-cols-1 md:nw-grid-cols-4 nw-gap-6 md:nw-gap-12">
      <div class="nw-w-full nw-font-medium">
        <div class="nw-bg-gray-0 nw-h-14 nw-rounded nw-mb-2 nw-outline nw-outline-sky-0 nw-outline-1">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-outline</div>
      </div>
      <div class="nw-w-full nw-font-medium">
        <div class="nw-bg-gray-0 nw-h-14 nw-rounded nw-mb-2 nw-outline-dashed nw-outline-sky-0 nw-outline-1">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-outline-dashed</div>
      </div>
      <div class="nw-w-full nw-font-medium">
        <div class="nw-bg-gray-0 nw-h-14 nw-rounded nw-mb-2 nw-outline-dotted nw-outline-sky-0 nw-outline-1">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-outline-dotted</div>
      </div>
    </div>
  </div>
</div>