<div
    class="accordion lesepaten-accordion nw-px-4 sm:nw-px-0 nw-pt-10 md:nw-pt-8 nw-pb-8 md:nw-pb-10 md:nw-max-w-md md:nw-mx-auto">
    <div class="nw-pb-8 nw-text-center">
        <p class="nw-text-xl nw-font-bold">Fragen und Antworten</p>
        <p class="nw-text-md nw-text-gray-500">Einfach erklärt</p>
    </div>
    <ul class="nw-mx-auto ">
        <li class="nw-mb-2 nw-rounded-md nw-bg-gray-0 nw-px-4 nw-pt-4 nw-border nw-border-gray-0">
            <div class="nw-mb-1">
                <a href="#" class="faq-opener nw-text-md nw-font-medium nw-block nw-bg-gray-0">
                    <div class="nw-flex nw-justify-between nw-pb-4">
                        <p> Was haben Sie als Lesepate davon?</p>
                    </div>
                </a>

                <div class="nw-hidden nw-bg-gray-0 nw-pb-4">
                    <hr class="nw-border-t nw--mx-4">
                    <p class="nw-text-base nw-pt-4">
                        Seien Sie ein Vorbild und wirken Sie aktiv mit bei der Integration junger Menschen
                        und
                        geben Sie Ihnen eine Perspektive. Wir stellen Sie mit einem
                        persönlichen Statement in der Zeitung und online vor. Zudem richten wir an der
                        Patenschule einen sogenannten „Lese-Punkt“ mit Ihrem Namen ein.
                    <p>
                </div>
            </div>
        </li>
        <li class="nw-mb-2 nw-rounded-md nw-bg-gray-0 nw-px-4 nw-pt-4 nw-border nw-border-gray-0">
            <div class="nw-mb-1">
                <a href="#" class="faq-opener nw-text-md nw-font-medium nw-block nw-bg-gray-0">
                    <div class="nw-flex nw-justify-between nw-pb-4">
                        <p> Was haben junge Leser davon?</p>
                    </div>
                </a>

                <div class="nw-hidden nw-bg-gray-0 nw-pb-4">
                    <hr class="nw-border-t nw--mx-4">
                    <p class="nw-text-base nw-pt-4">
                        Tägliche Nachrichten aus regionalen Quellen, die Medien- und die Entscheidungskompetenz
                        steigern. Zudem wird die Allgemeinbildung gefördert.
                    <p>
                </div>
            </div>
        </li>
        <li class="nw-mb-2 nw-rounded-md nw-bg-gray-0 nw-px-4 nw-pt-4 nw-border nw-border-gray-0">
            <div class="nw-mb-1">
                <a href="#" class="faq-opener nw-text-md nw-font-medium nw-block nw-bg-gray-0">
                    <div class="nw-flex nw-justify-between nw-pb-4">
                        <p> Wer kann Lesepate werden?</p>
                    </div>
                </a>

                <div class="nw-hidden nw-bg-gray-0 nw-pb-4 nw-text-base">
                    <hr class="nw-border-t nw--mx-4">
                    <p class="nw-pt-4">
                        Im Grunde jeder der junge Leser fördern will.
                    </p>
                    <div class="py-2 ">
                        <ul class="nw-list-disc nw-ml-4">
                            <li>
                                Einzelpersonen
                            </li>
                            <li>
                                Unternehmen
                            </li>
                            <li>
                                Stiftungen
                            </li>
                            <li>
                                Familien
                            </li>
                            <li>
                                Politiker
                            </li>
                            <li>
                                Promis
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>