<!--
<div class="nw-px-4 sm:nw-px-0 nw-pt-10 lg:nw-pt-8 nw-pb-10 lg:nw-max-w-md lg:nw-mx-auto">
    <div class="nw-pb-8 nw-leading-6 nw-text-center">
        <p class="nw-text-2xl nw-font-bold">Fragen und Antworten</p>
        <p class="nw-text-md nw-text-gray-600">Einfach erklärtn</p>
    </div>
    <div
        class="nw-mb-2 nw-rounded-md nw-bg-white nw-p-4 nw-border nw-border-gray-200">
        <button class="lesepatenAccordion nw-text-left nw-w-full">
            <div class="nw-flex nw-text-md nw-leading-6 nw-font-medium">
                <div class="nw-block lg:nw-flex nw-flex-grow nw-flex nw-items-center">
                    <div class="nw-flex-grow">
                        Was haben Sie als Lesepate davon?
                    </div>
                </div>
                <div class="nw-flex-none">
                    <svg class="nw-float-right nw-cursor-pointer"
                         width="32"
                         height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                         fill="currentColor">
                        <path
                            d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"/>
                    </svg>
                </div>
            </div>
        </button>
        <div class="nw-hidden">
            <hr class="nw-border-t nw-my-3 nw--mx-4">
            <p class="nw-text-base nw-leading-6">
                Seien Sie ein Vorbild und wirken Sie aktiv mit bei der Integration junger Menschen
                und
                geben Sie Ihnen eine Perspektive.  Wir stellen Sie mit einem
                persönlichen Statement in der Zeitung und online vor. Zudem richten wir  der
                Patenschule einen sogenannten „Lese-Punkt“ mit Ihrem Namen ein. 
            </p>
        </div>
    </div>
    <div
        class="nw-mb-2 nw-rounded-md nw-bg-white nw-p-4 nw-border nw-border-gray-200">
        <button class="lesepatenAccordion nw-text-left nw-w-full">
            <div class="nw-flex nw-text-md nw-font-medium nw-leading-6">
                <div class="nw-block lg:nw-flex nw-flex-grow nw-flex nw-items-center">
                    <div class="nw-flex-grow">
                        Was haben junge Leser davon?
                    </div>
                </div>
                <div class="nw-flex-none">
                    <svg class="nw-float-right nw-ml-1 nw-cursor-pointer"
                         width="32"
                         height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                         fill="currentColor">
                        <path
                            d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"/>
                    </svg>
                </div>
            </div>
        </button>
        <div class="nw-hidden">
            <hr class="nw-border-t nw-my-3 nw--mx-4">
            <p class="nw-text-base nw-leading-6">
                Tägliche Nachrichten aus regionalen Quellen, die Medien- und die Entscheidungskompetenz
                steigern. Zudem wird die Allgemeinbildung gefördert.
            <p>
        </div>
    </div>
    <div
        class="nw-mb-2 nw-rounded-md nw-bg-white nw-p-4 nw-border nw-border-gray-200">
        <button class="lesepatenAccordion nw-text-left nw-w-full">
            <div class="nw-flex nw-text-md nw-font-medium nw-leading-6">
                <div class="nw-block lg:nw-flex nw-flex-grow nw-flex nw-items-center">
                    <div class="nw-flex-grow">
                        Wer kann Lesepate werden?
                    </div>
                </div>
                <div class="nw-flex-none">
                    <svg class="nw-float-right nw-ml-1 nw-cursor-pointer"
                         width="32"
                         height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                         fill="currentColor">
                        <path
                            d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"/>
                    </svg>
                </div>
            </div>
        </button>
        <div class="nw-hidden">
            <hr class="nw-border-t nw-my-3 nw--mx-4">
            <p class="nw-text-base">
                 Grunde jeder der junge Leser fördern will.
            </p>
            <div class="py-2 nw-text-base nw-leading-6">
                <ul class="nw-list-disc nw-ml-4">
                    <li>
                        Einzelpersonen
                    </li>
                    <li>
                        Unternehmen
                    </li>
                    <li>
                        Stiftungen
                    </li>
                    <li>
                        Familien
                    </li>
                    <li>
                        Politiker
                    </li>
                    <li>
                        Promis
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>-->

<div
    class="accordion lesepaten-accordion nw-px-4 sm:nw-px-0 nw-pt-10 lg:nw-pt-8 nw-pb-8 lg:nw-pb-10 lg:nw-max-w-md lg:nw-mx-auto">
    <div class="nw-pb-8 nw-leading-6 nw-text-center">
        <p class="nw-text-2xl nw-font-bold">Fragen und Antworten</p>
        <p class="nw-text-md nw-text-gray-600">Einfach erklärtn</p>
    </div>
    <ul class="nw-mx-auto ">
        <li class="nw-leading-6 nw-mb-2 nw-rounded-md nw-bg-gray-100 nw-px-4 nw-pt-4 nw-border nw-border-gray-100">
            <div class="nw-mb-1">
                <a href="#" class="faq-opener nw-text-md nw-font-medium nw-block nw-bg-gray-100">
                    <div class="nw-flex nw-justify-between nw-pb-4">
                        <p> Was haben Sie als Lesepate davon?</p>
                    </div>
                </a>

                <div class="nw-hidden nw-bg-gray-100 nw-pb-4">
                    <hr class="nw-border-t nw--mx-4">
                    <p class="nw-text-base nw-leading-6 nw-pt-4">
                        Seien Sie ein Vorbild und wirken Sie aktiv mit bei der Integration junger Menschen
                        und
                        geben Sie Ihnen eine Perspektive.  Wir stellen Sie mit einem
                        persönlichen Statement in der Zeitung und online vor. Zudem richten wir an der
                        Patenschule einen sogenannten „Lese-Punkt“ mit Ihrem Namen ein.
                    <p>
                </div>
            </div>
        </li>
        <li class="nw-leading-6 nw-mb-2 nw-rounded-md nw-bg-gray-100 nw-px-4 nw-pt-4 nw-border nw-border-gray-100">
            <div class="nw-mb-1">
                <a href="#" class="faq-opener nw-text-md nw-font-medium nw-block nw-bg-gray-100">
                    <div class="nw-flex nw-justify-between nw-pb-4">
                        <p> Was haben junge Leser davon?</p>
                    </div>
                </a>

                <div class="nw-hidden nw-bg-gray-100 nw-pb-4">
                    <hr class="nw-border-t nw--mx-4">
                    <p class="nw-text-base nw-leading-6 nw-pt-4">
                        Tägliche Nachrichten aus regionalen Quellen, die Medien- und die Entscheidungskompetenz
                        steigern. Zudem wird die Allgemeinbildung gefördert.
                    <p>
                </div>
            </div>
        </li>
        <li class="nw-leading-6 nw-mb-2 nw-rounded-md nw-bg-gray-100 nw-px-4 nw-pt-4 nw-border nw-border-gray-100">
            <div class="nw-mb-1">
                <a href="#" class="faq-opener nw-text-md nw-font-medium nw-block nw-bg-gray-100">
                    <div class="nw-flex nw-justify-between nw-pb-4">
                        <p> Wer kann Lesepate werden?</p>
                    </div>
                </a>

                <div class="nw-hidden nw-bg-gray-100 nw-pb-4 nw-text-base nw-leading-6">
                    <hr class="nw-border-t nw--mx-4">
                    <p class="nw-pt-4">
                        Im Grunde jeder der junge Leser fördern will.
                    </p>
                    <div class="py-2 ">
                        <ul class="nw-list-disc nw-ml-4">
                            <li>
                                Einzelpersonen
                            </li>
                            <li>
                                Unternehmen
                            </li>
                            <li>
                                Stiftungen
                            </li>
                            <li>
                                Familien
                            </li>
                            <li>
                                Politiker
                            </li>
                            <li>
                                Promis
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<script type="text/javascript">
    /* <![CDATA[ */
    jQuery(document).ready(function () {
        if (userLoyaltyClass) {
            jQuery("#my_user_loyalty_class").val(userLoyaltyClass);
        }
    });

    function mydaten_check(token) {
        var _objForm = document.my_daten;
        var labels = $(".input-label");
        var eyeIcon = $("#eye-img");
        $("#my_new_pass").attr("type", "password");
        eyeIcon.attr("src", "https://www-test2.nw.de/_em_daten/locals/module/nw/_includes/twig/current/public/images/eye.svg");
        var errorMessage = "Füllen Sie bitte die roten Felder aus!";

        var isValid = true; // Flag to track if the form is valid

        // Function to add red border and display error message for empty fields
        function ErrorMessager(inputId, labelClass) {
            $("#" + inputId).addClass("nw-border-red-500");
            labels.filter(labelClass).addClass("nw-text-red-500");
            $(".alert.alert-danger").removeClass("hidden").html(errorMessage);
            $(window).scrollTop(0);
            isValid = false;
        }

        // Function to remove red border and error message for filled fields
        function VlideValue(inputId, labelClass) {
            $("#" + inputId).removeClass("nw-border-red-500");
            labels.filter(labelClass).removeClass("nw-text-red-500");
        }

        if (!_objForm.my_email.value || !_objForm.my_email.value.match(/[^@]+@[^@]+\.\w{2,}/)) {
            ErrorMessager("my_email", ".email-label");
        } else {
            _objForm.my_user.value = _objForm.my_email.value;
            VlideValue("my_email", ".email-label");
        }

        if (!_objForm.my_new_pass.value) {
            ErrorMessager("my_new_pass", ".password-label");
        } else {
            VlideValue("my_new_pass", ".password-label");
        }

        if (!_objForm.my_gender.value) {
            ErrorMessager("my_gender", ".anrede-label");
        } else {
            VlideValue("my_gender", ".anrede-label");
        }

        if (!_objForm.my_firstname.value) {
            ErrorMessager("my_firstname", ".vorname-label");
        } else {
            VlideValue("my_firstname", ".vorname-label");
        }

        if (!_objForm.my_name.value) {
            ErrorMessager("my_name", ".nachname-label");
        } else {
            VlideValue("my_name", ".nachname-label");
        }

        if (!_objForm.my_zip.value) {
            ErrorMessager("my_zip", ".plz-label");
        } else {
            VlideValue("my_zip", ".plz-label");
        }

        if (!_objForm.my_agb.checked) {
            jQuery(".alert.alert-danger").removeClass("hidden").html("Bitte akzeptieren Sie unsere Online-Nutzungsbedingungen!");
            _objForm.my_agb.focus();
            isValid = false;
        }

        if (0 && !_objForm.my_is_optin.checked) {
            jQuery(".alert.alert-danger").removeClass("hidden").html("Bitte akzeptieren Sie das Werbeeinverständnis!");
            _objForm.my_is_optin.focus();
            isValid = false;
        }

        // objRecaptcha = jQuery("#my_recaptcha");
        objImg = jQuery("#em_my_captcha_img");
        if (token) {
            jQuery.ajax({
                type: "POST",
                url: "' . $fill['recaptcha_url'] . '",
                data: {
                    response_token: token,
                    type: "invisible"
                },
                success: function (success) {
                    if (success === "1") {
                        _objForm.submit();
                    } else {
                        grecaptcha.reset();
                        console.log("reCAPTCHA-Fehler");
                        isValid = false; // Set the form as invalid
                    }
                }
            });
        } else if (objImg.length > 0) {
            if (!_objForm.my_captcha.value) {
                ErrorMessager("my_captcha", ".captcha-label");
                isValid = false; // Set the form as invalid
            } else {
                jQuery.ajax({
                    type: "POST",
                    url: "' . $fill['captcha_url'] . '",
                    data: "em_uc=" + jQuery("#my_captcha").val(),
                    success: function (_strMessage) {
                        if (_strMessage == "1") {
                            _objForm.submit();
                        } else {
                            ErrorMessager("my_captcha", ".captcha-label");
                            isValid = false; // Set the form as invalid
                        }
                    }
                });
            }
        } else if (jQuery("#captchaAnswer").length > 0) {
            jQuery.ajax({
                type: "POST",
                url: "/_em_cms/locals/nw/captcha.php",
                data: "submit&check=" + jQuery("#captchaAnswer").val(),
                success: function (_strMessage) {
                    if (_strMessage == "1") {
                        jQuery("#my_daten").submit();
                    } else if (!jQuery("#captchaAnswer").val()) {
                        ErrorMessager("captchaAnswer", ".captcha-label");
                        isValid = false; // Set the form as invalid
                    } else {
                        ErrorMessager("captchaAnswer", ".captcha-label");
                        isValid = false; // Set the form as invalid
                    }
                }
            });
        }
        if (isValid) {
            _objForm.submit();
        }
    }

    function emMyCaptchaReload(_objImage) {
        objImg = jQuery("#em_my_captcha_img");
        if (objImg.length) {
            var objDate = new Date();
            objImg.attr("src", "' . $fill['captcha_url'] . (strstr($fill['captcha_url'], '?') ? '&' : '?') . 'nocache=" + objDate.getTime());

        }
    }

    function passwordToggle() {
        var passwordField = document.getElementById("my_new_pass");
        var eyeIcon = document.getElementById("eye-img");
        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.src = " https://www-test2.nw.de/_em_daten/locals/module/nw/_includes/twig/current/public/images/eye-slash.svg";
        } else {
            passwordField.type = "password";
            eyeIcon.src = "https://www-test2.nw.de/_em_daten/locals/module/nw/_includes/twig/current/public/images/eye.svg";
        }
    }

</script>