<!--
<div class="nw-px-4 sm:nw-px-0 nw-pt-10 lg:nw-pt-8 nw-pb-10 lg:nw-max-w-md lg:nw-mx-auto">
    <div class="nw-pb-8 nw-leading-6 nw-text-center">
        <p class="nw-text-2xl nw-font-bold">Fragen und Antworten</p>
        <p class="nw-text-md nw-text-gray-600">Einfach erklärtn</p>
    </div>
    <div
        class="nw-mb-2 nw-rounded-md nw-bg-white nw-p-4 nw-border nw-border-gray-200">
        <button class="lesepatenAccordion nw-text-left nw-w-full">
            <div class="nw-flex nw-text-md nw-leading-6 nw-font-medium">
                <div class="nw-block lg:nw-flex nw-flex-grow nw-flex nw-items-center">
                    <div class="nw-flex-grow">
                        Was haben Sie als Lesepate davon?
                    </div>
                </div>
                <div class="nw-flex-none">
                    <svg class="nw-float-right nw-cursor-pointer"
                         width="32"
                         height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                         fill="currentColor">
                        <path
                            d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"/>
                    </svg>
                </div>
            </div>
        </button>
        <div class="nw-hidden">
            <hr class="nw-border-t nw-my-3 nw--mx-4">
            <p class="nw-text-base nw-leading-6">
                Seien Sie ein Vorbild und wirken Sie aktiv mit bei der Integration junger Menschen
                und
                geben Sie Ihnen eine Perspektive.  Wir stellen Sie mit einem
                persönlichen Statement in der Zeitung und online vor. Zudem richten wir  der
                Patenschule einen sogenannten „Lese-Punkt“ mit Ihrem Namen ein. 
            </p>
        </div>
    </div>
    <div
        class="nw-mb-2 nw-rounded-md nw-bg-white nw-p-4 nw-border nw-border-gray-200">
        <button class="lesepatenAccordion nw-text-left nw-w-full">
            <div class="nw-flex nw-text-md nw-font-medium nw-leading-6">
                <div class="nw-block lg:nw-flex nw-flex-grow nw-flex nw-items-center">
                    <div class="nw-flex-grow">
                        Was haben junge Leser davon?
                    </div>
                </div>
                <div class="nw-flex-none">
                    <svg class="nw-float-right nw-ml-1 nw-cursor-pointer"
                         width="32"
                         height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                         fill="currentColor">
                        <path
                            d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"/>
                    </svg>
                </div>
            </div>
        </button>
        <div class="nw-hidden">
            <hr class="nw-border-t nw-my-3 nw--mx-4">
            <p class="nw-text-base nw-leading-6">
                Tägliche Nachrichten aus regionalen Quellen, die Medien- und die Entscheidungskompetenz
                steigern. Zudem wird die Allgemeinbildung gefördert.
            <p>
        </div>
    </div>
    <div
        class="nw-mb-2 nw-rounded-md nw-bg-white nw-p-4 nw-border nw-border-gray-200">
        <button class="lesepatenAccordion nw-text-left nw-w-full">
            <div class="nw-flex nw-text-md nw-font-medium nw-leading-6">
                <div class="nw-block lg:nw-flex nw-flex-grow nw-flex nw-items-center">
                    <div class="nw-flex-grow">
                        Wer kann Lesepate werden?
                    </div>
                </div>
                <div class="nw-flex-none">
                    <svg class="nw-float-right nw-ml-1 nw-cursor-pointer"
                         width="32"
                         height="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                         fill="currentColor">
                        <path
                            d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"/>
                    </svg>
                </div>
            </div>
        </button>
        <div class="nw-hidden">
            <hr class="nw-border-t nw-my-3 nw--mx-4">
            <p class="nw-text-base">
                 Grunde jeder der junge Leser fördern will.
            </p>
            <div class="py-2 nw-text-base nw-leading-6">
                <ul class="nw-list-disc nw-ml-4">
                    <li>
                        Einzelpersonen
                    </li>
                    <li>
                        Unternehmen
                    </li>
                    <li>
                        Stiftungen
                    </li>
                    <li>
                        Familien
                    </li>
                    <li>
                        Politiker
                    </li>
                    <li>
                        Promis
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>-->

<div class="nw-px-4 sm:nw-px-0 nw-pt-10 lg:nw-pt-8 nw-pb-8 lg:nw-pb-10 lg:nw-max-w-md lg:nw-mx-auto">
    <div class="nw-pb-8 nw-leading-6 nw-text-center">
        <p class="nw-text-2xl nw-font-bold">Fragen und Antworten</p>
        <p class="nw-text-md nw-text-gray-600">Einfach erklärtn</p>
    </div>
    <ul class="nw-mx-auto ">
        <li class="nw-leading-6 nw-mb-2 nw-rounded-md nw-bg-gray-100 nw-px-4 nw-pt-4 nw-border nw-border-gray-100">
            <div class="nw-mb-1">
                <a href="#" class="accord-opener nw-text-md nw-font-medium nw-block nw-bg-gray-100">
                    <div class="nw-flex nw-justify-between nw-pb-4">
                        <p> Was haben Sie als Lesepate davon?</p>
                    </div>
                </a>

                <div class="nw-hidden nw-bg-gray-100 nw-pb-4">
                    <hr class="nw-border-t nw--mx-4">
                    <p class="nw-text-base nw-leading-6 nw-pt-4">
                        Seien Sie ein Vorbild und wirken Sie aktiv mit bei der Integration junger Menschen
                        und
                        geben Sie Ihnen eine Perspektive.  Wir stellen Sie mit einem
                        persönlichen Statement in der Zeitung und online vor. Zudem richten wir an der
                        Patenschule einen sogenannten „Lese-Punkt“ mit Ihrem Namen ein.
                    <p>
                </div>
            </div>
        </li>
        <li class="nw-leading-6 nw-mb-2 nw-rounded-md nw-bg-gray-100 nw-px-4 nw-pt-4 nw-border nw-border-gray-100">
            <div class="nw-mb-1">
                <a href="#" class="accord-opener nw-text-md nw-font-medium nw-block nw-bg-gray-100">
                    <div class="nw-flex nw-justify-between nw-pb-4">
                        <p> Was haben junge Leser davon?</p>
                    </div>
                </a>

                <div class="nw-hidden nw-bg-gray-100 nw-pb-4">
                    <hr class="nw-border-t nw--mx-4">
                    <p class="nw-text-base nw-leading-6 nw-pt-4">
                        Tägliche Nachrichten aus regionalen Quellen, die Medien- und die Entscheidungskompetenz
                        steigern. Zudem wird die Allgemeinbildung gefördert.
                    <p>
                </div>
            </div>
        </li>
        <li class="nw-leading-6 nw-mb-2 nw-rounded-md nw-bg-gray-100 nw-px-4 nw-pt-4 nw-border nw-border-gray-100">
            <div class="nw-mb-1">
                <a href="#" class="accord-opener nw-text-md nw-font-medium nw-block nw-bg-gray-100">
                    <div class="nw-flex nw-justify-between nw-pb-4">
                        <p> Wer kann Lesepate werden?</p>
                    </div>
                </a>

                <div class="nw-hidden nw-bg-gray-100 nw-pb-4 nw-text-base nw-leading-6">
                    <hr class="nw-border-t nw--mx-4">
                    <p class="nw-pt-4">
                        Im Grunde jeder der junge Leser fördern will.
                    </p>
                    <div class="py-2 ">
                        <ul class="nw-list-disc nw-ml-4">
                            <li>
                                Einzelpersonen
                            </li>
                            <li>
                                Unternehmen
                            </li>
                            <li>
                                Stiftungen
                            </li>
                            <li>
                                Familien
                            </li>
                            <li>
                                Politiker
                            </li>
                            <li>
                                Promis
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>