<div class="nw-p-4 md:nw-px-0" style="max-width: 810px; margin: auto;">
    <h1 class="nw-text-3xl nw-font-bold nw-leading-7 nw-pb-6">Entdecken Sie hier unsere aktuellen Gewinnspiele!</h1>
    <p class="nw-text-md nw-leading-6">Detaillierte Informationen und Teilnahmebedingungen finden Sie auf der
        jeweiligen Gewinnspielseite. Bei Fragen
        oder Anregungen können Sie uns gerne eine E-Mail an kundenservice@nw.de senden.</p>
</div>

<h2 class="nw-text-2xl nw-font-medium nw-py-6 nw-px-4 md:nw-px-0" style="max-width: 810px; margin: auto;">Harald Lesch
    <span class="nw-block nw-text-base nw-text-gray-500">
        Teilnahmezeitraum:<br>26.01.-29.02.2024
    </span>
</h2>
<div id='qualifio_insert_place_1369895' class='qualifio_iframe_wrapper'></div>
<script type='text/javascript'>
    (function (b, o, n, u, s) {
        var a, t;
        a = b.createElement(u);
        a.async = 1;
        a.src = s;
        t = b.getElementsByTagName(u)[0];
        t.parentNode.insertBefore(a, t);
        o[n] = o[n] || []
    })(document, window, '_qual_async', 'script', 'https://files.qualifio.com/kit/qualp.2.min.js');
    _qual_async.push(['createIframe', 'qualifio_insert_place_1369895', 'neuewestflische1.qualifioapp.com', '20', 'F2250234-998A-4C78-B253-237C79DF77B3', '100%', '1200', '', '', '', 'max-width:810px;margin:0 auto;']);
</script>

<h2 class="nw-text-2xl nw-font-medium nw-pt-8 nw-pb-6 nw-px-4 md:nw-px-0" style="max-width: 810px; margin: auto;">Atze
    Schröder
    <span class="nw-block nw-text-base nw-text-gray-500">
        Teilnahmezeitraum:<br>16.02.-07.03.2024
    </span>
</h2>
<div id='qualifio_insert_place_1385130' class='qualifio_iframe_wrapper'></div>
<script type='text/javascript'>
    (function (b, o, n, u, s) {
        var a, t;
        a = b.createElement(u);
        a.async = 1;
        a.src = s;
        t = b.getElementsByTagName(u)[0];
        t.parentNode.insertBefore(a, t);
        o[n] = o[n] || []
    })(document, window, '_qual_async', 'script', 'https://files.qualifio.com/kit/qualp.2.min.js');
    _qual_async.push(['createIframe', 'qualifio_insert_place_1385130', 'neuewestflische1.qualifioapp.com', '20', '072A60F5-9860-4EBB-B09C-18B01B28BEFE', '100%', '1200', '', '', '', 'max-width:810px;margin:0 auto;']);
</script>

<hr class="nw-mb-8 nw-mt-10">