<div class="nw-mb-4">
    <div class="privacy-social-replacer" data-embed-el="replacer" data-content="<blockquote class='twitter-tweet'>
<p lang='de' dir='ltr'>Deutschlands einstige Ausnahme-Skirennläuferin Rosi <a href='https://twitter.com/hashtag/Mittermaier?src=hash&amp;ref_src=twsrc%5Etfw'>#Mittermaier</a> ist nach schwerer Krankheit gestorben. Sie wurde 72 Jahre alt.<a href='https://t.co/7f7HyUpYUe'>https://t.co/7f7HyUpYUe</a></p>— Neue Westfälische (@nwnews) <a href='https://twitter.com/nwnews/status/1610922343148158980?ref_src=twsrc%5Etfw'>January 5, 2023</a>
</blockquote>"></div>
    <div class="nw-big-privacy-box nw-bg-gray-100 nw-rounded-md nw-shadow-md nw-w-5/6">
        <div class="nw-p-4">
            <p class="nw-pb-2 nw-text-base md:nw-text-lg nw-font-bold">
                Empfohlener redaktioneller Inhalt
            </p>
            <hr>
            <p class="nw-pt-2 nw-text-sm">
                Wir bieten an dieser Stelle weitere externe Informationen zu dem Artikel an. Mit einem Klick können Sie sich diese anzeigen lassen und auch wieder ausblenden.
            </p>
            <div class="nw-my-2">
                <div class="privacy-change-button-wrapper nw-relative nw-inline-block nw-w-12 nw-align-middle nw-select-none nw-transition nw-duration-200 nw-ease-in">
                    <input type="checkbox" name="toggle" id="toggle" class="togBtn nw-toggle-checkbox nw-absolute nw-block nw-w-6 nw-h-6 nw-rounded-full nw-bg-white nw-border-2 nw-appearance-none nw-cursor-pointer" style="margin: 0;">
                    <label for="toggle" class="nw-toggle-label nw-block nw-overflow-hidden nw-h-6 nw-rounded-full nw-bg-gray-200 nw-cursor-pointer"></label>
                </div>
                <label class="nw-text-tiny">Externe Inhalte</label>
            </div>
            <p class="nw-text-sm nw-text-gray-400">
                Wenn Sie sich externe Inhalte anzeigen lassen, erklären Sie sich damit
                ein-verstanden, dass personenbezogene Daten an Drittplattformen
                übermittelt werden.
            </p>
            <a href="" class="nw-text-sm nw-text-red-500">
                Weitere Hinweise dazu finden Sie in unserer Datenschutzerklärung.
            </a>
        </div>
    </div>
    <div class="nw-small-privacy-box nw--mt-4" style="display: none;">
        <div class="privacy-change-button-wrapper nw-relative nw-inline-block nw-w-12 nw-align-middle nw-select-none nw-transition nw-duration-200 nw-ease-in">
            <input type="checkbox" name="toggle" id="toggle" class="togBtn nw-toggle-checkbox nw-absolute nw-block nw-w-6 nw-h-6 nw-rounded-full nw-bg-white nw-border-2 nw-appearance-none nw-cursor-pointer" style="margin: 0;">
            <label for="toggle" class="nw-toggle-label nw-block nw-overflow-hidden nw-h-6 nw-rounded-full nw-bg-gray-200 nw-cursor-pointer"></label>
        </div>
        <label class="nw-text-tiny">Externe Inhalte</label>
        <div>
            <a href="" class="nw-text-sm nw-text-red-500">Weitere Hinweise dazu finden Sie in unserer Datenschutzerklärung.</a>
        </div>
    </div>
</div>