<div class="nw-bg-white nw-max-w-3xl">
  <div class="nw-flex nw-flex-grow nw-py-0.5">
    <div class="nw-flex-grow nw-font-bold nw-text-xl nw-uppercase">
      KOMMENTARE
    </div>
    <div class="nw-flex-none">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="20"
        height="20"
        class="hideSvg nw-float-right nw-text-red-500 nw-cursor-pointer"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
        data-target="commentBlock-1"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M5 15l7-7 7 7"
        />
      </svg>
    </div>
  </div>
  <hr class="nw-border nw-border-gray-100" />
  <div class="commentBlock-1">
    <div class="nw-py-4 nw-text-center md:nw-text-left">
      <p class="nw-text-base nw-font-bold">Guten Tag, Hansfranz1999</p>
      <p class="nw-text-base nw-py-1">
        Als NW+ Abonnent können Sie hier exklusiv Kommentare verfassen und sich
        mit Autoren und Lesern austauschen.
      </p>
      <div
        class="
          nw-flex nw-place-content-center
          md:nw-hidden
          nw-text-xs nw-text-custom-1-700 nw-font-bold
          hover:nw-text-gray-700
          nw-cursor-pointer
        "
      >
        <a> FAQ </a>
        <p class="nw-px-1">|</p>
        <a> NUTZUNGSREGELN </a>
      </div>
    </div>
    <div class="nw-flex nw-flex-col md:nw-flex-row gap-4 md:nw-gap-12">
      <div class="nw-mx-auto md:nw-items-end">{{>@ads}}</div>
      <div class="nw-flex-1 md:nw-order-first nw-mt-4 md:nw-mt-0">
        <div class="nw-mb-3">
          <p class="nw-text-base nw-font-bold">Ihr Kommentar</p>
        </div>
        <form>
          <div>
            <textarea
              rows="7"
              maxlength="3000"
              class="
                comment
                nw-w-full nw-text-sm
                focus:nw-ring-0 focus:nw-outline-none
                nw-overflow-hidden
                nw-py-1
                nw-px-2
                nw-bg-white
                nw-rounded-md
                nw-border
                nw-border-black
              "
              placeholder="Diskutieren Sie mit …"
              required
            ></textarea>
            <div class="nw-flex nw-justify-between">
              <p id="result" class="result nw-text-xs nw-text-gray-500">
                0/3000
              </p>
              <div
                class="
                  nw-flex nw-justify-end nw-mb-2 nw-hidden
                  md:nw-flex
                  nw-text-xs nw-text-custom-1-700 nw-font-bold
                  hover:nw-text-gray-700
                  nw-cursor-pointer
                "
              >
                <a> FAQ </a>
                <p class="nw-px-1">|</p>
                <a> NUTZUNGSREGELN </a>
              </div>
            </div>
          </div>

          <div class="nw-text-right">
            <button
              type="submit"
              class="
                nw-inline-flex
                nw-bg-red-500
                nw-py-2
                nw-px-4
                nw-text-tiny
                nw-font-bold
                nw-text-center
                nw-text-white
                nw-rounded
              "
              disabled
            >
              Kommentar abschicken
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="nw-py-4">{{>@ads--header}}</div>
    <div>
      <div class="nw-flex nw-justify-end nw-mt-4">
        <div class="nw-flex nw-flex-col">
          <label class="nw-text-xs nw-text-custom-1-700 nw-pb-1" for=""
            >Kommentare anzeigen</label
          >
          <select
            class="
              nw-mr-4
              nw-inline-flex
              nw-w-28
              nw-py-1
              nw-mx-auto
              nw-text-sm
              nw-border
              nw-rounded
              nw-font-medium
              nw-box-border
              nw-cursor-pointer
            "
            type="text"
            placeholder=""
            name=""
          >
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="30">30</option>
          </select>
        </div>
        <div class="nw-flex nw-flex-col">
          <label class="nw-text-xs nw-text-custom-1-700 nw-pb-1" for=""
            >Sortieren nach</label
          >
          <select
            class="
              nw-inline-flex
              nw-w-28
              nw-py-1
              nw-mx-auto
              nw-border
              nw-rounded
              nw-font-medium
              nw-text-sm
              nw-box-border
              nw-cursor-pointer
              nw-leading-loose
            "
            type="text"
            placeholder=""
            name=""
          >
            <option value="Neuste">Neuste</option>
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      </div>
      <div class="nw-bg-gray-100 nw-rounded nw-my-4 nw-shadow-md">
        <div class="nw-p-4">
          <div class="nw-flex">
            <div
              class="
                nw-mr-1
                nw-bg-gray-600
                nw-relative
                nw-text-white
                nw-text-center
                nw-w-7
                nw-h-7
                nw-rounded-full
                nw-flex
                nw-place-content-center
                nw-place-items-center
                nw-text-sm
              "
            >
              <span>FW </span>
            </div>
            <p class="nw-text-tiny nw-font-bold nw-leading-loose">Futuremen</p>
          </div>
          <span class="nw-text-xs nw-text-custom-1-700 nw-font-medium"
            >Vor 5 Minuten</span
          >
          <p class="nw-text-base nw-py-1">
            Das Problem ist, wer sich nicht in der Gastronomie trifft, quetscht
            sich Daheim mit Freunden in der oft sehr kleinen „GutenStube“
            zusammen, natürlich ohne MundNasenschutz, geschweige FFP2 Standard!
            #Nachdenken!
          </p>
        </div>
        <hr class="md:nw-hidden" />
        <div class="nw-text-sm nw-font-medium nw-text-center nw-text-black">
          <ul class="nw-text-center nw-flex md:nw-place-content-end">
            <li class="nw-border-r md:nw-border-r-0 nw-w-1/3 md:nw-w-auto">
              <a
                href="#"
                class="
                  tabs
                  nw-flex
                  nw-leading-tight
                  nw-p-2
                  nw-justify-center
                  nw-text-custom-1-700
                "
                aria-current="page"
              >
                <svg
                  class="nw-w-3 nw-h-3 nw-mr-0.5 nw-text-center"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
                  />
                </svg>
                Antworten
              </a>
            </li>
            <li class="nw-border-r md:nw-border-r-0 nw-w-1/3 md:nw-w-auto">
              <a
                href="#"
                class="
                  tabs
                  nw-flex
                  nw-leading-tight
                  nw-p-2
                  nw-text-custom-1-700
                  nw-justify-center
                "
              >
                <svg
                  class="nw-w-3 nw-h-3 nw-mr-0.5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
                  />
                </svg>
                Melden
              </a>
            </li>
            <li class="nw-w-1/3 md:nw-w-auto">
              <a
                href="#"
                class="
                  tabs
                  nw-flex
                  nw-leading-tight
                  nw-p-2
                  nw-text-custom-1-700
                  nw-justify-center
                "
              >
                <svg
                  class="nw-w-3 nw-h-3 nw-mr-0.5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                  />
                </svg>
                24
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <div class="container md:nw-ml-12">{{>@kommentar-box}}</div>
      </div>
    </div>
    {{>@kunde-kommentar}}
  </div>
</div>
