
      {{#each this.autoren-box}}
      <a href="#" class="nw-py-6 nw-border-b nw-border-gray-0 nw-flex nw-items-center nw-gap-2 nw-cursor-pointer hover:nw-bg-gray-0 hover:nw-rounded-md">
        <div class=" nw-flex nw-flex-grow nw-items-center nw-gap-4">
          <div>
            <div class="autoren-sortieren-container">
              <img class="nw-rounded-full nw-w-full nw-h-auto nw-object-cover"
                 src="https://via.placeholder.com/500x500" alt="profil-bild">
            </div>
          </div>
          <div>
            <p class="nw-text-base md:nw-text-md nw-font-bold nw-pb-1 md:nw-pb-0">
              {{this.autoren-name}}</p>
            <p class="nw-text-sm md:nw-text-md nw-text-gray-500">
              {{this.autoren-caption}}</p>
          </div>
        </div>
        <div class="nw-flex-none">
          <svg
            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor"
            class="nw-w-6 nw-h-6 nw-float-right nw-text-red-0 nw-ml-1 nw-cursor-pointer">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </div>
      </a>
      {{/each}}

