<div class="nw-bg-nw-gray-100 nw-h-16 nw-flex nw-cursor-pointer">
  <div
    class="
      nw-bg-nw-red-100
      nw-h-10
      nw-mx-4
      nw-my-2
      nw-flex-1
      nw-place-content-center
      nw-flex
      nw-place-self-center
    "
  >
    <p
      class="
        nw-text-sm
        nw-text-white
        nw-font-bold
        nw-text-center
        nw-uppercase
        nw-place-self-center
        nw-tracking-wider
      "
    >
      {{buttonText}}
    </p>
  </div>
</div>
