<div>
  <!-- <picture class="nw-aspect-w-3 nw-aspect-h-2">
    <source srcset="{{image-src-m}}" media="(min-width: 376px)" />
    <img
      src="{{image-src-s}}"
      loading="lazy"
      itemprop="image"
      class="nw-object-cover nw-object-center"
    />
  </picture>-->
  <div class="nw-aspect-w-2 nw-aspect-h-1">
    <img class="nw-object-cover nw-h-full nw-w-full" src="{{image-src-m}}" />
  </div>

  <div class="nw-bg-nw-gray-100 nw-px-4 nw-py-2">
    <p class="nw-text-xs nw-text-black">{{caption}} | © Reuters</p>
  </div>
</div>
