<div>
  <!-- <picture class="aspect-w-3 aspect-h-2">
    <source srcset="{{image-src-m}}" media="(min-width: 376px)" />
    <img
      src="{{image-src-s}}"
      loading="lazy"
      itemprop="image"
      class="object-cover object-center"
    />
  </picture>-->
  <div class="aspect-w-2 aspect-h-1">
    <img class="object-cover h-full w-full" src="{{image-src-m}}" />
  </div>

  <div class="bg-nw-gray-100 px-4 py-2">
    <p class="text-xs text-black">{{caption}} | © Reuters</p>
  </div>
</div>
