<div>
  <picture>
    <source srcset="{{image-src-m}}" media="(min-width: 376px)" />
    <img
      src="{{image-src-s}}"
      loading="lazy"
      itemprop="image"
      class="h-56 w-full object-cover object-center"
    />
  </picture>

  <div class="bg-nw-gray-100 px-4 py-2 text-xs">{{caption}} | © Reuters</div>
</div>
