<div class="mx-4 my-2">
  <p
    itemprop="abstract"
    class="
      text-lg
      font-roboto font-medium
      text-nw-gray-500
      tracking-wide
      leading-tight
    "
  >
    {{abstract}}
  </p>
</div>
