<div class="nw-bg-white">
  <div class="nw-mx-4">
    <!-- -->
    {{>'@absolute-image'}}
    <!-- -->
    <div
      class="
        nw-mt-2
        nw-mx-auto
        nw-py-8
        nw-max-w-xl
        nw-text-center
        nw-text-black
        nw-text-base
        nw-font-normal
      "
    >
      Mit den digitalen Angeboten der NW sind Sie immer bestens informiert.
    </div>
    <!-- -->
    <div
      class="
        nw-mt-4 nw-grid nw-grid-cols-1 nw-gap-4
        sm:nw-grid-cols-1
        md:nw-grid-cols-2
      "
    >
      <div class="nw-pb-4">
        <img
          class="nw-rounded-md nw-object-cover nw-w-full"
          src="{{image-src-nw}}"
          alt=""
        />
      </div>
      {{>'@single-page'}}
    </div>
    <!-- -->
    <div class="nw-grid nw-grid-cols-1 md:nw-grid-cols-3 nw-mx-4 nw-mt-2">
      {{>'@single-icon-box'}}
    </div>
    <!-- -->
    <div
      class="
        nw-mt-8 nw-grid nw-grid-cols-1 nw-gap-4
        sm:nw-grid-cols-1
        md:nw-grid-cols-2
      "
    >
      {{>'@single-page-nwepaper'}}
      <div class="nw-pb-4">
        <img
          class="nw-rounded-md nw-object-cover nw-w-full"
          src="{{image-src-ipad}}"
          alt=""
        />
      </div>
    </div>
    <!-- -->
    <div class="nw-grid nw-grid-cols-1 md:nw-grid-cols-3 nw-mx-4 nw-my-4">
      {{>'@single-icon-box2'}}
    </div>
    <!-- -->
    <div
      class="
        nw-mx-4 nw-mt-4 nw-pb-8 nw-grid nw-grid-cols-1 nw-gap-4
        sm:nw-grid-cols-1
        md:nw-grid-cols-3
      "
    >
      <div class="nw-pb-4 nw-pl-2 md:nw-pl-24 nw-col-span-2">
        <div class="nw-relative">
          <div class="tablet-small-circle"></div>
          <div class="slider nw-plus-landingpage border-tablet">
            <div class="embla embla--main-carousel nw-pl-0.5 md:nw-pl-0">
              <div class="embla__viewport relative">
                <div class="embla__container">
                  <div class="embla__slide">
                    <div
                      class="embla__slide__inner nw-bg-clip-padding nw-h-full"
                    >
                      <!-- Head -->
                      <div class="nw-w-full nw-relative">
                        <div
                          class="
                            nw-w-full
                            nw-h-full
                            nw-bg-gray-100
                            nw-top-0
                            nw-left-0
                            nw-absolute
                            nw-opacity-80
                          "
                        ></div>
                        <div
                          class="
                            nw-w-full
                            nw-h-full
                            nw-flex
                            nw-flex-col
                            nw-absolute
                            nw-top-0
                            nw-left-0
                            nw-justify-center
                            nw-items-center
                            nw-z-30
                          "
                        >
                          <div class="nw-text-xl nw-font-bold nw-text-black">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="30"
                              height="30"
                              class="nw-mx-auto icon-transition"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                              stroke-width="2"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M11 19l-7-7 7-7m8 14l-7-7 7-7"
                              />
                            </svg>
                            Hier blättern
                          </div>
                        </div>
                        <img src="/images/nw-plus-landingpage/03.jpg" />
                      </div>
                      <!-- Head1 Ende -->
                    </div>
                  </div>
                  {{#each images}}
                  <div class="embla__slide">
                    <div
                      class="embla__slide__inner nw-bg-clip-padding nw-h-full"
                    >
                      <img src="{{src}}" alt="" />
                    </div>
                  </div>
                  {{/each}}
                </div>
              </div>
            </div>
            <script type="text/template" id="embla-dot-template"></script>
          </div>
          <div class="tablet-circle"></div>
        </div>
      </div>
      <div class="nw-pt-0 md:nw-pt-8 nw-max-w-md nw-px-8">
        <div class="nw-text-lg nw-text-black nw-font-bold">So geht's:</div>
        <span class="nw-text-base nw-text-black nw-font-normal">
          Blättern Sie durch unsere Testausgabe und entdecken Sie die
          wichtigsten Funktionen der digitalen Zeitung.
        </span>
      </div>
    </div>
    <!-- -->
    <div
      class="
        nw-mt-8 nw-grid nw-grid-cols-1 nw-gap-4
        sm:nw-grid-cols-1
        md:nw-grid-cols-2
      "
    >
      {{>'@single-page-nwbundle'}}
      <div class="nw-pb-4">
        <img
          class="nw-rounded-md nw-object-cover nw-w-full"
          src="{{image-src-ipad-ipad}}"
          alt=""
        />
      </div>
    </div>
    <!-- Das ist zum Nutzen aber nicht jetzt -->
    <!--
        <div class="nw-mx-4">
            <div
                class="
                 nw-px-8
                 nw-py-8
                 nw-text-black
                 nw-text-2xl
                 nw-font-bold
                 nw-text-center
                 nw-mx-auto
                 nw-max-w-sm
                 "
                >
                Das sagen unsere Abonnenten
            </div>
            <div class="nw-grid nw-grid-cols-1 md:nw-grid-cols-2 nw-mx-4">
                {{>'@single-card'}}
            </div>
        </div>
         -->
    {{>'@fragen-page'}}
    <!-- -->
  </div>
</div>
