<style>
    .clip-bottom {
        clip-path: polygon(100% 50%, 0 0, 100% 0, 50% 100%, 0 0)
    }
</style>
<div
    class="nw-flex">
    <div class="nw-cursor-pointer nw-mr-2 nw-relative nw-inline-flex">
        <a class="nw-group nw-relative nw-mx-1 nw-flex nw-flex-col nw-items-center nw-justify-center  nw-rounded-full
                nw-border hover:nw-bg-gray-100"
           href="javascript:void(0);">
            <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                 class="nw-w-5 nw-h-5 nw-m-3 nw-text-slate-300" xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 011.037-.443 48.282 48.282 0 005.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"></path>
            </svg>
            <!-- Tooltip here -->
            <div
                class="nw-z-10 nw-absolute nw-bottom-0 nw-mb-6 nw-origin-bottom nw-transform
                        nw-rounded nw-text-white nw-opacity-0  group-hover:nw-opacity-100">
                <div class="nw-flex nw-max-w-xs nw-flex-col nw-items-center">
                    <div class="nw-rounded nw-bg-black nw-p-1 nw-text-xs nw-text-center nw-shadow-lg">Kommentare
                    </div>
                    <div class="clip-bottom nw-h-2 nw-w-4 nw-bg-black"></div>
                </div>
            </div>
        </a>
        <div class="nw-absolute nw-inline-flex nw-items-center nw-justify-center nw-w-7 nw-h-7 nw-text-xs nw-font-bold nw-text-white
            nw-bg-slate-300 nw-border-2 nw-border-white nw-rounded-full nw--top-2 nw--end-2">
            99
        </div>

    </div>
    <div class="nw-cursor-pointer nw-mr-2 nw-relative nw-inline-flex">
        <a class="nw-group nw-relative nw-mx-1 nw-flex nw-flex-col nw-items-center nw-justify-center  nw-rounded-full
                nw-border hover:nw-bg-gray-100"
           href="javascript:void(0);">
            <svg fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24"
                 class="nw-w-5 nw-h-5 nw-m-3 nw-text-slate-300" xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 011.037-.443 48.282 48.282 0 005.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"></path>
            </svg>
            <!-- Tooltip here -->
            <div
                class="nw-z-10 nw-absolute nw-bottom-0 nw-mb-6 nw-origin-bottom nw-transform
                        nw-rounded nw-text-white nw-opacity-0  group-hover:nw-opacity-100">
                <div class="nw-flex nw-max-w-xs nw-flex-col nw-items-center">
                    <div class="nw-rounded nw-bg-black nw-p-1 nw-text-xs nw-text-center nw-shadow-lg">Kommentare
                    </div>
                    <div class="clip-bottom nw-h-2 nw-w-4 nw-bg-black"></div>
                </div>
            </div>
        </a>
        <div class="nw-absolute nw-inline-flex nw-items-center nw-justify-center nw-w-9 nw-h-7 nw-text-xs nw-font-bold nw-text-white
            nw-bg-slate-300 nw-border-2 nw-border-white nw-rounded-full nw--top-2 nw--end-2">
            99+
        </div>

    </div>
</div>