<div class="nw-flex nw-pt-4">
    <div
        class=" nw-border nw-flex nw-items-center nw-rounded-full nw-mr-2 lesezeichen-li">
        <a href="javascript:void(0);"><i class="nw-bookmark"></i></a>
    </div>
    <div class="nw-border nw-rounded-full nw-mr-2 nw-group ">
        <a href="javascript:void(0);" class="">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 7.072 14"
                class="nw-w-4 nw-h-4 nw-m-2 nw-text-custom-1-700"
            >
                <g id="facebook" transform="translate(-76.703)">
                    <path
                        id="XMLID_835_"
                        d="M76.929,7.456h1.535v6.318a.226.226,0,0,0,.226.226h2.6a.226.226,0,0,0,.226-.226V7.486h1.764a.226.226,0,0,0,.224-.2l.268-2.326a.226.226,0,0,0-.224-.252H81.517V3.251c0-.44.237-.662.7-.662h1.329a.226.226,0,0,0,.226-.226V.227A.226.226,0,0,0,83.549,0H81.718l-.084,0A3.509,3.509,0,0,0,79.34.865,2.406,2.406,0,0,0,78.54,3v1.7H76.929a.226.226,0,0,0-.226.226v2.3A.226.226,0,0,0,76.929,7.456Z"
                        transform="translate(0)"
                        fill="#4a5568"
                    />
                </g>
            </svg>
        </a>
    </div>
    <div class="nw-cursor-pointer nw-border nw-rounded-full nw-mr-2">
        <a href="javascript:void(0);">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 16.831 14"
                class="nw-w-4 nw-h-4 nw-m-2 nw-text-custom-1-700"
            >
                <path
                    id="twitter"
                    d="M16.563,36.12a6.664,6.664,0,0,1-1.16.391,3.618,3.618,0,0,0,.955-1.521h0a.19.19,0,0,0-.278-.221h0a6.7,6.7,0,0,1-1.774.733.452.452,0,0,1-.111.014.47.47,0,0,1-.311-.119,3.628,3.628,0,0,0-2.4-.906,3.879,3.879,0,0,0-1.15.177A3.515,3.515,0,0,0,7.965,37.2a3.871,3.871,0,0,0-.086,1.336.13.13,0,0,1-.033.1.135.135,0,0,1-.1.045H7.733A9.514,9.514,0,0,1,1.194,35.19h0a.19.19,0,0,0-.311.024h0a3.633,3.633,0,0,0,.59,4.411,3.252,3.252,0,0,1-.828-.32h0a.19.19,0,0,0-.282.164h0a3.633,3.633,0,0,0,2.119,3.347H2.406a3.265,3.265,0,0,1-.611-.058h0A.19.19,0,0,0,1.578,43h0a3.637,3.637,0,0,0,2.873,2.474A6.7,6.7,0,0,1,.7,46.615H.281a.278.278,0,0,0-.272.21.287.287,0,0,0,.138.318,9.959,9.959,0,0,0,5,1.349,10.1,10.1,0,0,0,4.277-.907,9.444,9.444,0,0,0,3.129-2.345,10.28,10.28,0,0,0,1.916-3.209,10.137,10.137,0,0,0,.651-3.512v-.055a.617.617,0,0,1,.231-.481A7.172,7.172,0,0,0,16.8,36.4h0a.19.19,0,0,0-.235-.279Z"
                    transform="translate(0 -34.491)"
                    fill="#4a5568"
                />
            </svg>
        </a>
    </div>
    <div class="nw-cursor-pointer nw-border nw-rounded-full nw-mr-2">
        <a href="javascript:void(0);">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="nw-w-4 nw-h-4 nw-m-2 nw-text-custom-1-700"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75"
                />
            </svg>
        </a>
    </div>
    <div class="nw-cursor-pointer nw-border nw-rounded-full nw-mr-2 nw-relative nw-inline-flex nw-items-center
    nw-text-sm nw-font-medium nw-text-center nw-text-white nw-bg-blue-700 hover:nw-bg-blue-800 focus:nw-ring-4
    focus:nw-outline-none focus:nw-ring-blue-300 dark:nw-bg-blue-600 dark:hover:nw-bg-blue-700 dark:focus:nw-ring-blue-800">
        <a href="javascript:void(0);">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor"
                 class="nw-w-4 nw-h-4 nw-m-2 nw-text-custom-1-700">
                <path stroke-linecap="round" stroke-linejoin="round"
                      d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z"/>
            </svg>
        </a>
        <div class="nw-absolute nw-inline-flex nw-items-center nw-justify-center nw-w-6 nw-h-6 nw-text-xs nw-font-bold nw-text-white
        nw-bg-custom-1-700 nw-border-2 nw-border-white nw-rounded-full nw--top-2 nw--end-2 dark:nw-border-gray-900">20
        </div>
    </div>
</div>
