<div class="nw-flex nw-pb-4 md:nw-pb-0 nw-mb-6">
  <div class="nw-cursor-pointer  nw-mr-2 ">
    <a href="javascript:void(0);" class="">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="16" cy="16" r="15.5" stroke="#B3B3B3"/>
        <path d="M8.28699 11.714L15.05 16.223C15.3314 16.4104 15.6619 16.5104 16 16.5104C16.3381 16.5104 16.6686 16.4104 16.95 16.223L23.716 11.714" stroke="#4A5568" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M10.001 22H22.001C22.4556 22 22.8915 21.8194 23.213 21.498C23.5344 21.1765 23.715 20.7406 23.715 20.286V11.714C23.715 11.2594 23.5344 10.8235 23.213 10.502C22.8915 10.1806 22.4556 10 22.001 10H10.001C9.7759 10 9.55302 10.0443 9.34507 10.1305C9.13712 10.2166 8.94817 10.3429 8.78901 10.502C8.46757 10.8235 8.28699 11.2594 8.28699 11.714V20.285C8.28686 20.5102 8.33109 20.7332 8.41717 20.9412C8.50325 21.1493 8.62948 21.3384 8.78865 21.4976C8.94783 21.6569 9.13682 21.7832 9.34484 21.8694C9.55285 21.9556 9.77582 22 10.001 22Z" stroke="#4A5568" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </a>
  </div>
  <div class="nw-cursor-pointer nw-mr-2">
    <a href="javascript:void(0);">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="16" cy="16" r="15.5" stroke="#B3B3B3"/>
        <path d="M12.6909 16.456H14.2259V22.774C14.2259 22.8339 14.2497 22.8914 14.2921 22.9338C14.3345 22.9762 14.3919 23 14.4519 23H17.0519C17.1118 23 17.1693 22.9762 17.2117 22.9338C17.2541 22.8914 17.2779 22.8339 17.2779 22.774V16.486H19.0419C19.0972 16.4859 19.1506 16.4654 19.1919 16.4286C19.2332 16.3917 19.2595 16.341 19.2659 16.286L19.5339 13.96C19.5375 13.9284 19.5345 13.8963 19.5249 13.866C19.5153 13.8356 19.4994 13.8076 19.4783 13.7839C19.4571 13.7601 19.4312 13.741 19.4022 13.7279C19.3732 13.7149 19.3417 13.7081 19.3099 13.708H17.2789V12.251C17.2789 11.811 17.5159 11.589 17.9789 11.589H19.3079C19.3678 11.589 19.4253 11.5652 19.4677 11.5228C19.5101 11.4804 19.5339 11.4229 19.5339 11.363V9.227C19.5341 9.1674 19.5109 9.11011 19.4691 9.0676C19.4273 9.02509 19.3705 9.00079 19.3109 9H17.4799H17.3959C16.5521 9.00314 15.7377 9.31023 15.1019 9.865C14.8024 10.127 14.5725 10.4591 14.4329 10.8317C14.2933 11.2043 14.2483 11.6057 14.3019 12V13.7H12.6909C12.6309 13.7 12.5735 13.7238 12.5311 13.7662C12.4887 13.8086 12.4649 13.8661 12.4649 13.926V16.226C12.4643 16.256 12.4698 16.2858 12.4809 16.3137C12.492 16.3416 12.5086 16.367 12.5296 16.3884C12.5507 16.4098 12.5758 16.4268 12.6035 16.4384C12.6311 16.45 12.6609 16.456 12.6909 16.456Z" fill="#4A5568"/>
      </svg>
    </a>
  </div>
  <div class="nw-cursor-pointer nw-mr-2">
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="16" cy="16" r="15.5" stroke="#B3B3B3"/>
      <path d="M17.153 14.928L22.252 9H21.044L16.616 14.147L13.079 9H9L14.348 16.784L9 23H10.209L14.885 17.564L18.62 23H22.7L17.153 14.928ZM15.5 16.852L14.958 16.077L10.644 9.91H12.5L15.98 14.887L16.522 15.662L21.045 22.132H19.188L15.5 16.852Z" fill="#4A5568"/>
    </svg>
  </div>
  <div class="nw-cursor-pointer">
    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="16" cy="16" r="15.5" stroke="#B3B3B3"/>
      <path d="M16 9.442C18.136 9.442 18.3893 9.45 19.2333 9.48867C21.4013 9.58733 22.414 10.616 22.5127 12.768C22.5513 13.6113 22.5587 13.8647 22.5587 16.0007C22.5587 18.1373 22.5507 18.39 22.5127 19.2333C22.4133 21.3833 21.4033 22.414 19.2333 22.5127C18.3893 22.5513 18.1373 22.5593 16 22.5593C13.864 22.5593 13.6107 22.5513 12.7673 22.5127C10.594 22.4133 9.58667 21.38 9.488 19.2327C9.44933 18.3893 9.44133 18.1367 9.44133 16C9.44133 13.864 9.45 13.6113 9.488 12.7673C9.58733 10.616 10.5973 9.58667 12.7673 9.488C13.6113 9.45 13.864 9.442 16 9.442ZM16 8C13.8273 8 13.5553 8.00933 12.702 8.048C9.79667 8.18133 8.182 9.79333 8.04867 12.7013C8.00933 13.5553 8 13.8273 8 16C8 18.1727 8.00933 18.4453 8.048 19.2987C8.18133 22.204 9.79333 23.8187 12.7013 23.952C13.5553 23.9907 13.8273 24 16 24C18.1727 24 18.4453 23.9907 19.2987 23.952C22.2013 23.8187 23.82 22.2067 23.9513 19.2987C23.9907 18.4453 24 18.1727 24 16C24 13.8273 23.9907 13.5553 23.952 12.702C23.8213 9.79933 22.2073 8.182 19.2993 8.04867C18.4453 8.00933 18.1727 8 16 8ZM16 11.892C13.7313 11.892 11.892 13.7313 11.892 16C11.892 18.2687 13.7313 20.1087 16 20.1087C18.2687 20.1087 20.108 18.2693 20.108 16C20.108 13.7313 18.2687 11.892 16 11.892ZM16 18.6667C14.5273 18.6667 13.3333 17.4733 13.3333 16C13.3333 14.5273 14.5273 13.3333 16 13.3333C17.4727 13.3333 18.6667 14.5273 18.6667 16C18.6667 17.4733 17.4727 18.6667 16 18.6667ZM20.2707 10.77C19.74 10.77 19.31 11.2 19.31 11.73C19.31 12.26 19.74 12.69 20.2707 12.69C20.8007 12.69 21.23 12.26 21.23 11.73C21.23 11.2 20.8007 10.77 20.2707 10.77Z" fill="#4A5568"/>
    </svg>
  </div>
</div>