<div class="mx-4 my-2">
  <p class="text-base font-roboto">
    Ihre Beschreibungen des Phänomens Arminia sind vielfältig und
    aufschlussreich, aber weil sich dieses so spezielle und individuelle
    schwarz-weiß-blaue Lebensgefühl eben doch nicht vollständig in Worte fassen
    lässt, helfen Lowrie und Janzen mit Bildern nach. Vor allem in ihnen
    entfaltet sich die volle Emotionalität des Films. Bei Zuschauern, die den
    guten alten Stadion-Besuch in diesen Zeiten so vermissen, wird das womöglich
    wenigstens ein bisschen Kompensation bewirken. Oder aber noch mehr Sehnsucht
    auslösen.
  </p>
</div>
