<style>
  /* Mobile Ansicht (bis 639px) */
  @media (max-width: 639px) {
    .mobile-ansicht {
      max-width: 400px !important;
    }

    .nw-event-portal-bg {
      background-image: url('/images/kommunwahlen.svg') !important;
      background-position: right bottom !important;
      background-size: 50% !important;
      background-repeat: no-repeat;
    }
  }

  @media (min-width: 640px) and (max-width: 1023px) {

    .nw-event-portal-bg {
      background-image: url('/images/tablet-kommunwahlen.svg') !important;
      background-position: calc(50% + 150px) center;
      background-size: 60%;
      background-repeat: no-repeat;
    }
  }

  /* Desktop Ansicht (ab 640px) */
  @media (min-width: 1024px) {
    .mobile-ansicht {
      max-width: none;
    }

    .nw-event-portal-bg {
      background-image: url('/images/desktop-kommunwahlen.svg') !important;
      background-position: calc(100% + 20px) center;
      background-size: 45%;
      background-repeat: no-repeat;
    }
  }
</style>

<!-- Mobile- und Desktop-Ansicht -->
<div
  class="mobile-ansicht nw-flex sm:nw-hidden lg:nw-flex nw-flex-col md:nw-flex-row nw-pl-4 nw-justify-between
  nw-rounded-md nw-mx-auto nw-text-white nw-mb-6 nw-gap-0 md:nw-gap-4 nw-pt-4 md:nw-py-0 nw-bg-[#2F3642] nw-event-portal-bg"
  style=" max-width: 950px; ">
  <div class="nw-flex nw-justify-between md:nw-justify-start nw-items-start sm:nw-items-center ">
    <div class="nw-order-last md:nw-order-first nw-mr-4"><img src="/images/logo-nw-short-border.svg" alt="" width="32"
                                                              height="32" /></div>
    <div class="nw-mr-4 md:nw-flex">
      <p class="nw-text-md md:nw-text-lg nw-font-bold nw-pr-2 nw-whitespace-nowrap">
        Kommunalwahl 2025: </p>
      <p class="nw-text-base md:nw-text-lg nw-whitespace-nowrap">Liveticker | News | Ergebnisse</p>
    </div>
  </div>
  <div class="nw-hidden md:nw-flex nw-overflow-hidden">
    <svg class="nw--mb-2 nw-mr-[32px] nw-overflow-hidden nw-mt-2" width="50" height="70" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 50 55" fill="none">
      <path d="M42.7536 58.6957V63.0435H7.24638V58.6957H42.7536ZM45.6522 55.7971V7.24638C45.6522 5.64555 44.3545 4.34783 42.7536 4.34783H7.24638C5.64555 4.34783 4.34783 5.64555 4.34783 7.24638V55.7971C4.34783 57.3979 5.64555 58.6957 7.24638 58.6957V63.0435C3.24431 63.0435 0 59.7992 0 55.7971V7.24638C7.23643e-07 3.36939 3.04469 0.203292 6.87344 0.0091995L7.24638 0H42.7536L43.1266 0.0091995C46.9553 0.203293 50 3.36939 50 7.24638V55.7971L49.9908 56.17C49.7967 59.9988 46.6306 63.0435 42.7536 63.0435V58.6957C44.3544 58.6957 45.6522 57.3979 45.6522 55.7971Z" fill="white"/>
      <path d="M37.6821 17.7537C37.6821 15.5526 35.8977 13.7682 33.6966 13.7682C31.4954 13.7682 29.7111 15.5526 29.7111 17.7537C29.7111 19.9548 31.4954 21.7392 33.6966 21.7392V24.6377C29.8946 24.6377 26.8125 21.5556 26.8125 17.7537C26.8125 13.9517 29.8946 10.8696 33.6966 10.8696C37.4985 10.8696 40.5806 13.9517 40.5806 17.7537C40.5806 21.5556 37.4985 24.6377 33.6966 24.6377V21.7392C35.8977 21.7392 37.6821 19.9548 37.6821 17.7537Z" fill="white"/>
      <path d="M28.6274 22.5436C28.7853 22.9225 28.9932 23.8807 29.505 23.9122C29.8959 23.9364 30.3196 23.3998 30.5608 23.1552C31.3822 22.3221 32.8085 20.3272 33.8814 19.7468C34.4949 19.4149 35.4841 19.8227 36.0225 20.2186C37.3798 21.2166 38.5176 22.3905 40.0826 23.2122C40.6586 23.5148 42.1312 24.2015 42.0243 23.4879C41.7486 21.6476 39.5688 20.1072 38.3495 18.8065C37.9786 18.4109 36.8135 17.6014 36.8135 16.9902C36.8133 16.017 37.9739 15.1756 38.7066 14.3881C40.3111 12.6634 42.814 9.412 40.3128 10.2937C39.2579 10.6656 37.6821 11.9522 36.3427 12.9468C35.0033 13.9416 34.6506 14.6402 33.7388 14.2982C32.827 13.956 31.983 11.7102 30.7922 10.9604C29.4123 10.0912 28.7351 10.9388 28.3025 12.584C27.7493 14.6876 33.0452 15.5478 31.0747 17.9686C29.1032 20.3889 28.151 21.3979 28.628 22.5436" fill="#D20A11"/>
      <path d="M37.6821 39.4927C37.6821 37.2916 35.8977 35.5072 33.6966 35.5072C31.4954 35.5072 29.7111 37.2916 29.7111 39.4927C29.7111 41.6938 31.4954 43.4782 33.6966 43.4782V46.3768C29.8946 46.3768 26.8125 43.2947 26.8125 39.4927C26.8125 35.6907 29.8946 32.6086 33.6966 32.6086C37.4985 32.6086 40.5806 35.6907 40.5806 39.4927C40.5806 43.2947 37.4985 46.3768 33.6966 46.3768V43.4782C35.8977 43.4782 37.6821 41.6938 37.6821 39.4927Z" fill="white"/>
      <path d="M23.9127 13.0435C24.7131 13.0435 25.362 13.6923 25.362 14.4927C25.362 15.2931 24.7131 15.942 23.9127 15.942H10.8692C10.0688 15.942 9.41992 15.2931 9.41992 14.4927C9.41992 13.6923 10.0688 13.0435 10.8692 13.0435H23.9127Z" fill="white"/>
      <path d="M23.9127 34.7826C24.7131 34.7826 25.362 35.4315 25.362 36.2319C25.362 37.0323 24.7131 37.6811 23.9127 37.6811H10.8692C10.0688 37.6811 9.41992 37.0323 9.41992 36.2319C9.41992 35.4315 10.0688 34.7826 10.8692 34.7826H23.9127Z" fill="white"/>
      <path d="M18.8402 18.116C19.6406 18.116 20.2895 18.7648 20.2895 19.5652C20.2895 20.3657 19.6406 21.0145 18.8402 21.0145H10.8692C10.0688 21.0145 9.41992 20.3657 9.41992 19.5652C9.41992 18.7648 10.0688 18.116 10.8692 18.116H18.8402Z" fill="white"/>
      <path d="M18.8402 39.8551C19.6406 39.8551 20.2895 40.504 20.2895 41.3044C20.2895 42.1048 19.6406 42.7537 18.8402 42.7537H10.8692C10.0688 42.7537 9.41992 42.1048 9.41992 41.3044C9.41992 40.504 10.0688 39.8551 10.8692 39.8551H18.8402Z" fill="white"/>
    </svg>
  </div>
  <div class="nw-flex nw-items-center nw-justify-between nw-items-start nw-mr-4">
    <div class="nw-pt-4 nw-mb-2 md:nw-mb-4">
      <a href="#" class="nw-btn-primary-md"> Zur Themenseite </a>
    </div>
    <div class="nw-flex md:nw-hidden nw-overflow-hidden nw--mr-2">
      <svg class="nw--mb-2 nw-mr-[54px] nw-overflow-hidden"  xmlns="http://www.w3.org/2000/svg" width="70" height="90" viewBox="0 0 50 55" fill="none">
        <path d="M42.7536 58.6957V63.0435H7.24638V58.6957H42.7536ZM45.6522 55.7971V7.24638C45.6522 5.64555 44.3545 4.34783 42.7536 4.34783H7.24638C5.64555 4.34783 4.34783 5.64555 4.34783 7.24638V55.7971C4.34783 57.3979 5.64555 58.6957 7.24638 58.6957V63.0435C3.24431 63.0435 0 59.7992 0 55.7971V7.24638C7.23643e-07 3.36939 3.04469 0.203292 6.87344 0.0091995L7.24638 0H42.7536L43.1266 0.0091995C46.9553 0.203293 50 3.36939 50 7.24638V55.7971L49.9908 56.17C49.7967 59.9988 46.6306 63.0435 42.7536 63.0435V58.6957C44.3544 58.6957 45.6522 57.3979 45.6522 55.7971Z" fill="white"/>
        <path d="M37.6821 17.7537C37.6821 15.5526 35.8977 13.7682 33.6966 13.7682C31.4954 13.7682 29.7111 15.5526 29.7111 17.7537C29.7111 19.9548 31.4954 21.7392 33.6966 21.7392V24.6377C29.8946 24.6377 26.8125 21.5556 26.8125 17.7537C26.8125 13.9517 29.8946 10.8696 33.6966 10.8696C37.4985 10.8696 40.5806 13.9517 40.5806 17.7537C40.5806 21.5556 37.4985 24.6377 33.6966 24.6377V21.7392C35.8977 21.7392 37.6821 19.9548 37.6821 17.7537Z" fill="white"/>
        <path d="M28.6274 22.5436C28.7853 22.9225 28.9932 23.8807 29.505 23.9122C29.8959 23.9364 30.3196 23.3998 30.5608 23.1552C31.3822 22.3221 32.8085 20.3272 33.8814 19.7468C34.4949 19.4149 35.4841 19.8227 36.0225 20.2186C37.3798 21.2166 38.5176 22.3905 40.0826 23.2122C40.6586 23.5148 42.1312 24.2015 42.0243 23.4879C41.7486 21.6476 39.5688 20.1072 38.3495 18.8065C37.9786 18.4109 36.8135 17.6014 36.8135 16.9902C36.8133 16.017 37.9739 15.1756 38.7066 14.3881C40.3111 12.6634 42.814 9.412 40.3128 10.2937C39.2579 10.6656 37.6821 11.9522 36.3427 12.9468C35.0033 13.9416 34.6506 14.6402 33.7388 14.2982C32.827 13.956 31.983 11.7102 30.7922 10.9604C29.4123 10.0912 28.7351 10.9388 28.3025 12.584C27.7493 14.6876 33.0452 15.5478 31.0747 17.9686C29.1032 20.3889 28.151 21.3979 28.628 22.5436" fill="#D20A11"/>
        <path d="M37.6821 39.4927C37.6821 37.2916 35.8977 35.5072 33.6966 35.5072C31.4954 35.5072 29.7111 37.2916 29.7111 39.4927C29.7111 41.6938 31.4954 43.4782 33.6966 43.4782V46.3768C29.8946 46.3768 26.8125 43.2947 26.8125 39.4927C26.8125 35.6907 29.8946 32.6086 33.6966 32.6086C37.4985 32.6086 40.5806 35.6907 40.5806 39.4927C40.5806 43.2947 37.4985 46.3768 33.6966 46.3768V43.4782C35.8977 43.4782 37.6821 41.6938 37.6821 39.4927Z" fill="white"/>
        <path d="M23.9127 13.0435C24.7131 13.0435 25.362 13.6923 25.362 14.4927C25.362 15.2931 24.7131 15.942 23.9127 15.942H10.8692C10.0688 15.942 9.41992 15.2931 9.41992 14.4927C9.41992 13.6923 10.0688 13.0435 10.8692 13.0435H23.9127Z" fill="white"/>
        <path d="M23.9127 34.7826C24.7131 34.7826 25.362 35.4315 25.362 36.2319C25.362 37.0323 24.7131 37.6811 23.9127 37.6811H10.8692C10.0688 37.6811 9.41992 37.0323 9.41992 36.2319C9.41992 35.4315 10.0688 34.7826 10.8692 34.7826H23.9127Z" fill="white"/>
        <path d="M18.8402 18.116C19.6406 18.116 20.2895 18.7648 20.2895 19.5652C20.2895 20.3657 19.6406 21.0145 18.8402 21.0145H10.8692C10.0688 21.0145 9.41992 20.3657 9.41992 19.5652C9.41992 18.7648 10.0688 18.116 10.8692 18.116H18.8402Z" fill="white"/>
        <path d="M18.8402 39.8551C19.6406 39.8551 20.2895 40.504 20.2895 41.3044C20.2895 42.1048 19.6406 42.7537 18.8402 42.7537H10.8692C10.0688 42.7537 9.41992 42.1048 9.41992 41.3044C9.41992 40.504 10.0688 39.8551 10.8692 39.8551H18.8402Z" fill="white"/>
      </svg>
    </div>
  </div>
</div>

<!-- Tablet-Ansicht -->

<div class="nw-hidden sm:nw-block lg:nw-hidden  nw-flex-col md:nw-flex-row
nw-px-4  nw-rounded-md nw-mx-auto nw-text-white nw-mb-6 nw-gap-4 nw-bg-[#2F3642] nw-event-portal-bg"
     style=" max-width: 950px;">
  <div class="nw-flex nw-justify-between ">
    <div class="nw-order-last nw-pt-4 nw-pb-6 nw-flex nw-items-center " style="align-items: center !important;">
      <div>
        <a href="#" class="nw-btn-primary-md ">
          Zur Übersicht
        </a>
      </div>
    </div>
    <div class="nw-pb-6">
      <div class=" nw-flex nw-pt-4 nw-pb-2.5 nw-items-center">
        <div class="nw-mr-3 ">
          <img
            src="/images/logo-nw-short-border.svg"
            alt=""
            width="32"
            height="32"
          />
        </div>
        <div>
          <p class="nw-text-lg nw-font-bold nw-pr-2">Kommunalwahl 2025:</p>
        </div>
      </div>
      <div class="nw-text-lg">Liveticker | News | Ergebnisse</div>
    </div>
    <div
      class="nw-hidden sm:nw-flex nw-justify-center nw-w-1/3 nw-overflow-hidden nw-place-items-end nw-content-end nw-items-end">
      <div class="nw--mb-5">
        <svg xmlns="http://www.w3.org/2000/svg" width="80" height="120" viewBox="0 0 70 77" fill="none" class="nw--mt-12">
          <path d="M59.5 81V87H10.5V81H59.5ZM63.5 77V10C63.5 7.79086 61.7091 6 59.5 6H10.5C8.29086 6 6.5 7.79086 6.5 10V77C6.5 79.2091 8.29086 81 10.5 81V87C4.97715 87 0.5 82.5229 0.5 77V10C0.500001 4.64975 4.70167 0.280543 9.98535 0.0126953L10.5 0H59.5L60.0146 0.0126953C65.2983 0.280544 69.5 4.64975 69.5 10V77L69.4873 77.5146C69.2195 82.7983 64.8503 87 59.5 87V81C61.7091 81 63.5 79.2091 63.5 77Z" fill="white"/>
          <path d="M52.5 24.5C52.5 21.4624 50.0376 19 47 19C43.9624 19 41.5 21.4624 41.5 24.5C41.5 27.5376 43.9624 30 47 30V34C41.7533 34 37.5 29.7467 37.5 24.5C37.5 19.2533 41.7533 15 47 15C52.2467 15 56.5 19.2533 56.5 24.5C56.5 29.7467 52.2467 34 47 34V30C50.0376 30 52.5 27.5376 52.5 24.5Z" fill="white"/>
          <path d="M40.0047 31.1102C40.2226 31.6331 40.5095 32.9554 41.2157 32.9989C41.7551 33.0323 42.3399 32.2917 42.6727 31.9542C43.8062 30.8045 45.7745 28.0516 47.2552 27.2507C48.1018 26.7926 49.4669 27.3554 50.2099 27.9017C52.083 29.2789 53.6531 30.8989 55.8128 32.0329C56.6076 32.4505 58.6399 33.3981 58.4924 32.4133C58.1119 29.8738 55.1038 27.748 53.4211 25.9531C52.9093 25.4072 51.3014 24.29 51.3014 23.4465C51.3012 22.1034 52.9028 20.9424 53.9139 19.8557C56.1282 17.4755 59.5822 12.9886 56.1305 14.2054C54.6748 14.7186 52.5002 16.4941 50.6518 17.8667C48.8034 19.2395 48.3167 20.2036 47.0584 19.7315C45.8001 19.2593 44.6353 16.1602 42.9921 15.1254C41.0877 13.9259 40.1533 15.0956 39.5562 17.366C38.7928 20.269 46.1012 21.456 43.3818 24.7967C40.6613 28.1367 39.3472 29.5291 40.0055 31.1102" fill="#D20A11"/>
          <path d="M52.5 54.5C52.5 51.4624 50.0376 49 47 49C43.9624 49 41.5 51.4624 41.5 54.5C41.5 57.5376 43.9624 60 47 60V64C41.7533 64 37.5 59.7467 37.5 54.5C37.5 49.2533 41.7533 45 47 45C52.2467 45 56.5 49.2533 56.5 54.5C56.5 59.7467 52.2467 64 47 64V60C50.0376 60 52.5 57.5376 52.5 54.5Z" fill="white"/>
          <path d="M33.5 18C34.6046 18 35.5 18.8954 35.5 20C35.5 21.1046 34.6046 22 33.5 22H15.5C14.3954 22 13.5 21.1046 13.5 20C13.5 18.8954 14.3954 18 15.5 18H33.5Z" fill="white"/>
          <path d="M33.5 48C34.6046 48 35.5 48.8954 35.5 50C35.5 51.1046 34.6046 52 33.5 52H15.5C14.3954 52 13.5 51.1046 13.5 50C13.5 48.8954 14.3954 48 15.5 48H33.5Z" fill="white"/>
          <path d="M26.5 25C27.6046 25 28.5 25.8954 28.5 27C28.5 28.1046 27.6046 29 26.5 29H15.5C14.3954 29 13.5 28.1046 13.5 27C13.5 25.8954 14.3954 25 15.5 25H26.5Z" fill="white"/>
          <path d="M26.5 55C27.6046 55 28.5 55.8954 28.5 57C28.5 58.1046 27.6046 59 26.5 59H15.5C14.3954 59 13.5 58.1046 13.5 57C13.5 55.8954 14.3954 55 15.5 55H26.5Z" fill="white"/>
        </svg>
      </div>
    </div>
  </div>
</div>
















