<div class="nw-p-4 nw-bg-purple-50 nw-rounded nw-cursor-pointer nw-border-2 nw-border-purple-200 nw-transition-all nw-duration-300
hover:nw-border-purple-500 hover:nw-bg-purple-100">
  <h3 class="nw-font-medium nw-text-purple-900">Border Animation</h3>
  <p class="nw-text-sm nw-text-purple-700">Hover to see border change</p>
</div>