<div id="newarticle">
    <div class="nw-container">
        <div>
            {{>@header-full--lokal}}
        </div>
        <div class="nw-bg-white">
            <div class="sm:nw-w-5/6 nw-mx-auto nw-px-4 lg:nw-px-0 nw-bg-white nw-pb-10">
                <a href="#"
                   class="nw-py-3 nw-px-4 nw-bg-gray-100 nw-inline-flex nw-items-center nw-font-bold nw-text-base nw-leading-6 nw-rounded-md nw-mb-10 nw-mt-4">
                    <svg class="nw-h-5 nw-w-5 nw-mr-1" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75"/>
                    </svg>
                    Zurück zu den Lesepaten
                </a>
                <div class="sm:nw-max-w-lg">
                    <div class="nw-font-medium nw-text-gray-600 nw-text-md nw-leading-6 nw-mb-2">
                        Daniel Einhäuser
                    </div>
                    <div class="nw-font-bold nw-text-2xl nw-mb-4">
                        Gehring-Bunte Getränkeindustrie GmbH & Co. KG Bielefeld
                    </div>
                    <div class="nw-text-base nw-leading-6 nw-mb-6">
                        „Ich habe meinen Kindern immer Kinderbücher vorgelesen und das hat vermutlich dazu
                        beigetragen, dass
                        alle drei gerne lesen. So ist es doch auch beim Zeitunglesen: das Angebot schafft die
                        Nachfrage und
                        führt im besten Fall dazu,
                        junge Menschen für das Medium zu begeistern. Natürlich machen wir bei den Lesepaten sehr
                        gerne mit,
                        denn sich breit zu informieren und zu bilden, ist die beste Versicherung dagegen, Populisten
                        und
                        Falschmeldungen auf den Leim zu gehen."
                        <br>
                        <br>Daniel Einhäuser, März 2023
                    </div>
                    <div class="nw-font-medium nw-text-md">
                        <p class="nw-leading-6">Diese Schule wird gefördert:</p>
                        <a href="#" class="nw-text-red-500 nw-underline nw-cursor-pointer"> Gesamtschule Friedenstal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
