<div>
  <div
    class="
      nw-uppercase
      nw-text-xl
      nw-text-black
      nw-font-bold
      nw-text-center
      nw-pb-2
      nw-pt-4
      nw-px-8
    "
  >
    Top-Torschützen
  </div>
  <div class="nw-bg-white nw-mt-2">
    <div class="nw-relative nw-overflow-x-auto nw-mx-2 nw-pt-1">
      <table class="nw-w-full nw-text-sm nw-text-left nw-text-black">
        <thead class="nw-text-sm nw-border-b">
          <tr class="nw-uppercase">
            <th scope="col" class="nw-pr-2 nw-py-2">Spieler/Position</th>
            <th scope="col" class="nw-py-2">Verein</th>
            <th scope="col" class="nw-text-right nw-py-2">Tore</th>
          </tr>
        </thead>
        <tbody>
          <tr class="nw-text-sm nw-font-bold">
            <th scope="row" class="nw-py-2 nw-whitespace-nowrap nw-flex">
              <img
                class="nw-w-10 nw-h-10 nw-rounded-md"
                src="/images/sport-news/IMG-Spieler02.jpg"
                alt=""
              />
              <div class="nw-pl-1">
                Masaya Okogawa
                <div class="nw-text-xs nw-text-gray-400 nw-font-normal">
                  Offensives Mittelfeld
                </div>
              </div>
            </th>
            <td class="nw-py-2"></td>
            <td class="nw-text-right nw-py-2">1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
