<style>
  @keyframes slideIn {
    from {
      transform: translate(-50%, 100%);
    }
    to {
      transform: translate(-50%, -50%);
    }
  }

  @keyframes slideOut {
    from {
      transform: translate(-50%, -50%);
    }
    to {
      transform: translate(-50%, 100%);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }


  @media (max-width: 639px) {
    .confirmation2 {
      height: 100%;
      width: 100% !important;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 20%;
      border-radius:24px !important;
    }
  }

</style>
<div class="nw-relative nw-login-container  ">
<span id="nw-login-button">
<svg xmlns="http://www.w3.org/2000/svg" class="nw-h-8 nw-w-8" viewBox="0 0 20 20" fill="currentColor" width="20" height="20">
<path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z" clip-rule="evenodd"></path>
</svg>
</span>
  <div id="nw-loginbox" class="confirmation2 nw-hidden nw-fixed nw-top-1/2 sm:nw-top-1/2 nw-left-1/2 nw-transform -nw-translate-x-1/2
  nw-p-4 nw-bg-white nw-rounded-lg nw-mx-auto nw-z-50 nw-border nw-border-gray-100
  nw-shadow-md" style="z-index: 2147483647; width: 320px; ">


    <div id="nw-close-button" class="  nw-text-gray-500 nw-text-xl nw-flex nw-justify-end
    nw-cursor-pointer hover:nw-text-black"
    >
      ×
    </div>
    <div class="nw-mb-4">
      <p class="nw-text-lg nw-font-bold"> Jetzt Anmelden
      </p>
    </div>

    <form action="{{ login_action }}" name="my_anmeldung_navbar" id="my_anmeldung_navbar" class="myonline-login-page-form" role="form" method="post"
          onsubmit="return em_myonline_check(this)" accept-charset="utf-8">
      <div id="em_login_error_destination"></div>
      <div class="nw-mb-2">
        <label for="email-address" class="nw-sr-only">E-Mail Adresse</label>
        <input type="email" name="my_user" id="email-address" autocomplete="email" required class="nw-rounded nw-appearance-none nw-min-w-0
        nw-w-full nw-bg-white nw-border nw-nw-border-transparent nw-nw-rounded nw-py-2 nw-px-3 nw-text-base
        nw-text-black nw-placeholder-gray-200" placeholder="E-Mail">
      </div>
      <div class="nw-mb-3">
        <label for="passwort" class="nw-sr-only">Passwort</label>
        <div class="nw-relative">
          <div class="nw-absolute nw-right-2 nw-cursor-pointer nw-z-999 nw-m-auto">
            <div class="nw-relative">
              <span id="eye-login-icon" class="nw-mr-1 nw-mt-2 nw-flex nw-justify-center" onclick="passwordToggleInLoginbox();">
                <img id="eye-login-img" class="nw-w-6 nw-h-6 nw-overflow-clip-margin-content-box nw-overflow-clip nw-opacity-60" alt="svg"
                     src="https://www.nw.de/_em_daten/locals/module/nw/_includes/twig/current/public/images/eye-slash.svg">
              </span>
            </div>
          </div>
          <input type="password" name="my_pass" id="loginPassword" autocomplete="password" required class="nw-rounded nw-appearance-none nw-min-w-0
          nw-w-full nw-bg-white nw-border nw-nw-border-transparent nw-nw-rounded nw-py-2 nw-px-3 nw-text-tiny
          nw-text-black nw-placeholder-gray-200" placeholder="Passwort">
        </div>
      </div>
      <div class="nw-text-right nw-mb-4 nw-text-xs">
        <div>
          <a href="/profil/?pid=7" class="nw-text-gray-600 hover:nw-underline"
             onclick="_paq.push(['trackEvent', 'Menü', device + ' Login', 'Passwort vergessen']);">
            Passwort vergessen?
          </a>
        </div>
      </div>
      <div class="nw-mb-4">
        <label class="nw-flex nw-items-center nw-space-x-1">
          <input type="checkbox" id="my_auto_login_inline_head" name="my_auto_login" value="1" style="margin-top:0" class="nw-rounded nw-form-tick nw-border
          nw-nw-border-gray-200 nw-appearance-none nw-h-3 nw-w-3 nw-outline-none checked:nw-bg-gray-400 focus:outline-none">
          <span class="nw-text-gray-500 nw-text-xs nw-font-medium">Angemeldet bleiben</span>
        </label>
      </div> <!--
      {% if too_many_logins == true %}
      <div class="nw-mb-3">
        <label class="nw-flex nw-items-center nw-space-x-1">
          <input id="my_reset_login_session_inline" name="my_reset_login_session" value="1" type="checkbox"
                 style="margin-top:0"
                 class="
                        nw-rounded
        nw-form-tick
        nw-border
        nw-nw-border-gray-200
        nw-appearance-none
        nw-h-3
        nw-w-3
        nw-mt-0
        nw-outline-none
        checked:nw-bg-gray-400
        focus:outline-none"
        />
          <span class="nw-text-gray-500 nw-text-xs nw-font-medium">Bestehende Login-Sitzungen beenden</span>
        </label>
      </div>
      {% endif %} -->
      <div class="nw-mb-6">
        <button id="loginButton" type="button" class="for-tracking nw-btn-primary nw-bg-red-0 nw-mx-auto"
                data-tracking-event="profil-login-click"
                onclick="jQuery('#my_anmeldung_navbar').submit();">
          Anmelden
        </button>
      </div>
    </form>

    <div class="nw-text-center">
      <p class="nw-text-sm nw-pb-3">Sie haben noch keinen Zugang?</p>
      <div class="nw-font-medium">
        <div>
          <a href="/profil/?pid=2&amp;em_event=Article-Need-Login"
             data-tracking-event="profil-register-click"
             class="nw-for-tracking nw-text-sm nw-font-bold nw-underline nw-text-red-0 hover:nw-text-red-100">
            Hier kostenlos registrieren
          </a>
        </div>
      </div>
    </div>
  </div>

  <div id="background-popup" class="nw-hidden"></div>
</div>
