<div
  id="nw-newsticker"
  class="nw-flex nw-text-sm nw-font-medium nw-border-t nw-bg-white nw-border-b"
>
  <div class="embla-newsticker nw-max-w-full">
    <div class="embla-newsticker__viewport nw-overflow-hidden nw-w-full">
      <div class="embla-newsticker__container nw-flex nw-text-sm">
        <div class="embla-newsticker__slide nw-font-medium">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          <span class="nw-text-xs nw-text-gray-500 nw-pt-1 nw-font-normal"
            >vor 2 Min.</span
          >
        </div>
        <div class="embla-newsticker__slide nw-font-medium">
          Mauris porta tortor vel justo euismod vestibulum.
          <span class="nw-text-xs nw-text-gray-500 nw-pt-1">vor 2 Min.</span>
        </div>
        <div class="embla-newsticker__slide nw-font-medium">
          Proin pretium leo efficitur magna porttitor, sit amet viverra erat
          sodales.
          <span class="nw-text-xs nw-text-gray-500 nw-pt-1">vor 2 Min.</span>
        </div>
        <div class="embla-newsticker__slide nw-font-medium">
          Curabitur laoreet neque gravida, pellentesque nibh et, pellentesque
          augue.
          <span class="nw-text-xs nw-text-gray-500 nw-pt-1">vor 2 Min.</span>
        </div>
        <div class="embla-newsticker__slide nw-font-medium">
          Proin lobortis, elit eu aliquet tristique, lorem lacus tempor libero,
          eget consectetur ligula magna quis dolor.
          <span class="nw-text-xs nw-text-gray-500 nw-pt-1">vor 2 Min.</span>
        </div>
        <div
          class="
            embla-newsticker__slide
            nw-flex nw-flex-wrap nw-justify-center nw-content-center
          "
        >
          <a href="#" class="nw-font-bold nw-border-b-2"> Alle Schlagzeilen </a>
        </div>
      </div>
    </div>
  </div>
</div>
