<div class="nw-bg-custom-1-700 nw-p-4 md:nw-p-8 nw-mb-6">
    <div class="nw-bg-white nw-py-4 nw-px-4 md:nw-max-w-md nw-mx-auto nw-rounded-md">
        <div class="nw-mb-4">
            <p class="nw-text-left
                      nw-text-xl
                      nw-font-bold">
                Paswwort zurücksetzen
            </p>
        </div>
        <div>
            <form name="my_newpass" id="my_newpass" class="" role="form" action="" method="post">
                <input name="code" value="2cl12dc28c8dd0136819b2e79b7bf5" type="hidden">
                <input name="pid" value="9_1" type="hidden">

                <div class="nw-mb-4">
                    <label class="nw-font-medium nw-text-xs nw-uppercase" for="my_pass" id="passwortLabel">
                        Passwort
                    </label>
                    <div class="nw-relative">
                        <div class="nw-absolute nw-right-2
                                    nw-top-3 nw-cursor-pointer
                                    nw-z-999 nw-m-auto">
                            <div class="nw-relative">
                                <span id="eye-icon1" class="nw-mr-2" onclick="passwordToggle('my_pass', 'eye-img1');">
                                    <img id="eye-img1" class="nw-w-5 nw-h-5 nw-overflow-clip-margin-content-box nw-overflow-clip"
                                        src="/images/eye.svg">
                                </span>
                            </div>
                        </div>
                        <input class="nw-w-full nw-px-2 nw-py-3
                                      nw-mx-auto nw-inline-block
                                      nw-border nw-rounded
                                      nw-text-base nw-box-border
                                      nw-cursor-pointer"
                                maxlength="50"
                                type="password"
                                placeholder="Mindestlänge 6 Zeichen"
                                size="11"
                                name="my_pass"
                                id="my_pass" value=""/>
                    </div>
                </div>
                <div class="nw-mb-5">
                    <label class="nw-font-medium nw-text-xs nw-uppercase" for="my_pass2" id="passwortLabel">
                        Passwort wiederholen
                    </label>
                    <div class="nw-relative">
                        <div class="nw-absolute nw-right-2 nw-top-3 nw-cursor-pointer nw-z-999 nw-m-auto">
                            <div class="nw-relative">
                                <span id="eye-icon2"class="nw-mr-2" onclick="passwordToggle('my_pass2', 'eye-img2');">
                                    <img id="eye-img2" class="nw-w-5 nw-h-5 nw-overflow-clip-margin-content-box nw-overflow-clip"
                                         src="/images/eye.svg">
                                </span>
                            </div>
                        </div>
                        <input class="nw-w-full nw-px-2 nw-py-3
                                      nw-mx-auto nw-inline-block
                                      nw-border nw-rounded
                                      nw-text-base nw-box-border
                                      nw-cursor-pointer"
                                maxlength="50"
                                type="password"
                                placeholder=""
                                size="11"
                                name="my_pass2"
                                id="my_pass2" value=""/>
                    </div>
                </div>
                <div>
                    <button type="button"
                            class="nw-mb-4 nw-py-2 nw-px-4 nw-flex nw-justify-center
                            nw-items-center nw-rounded-lg nw-border nw-text-white
                            nw-bg-red-500 nw-border-red-500
                            nw-w-full hover:nw-bg-white hover:nw-text-red-500"
                            onclick="mydaten_check();">Absenden
                    </button>
                    <a href="https://www-test2.nw.de/profil?pid=1"
                        class="nw-flex nw-justify-center
                              nw-items-center nw-text-center nw-rounded-lg nw-border
                              nw-border-gray-500 hover:nw-bg-gray-100  nw-w-full nw-py-2 nw-px-4">
                        zurück zur Anmeldung
                    </a>
                </div>
                <input type="submit" class="nw-hidden">
            </form>
        </div>
    </div>
</div>


<script>
  // Passwort eye-toggle ( Zweimal benutzen)
  function passwordToggle(passwordFieldId, eyeIconId) {
    var passwordField = document.getElementById(passwordFieldId);
    var eyeIcon = document.getElementById(eyeIconId);
    if (passwordField.type === "password") {
      passwordField.type = "text";
      eyeIcon.src = '/images/eye-slash.svg';
    } else {
      passwordField.type = "password";
      eyeIcon.src = '/images/eye.svg';
    }
  }

</script>