
    <div class="nw-flex nw-flex-col nw-text-center nw-max-w-xs nw-mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="nw-w-10 nw-h-10 nw-text-green-600 nw-mx-auto nw-mb-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                  d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
        </svg>
        <p class="nw-font-bold nw-text-2xl nw-leading-8 nw-mb-4"> Vielen Dank!.</p>
        <p class="nw-font-medium nw-text-base nw.leading-6 nw-text-gray-600">Wir freuen uns, dass Sie Lesepate werden möchten und werden uns
        für das weitere Vorgehen in Kürze bei Ihnen melden. </p>

    </div>
