<style>
    .nw-logo-width {
        max-width: 8rem; /* 128px */
    }
</style>
<div class="nw-bg-white nw-pb-4">
    <div>
        <p class=" nw-text-md nw-leading-6 nw-font-bold nw-mb-4">Bitte Überprüfen Sie Ihre Daten</p>
    </div>
    <div class="nw-mb-6">
        <div class="nw-pb-2 nw-border-b nw-flex nw-flex-row nw-justify-between nw-mb-4">
            <div class="nw-uppercase nw-font-medium nw-text-xs nw-leading-5"> IHRE DATEN</div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="nw-w-4 nw-h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"/>
                </svg>
            </div>
        </div>
        <div class="nw-text-sm">
            <p>Heinrich</p>
            <p>Schulte</p>
            <p class="nw-pb-4">heinrichschulte@schueco.de</p>
            <p>+49 15890 4455</p>
            <p>Schueco GmbH Co. & KG</p>
            <p>Bielefelderstr. 99</p>
            <p>33356 Bielefeld</p>
        </div>
    </div>
    <div class="nw-mb-6">
        <div class="nw-pb-2 nw-border-b nw-flex nw-flex-row nw-justify-between nw-mb-4">
            <div class="nw-uppercase nw-font-medium nw-text-xs nw-leading-5"> PATENSCHAFT UND SCHULE</div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="nw-w-4 nw-h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"/>
                </svg>
            </div>
        </div>
        <div>
            <div class="nw-mb-3">
                <p class="nw-uppercase nw-text-gray-300 nw-text-xs">ART DES ABOS</p>
                <p class="nw-text-sm">ePaper</p>
            </div>
            <div class="nw-mb-3">
                <p class="nw-uppercase nw-text-gray-300 nw-text-xs">ANZAHL DER PATENABOS</p>
                <p class="nw-text-sm">3</p>
            </div>
            <div class="nw-mb-3">
                <p class="nw-uppercase nw-text-gray-300 nw-text-xs">LIEFERBEGINN</p>
                <p class="nw-text-sm">1.03.2024</p>
            </div>
            <div class="nw-mb-3">
                <p class="nw-uppercase nw-text-gray-300 nw-text-xs">WUNSCH-SCHULE(N)</p>
                <p class="nw-text-sm">Matthias-Klaudius von Gutenberg Zwiebel Schule</p>
                <p class="nw-text-sm">Einstein-Grundschule von Helmann Bielefeld</p>
            </div>
            <div class="nw-mb-3">
                <p class="nw-uppercase nw-text-gray-300 nw-text-xs">ANMERKUNG</p>
                <p class="nw-text-sm">Keine Anmerkung</p>
            </div>
        </div>
    </div>
    <div class="nw-mb-6">
        <div class="nw-pb-2 nw-border-b nw-flex nw-flex-row nw-justify-between nw-mb-4">
            <div class="nw-uppercase nw-font-medium nw-text-xs nw-leading-5"> PROFIL</div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="nw-w-4 nw-h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"/>
                </svg>
            </div>
        </div>
        <div>
            <div class="nw-mb-4">
                <p class="nw-uppercase nw-text-gray-300 nw-text-xs nw-pb-2">PROFILBILD</p>
                <img class="nw-w-16 nw-h-16 nw-rounded"
                     src="/images/lesepaten/profil-bild.png" alt="profil-bild">
            </div>
            <div class="nw-mb-6">
                <p class="nw-uppercase nw-text-gray-300 nw-text-xs nw-pb-2">PROFILBILD</p>
                <div class="nw-rounded nw-p-3 nw-bg-gray-100 nw-logo-width ">
                    <img class=" nw-w-12 nw-h-9 nw-mx-auto " src="/images/lesepaten/profil.png">
                </div>
            </div>
            <div class="nw-mb-3">
                <p class="nw-uppercase nw-text-gray-300 nw-text-xs">URL ZUR FIRMENWEBSITE</p>
                <p class="nw-text-sm">www.schueco.com</p>

            </div>
            <div class="nw-mb-6">
                <p class="nw-uppercase nw-text-gray-300 nw-text-xs">BESCHREIBUNG</p>
                <p class="nw-text-sm">Matthias-Klaudius von Gutenberg Zwiebel Schule</p>
                <p class="nw-text-sm">Einstein-Grundschule von Helmann Bielefeld</p>
            </div>
        </div>
        <hr>
    </div>
    <div class="nw-mb-4 nw-flex">
        <div>
            <input
                type="checkbox"
                name=""
                id="checkCondition1"
                class=" nw-form-tick nw-border nw-rounded-sm  nw-nw-border-gray-300 nw-appearance-none
                                    nw-cursor-pointer nw-h-4 nw-w-4 checked:nw-bg-gray-600 focus:outline-none"
            />
        </div>
        <div>
            <label class="nw-flex nw-pl-2 nw-items-center nw-space-x-1">
                            <span class=" nw-pr-6 nw-text-gray-700 nw-text-xs nw-font-normal nw-text-left">
                                Die Bestimmungen zum Widerrufsrecht und die <a href="#"
                                                                               class="nw-text-red-500 nw-underline nw-font-medium">
                                Allgemeinen Geschäftsbedingungen </a> habe ich
                                gelesen und ich erkläre mich mit Ihnen einverstanden.
                            </span>
            </label>
        </div>
    </div>
    <div class="nw-mb-6 nw-flex">
        <div>
            <input
                type="checkbox"
                name=""
                id="checkCondition2"
                class=" nw-form-tick nw-border nw-rounded-sm nw-nw-border-gray-300 nw-appearance-none
                        nw-cursor-pointer nw-h-4 nw-w-4  checked:nw-bg-gray-600 focus:outline-none"
            >
        </div>
        <div>
            <label class="nw-flex nw-pl-2 nw-items-center nw-space-x-1">
                <span
                    class=" nw-pr-6 nw-text-gray-700 nw-text-xs nw-font-normal nw-text-left nw-tracking-normal nw-opacity-100">
                    Ich bin damit einverstanden, dass die Neue Westfälische GmbH & Co. KG mich über Verlagsprodukte,
                    Lesevorteile, Leserreisen und Gewinnspiele per Telefon oder E-Mail informieren darf.
                    Meine Einwilligung kann ich jederzeit widerrufen.
                </span>
            </label>
        </div>
    </div>
    <p class="nw-text-xs nw-text-gray-250 nw-mb-6 md:nw-mb-4">Bitte beachten Sie die <a href="#"
                                                                                        class="nw-underline">Datenschutzhinweise.</a>
    </p>
</div>