<div class="nw-bg-white nw-pb-6">
    <div>
        <p id="dangerAlert" class="nw-bg-red-0 nw-text-red-200 nw-px-2
            nw-py-3 nw-mb-4 nw-rounded nw-hidden"> Füllen Sie bitte die roten Felder aus</p>

    </div>
    <!-- 1 -->
    <div>
        <p class=" nw-text-left nw-text-base nw-font-bold nw-mb-4">Ihre
            Daten</p>

    </div>
     <p id="dangeralert" class="nw-bg-red-0 nw-text-red-200 nw-px-2
                                    nw-py-2 nw-my-4 nw-rounded nw-hidden nw-text-xs"> Bitte füllen Sie die roten Felder aus!</p>
     <div class="nw-mb-4">
             <div class="nw-mb-2">
                        <label class=" nw-font-medium nw-text-xs nw-uppercase" for="anrede">Anrede*</label>
                    </div>
                <select required class=" nw-lesepaten-form nw-w-full nw-px-2 nw-py-2.5 nw-mx-auto nw-text-base nw-inline-block
                                  nw-border nw-rounded nw-box-border nw-cursor-pointer nw-placeholder-gray-300" id="anrede" name="anrede">
                            <option value="" disabled selected hidden class="">Anrede auswählen</option>
                            <option value="herr">Herr</option>
                            <option value="frau">Frau</option>
                            <option value="divers">Divers</option>
                </select>
            </div>
    <div class="nw-mb-4">
        <div class="nw-mb-2">
            <label class=" nw-font-medium nw-text-xs nw-uppercase" for="vname">Vorname und Nachname*</label>
        </div>
        <input required class=" nw-lesepaten-form nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                   nw-border nw-rounded nw-box-border nw-cursor-pointer"
               type="text"
               name="pate_name_zusatz"
               id="vname"
        />
    </div>

    <div class="nw-mb-4">
        <div class="nw-mb-2">
            <label class=" nw-font-medium nw-text-xs nw-uppercase" for="eMail">E-Mail
                Adresse*</label>
        </div>
        <input required class=" nw-lesepaten-form nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                            nw-border nw-rounded nw-box-border nw-cursor-pointer"
                pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$"
               type="email"
               name="pate_email"
               id="eMail"
        />
    </div>
    <div class="nw-mb-4  nw-arrow-in-numberfield-hidden">
        <div class="nw-mb-2">
            <label class=" nw-font-medium nw-text-xs nw-uppercase"
                   for="telefon">Telefon*</label>
        </div>
        <input required class="nw-lesepaten-form nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                   nw-border nw-rounded nw-box-border nw-cursor-pointer"
               type="number"
               name="pate_phone"
               id="telefon"
        />
    </div>
    <div class="nw-mb-4">
        <div class="nw-mb-2">
            <label class=" nw-font-medium nw-text-xs nw-uppercase" for="institution">UNTERNEHMEN /
                INSTITUTION*</label>
        </div>
        <input required class="nw-lesepaten-form nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                   nw-border nw-rounded nw-box-border nw-cursor-pointer"
               type="text"
               name="pate_name"
               id="institution"
        />
    </div>
    <div class="nw-mb-4">
        <div class="nw-mb-2">
            <label class=" nw-font-medium nw-text-xs nw-uppercase" for="strasse">Straße /
                Hausnummer*</label>
        </div>
        <input required class="nw-lesepaten-form nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                   nw-border nw-rounded nw-box-border nw-cursor-pointer"
               type="text"
               name="pate_strasse"
               id="strasse"
        />
    </div>
    <div class="nw-flex nw-gap-2">
        <div class="nw-basis-1/3">
            <div class="nw-mb-8">
                <div class="nw-mb-2">
                    <label class="nw-font-medium nw-text-xs nw-uppercase"
                           for="plz">PLZ*</label>
                </div>
                <input required class="nw-lesepaten-form  nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                   nw-border nw-rounded nw-box-border nw-cursor-pointer"
                       type="text"
                       name="pate_plz"
                       id="plz"/>
            </div>
        </div>
        <div class="nw-basis-2/3">
            <div class="nw-mb-8">
                <div class="nw-mb-2">
                    <label class="nw-font-medium nw-text-xs nw-uppercase"
                           for="ort">Stadt*</label>
                </div>
                <input required class="nw-lesepaten-form  nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                   nw-border nw-rounded nw-box-border nw-cursor-pointer"
                       type="text"
                       name="pate_ort"
                       id="ort"
                />
            </div>
        </div>
    </div>
    <hr>

</div>
