<div class="nw-bg-white nw-pb-4">
    <div>
        <p id="dangerAlert2" class="nw-bg-red-100 nw-text-red-700 nw-px-2
            nw-py-3 nw-mb-4 nw-rounded nw-hidden"> Füllen Sie bitte die roten Felder aus</p>

    </div>

    <div class="nw-mb-4">
        <p class=" nw-text-left nw-text-md nw-leading-6 nw-font-bold nw-pb-8 md:nw-pb-7">Patenschaft und Schule</p>
        <p class=" nw-text-left nw-text-base nw-leading-6 nw-font-medium">Bitte wählen Sie ein Produkt</p>
    </div>
    <!-- -->
    <div class="nw-flex nw-flex-row nw-justify-between nw-uppercase nw-mb-2">
        <div>
            <p class="nw-text-xs nw-font-medium nw-leading-6">
                ART DES PATENABOS*
            </p>
        </div>
        <div>
            <p class="nw-text-xs nw-font-medium nw-leading-6">
                MENGE DER PATENABOS*
            </p>
        </div>
    </div>
    <div class="nw-p-2 nw-border nw-border-gray-200 nw-flex nw-flex-row nw-justify-between nw-gap-4 nw-bg-white nw-mb-1 nw-rounded"
         id="block1">
        <div class="nw-flex nw-items-center nw-basis-1/2">
            <p class=" nw-text-sm nw-font-bold nw-text-gray-800">ePaper-Klassensatz</p>
        </div>
        <div class="nw-relative nw-flex nw-justify-end nw-basis-1/2">
            <input type="number" id="anzahl1"
            class=" nw-p-1 nw-w-12 nw-h-7 placeholder:nw-text-black
                                    nw-text-sm
                                    nw-bg-gray-100
                                    nw-inline-block
                                    nw-border
                                    nw-rounded
                                    nw-box-border
                                    nw-cursor-pointer"
                   placeholder="100" required/>
        </div>
    </div>
 <div class="nw-text-xs nw-text-green-600 nw-leading-6 nw-pb-4"><p>* Ein Klassensatz hat bis zu 30
        Leseberechtigungen </p>
    </div>
    <div class="nw-p-2 nw-border nw-border-gray-200 nw-flex nw-flex-row nw-gap-4 nw-bg-white nw-mb-8 nw-rounded"
         id="block2">
        <div class=" nw-flex nw-items-center nw-basis-1/2">
                            <p class=" nw-text-sm nw-font-bold nw-text-gray-800">Printzeitung</p>

        </div>
        <div
            class="nw-relative nw-flex nw-justify-end nw-basis-1/2">
            <input type="number" id="anzahl2"
                   class=" nw-p-1 nw-w-12 nw-h-7
                                    nw-text-sm placeholder:nw-text-black
                                    nw-bg-gray-100
                                    nw-inline-block
                                    nw-border
                                    nw-rounded
                                    nw-box-border
                                    nw-cursor-pointer"
                   placeholder="100" required/>
        </div>
    </div>
    <!-- -->
    <div class="nw-mb-4">
        <div class="nw-mb-2">
            <label class=" nw-font-medium nw-text-xs nw-uppercase nw-leading-5"
            for="schule"> Wunsch-schule(n)
            </label>
        </div>
        <input class="nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block nw-border  nw-rounded nw-box-border nw-cursor-pointer"
        type="text" name="" id="schule"
        />
    </div>
    <div class="nw-mb-6">
        <div class="nw-mb-2">
            <label for="comment"
                   class="nw-font-medium nw-text-xs nw-uppercase nw-leading-5">Anmerkung</label>
        </div>
        <textarea id="comment" rows="4"
                  class="nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                   nw-border nw-rounded nw-box-border nw-cursor-pointer"></textarea>
    </div>
    <hr>
</div>

<script>
    function toggleBackgroundColor(checkboxId, blockId, selectId) {
        const checkbox = document.getElementById(checkboxId);
        const block = document.getElementById(blockId);
        const select = document.getElementById(selectId);

        checkbox.addEventListener('change', function () {
            if (checkbox.checked) {
                block.classList.replace('nw-bg-white', 'nw-bg-gray-150');
                select.classList.replace('nw-bg-gray-100', 'nw-bg-white');
            } else {
                block.classList.replace('nw-bg-gray-150', 'nw-bg-white');
                select.classList.replace('nw-bg-white', 'nw-bg-gray-100');
            }
        });
    }

    toggleBackgroundColor('checkbox1', 'block1', 'anzahl1');
    toggleBackgroundColor('checkbox2', 'block2', 'anzahl2');

</script>
