<div class="nw-bg-white nw-pb-8">
    <div>
        <p class=" nw-text-md nw-leading-6 nw-font-bold nw-mb-4">Profil</p>
    </div>
    <div class="nw-bg-gray-150 nw-p-4 nw-rounded-md nw-mb-8 nw-shadow-md">
        <div class="nw-flex nw-items-top nw-mb-2">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke-width="1.5" stroke="currentColor" class="nw-w-6 nw-h-6 nw-flex nw-mr-1 nw-text-custom-1-700">
                <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0
                  011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118
                  0zm-9-3.75h.008v.008H12V8.25z"></path>
            </svg>
            <p class="nw-text-base nw-font-bold">Information zum Profil</p>
        </div>
        <div class="nw-text-sm nw-font-medium">
            "Wenn Sie folgende Daten zur Hand haben, laden Sie sie gerne in den entsprechenden Feldern hoch.
            Ansonsten ist dies im Nachgang noch möglich. Die Daten werden für Ihre
            <a href="" class="nw-text-red-500 nw-underline">Profilseite </a> auf nw.de verwendet.
        </div>
    </div>
    <div class=" nw-mb-4">
        <p class="nw-text-xs nw-font-medium nw-leading-6 nw-uppercase nw-pb-2">
            PROFILBILD HOCHLADEN
        </p>
        <div class="nw-w-full nw-bg-white">
            <div class=" nw-p-8 nw-text-center nw-rounded nw-border-dashed nw-border-2 nw-border-gray-300"
                 id="dropzone">
                <label for="fileInput" class="nw-cursor-pointer nw-flex nw-flex-col nw-items-center nw-space-y-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="nw-w-8 nw-h-8 nw-text-gray-500">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M12 16.5V9.75m0 0 3 3m-3-3-3 3M6.75 19.5a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z"/>
                    </svg>
                    <span class="nw-text-sm">Drag and Drop <a href=""
                                                              class="nw-underline">Image here </a></span>
                    <input type="file" id="fileInput" class="nw-hidden" multiple>
                </label>
            </div>
            <div class="nw-mt-6 nw-text-center" id="fileList"></div>
        </div>
    </div>
    <div class=" nw-mb-4">
        <p class="nw-text-xs nw-font-medium nw-leading-6 nw-uppercase nw-pb-2">
            UNTERNEHMENSLOGO HOCHLADEN
        </p>
        <div class="nw-w-full nw-bg-white">
            <div class=" nw-p-8 nw-text-center nw-rounded nw-border-dashed nw-border-2 nw-border-gray-300"
                 id="dropzone">
                <label for="fileInput" class="nw-cursor-pointer nw-flex nw-flex-col nw-items-center nw-space-y-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                         stroke="currentColor" class="nw-w-8 nw-h-8 nw-text-gray-500">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M12 16.5V9.75m0 0 3 3m-3-3-3 3M6.75 19.5a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z"/>
                    </svg>

                    <span class="nw-text-sm">Drag and Drop <a href=""
                                                              class="nw-underline">Image here </a></span>
                    <input type="file" id="fileInput" class="nw-hidden" multiple>
                </label>
            </div>
            <div class="nw-mt-6 nw-text-center" id="fileList"></div>
        </div>
    </div>
    <div class="nw-mb-4">
        <div class="nw-mb-2">
            <label class="nw-font-medium nw-text-xs nw-uppercase nw-leading-5"
                   for="website">IHRE FIRMEN-WEBSEITE</label>
        </div>
        <textarea id="website" rows="1"
                  class="nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                   nw-border nw-rounded nw-box-border nw-cursor-pointer"></textarea>
    </div>
    <div class="nw-mb-6">
        <div class="nw-mb-2">
            <label for="comment"
                   class="nw-font-medium nw-text-xs nw-uppercase nw-leading-5">GRUND DER TEILNAHME</label>
        </div>
        <textarea id="comment" rows="4"
                  class="nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                   nw-border nw-rounded nw-box-border nw-cursor-pointer"></textarea>
    </div>
    <hr>
</div>