<style>
    .nw-logo-width {
        max-width: 8rem; /* 128px */
    }
</style>
<div id="angezeigteDaten" class="nw-bg-white nw-pb-4">
    <div>
        <p class=" nw-text-md nw-leading-6 nw-font-bold nw-mb-4">Bitte überprüfen Sie Ihre Daten</p>
    </div>
    <div class="nw-mb-6">
        <div class="nw-pb-2 nw-border-b nw-flex nw-flex-row nw-justify-between nw-mb-4">
            <div class="nw-uppercase nw-font-medium nw-text-xs nw-leading-5"> IHRE DATEN</div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="nw-w-4 nw-h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"/>
                </svg>
            </div>
        </div>
        <div class="nw-text-sm">
            <div id="angezeigterName"> </div>
            <div class="nw-pb-4" id="angezeigteEmail" ></div>
            <div id="angezeigtesTelefon"></div>
            <div id="angezeigteInstitution"></div>
            <div id="angezeigteStrasse"></div>
            <div class="nw-flex nw-gap-1">
                   <p id="angezeigtePLZ"></p>
                   <p id="angezeigteStadt"></p>
            </div>
        </div>
    </div>
    <div class="nw-mb-6">
        <div class="nw-pb-2 nw-border-b nw-flex nw-flex-row nw-justify-between nw-mb-4">
            <div class="nw-uppercase nw-font-medium nw-text-xs nw-leading-5"> PATENSCHAFT UND SCHULE</div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="nw-w-4 nw-h-4">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125"/>
                </svg>
            </div>
        </div>
        <div>
            <div class="nw-mb-3">
                <p class="nw-uppercase nw-text-gray-300 nw-text-xs">ePaper-Klassensatz: <span id="angezeigterEPaper" class="nw-text-sm nw-text-black">0</p>
            </div>
            <div class="nw-mb-3">
               <p class="nw-uppercase nw-text-gray-300 nw-text-xs">  Printzeitung: <span id="angezeigterPrint" class="nw-text-sm nw-text-black">0 </p>
            </div>

            <div class="nw-mb-3">
                <p class="nw-uppercase nw-text-gray-300 nw-text-xs">WUNSCH-SCHULE(N)</p>
                <p id="angezeigteWunschschulen" class="nw-text-sm"></p>
            </div>
            <div class="nw-mb-3">
                <p class="nw-uppercase nw-text-gray-300 nw-text-xs">ANMERKUNG</p>
                <p id="angezeigteAnmerkung" class="nw-text-sm"></p>
            </div>
        </div>
        <hr>
    </div>
    <div class="nw-mb-4 nw-flex">
        <div>
            <input
                type="checkbox"
                name=""
                id="lesepatenCheckCondition1"
                class=" nw-form-tick nw-border nw-rounded-sm  nw-nw-border-gray-300 nw-appearance-none
                                    nw-cursor-pointer nw-h-4 nw-w-4 checked:nw-bg-gray-600 focus:outline-none"
            />
        </div>
        <div>
            <label class="nw-flex nw-pl-2 nw-items-center nw-space-x-1">
                            <span class=" nw-pr-6 nw-text-gray-700 nw-text-xs nw-font-normal nw-text-left">
                                Die Bestimmungen zum Widerrufsrecht und die <a href="https://www.nw.de/service/agb"
                                                                               class="nw-text-red-500 nw-underline nw-font-medium">
                                Allgemeinen Geschäftsbedingungen </a> habe ich
                                gelesen und ich erkläre mich mit Ihnen einverstanden.
                            </span>
            </label>
        </div>
    </div>
    <div class="nw-mb-6 nw-flex">
        <div>
            <input
                type="checkbox"
                name=""
                id="lesepatenCheckCondition2"
                class=" nw-form-tick nw-border nw-rounded-sm nw-nw-border-gray-300 nw-appearance-none
                        nw-cursor-pointer nw-h-4 nw-w-4  checked:nw-bg-gray-600 focus:outline-none"
            >
        </div>
        <div>
            <label class="nw-flex nw-pl-2 nw-items-center nw-space-x-1">
                <span
                    class=" nw-pr-6 nw-text-gray-700 nw-text-xs nw-font-normal nw-text-left nw-tracking-normal nw-opacity-100">
                    Ich bin damit einverstanden, dass die Neue Westfälische GmbH & Co. KG mich über Verlagsprodukte,
                    Lesevorteile, Leserreisen und Gewinnspiele per Telefon oder E-Mail informieren darf.
                    Meine Einwilligung kann ich jederzeit widerrufen.
                </span>
            </label>
        </div>
    </div>
    <p class="nw-text-xs nw-text-gray-250 nw-mb-6 md:nw-mb-4">Bitte beachten Sie die <a href="https://www.nw.de/service/formales/20262936_Datenschutzerklaerung.html"
                                                                                        class="nw-underline">Datenschutzhinweise.</a>
    </p>
</div>