<div class="nw-pl-4 nw-pr-4 nw-bg-white nw-pb-8">
  <div>
    <p
      class="
        nw-text-left
        nw-uppercase
        nw-tracking-normal
        nw-text-xl
        nw-font-roboto
        nw-font-bold
        nw-pt-2
      "
    >
      {{title}}
    </p>
  </div>

  <div class="nw-pr-auto sm:nw-pr-24 md:nw-pr-44 lg:nw-pr-96">
    {{#each buttons}}
    <button
      class="
        button
        nw-border
        nw-border-gray-200
        nw-border-solid
        nw-rounded-3xl
        nw-py-1
        nw-px-2
        nw-font-bold
        nw-font-normal
        nw-text-sm
        nw-text-black
        nw-font-roboto
        nw-text-left
        nw-mt-2
      "
    >
      {{label}}
    </button>
    {{/each}}

    <button
      class="
        button
        nw-border
        nw-border-gray-200
        nw-border-solid
        nw-rounded-3xl
        nw-py-1
        nw-px-2
        nw-font-bold
        nw-font-normal
        nw-text-sm
        nw-text-black
        nw-font-roboto
        nw-text-left
        nw-mt-2
      "
    >
      {{label}}
    </button>
  </div>
</div>

<!--
<button
  type="submit"
  class="
    nw-w-auto
    nw-border
    nw-border-black
    nw-rounded-3xl
    nw-py-1
    nw-px-4
    nw-flex
    nw-items-center
    nw-justify-center
    nw-text-tiny
    nw-font-medium
    nw-text-black
    hover:nw-bg-white
    focus:nw-outline-none
    focus:nw-ring-2
    focus:nw-ring-offset-2
    focus:nw-ring-offset-gray-800
    focus:nw-ring-indigo-500
  "
>
  {{label}}
</button>
-->
