<div class="nw-bg-white nw-border-b nw-border-gray-100 nw-px-4 nw-pt-4 nw-pb-3">
  <a href="#">
    <div class="nw-flex nw-flex-col nw-gap-4">
      <div class="nw-flex nw-gap-4 nw-justify-between">
        <div>
          <p class="nw-text-sm nw-font-medium nw-text-gray-600 nw-plus-icon nw-pb-1">
            Coaching
          </p>
          <p class="nw-font-bold nw-text-base">
            48-fache Mutter und ganz entspannt: Bielefelderin hilft Familien bei Prüfungsangst
          </p>
        </div>
        <img
          src="/images/artikel-teaser-m-image.jpg"
          class="nw-object-cover nw-rounded-md "
          style="min-width: 120px; min-height: 120px; max-height: 120px; max-width: 120px;"
          loading="lazy" alt="Bild zu blabla" />

      </div>
      {{>'@artikel-content-icons'}}
    </div>
  </a>
</div>
