<div class="nw-relative nw-pt-4">
  <div
    class="
      nw-h-full
      nw-flex
      nw-flex-col
      nw-absolute
      nw-top-0
      nw-left-0
      nw-items-top
      nw-z-30
      nw-w-3/4
      sm:nw-w-1/3
    "
  >
    <div
      class="
        nw-text-lg
        md:nw-text-3xl
        nw-font-bold nw-text-white nw-pt-8
        md:nw-pt-12
        nw-px-4
      "
    >
      Entdecken Sie unsere digitalen Angebote
    </div>
  </div>
  <img
    class="nw-rounded-md nw-object-cover nw-w-full"
    src="{{image-src-banner}}"
  />
</div>
