<div class="nw-bg-white nw-py-12 nw-px-4">
    <div class="nw-flex nw-flex-col md:nw-flex-row nw-place-content-center nw-gap-12 nw-mb-8 nw-py-8 nw-px-4">
        <div class="nw-flex nw-flex-col nw-content-center nw-mb-4">
            <h1 class="nw-text-4xl nw-font-bold nw-text-center">Unsere News-App</h1>
            <p class="nw-text-lg nw-text-center">
                Jetzt verfügbar in den Stores.
                <br>
                Hier gehts zum kostenlosen Download.
            </p>
            <br>
            <div class="nw-flex nw-place-content-center">
                <a href="#" target="_blank"> <img class="nw-w-48 nw-h-auto" src="/images/news-app/apple-store.png"></a>
                <a href="#" target="_blank"> <img class="nw-w-48 nw-h-auto" src="/images/news-app/google-store.png"></a>
            </div>
        </div>
        <div class="nw-flex nw-place-content-center">
            <img class="nw-w-auto nw-h-auto nw-rounded-md"
                 src="/images/news-app/iphone-screen-vorschau-app-startseite.jpg"
                 alt="nw-Foto">
        </div>
    </div>
    <div
        class="nw-grid nw-grid-cols-1 sm:nw-grid-cols-2 md:nw-grid-cols-3 nw-gap-8 nw-px-4 nw-py-8 nw-mb-8 ">
        <div class="nw-text-center nw-max-w-xs nw-mx-auto">
            <img class="nw-w-14 nw-h-14 nw-my-2 nw-mx-auto" src="/images/news-app/icon-newspaper-infobox.jpg">
            <div class="nw-font-medium nw-text-lg">Wichtige News aus OWL und der Welt sowie exklusive
                Hintergründe
            </div>
        </div>
        <div class="nw-text-center nw-max-w-xs nw-mx-auto">
            <img class="nw-w-14 nw-h-14 nw-my-2 nw-mx-auto" src="/images/news-app/icon-iphone-notification.jpg">
            <div class="nw-font-medium nw-text-lg">Nützliche Funktionen: Push-Nachrichten, Artikel teilen
                und vieles mehr
            </div>
        </div>
        <div class="nw-text-center nw-max-w-xs nw-mx-auto">
            <img class="nw-w-14 nw-h-14 nw-my-2 nw-mx-auto" src="/images/news-app/icon-system-phones-infobox.jpg">
            <div class="nw-font-medium nw-text-lg">Kostenlos in allen Stores für Android und iOS erhältlich
            </div>
        </div>
    </div>
    <div class="nw-bg-gray-0 nw-pb-4">
        <div class=" nw-text-center nw-text-xl md:nw-text-3xl
                        nw-font-bold nw-px-4 nw-pb-8 nw-pt-12">
            Auch unterwegs<br>immer auf dem Laufenden bleiben.
        </div>
        <div class="nw-grid nw-grid-cols-1 md:nw-grid-cols-3 nw-mb-12">
            <div>
                <div class="nw-p-4">
                    <img
                        class="nw-w-full nw-object-cover"
                        src="/images/news-app/phone-screen-young.png"
                        alt=""
                    />
                    <div class="nw-text-base nw-pt-4 nw-text-black">
                        <p class="nw-font-bold nw-text-lg nw-pb-1">Immer aktuell - täglich neue Artikel</p>
                        <p class="nw-text-md">Mehr als 140 Redakteure, Reporter und Fotografen versorgen Sie laufend mit
                            exklusiven News, Hintergründen sowie Kommentaren. </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="nw-p-4">
                    <img
                        class="nw-w-full nw-object-cover"
                        src="/images/news-app/phone-screen-region.png"
                        alt=""
                    />
                    <div class="nw-text-base nw-pt-4 nw-text-black">
                        <p class="nw-font-bold nw-text-lg nw-pb-1">App individuell zusammenstellen</p>
                        <p class="nw-text-md">Sortieren Sie die Themen in der News-App ganz nach Ihrem Interesse.
                            Treffen Sie im Menü Ihre individuelle Auswahl und legen Sie die passende Schriftgröße
                            fest. </p>
                    </div>
                </div>
            </div>
            <div>
                <div class="nw-p-4">
                    <img
                        class="nw-w-full nw-object-cover"
                        src="/images/news-app/phone-screen-fussball.png"
                        alt=""
                    />
                    <div class="nw-text-base nw-pt-4 nw-text-black">
                        <p class="nw-font-bold nw-text-lg nw-pb-1">Top-News per Push-Mitteilung</p>
                        <p class="nw-text-md">Damit wir Sie direkt auf dem Handy über aktuelle Neuigkeiten informieren
                            können, aktivieren Sie
                            einfach die Push-Mitteilungen.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="nw-flex nw-flex-col nw-items-center nw-gap-4 nw-mb-4">
            <div class="nw-flex nw-justify-between nw-gap-4">
                <img class="nw-w-18 nw-h-auto" src="/images/nw-plus_icon.svg" alt="nw-icon">
                <p class="nw-text-md">Exklusiv für <br> Abonnenten</p>
            </div>
            <div class="nw-text-center nw-px-4">
                <p class="nw-text-3xl nw-font-bold nw-pb-1">Artikel in voller Länge lesen</p>
                <p class="nw-text-md">NW+-Updates per E-Mail</p>
            </div>
        </div>
        <div class="nw-flex nw-flex-col sm:nw-max-w-lg md:nw-max-w-xl nw-mx-auto nw-gap-4 nw-pb-6 ">
            <div
                class="nw-flex nw-flex-col sm:nw-flex-row nw-gap-4 nw-justify-between nw-bg-white nw-p-4 nw-mx-4 nw-rounded">
                <div>
                    <p class="nw-text-md">
                        NW+ Monatsabo
                        <br>
                        <span class="nw-font-bold">1 € </span>
                        / 1. Monat,
                        <small>danach 9,90€ / Monat</small>
                    </p>
                </div>
                <div class="nw-flex nw-items-end">
                    <a href="" style="width:160px" class="nw-btn-primary">
                        Jetzt bestellen
                    </a>
                </div>
            </div>
            <div
                class="nw-flex nw-flex-col sm:nw-flex-row nw-gap-4 nw-justify-between nw-bg-white nw-p-4 nw-mx-4 nw-rounded">
                <div>
                    <p class="nw-text-md">
                        NW+ Jahres-Abo
                        <br>
                        <span class="nw-font-bold">99,00 € </span>
                        / Jahr
                    </p>
                </div>
                <div class="nw-flex nw-items-end">
                    <a href="" style="width:160px" class="nw-btn-primary">
                        Angebot sichern
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div>
        <p class="nw-font-bold nw-text-3xl nw-my-8 nw-text-center nw-pt-8"> Haben Sie nochh Fragen</p>
    </div>
    <ul class="nw-flex nw-flex-col nw-gap-4 nw-max-w-2xl nw-mx-auto nw-text-md">
        {{#each items}}
            {{>'@accordion-item' this}}
        {{/each}}
    </ul>
</div>