
<div class="nw-flex nw-flex-col nw-gap-4 nw-px-4 nw-pt-4 nw-pb-3 nw-bg-white nw-border nw-border-gray-100">
  <div>
    <p class="nw-text-xs nw-font-medium nw-text-gray-600">
      Headline Artikel
    </p>
    <p class="nw-text-base nw-font-bold">
      Schüsse in Bielefeld: Verhinderte ein Pistolen-Defekt den tödlichen Ausgang?
    </p>
  </div>
  {{>'@artikel-content-icons'}}
</div>

