<div class="nw-bg-white nw-p-6">
  <div class="nw-mb-6 nw-font-medium">
    <p class="nw-text-md nw-pb-1"> xs </p>
    <p class="nw-text-gray-400 nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> 320px - 639px</p>
    <div class="nw-bg-gray-0 nw-h-20 nw-rounded nw-mb-6" style="max-width: 639px;">
    </div>
  </div>
  <div class="nw-mb-6 nw-font-medium">
    <p class="nw-text-md nw-pb-1"> sm </p>
    <p class="nw-text-gray-400 nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> 640px - 767px</p>
    <div class="nw-bg-gray-0 nw-h-20 nw-rounded nw-mb-6" style="max-width: 767px;">

    </div>
  </div>
  <div class="nw-mb-6 nw-font-medium">
    <p class="nw-text-md nw-pb-1"> md </p>
    <p class="nw-text-gray-400 nw-text-sm nw-border-b nw-border-b-1 nw-border-gray-100 nw-pb-1 nw-mb-5"> Ab 768px</p>
    <div class="nw-bg-gray-0 nw-h-20 nw-rounded nw-mb-6" style="min-width: 768px;">
    </div>
  </div>
</div>