<div class="nw-max-w-6xl nw-mb-12 sm:nw-mb-0">
  {{>'@logo-section'}} {{>'@menu-section' (contextData '@menu-section') }}
  {{>'@menu-section--sticky' (contextData '@menu-section') }} {{>'@burger-menu'
  (contextData '@burger-menu')}}
</div>
<div
  class="
    nw-bg-custom-2-400
    nw-rounded-t-md
    nw-mt-1
    nw-py-12
    nw-px-4
    nw-text-white
    nw-
  "
>
  <div class="nw-flex nw-flex-col">
    <img
      src="/images/nw-plus_icon.svg"
      width="72"
      height="28"
      class="nw-place-self-center"
    />

    <p class="nw-max-w-sm nw-place-self-center nw-text-center nw-mt-3 nw-mb-9">
      Aktuelle Nachrichten, exklusive Berichte und Interviews aus OWL,
      Deutschland und der Welt
    </p>

    <div class="nw-flex nw-flex-col md:nw-flex-row nw-items-start nw-gap-4">
      <div
        class="
          nw-bg-white nw-flex nw-flex-col nw-p-4 nw-rounded-md nw-w-full
          md:nw-w-1/3
        "
      >
        <p
          class="
            nw-text-gray-600 nw-place-self-center nw-font-medium nw-text-xl
          "
        >
          Probe-Monat
        </p>
        <p
          class="
            nw-text-black
            nw-text-2xl
            nw-place-self-center
            nw-font-bold
            nw-mb-0.5
          "
        >
          1,00 &euro;
        </p>
        <p class="nw-text-gray-400 nw-text-center nw-mb-4">
          danach 9,90 &euro;
        </p>
        <a
          href="#"
          class="
            nw-uppercase nw-bg-gray-600
            hover:nw-bg-gray-700
            nw-text-center nw-p-2 nw-rounded-full nw-font-bold nw-mb-2
          "
        >
          Kaufen
        </a>
      </div>
      <div
        class="
          nw-bg-white
          nw-flex
          nw-flex-col
          nw-p-4
          nw-rounded-md
          nw-border-t-4
          nw-border-green-400
          nw-drop-shadow
          nw-w-full
          md:nw-w-1/3
        "
      >
        <div
          class="nw-flex nw-justify-center nw-mb-10"
          style="margin-top: -44px"
        >
          <span
            class="
              nw-bg-green-400
              nw-font-bold
              nw-text-sm
              nw-rounded-full
              nw-text-center
              nw-py-1
              nw-px-3
            "
            >Nur für kurze Zeit</span
          >
        </div>
        <p
          class="
            nw-text-xl nw-text-gray-600 nw-place-self-center nw-font-medium
          "
        >
          Aktion
        </p>
        <p
          class="
            nw-text-black
            nw-text-2xl
            nw-place-self-center
            nw-font-bold
            nw-mb-0.5
          "
        >
          <span class="nw-text-gray-400 strike-through">9,90 €</span> 5 &euro;
          mtl.
        </p>
        <p class="nw-text-gray-400 nw-text-center nw-mb-4">
          Ein Jahr rund 50% sparen
        </p>
        <a
          href="#"
          class="
            nw-uppercase nw-bg-red-500
            hover:nw-bg-red-700
            nw-text-center nw-p-2 nw-rounded-full nw-font-bold nw-mb-10
          "
        >
          Kaufen
        </a>
      </div>
      <div
        class="
          nw-bg-white nw-flex nw-flex-col nw-p-4 nw-rounded-md nw-w-full
          md:nw-w-1/3
        "
      >
        <p
          class="
            nw-text-gray-600 nw-place-self-center nw-font-medium nw-text-xl
          "
        >
          Jahr
        </p>
        <p
          class="
            nw-text-black
            nw-text-2xl
            nw-place-self-center
            nw-font-bold
            nw-mb-0.5
          "
        >
          99,00 &euro;
        </p>
        <p class="nw-text-gray-400 nw-text-center nw-mb-4">spare 19,80 €</p>
        <a
          href="#"
          class="
            nw-uppercase nw-bg-gray-600
            hover:nw-bg-gray-700
            nw-text-center nw-p-2 nw-rounded-full nw-font-bold nw-mb-2
          "
        >
          Kaufen
        </a>
      </div>
    </div>

    <p class="nw-uppercase nw-text-white nw-text-center nw-mt-8 nw-mb-2">
      Weitere Angebote
    </p>
    <div class="nw-flex nw-place-self-center nw-gap-2">
      <a
        href="https://shop.nw.de/epaper/"
        class="
          nw-bg-white nw-text-black nw-border nw-border-transparent
          hover:nw-bg-transparent
          nw-text-center nw-p-2 nw-font-bold
          hover:nw-bg-transparent
          hover:nw-text-white
          hover:nw-border-2
          hover:nw-border-white
        "
      >
        ePaper
      </a>
      <a
        href="https://shop.nw.de/klassische-zeitung/"
        class="
          nw-bg-white nw-text-black nw-border nw-border-transparent
          hover:nw-bg-transparent
          nw-text-center nw-p-2 nw-font-bold
          hover:nw-bg-transparent
          hover:nw-text-white
          hover:nw-border-2
          hover:nw-border-white
        "
      >
        Zeitung
      </a>
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="h-5 w-5 nw-mt-12 nw-place-self-center"
      viewBox="0 0 20 20"
      fill="currentColor"
      width="32"
      height="32"
    >
      <path
        fill-rule="evenodd"
        d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
        clip-rule="evenodd"
      />
    </svg>
    <div class="nw-flex nw-flex-col nw-text-center">
      <p class="nw-text-xl">Bereits Kunde?</p>
      <p class="nw-mb-2">Einloggen und Abo verwalten</p>

      <a
        href="#"
        class="
          nw-place-self-center
          nw-bg-transparent
          nw-border
          nw-p-2
          nw-text-center
          nw-w-200px
          hover:nw-text-black hover:nw-bg-white
          toLogin
        "
        onclick="window.scrollTo(0, 0);jQuery('#nw-loginbox').slideToggle(750);"
        >Einloggen</a
      >
    </div>
  </div>
</div>
<div class="nw-pb-6 nw-bg-white">
  <div class="nw-rounded-b-md nw-p-4 nw-text-white">{{>'@accordion'}}</div>
</div>
<div class="nw-bg-white nw-pb-6">
  <div class="nw-mb-2">
    <div class="nw-text-black nw-text-xl nw-font-bold nw-text-center">
      Benötigen Sie Hilfe?
    </div>
    <p class="nw-text-black nw-text-center">Wir helfen Ihnen gerne.</p>
  </div>

  <div
    class="
      nw-flex nw-flex-col
      md:nw-flex-row
      nw-items-start nw-justify-center nw-gap-4
    "
  >
    <div
      class="
        nw-bg-white
        nw-flex
        nw-flex-col
        nw-p-4
        nw-rounded-md
        nw-border
        nw-border-g
        nw-w-full
        md:nw-w-1/3
        nw-text-black nw-text-center
      "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 nw-mx-auto nw-mb-1"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
        width="32"
        height="24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
        />
      </svg>
      <p class="nw-font-bold">Schreiben Sie uns</p>
      <p>
        <a class="hover:nw-text-red-500" href="mailto:aboservice@nw.de"
          >aboservice@nw.de</a
        >
      </p>
    </div>
    <div
      class="
        nw-bg-white
        nw-flex
        nw-flex-col
        nw-p-4
        nw-rounded-md
        nw-border
        nw-border-g
        nw-w-full
        md:nw-w-1/3
        nw-text-black nw-text-center
      "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6 nw-mx-auto nw-mb-1"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
        width="32"
        height="24"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
        />
      </svg>
      <p class="nw-font-bold nw-text-center">Rufen Sie uns an</p>
      <a class="hover:nw-text-red-500" href="tel:+49521555999"
        >+49 521 555 999</a
      >
    </div>
  </div>
</div>

<style>
  .strike-through {
    position: relative;
    display: inline-block;
    font-size: 90%;
  }

  .strike-through:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    border: 2px solid red;
    width: 100%;
    transform: rotate(-5deg);
  }
</style>
