<a href="#" class="nw-text-gray-300 hover:nw-text-gray-200 nw-rounded-full nw-h-8 nw-w-8 nw-flex nw-items-center nw-justify-center">
  <svg  class="nw-text-slate-300 nw-h-6 nw-w-6" id="icon_Socialmedia_facebook" data-name="icon/Socialmedia/facebook" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path id="Vereinigungsmenge_1" data-name="Vereinigungsmenge 1" d="M-4682,912a12.032,12.032,0,0,0-12,12.062,12.035,12.035,0,0,0,10.206,11.913v-8.717h-2.969v-3.17h2.969v-2.11c0-3.493,1.693-5.026,4.581-5.026a16.73,16.73,0,0,1,2.461.15v2.767h-1.97c-1.226,0-1.654,1.169-1.654,2.486v1.733h3.593l-.487,3.17h-3.106V936A12.033,12.033,0,0,0-4670,924.062,12.031,12.031,0,0,0-4682,912Z"
          transform="translate(4694 -912)" fill="#4A5568"/>
  </svg>
</a>