<li class="nw-flex nw-items-start nw-space-x-3">
  <div class="nw-w-6 nw-h-6 nw-bg-hk-blue-50 nw-rounded-full nw-flex nw-items-center nw-justify-center nw-flex-shrink-0 nw-mt-1" aria-hidden="true">
    <svg class="nw-w-4 nw-h-4 nw-text-hk-blue-300" fill="none" stroke="currentColor" viewBox="0 0 24 24" aria-hidden="true">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
    </svg>
  </div>
  <p class="nw-text-gray-800 nw-text-base nw-leading-relaxed">{{text}}</p>
</li>