<div>
  <!--header-->
  <div class="md:nw-block nw-mt-0 md:nw-mt-4">
    <div
      class="
        nw-flex nw-justify-between
        md:nw-block
        nw-mx-4
        md:nw-mx-0
        nw-mt-2
        md:nw-mt-0
      "
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="nw-h-8 nw-w-8 nw-block md:nw-hidden"
        viewBox="0 0 20 20"
        fill="currentColor"
        height="20"
        width="20"
        id="menu-button"
      >
        <path
          fill-rule="evenodd"
          d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1z"
          clip-rule="evenodd"
        />
      </svg>
      <div>
        <img
          class="
            nw-object-cover nw-mx-0 nw-h-8 nw-w-8
            md:nw-h-24 md:nw-w-24 md:nw-mx-auto
          "
          src="/images/nw-wortmarke-logo.svg"
        />
      </div>
    </div>
    <div
      class="
        nw-place-content-center nw-hidden nw-w-full
        md:nw-flex md:nw-items-center md:nw-w-auto
      "
      id="menu"
    >
      <ul
        class="
          nw-text-base nw-mt-0
          md:nw-mt-8
          nw-text-gray-700
          md:nw-flex md:nw-justify-between
        "
      >
        <li>
          <a
            class="
              md:nw-p-2
              nw-py-2 nw-block nw-text-base nw-text-black
              hover:nw-text-gray-400
            "
            href=""
            >Das ePaper</a
          >
        </li>
        <li>
          <a
            class="
              md:nw-p-2
              nw-py-2 nw-block nw-text-base nw-text-black
              hover:nw-text-gray-400
            "
            href=""
            >Vorteile</a
          >
        </li>
        <li>
          <a
            class="
              md:nw-p-2
              nw-py-2 nw-block nw-text-base nw-text-black
              hover:nw-text-gray-400
            "
            href=""
            >Überblick</a
          >
        </li>
        <li>
          <a
            class="
              md:nw-p-2
              nw-py-2 nw-block nw-text-base nw-text-black
              hover:nw-text-gray-400
            "
            href=""
            >Bewertungen</a
          >
        </li>
        <li>
          <a
            class="
              md:nw-p-2
              nw-py-2 nw-block nw-text-base nw-text-black
              hover:nw-text-gray-400
            "
            href=""
            >Funktionen</a
          >
        </li>
        <li>
          <a
            class="
              md:nw-p-2
              nw-py-2 nw-block nw-text-base nw-text-black
              hover:nw-text-gray-400
            "
            href=""
            >Kontakt</a
          >
        </li>
        <li>
          <a
            class="
              md:nw-p-2
              nw-py-2 nw-block nw-text-base nw-text-black
              hover:nw-text-gray-400
            "
            href=""
            >Impressum</a
          >
        </li>
        <li>
          <a
            class="
              md:nw-p-2
              nw-py-2 nw-block nw-text-base nw-text-black
              hover:nw-text-gray-400
            "
            href=""
            >Datenschutz</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!--header-Ende -->

  <div class="nw-w-full nw-relative nw-px-2 md:nw-px-0">
    <div
      class="
        nw-w-full
        nw-h-full
        nw-flex
        nw-flex-col
        nw-absolute
        nw-top-0
        nw-left-0
        nw-z-30
      "
    >
      <div
        class="
          nw-py-2 nw-pl-8
          md:nw-pl-4
          nw-text-tiny
          md:nw-text-xl
          nw-font-bold nw-uppercase nw-text-gray-800 nw-max-w-xs
          md:nw-max-w-md
          nw-leading-6
          md:nw-leading-8
        "
      >
        ICH HABE DIE DIGITALE ZEITUNG DER NW GETESTET UND WAR BEGEISTERT.
        <span class="nw-font-normal"> JETZT LESE ICH TÄGLICH DAS EPAPER.“</span>
      </div>
    </div>
    <img
      class="nw-rounded-md nw-object-cover nw-w-full nw-mt-2 md:nw-mt-8"
      src="https://via.placeholder.com/350x150.png"
    />
  </div>
</div>
<script>
  const button = document.querySelector('#menu-button');
  const menu = document.querySelector('#menu');

  button.addEventListener('click', () => {
    menu.classList.toggle('nw-hidden');
  });
</script>
