<div>
  {{>@article-head}} {{>@image}} {{>@paragraph}} {{>@slider}}
  {{>@paragraph}}{{>@highlight}} {{>@privacy}} {{>@paragraph}} {{>@subheading}}
  {{>@paragraph}}{{>@section}}{{>@section--link}}{{>@cta-button}}{{>@section}}{{>@teaser-heading}}{{>@article-teaser}}{{>@article-teaser}}{{>@article-teaser}}{{>@copyright}}
</div>
{{>@footer}}
