{{>@header-full}}
<div class="nw-bg-white">
  {{>@article-head}} {{>@image}} {{>@paragraph}} {{>@slider}}{{>@privacy}}
  {{>@paragraph}}{{>@highlight}} {{>@privacy}} {{>@paragraph}} {{>@subheading}}
  {{>@paragraph}}{{>@section}}{{>@section--link}}{{>@cta-button}}{{>@section}}{{>@teaser-heading}}{{>@article-teaser}}{{>@article-teaser}}{{>@article-teaser}}{{>@copyright}}
  {{>@glossar-box}} {{>@schlagworte-page}}
</div>
{{>@footer (contextData '@footer') }}
