<ul class="nw-py-2 nw-border-b">
  {{#each footer.menus}}
  <li class="nw-text-white nw-uppercase nw-px-3 nw-py-1.5 nw-text-sm">
    {{this}}
  </li>
  {{/each}}
</ul>
<div class="nw-px-3 nw-pt-3">
  <span class="nw-uppercase nw-text-xs nw-text-gray-300">Folgen Sie uns</span>
</div>
<div class="nw-px-3 nw-pb-2 nw-flex nw-flex-start">
  {{>'@social-media-button' socialmedia.facebook}} {{>'@social-media-button'
  socialmedia.twitter}} {{>'@social-media-button' socialmedia.pinterest}}
  {{>'@social-media-button' socialmedia.instagram}}
</div>
