<ul
  id="nw-menu-section"
  class="
    nw-border-b nw-flex nw-bg-white nw-justify-items-stretch nw-px-0
    sm:nw-px-2
    nw-h-10 nw-items-center nw-mt-20
    md:nw-mt-0
  "
>
  <!-- burger menu -->
  <li class="nw-nav-item nw-pr-3 nw-hidden sm:nw-inline-block">
    <a href="#" class="nw-burger-menu-switcher">
      <span class="nw-flex nw-justify-start nw-items-center nw-gap-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="nw-h-5 nw-w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
          height="20"
          width="20"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          />
        </svg>
        <span
          class="
            nw-uppercase nw-text-black nw-text-sm nw-hidden
            md:nw-inline-block
            nw-select-none
          "
          >Menü</span
        >
      </span>
    </a>
  </li>
  <li class="nw-menu-seperator nw-hidden md:nw-inline-block"></li>
  <!-- newsticker -->
  <li>
    <a
      href="#"
      class="
        nw-flex
        nw-justify-start
        nw-items-center
        nw-text-sm
        nw-pt-1
        nw-pb-px
        nw-px-2
      "
    >
      Newsticker
    </a>
    <span
      class="nw-relative nw-bg-white nw-left-10"
      style="bottom: -3px"
    >
      <svg
        width="15"
        height="7"
        viewBox="0 0 15 7"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-hidden="true"
      >
        <g>
          <path
            class="nw-fill-current nw-text-gray-100 nw-"
            d="M7.5 0l-7 7h14L11 3.5 7.5 0z"
          ></path>
          <path
            class="nw-fill-current nw-text-white"
            d="M7.5 1.5L2 7h11L7.5 1.5z"
          ></path>
        </g>
      </svg>
    </span>
  </li>
  <li class="nw-menu-seperator nw-inline-block"></li>
  <!-- navigation -->
  <li class="nw-menu-nav nw-flex-wrap nw-content-center nw-align-baseline">
    <div class="embla-navigation nw-max-w-full">{{>'@menu-nav'}}</div>
  </li>
  <!-- service links -->
  <!--  {{>'@service-links'}}-->
</ul>
