<a href="#" style="max-width: 840px ;">
  <div class="nw-flex nw-flex-col md:nw-flex-row md:nw-space-x-4">
    <div class="nw-basis-1/3 nw-mb-4 md:nw-mb-0">
      <div class="nw-beitraege-img">
        <img
        src="{{this.img}}"
        class="nw-object-cover nw-object-left nw-w-full  nw-rounded-md"
        width="290"
        height="189"
        loading="lazy"
        alt="Bild zu blabla"
        />
      </div>
    </div>
    <div class="nw-basis-2/3">
      <div
        class="nw-flex nw-items-start nw-mb-2">
        <div class="nw-mr-2 nw-mt-1">{{>'@nw-plus-icon'}}</div>
        <p class=" nw-text-base nw-font-medium nw-text-gray-500">{{this.bannertext}}</p>
      </div>
      <div class="nw-pb-4 md:nw-pb-0">
        <p
          class="nw-font-bold nw-text-md md:nw-text-lg nw-pb-1">{{this.caption}}
        </p>
        <p class="nw-text-xs nw-text-gray-300">
          {{this.date}}
        </p>
      </div>
    </div>
  </div>
</a>