<a href="#" data-event-value="retresco-reco">
  <div class="nw-reco-item-rebrush">
    <img
      src="{{this.img}}"
      class="nw-reco-image-rebrush"
      loading="lazy"
      alt="Bild zu blabla"
    />

    <div>
      <div class="nw-reco-banner-rebrush">
        <p class="nw-reco-bannertext-rebrush">{{this.bannertext}}</p>
        <div>{{>'@nw-plus-icon'}}</div>
      </div>
      <div class="nw-reco-caption-rebrush">{{this.caption}}</div>
    </div>
  </div>
</a>
