<div class="nw-flex nw-flex-col nw-gap-10 nw-p-14 nw-bg-white">
  <div>
    <h1 class="nw-text-md nw-font-medium nw-mb-2">Border Radius</h1>
    <div class="nw-text-sm nw-text-gray-400 nw-pb-1 nw-font-medium nw-border-b nw-border-gray-100 nw-mb-4"> Boxen, Outlines, Hover-Effekte</div>
    <div class="nw-grid nw-nw-grid-cols-1 md:nw-grid-cols-4  nw-gap-6 md:nw-gap-12">
      <div class="nw-w-full nw-font-medium">
        <div class="nw-bg-gray-0 nw-h-14 nw-mb-2 nw-rounded-none">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-rounded-none</div>
      </div>
      <div class="nw-w-full font-medium">
        <div class="nw-bg-gray-0 nw-h-14 nw-mb-2 nw-rounded-sm">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-rounded-sm</div>
      </div>
      <div class="nw-w-full nw-font-medium">
        <div class="nw-bg-gray-0 nw-h-14 nw-mb-2 nw-rounded-md">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-rounded-md</div>
      </div>
      <div class="nw-w-full nw-font-medium">
        <div class="nw-bg-gray-0 nw-h-14 nw-mb-2 nw-rounded-lg ">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-rounded-lg</div>
      </div>
      <div class="nw-w-full nw-font-medium">
        <div class="nw-bg-gray-0 nw-h-14 nw-mb-2 nw-rounded-xl ">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-rounded-xl</div>
      </div>
      <div class="nw-w-full nw-font-medium">
        <div class="nw-bg-gray-0 nw-h-14 nw-mb-2 nw-rounded-full ">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-rounded-full</div>
      </div>
    </div>
  </div>
  <div>
    <h1 class="nw-text-md nw-font-medium nw-mb-2">Border Position</h1>
    <div class="nw-text-sm nw-text-gray-400 nw-pb-1 nw-font-medium nw-border-b nw-border-gray-100 nw-mb-4"> Boxen, Outlines, Hover-Effekte </div>
    <div class="nw-grid nw-nw-grid-cols-1 md:nw-grid-cols-4  nw-gap-6 md:nw-gap-12">
      <div class="nw-w-full nw-font-medium">
        <div class="nw-h-14 nw-mb-2 nw-border-t-2 nw-border-slate-300">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-border-t-2</div>
      </div>
      <div class="nw-w-full font-medium">
        <div class="nw-h-14 nw-mb-2 nw-border-r-2 nw-border-slate-300">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-border-r-2</div>
      </div>
      <div class="nw-w-full nw-font-medium">
        <div class="nw-h-14 nw-mb-2 nw-border-b-2 nw-border-slate-300">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-border-b-2</div>
      </div>
      <div class="nw-w-full nw-font-medium">
        <div class="nw-h-14 nw-mb-2 nw-border-l-2 nw-border-slate-300">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-border-l-2</div>
      </div>
    </div>
  </div>
  <div>
    <h1 class="nw-text-md nw-font-medium nw-mb-2">Border Width</h1>
    <div class="nw-text-sm nw-text-gray-400 nw-pb-1 nw-font-medium nw-border-b nw-border-gray-100 nw-mb-4"> Boxen, Outlines, Hover-Effekte </div>
    <div class="nw-grid nw-nw-grid-cols-1 md:nw-grid-cols-4  nw-gap-6 md:nw-gap-12">
      <div class="nw-w-full nw-font-medium">
        <div class="nw-h-14 nw-mb-2 nw-border-0 nw-border-slate-300">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-border-0</div>
      </div>
      <div class="nw-w-full font-medium">
        <div class="nw-h-14 nw-mb-2 nw-border nw-border-slate-300">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-border</div>
      </div>
      <div class="nw-w-full nw-font-medium">
        <div class="nw-h-14 nw-mb-2 nw-border-2 nw-border-slate-300">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-border-2</div>
      </div>
      <div class="nw-w-full nw-font-medium">
        <div class="nw-h-14 nw-mb-2 nw-border-4 nw-border-slate-300">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-border-4</div>
      </div>
      <div class="nw-w-full nw-font-medium">
        <div class="nw-h-14 nw-mb-2 nw-border-6 nw-border-slate-300">
        </div>
        <div class="nw-text-xs nw-text-gray-400"> nw-border-6</div>
      </div>
    </div>
  </div>
</div>