<div class="nw-grid md:nw-grid-cols-2 nw-grid-cols-1">

    <div class="nw-grid md:nw-grid-cols-2 nw-grid-cols-1 nw-rounded-lg nw-bg-white">
        <div>
            {{>@image--teaser-half-page-image}}
        </div>
        <div class="nw-shadow-md">
            {{>@banner}}{{>@headline--teaser-half-page}}
        </div>
    </div>
    <div></div>
</div>

