<h1 class="nw-text-xl">Wichtige Links</h1>

<ul>
  <li class="nw-flex nw-justify-start">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="nw-h-5 nw-w-5"
      viewBox="0 0 20 20"
      fill="currentColor"
      height="20"
      width="20"
    >
      <path
        fill-rule="evenodd"
        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
        clip-rule="evenodd"
      />
    </svg>
    <a
      href="https://xd.adobe.com/view/a8396049-505f-4e9c-8c92-9242a54dda7f-fd6a/"
      target="_blank"
      >Design-Vorlagen</a
    >
  </li>
  <li class="nw-flex nw-justify-start">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="nw-h-5 nw-w-5"
      viewBox="0 0 20 20"
      fill="currentColor"
      height="20"
      width="20"
    >
      <path
        fill-rule="evenodd"
        d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
        clip-rule="evenodd"
      />
    </svg>
    <a href="https://heroicons.com/" target="_blank">Icons</a>
  </li>
</ul>
