<ul
  id="nw-menu-section"
  class="
    nw-flex nw-bg-white nw-justify-items-stretch nw-px-0
    sm:nw-px-2
    nw-h-10 nw-items-center nw-mt-16
    sm:nw-mt-0
  "
>
  <!-- burger menu -->
  <li
    id="nw-burger"
    class="nw-nav-item nw-pr-3 nw-py-2 nw-hidden sm:nw-inline-block"
  >
    <a href="#" class="nw-burger-menu-switcher">
      <span
        id="nw-hidden-burger"
        class="nw-flex nw-justify-start nw-items-center nw-gap-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="nw-h-5 nw-w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
          height="20"
          width="20"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          />
        </svg>
        <span
          class="
            nw-uppercase nw-text-black nw-text-sm nw-hidden
            md:nw-inline-block
          "
          >Menü</span
        >
      </span>
    </a>
  </li>
  <li class="nw-menu-seperator nw-hidden md:nw-inline-block"></li>
  <!-- navigation -->
  <li id="nw-navigation" class="nw-flex-grow nw-overflow-hidden">
    <div class="embla-navigation nw-max-w-full lg:nw-max-w-2xl">
      <div class="embla-navigation__viewport nw-overflow-hidden">
        <nav class="embla-navigation__container nw-flex nw-text-sm">
          {{#each menuitems-lokal}} {{#if this.active}}
          {{>'@menu-nav-item--active' this}} {{else}} {{>'@menu-nav-item' this}}
          {{/if}} {{/each}}
        </nav>
      </div>
      {{>'@menu-nav-scroll-buttons'}}
    </div>
  </li>
  <!-- service links -->
  <!--  {{>'@service-links'}}-->
</ul>
