<ul
  id="nw-menu-section"
  class="
    nw-flex nw-bg-white nw-justify-items-stretch nw-px-0
    sm:nw-px-2
    nw-h-10 nw-items-center
  "
>
  <!-- burger menu -->
  <li
    id="nw-burger"
    class="nw-nav-item nw-pr-3 nw-py-2 nw-hidden sm:nw-inline-block"
  >
    <a href="#" class="nw-burger-menu-switcher">
      <span
        id="nw-hidden-burger"
        class="nw-flex nw-justify-start nw-items-center nw-gap-1"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="nw-h-5 nw-w-5"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1z"
            clip-rule="evenodd"
          />
        </svg>
        <span
          class="
            nw-uppercase nw-text-black nw-text-sm nw-hidden
            md:nw-inline-block
          "
          >Menü</span
        >
      </span>
    </a>
  </li>
  <li class="nw-menu-seperator nw-hidden md:nw-inline-block"></li>
  <!-- newsticker -->
  <li id="nw-newsticker">
    <a
      href="#"
      class="
        nw-flex nw-justify-start nw-items-center nw-text-sm nw-pt-1 nw-px-2
      "
    >
      Newsticker
    </a>
    <span
      class="nw-relative nw-bg-white nw-leading-none nw-left-10"
      style="bottom: -3px"
    >
      <svg
        width="15"
        height="7"
        viewBox="0 0 15 7"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        role="img"
        aria-hidden="true"
      >
        <g>
          <path
            class="nw-fill-current nw-text-gray-200 nw-"
            d="M7.5 0l-7 7h14L11 3.5 7.5 0z"
          ></path>
          <path
            class="nw-fill-current nw-text-white"
            d="M7.5 1.5L2 7h11L7.5 1.5z"
          ></path>
        </g>
      </svg>
    </span>
  </li>
  <li class="nw-menu-seperator nw-inline-block"></li>
  <!-- navigation -->
  <li id="nw-navigation" class="nw-flex-grow nw-overflow-hidden">
    <div class="embla-navigation nw-max-w-full lg:nw-max-w-2xl">
      <div class="embla-navigation__viewport nw-overflow-hidden">
        <nav class="embla-navigation__container nw-flex nw-text-sm">
          <a
            href="#"
            class="
              hover:nw-border-gray-300 hover:nw-text-gray-700
              nw-text-black
              nw-inline-flex
              nw-items-center
              nw-font-normal
              nw-whitespace-nowrap
              nw-px-1
            "
          >
            <span class="nw-border-b-2 nw-font-bold">Corona</span>
          </a>
          <a
            href="#"
            class="
              hover:nw-border-gray-300 hover:nw-text-gray-700
              nw-inline-flex
              nw-items-center
              nw-px-1
              nw-font-normal
              nw-whitespace-nowrap
            "
          >
            <span>Arminia</span>
          </a>
          <a
            href="#"
            class="
              hover:nw-border-gray-300 hover:nw-text-gray-700
              nw-inline-flex
              nw-items-center
              nw-px-1
              nw-font-normal
              nw-whitespace-nowrap
            "
          >
            <span>Verkehrswende in Bielefeld</span>
          </a>
          <a
            href="#"
            class="
              hover:nw-border-gray-300 hover:nw-text-gray-700
              nw-inline-flex
              nw-items-center
              nw-px-1
              nw-font-normal
              nw-whitespace-nowrap
            "
          >
            <span>Sport</span>
          </a>
          <a
            href="#"
            class="
              hover:nw-border-gray-300 hover:nw-text-gray-700
              nw-inline-flex
              nw-items-center
              nw-px-1
              nw-font-normal
              nw-whitespace-nowrap
            "
          >
            <span>Gesundheit</span>
          </a>
          <a
            href="#"
            class="
              hover:nw-border-gray-300 hover:nw-text-gray-700
              nw-inline-flex
              nw-items-center
              nw-px-1
              nw-font-normal
              nw-whitespace-nowrap
            "
          >
            <span>Umwelt</span>
          </a>
          <a
            href="#"
            class="
              hover:nw-border-gray-300 hover:nw-text-gray-700
              nw-inline-flex
              nw-items-center
              nw-px-1
              nw-font-normal
              nw-whitespace-nowrap
            "
          >
            <span>Lifestyle</span>
          </a>
          <a
            href="#"
            class="
              hover:nw-border-gray-300 hover:nw-text-gray-700
              nw-inline-flex
              nw-items-center
              nw-px-1
              nw-font-normal
              nw-whitespace-nowrap
            "
          >
            <span>Lifestyle</span>
          </a>
          <a
            href="#"
            class="
              hover:nw-border-gray-300 hover:nw-text-gray-700
              nw-inline-flex
              nw-items-center
              nw-px-1
              nw-font-normal
              nw-whitespace-nowrap
            "
          >
            <span>Lifestyle</span>
          </a>
          <a
            href="#"
            class="
              hover:nw-border-gray-300 hover:nw-text-gray-700
              nw-inline-flex
              nw-items-center
              nw-px-1
              nw-font-normal
              nw-whitespace-nowrap
            "
          >
            <span>Lifestyle</span>
          </a>
          <a
            href="#"
            class="
              hover:nw-border-gray-300 hover:nw-text-gray-700
              nw-inline-flex
              nw-items-center
              nw-px-1
              nw-font-normal
              nw-whitespace-nowrap
            "
          >
            <span>Lifestyle</span>
          </a>
        </nav>
      </div>
      <button
        class="embla-navigation__button embla-navigation__button--prev"
        type="button"
      >
        <svg
          class="embla-navigation__button__svg"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
      <button
        class="embla-navigation__button embla-navigation__button--next"
        type="button"
      >
        <svg
          class="embla-navigation__button__svg"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          />
        </svg>
      </button>
    </div>
  </li>
  <!-- service links -->
  <li
    id="nw-service-links"
    class="nw-justify-self-end nw-hidden lg:nw-inline-block"
  >
    <div class="nw-flex nw-flex-nowrap nw-gap-2">
      <a
        href="#"
        class="
          nw-text-gray-500
          hover:nw-border-gray-300 hover:nw-text-gray-700
          nw-inline-flex nw-items-center nw-text-sm
        "
      >
        Shop
      </a>
      <a
        href="#"
        class="
          nw-text-gray-500
          hover:nw-border-gray-300 hover:nw-text-gray-700
          nw-inline-flex nw-items-center nw-text-sm
        "
      >
        Anzeigen
      </a>
    </div>
  </li>
</ul>
