<label for="passwort" class="nw-sr-only">{{password.label}}</label>
<input
    type="password"
    name="passwort"
    id="passwort"
    autocomplete="passwort"
    required
    class="
    nw-rounded
    nw-appearance-none
    nw-min-w-0
    nw-w-full
    nw-bg-white
    nw-border
    nw-nw-border-transparent
    nw-nw-rounded-md
    nw-py-1
    nw-px-2
    nw-text-base
    nw-text-black
    nw-placeholder-gray-200
  "
    placeholder="{{password.placeholder}}"
/>
