<label for="email-address" class="nw-sr-only">E-Mail Adresse</label>
<input
    type="text"
    name="textinput"
    id="textinput"
    autocomplete="email"
    required
    class="
    nw-rounded
    nw-appearance-none
    nw-min-w-0
    nw-w-full
    nw-bg-white
    nw-border
    nw-nw-border-transparent
    nw-nw-rounded-md
    nw-py-1
    nw-px-4
    nw-text-md
    nw-text-gray-900
    nw-placeholder-gray-500
    focus:nw-outline-none
    focus:nw-ring-2
    focus:nw-ring-offset-2
    focus:nw-ring-offset-gray-800
    focus:nw-ring-white
    focus:nw-border-white
    focus:nw-placeholder-gray-400
  "
    placeholder="{{placeholder}}"
/>
