<label for="email-address" class="nw-sr-only">{{email.label}}</label>
<input
  type="email"
  name="email-address"
  id="email-address"
  autocomplete="email"
  required
  class="
    nw-rounded
    nw-appearance-none
    nw-min-w-0
    nw-w-full
    nw-bg-white
    nw-border
    nw-nw-border-transparent
    nw-nw-rounded-md
    nw-py-1
    nw-px-2
    nw-text-tiny
    nw-text-gray-900
    nw-placeholder-gray-300
  "
  placeholder="{{email.placeholder}}"
/>
