<div>
  <label for="search" class="nw-sr-only">Suche</label>
  <div class="nw-mt-1 nw-relative nw-rounded-md nw-shadow-sm">
    <input
      type="text"
      name="search"
      id="search"
      class="
        nw-rounded
        nw-appearance-none
        nw-min-w-0
        nw-w-full
        nw-bg-white
        nw-border
        nw-nw-border-transparent
        nw-nw-rounded-md
        nw-py-1
        nw-px-3
        nw-text-base
        nw-text-gray-900
        nw-placeholder-gray-300
        focus:nw-outline-none
        focus:nw-ring-2
        focus:nw-ring-offset-2
        focus:nw-ring-offset-gray-800
        focus:nw-ring-white
        focus:nw-border-white
        focus:nw-placeholder-gray-400
      "
      placeholder="Suche"
    />
    <div
      class="
        nw-absolute
        nw-inset-y-0
        nw-right-0
        nw-pr-3
        nw-flex
        nw-items-center
        nw-pointer-events-none
      "
    >
      <!-- Heroicon name: solid/question-mark-circle -->
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="nw-h-5 nw-w-5 nw-text-gray-400"
        viewBox="0 0 20 20"
        fill="currentColor"
        height="20"
        width="20"
      >
        <path
          fill-rule="evenodd"
          d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
          clip-rule="evenodd"
        />
      </svg>
    </div>
  </div>
</div>
