<label for="passwort" class="nw-sr-only">{{password.label}}</label>
<input
        type="password"
        name="passwort"
        id="passwort"
        autocomplete="passwort"
        required
        class="
    nw-rounded-md
    nw-appearance-none
    nw-min-w-0
    nw-w-full
    nw-bg-white
    nw-border
    nw-nw-border-transparent
    nw-nw-rounded-md
    nw-py-1
    nw-px-4
    nw-text-tiny
    nw-text-gray-900
    nw-placeholder-gray-300
  "
        placeholder="{{password.placeholder}}"
/>
