
<style>


  @media (min-width: 768px) {
    .nw-width-container {
      max-width: 380px;
      width: 380px;
    }

  }
</style>


<div class="nw-flex nw-flex-col md:nw-flex-row nw-justify-between  nw-p-4 nw-rounded-md nw-mx-4 md:nw-mx-auto nw-text-white nw-mb-6 nw-gap-4"
      style="background-color: #2A7E4D; max-width: 950px;">
    <div class="nw-flex nw-justify-between md:nw-justify-start nw-items-center">
         <div class="nw-order-last md:nw-order-first sm:nw-mr-4">
                <img
                src="/images/nw-wortmarke-logo.svg"
                alt=""
                width="32"
                height="32"

                />
        </div>
        <div class="sm:nw-mr-5 md:nw-flex">
              <p class="nw-text-md md:nw-text-lg nw-font-bold nw-pr-2">Zum Adventskalender: </p>
              <p class="nw-text-base md:nw-text-lg">24 Tage, 24 Überraschungen</p>
        </div>

        <div  class="nw-hidden md:nw-flex">
              <div>
                <img
                    src="/images/gift.svg"
                    alt=""
                    width="40"
                    height="40"
                />
              </div>
              <div class="nw-flex  nw-items-end ">
                <img
                    src="/images/gift.svg"
                    alt=""
                    width="20"
                    height="20"
                  />
              </div>
        </div>
    </div>
    <div class="nw-flex nw-justify-between nw-items-center">
        <div>
            <a href="#" class="nw-btn-primary-md  " >
            Türchen öffnen
            </a>
        </div>
        <div  class="nw-flex md:nw-hidden">
            <div>
                <img
                  src="/images/gift.svg"
                  alt=""
                  class=""
                  width="40"
                  height="40"
                />
            </div>
            <div class="nw-flex  nw-items-end ">
                <img
                    src="/images/gift.svg"
                    alt=""
                    width="20"
                    height="20"
                />
            </div>
        </div>
    </div>
</div>








