<div class="nw-mx-4 nw-mt-8 nw-mb-4 nw-flex nw-space-x-2 nw-h-10">
  <img
    class="nw-rounded-full nw-h-10 nw-w-10 nw-object-cover nw-object-center"
    src="{{avatar-src}}"
  />
  <div>
    <div class="nw-flex nw-text-sm nw-text-gray-500">
      <p>von&nbsp;</p>
      <p itemprop="author">{{author}}</p>
    </div>

    <div
      itemprop="datePublished"
      content="2020-11-24"
      class="nw-text-xs nw-text-gray-400"
    >
      {{release-date}}
    </div>
  </div>
</div>
