<div class="nw-text-black nw-text-xl nw-font-bold nw-text-center nw-mb-2">
  Fragen und Antworten
</div>
<ul class="nw-max-w-xl nw-mx-auto nw-mb-8">
  {{#each items}} {{>'@accordion-item' this}} {{/each}}
</ul>
