<div class="nw-bg-white nw-pb-4 nw-mx-0 nw-px-4 sm:nw-px-40 md:nw-px-52">
  <div>
    <p
      class="
        nw-text-left
        nw-text-base
        nw-font-roboto
        nw-font-bold
        nw-opacity-100
        nw-text-black
        nw-pt-4
        nw-pb-1
        nw-tracking-normal
      "
    >
      {{headline}}
    </p>
  </div>
  <div id="">
    <div class=""></div>
    <div class="nw-max-w-full nw-mb-6 sm:nw-mb-0 nw-bg-white">
      <div
        class="
          nw-flex
          nw-justify-center
          nw-content-center
          nw-mb-1
          nw-ml-auto
          nw-mr-auto
        "
      >
        <div
          class="
            nw-bg-gray-600
            nw-relative
            nw-text-white
            nw-text-center
            nw-w-10
            nw-h-10
            nw-rounded-full
            nw-flex
            nw-content-center
            nw-justify-center
          "
        >
          <span
            style="transform: translateY(-50%)"
            class="nw-absolute nw-top-2/4"
            >FW</span
          >
        </div>
      </div>
      <div
        class="
          nw-px-4
          nw-font-bold
          nw-font-roboto
          nw-text-black
          nw-text-base
          nw-tracking-normal
          nw-text-center
        "
      >
        Willkommen,
        <br />
        Frank-Walter von Halten
      </div>
    </div>
  </div>

  <div
    class="
      nw-px-4
      nw-font-medium
      nw-font-roboto
      nw-text-black
      nw-text-tiny
      nw-tracking-normal
      nw-text-center
    "
  >
    Was möchten Sie als nächstes tun?
  </div>
  <div
    class="
      nw-px-4
      nw-font-normal
      nw-font-roboto
      nw-text-black
      nw-text-sm
      nw-tracking-normal
      nw-text-center
    "
  >
    Anzeigen erstellen oder einfach bereits erstelle Anzeigen verwalten.
  </div>
  <div class="">
    <div class="nw-bg-gray-100 nw-rounded nw-mt-4">
      <div class="nw-pt-2">
        <svg
          class="nw-mx-auto nw-text-gray-500"
          width="35"
          height="35"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
        <div>
          <p
            class="
              nw-mx-auto
              nw-pt-1
              nw-text-sm
              nw-font-roboto
              nw-font-bold
              nw-tracking-normal
              nw-text-black
              nw-uppercase
              nw-text-center
            "
          >
            Anzeigen erstellen
          </p>

          <p
            class="
              nw-mx-auto
              nw-pb-2
              nw-px-4
              nw-text-sm
              nw-font-roboto
              nw-font-normal
              nw-tracking-normal
              nw-text-gray-600
              nw-text-center
            "
          >
            Für den Bereich NW Fundgrube, Immo-markt, Jobbörse, Familienanzeigen
            uvm.
          </p>
          <div class="nw-mx-2">
            <a
              href=""
              class="
                nw-mt-1
                nw-mb-4
                nw-w-full
                nw-text-white
                nw-bg-red-500
                nw-rounded
                nw-text-center
                nw-inline-block
                nw-text-tiny
                nw-font-roboto
                nw-tracking-normal
                nw-font-bold
                nw-cursor-pointer
                nw-py-1
                nw-px-auto
                hover:nw-border-gray-300
              "
              type="button"
            >
              Anzeige erstellen
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
