<div class=" nw-px-4 nw-pt-4 nw-pb-3 nw-flex nw-flex-col nw-gap-4 nw-bg-[#F2F5F9] nw-border nw-border-gray-100 nw-rounded-md">
  <div class="nw-flex nw-flex-row nw-gap-4">
    <div>
      <div class="kommentar-teaser-img-container">
        <img class="nw-rounded-full nw-w-full nw-h-full nw-mb-6 md:nw-mb-4 nw-object-cover"
             src="/images/kommentar-teaser-img.jpg" alt="profil-bild">
      </div>
    </div>
    <div>
      <p class="nw-font-medium nw-text-xs nw-text-slate-300">
        Meinung
      </p>
      <p class="nw-font-bold nw-text-base nw-text-sky-300" style="font-family: 'Roboto Serif';">
        <i>
          Warm anziehen! Fünf unbequeme Wahrheiten zur Wärmeplanung in Bielefeld
        </i>
      </p>
    </div>
  </div>
  <div class="nw-flex  nw-gap-3.5">
    <!-- Erste SVG-Icon -->
    <div class="nw-flex nw-place-items-center">
      <p class="nw-pr-1.5 nw-text-xs nw-text-gray-600  ">Michael Schläger  |</p>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
           stroke="currentColor" class="nw-w-4 nw-h-4 nw-mr-1 nw-text-slate-300">
        <path stroke-linecap="round" stroke-linejoin="round"
              d="M8.625 9.75a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H8.25m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0H12m4.125 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm0 0h-.375m-13.5 3.01c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.184-4.183a1.14 1.14 0 0 1 .778-.332 48.294 48.294 0 0 0 5.83-.498c1.585-.233 2.708-1.626 2.708-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
      </svg>
      <span class="nw-text-xs">100</span>
    </div>
    <!-- Zweite SVG-Icon -->
    <svg xmlns="http://www.w3.org/2000/svg" class="nw-w-6 nw-h-6 nw-text-slate-300 nw-ml-auto" viewBox="0 0 24 24"
         fill="none">
      <path
        d="M5.58579 3.58579C5.21071 3.96086 5 4.46957 5 5V21L12 17.5L19 21V5C19 4.46957 18.7893 3.96086 18.4142 3.58579C18.0391 3.21071 17.5304 3 17 3H7C6.46957 3 5.96086 3.21071 5.58579 3.58579Z"
        stroke="#4A5568" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </div>

</div>