<!--Icon mit dem Text -->
<div class="nw-remove-padding nw-bg-custom-lesepaten-bg nw-pt-8 nw-pb-10 md:nw-pt-12">
    <p class="nw-px-4 nw-text-2xl nw-leading-6 nw-font-bold nw-text-center nw-mb-7 md:nw-mb-10">
        Wie funktioniert die Lese-Patenschaft?
    </p>
    <div class="nw-flex nw-flex-col md:nw-flex-row nw-flex-wrap nw-gap-6 md:nw-gap-4 nw-px-7">
        <div class="nw-text-center nw-max-w-xs nw-mx-auto">
            <img class="nw-w-14 nw-h-14 nw-mt-2 nw-mb-6 nw-mx-auto" src="/images/user.svg" alt="user-icon">
            <div class="nw-font-bold nw-leading-6 nw-text-md">
                Bestellung aufgeben
            </div>
            <div class="nw-text-base nw-leading-6">
                Sie sponsern einer Schule die gedruckte Zeitung (450€/Jahr) oder einen ePaper-Klassensatz (500€/Jahr)
                und fördern somit den Nachwuchs in der Region.
            </div>
        </div>
        <div class="nw-text-center nw-flex nw-flex-col nw-max-w-xs nw-mx-auto">
            <div class="nw-mx-auto nw-flex nw-items-center nw-mt-2 nw-mb-6">
                <img class="nw-w-14 w-h-14" src="/images/truck.svg" alt="truck-icon">
                <img class="nw-w-7 nw-h-7" src="/images/arrow-small-right.svg" alt="arrow-small-right">
            </div>
            <div class="nw-font-bold nw-leading-6 nw-text-md">
                Versand der Zeitung
            </div>
            <div class="nw-text-base nw-leading-6">
                Wir liefern die Zeitung an die von Ihnen gewünschte Schule in Ostwestfalen oder eine Schulklasse erhält
                einen Zugang zum ePaper.
            </div>
        </div>
        <div class="nw-text-center nw-max-w-xs nw-mx-auto">
            <img class="nw-w-14 nw-h-14 nw-mt-2 nw-mb-6 nw-mx-auto" src="/images/user-group.svg" alt="user-group-icon">
            <div class="nw-font-bold nw-leading-6 nw-text-md">
                Als Lese-Pate unterstützen
            </div>
            <div class="nw-text-base nw-leading-6">
                Schülerinnen und Schüler erhalten täglichen Zugang zur Tageszeitung – denn lesen macht schlau.
            </div>
        </div>
    </div>
</div>
<!--Icon mit dem Text Ende -->
<!-- Accordion -->
{{>'@lesepaten-accordion'}}
<!-- Accordion Ende-->
<!--Slider -->
<div>
    <div class="nw-leadind-6 nw-text-center nw-px-4 nw-pb-6">
        <p class="nw-text-md nw-text-gray-600">Partner der Lesepaten</p>
        <p class="nw-text-2xl nw-font-bold">Unsere Sponsoren</p>
    </div>
    <div class="slider lesepaten nw-pl-4 sm:nw-pl-0 nw-bg-white">
        <div class="nw-mb-8">
            <div class="embla embla--main-carousel nw-mx-auto">
                <div class="embla__viewport relative">
                    <div class="embla__container nw-text-md">
                        {{#each images-slider}}
                            <div class="
                                            embla__slide
                                            nw-min-w-7/10
                                            md:nw-min-w-3/12">
                                <div class="embla__slide__inner nw-bg-clip-padding nw-block">
                                    <a href="javascript:void(0)" class="nw-cursor-pointer slider-Image">
                                        <div
                                            class="nw-aspect-w-16 nw-aspect-h-9 nw-bg-gray-100 nw-rounded-md">
                                            <img alt="image-slider"
                                                 class="    embla__slide__img
                                                                        nw-h-full nw-w-full
                                                                        nw-object-contain
                                                                        nw-rounded-md nw-px-2"
                                                 src={{src}}
                                            />
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
            <!-- Dots -->
            <div class="embla__dots"></div>
            <script type="text/template" id="embla-dot-template">
                <button class="embla__dot" type="button"></button>
            </script>
        </div>
    </div>
</div>
<!-- Slider Ende -->
