<div class="nw-mx-3 nw-mb-3 nw-py-0">
  <p
    itemprop="headline"
    class="
      sm:nw-text-xl
      md:nw-text-md
      nw-tracking-normal
      nw-text-left
      nw-font-bold
      nw-text-black
      nw-leading-tight
    "
  >
    {{headline}}
  </p>
</div>
