<div class="nw-mx-3 nw-mb-3 nw-py-0">
  <p
    itemprop="headline"
    class="
      nw-text-md
      nw-tracking-wide
      nw-text-align-left
      nw-font-bold
      nw-text-black
      nw-leading-tight
    "
  >
    {{headline}}
  </p>
</div>
