<div class="nw-mx-3 nw-mb-2 nw-py-0">
  <p
    itemprop="headline"
    class="
      nw-text-xl
      md:nw-text-lg md:nw-mt-4
      nw-tracking-normal
      nw-text-left
      nw-font-bold
      nw-text-black
      nw-leading-tight
    "
  >
    {{headline}}
  </p>
  <p
    class="
      nw-text-sm nw-tracking-normal nw-text-left nw-leading-tight nw-visible
      md:nw-hidden
    "
  >
    Stiko für Booster Impfungen für alle ab 18 Spahn
  </p>
</div>
