<div>
    <p
        itemprop="headline"
        class="
      nw-text-lg
      nw-text-left
      nw-font-bold
      nw-text-black
    "
    >
        {{headline}}
    </p>
    <p
        class="
      nw-text-md nw-text-left nw-visible
      md:nw-hidden
    "
    >
        {{caption}}
    </p>
</div>
