<div>
  <p
    itemprop="headline"
    class="
      nw-text-xl
      md:nw-text-xl
      nw-tracking-normal
      nw-text-left
      nw-font-bold
      nw-text-black
      nw-leading-tight
    "
  >
    {{headline}}
  </p>
  <p
    class="
      nw-text-base nw-tracking-normal nw-text-left nw-leading-tight nw-visible
      md:nw-hidden
    "
  >
    {{caption}}
  </p>
</div>
