<div class="nw-mx-2 nw-mb-3 nw-py-0">
  <p
    itemprop="headline"
    class="
      nw-mt-2
      nw-tracking-wider
      nw-text-align-left
      nw-font-family-roboto
      nw-letter-spacing-0
      nw-line-spacing-24
      nw-character-spacing-0
      nw-font-bold
      nw-font-size-16
      nw-line-height-28
      nw-text-black
      nw-leading-tight
    "
  >
    {{headline}}
  </p>
</div>
