<div class="nw-bg-white nw-p-4">
  <a href="#">
    <div class="nw-flex nw-flex-col ">
      <div class="nw-mb-4">
        <img
          src="/images/artikel-teaser-lg-image.jpg"
          class="nw-object-cover nw-w-full nw-rounded-md md:nw-mb-1" width="344" height="200" loading="lazy"
          alt="Bild zu blabla" />
      </div>
      <div>
        <p class="nw-plus-icon-l nw-text-gray-600 nw-text-base nw-font-medium nw-mb-4">
          Beliebteste Schulform
        </p>
        <p class="nw-font-bold nw-text-lg nw-mb-4">
          Unstimmige Zahlen: Großer Ärger um extrem gefragte Realschulplätze in Bielefeld
        </p>
        {{>'@artikel-content-icons'}}
      </div>
    </div>
  </a>
</div>