<div id="newarticle">
    <div class="nw-header-container">
        {{>@header-full--lokal}}
    </div>
    {{>@breadcrumb}}
</div>
<div class="nw-container">
    <div>
        <!-- banner author social icons -->
        {{>@articleheader}}
        <!-- banner author social icons ende-->
        <!-- image mit button -->
        <div class="nw-my-8">{{>@pano-image}}</div>
        <!-- image mit button ende -->
        <!-- Text / ads/ Text /empfehlungen module and image rounded module mit Texte-->
        <div class="article-detail-entry-content">
            <div>
                {{>@articletext}}
            </div>
        </div>
        {{>@recobox--rebrush-with-ad}}
    </div>
</div>