<div class="nw-bg-white nw-py-4">
  <div class="nw-py-8 nw-max-w-3xl nw-mx-auto">
    {{>'@banner'}}
    <div class="nw-mx-4">
      <p class="nw-font-bold nw-text-xl md:nw-text-2xl nw-text-black nw-pb-2">
        {{article-title}}
      </p>
      <p class="nw-text-base nw-text-black nw-max-w-xl nw-mb-2">{{text}}</p>
      <p class="nw-info-text">{{release-date}}</p>
    </div>
    {{>'@author'}} {{>'@social-icons'}}
  </div>
  {{>@image}}
  <div class="nw-max-w-3xl nw-mx-auto">{{>@article-themenbox}}</div>
  <div class="nw-p-4">{{>@image--rounded}}</div>
  {{>@slider}} {{>@slider--mit-text}} {{>@video-box}}
  <div class="nw-max-w-3xl nw-mx-auto nw-px-4 nw-my-4">{{>@privacy}}</div>
  <div class="nw-max-w-3xl nw-mx-auto nw-px-4 nw-my-4">
    {{>@info-box}}{{>@link-liste}} {{>@download}}
  </div>
</div>
