<div class="nw-bg-white nw-py-4">
  <div class="nw-py-8 nw-max-w-3xl nw-mx-auto">
    {{>'@banner'}}
    <div class="nw-mx-4">
      <p
        class="
          nw-font-bold nw-text-2xl
          md:nw-text-2xl
          nw-text-black nw-pb-2 nw-leading-tight
        "
      >
        {{article-title}}
      </p>
      <p class="nw-text-base nw-text-black nw-max-w-xl nw-mb-4">{{text}}</p>
    </div>
    {{>'@image--with-button'}} {{>'@author'}} {{>'@social-icons'}}
  </div>
  <div class="nw-max-w-3xl nw-mx-auto">{{>@article-themenbox}}</div>
  <div class="nw-p-4">{{>@image--rounded}}</div>
  {{>@slider}}
  <p class="nw-p-4 nw-text-tiny">
    Sie informiere sich seit 20 Jahren dagegen in alternativen Medien. Dass dort
    auch, wie im Fall der Bünder Telegram-Gruppe, Holocaustleugnung betrieben
    wird, sieht sie offenbar gelassen. „Ich habe nicht die Zeit, um alle
    abonnierten Kanäle zu kontrollieren."
  </p>
  {{>@slider--mit-text}} {{>@video-box}}
  <div class="nw-max-w-3xl nw-mx-auto nw-px-4 nw-my-4">{{>@privacy}}</div>
  <div class="nw-max-w-3xl nw-mx-auto nw-px-4 nw-my-4">
    {{>@info-box}}{{>@link-liste}} {{>@download}}
  </div>
</div>
