<div
    class="nw-container"
>
    <div>
        {{>@header-full--lokal}}
    </div>
    <!-- ads-header-->
    <div class="sm:nw-pt-6">{{>@ads--header}}</div>
    <!-- ads-header ende -->
    <!-- banner author social icons -->
    <div class="nw-px-4 md:nw-px-6 nw-py-6 nw-text-md md:nw-w-5/6 md:nw-mx-auto">
        {{>'@dachzeile'}}
        <div>
            <p
                class="
          nw-font-bold nw-text-2xl
          md:nw-text-3xl
          nw-text-black nw-pb-3 nw-leading-tight
        "
            >
                {{article-title}}
            </p>
            <p class="nw-text-md nw-text-black nw-w-5/6 nw-mb-6">{{text}}</p>
        </div>
        {{>'@social-icons'}}
    </div>
    <!-- banner author social icons ende-->
    <!-- image mit button -->
    <div class="nw-my-8">{{>@pano-image}}</div>
    <!-- image mit button ende -->
    <!-- Text / ads/ Text /empfehlungen module and image rounded module mit Texte-->
    <div class="nw-px-0 md:nw-px-2 nw-text-md nw-mx-auto">
        <div class="article-detail-entry-content">
            {{>'@author'}}
            <div class="md:nw-float-right md:nw-max-w-xs nw-ml-6 nw-mb-6">
                {{>@ads}}
            </div>
            <p class="em_text">
                <span class="nw-text-gray-600"> Bünde. </span> Sie wettern gegen
                Geimpfte, leugnen den Holocaust und möchten Politiker vor
                Militär-gerichten sehen. Mehr als 120 Menschen, viele aus dem Bünder
                Land, haben sich seit einigen Monaten mit Hilfe des Programms
                „Telegram" in einer geschlossenen Gruppe vernetzt.
            </p>
            <p class="em_text">
                Alle Schichten und viele Berufszweige sind vertreten:
                <a href="#" class="nw-underline nw-text-red-500">
                    Darunter sind Fotografen, Heilpraktiker, Unternehmer und auch
                    medizinische Angestellte.
                </a>
                Die Neue Westfälische hat über mehrere Wochen Einblicke in eine Szene
                bekommen, die nicht nur die Corona-Politik ablehnt, sondern sich
                offenbar immer mehr radikalisiert – bis hin zu Mordfantasien.
            </p>
            {{>@ads--body}}
            <p class="em_text">
                Den Kontakt hält die Gruppe über den Messenger-Dienst „Telegram".
                Erfunden von einem russischen Programmierer hat das Unternehmen heute
                seinen Sitz in den Vereinigten Arabischen Emiraten. Nutzer können sich
                anonym austauschen – vor der deutschen Justiz in der Regel gut
                geschützt. Das wird ausgenutzt. Tausende Nachrichten ploppten in den
                vergangenen<a href="#" class="nw-underline nw-text-red-500">
                Monaten auf den Handys der Gruppenmitglieder auf.</a
            >
                Hauptsächlich werden Beiträge von prominenten Coronaleugnern und
                anderen Gruppen aus der Szene geteilt.
            </p>
            <p class="em_text">
                Dort finden sich eine<a href="#" class="nw-underline nw-text-red-500">
                Menge Falschinformationen
            </a>
                zur aktuellen Pandemie.<a
                href="#"
                class="nw-underline nw-text-red-500"
            >
                Bedient wird die ganze Palette der Corona-Leugner:
            </a>
                Es ist ein Einblick in eine seltsame Parallelwelt, in der Geimpfte die
                Ansteckenden sind und in großen Zahlen versterben. Aber auch ein
                digitaler Ort, an dem der Übergang von Falsch-informationen zu
                rechtsextremen Inhalten fließend ist.
            </p>
            {{>@empfehlungen}}
            <div class="md:nw-float-left md:nw-max-w-xs nw-mr-4 nw-mb-4">
                {{>@image--rounded}}
            </div>
            <h2 class="Zwischenzeile">Seltsame Parallelwelt</h2>
            <p class="em_text">
                Ein Mitglied teilte zuletzt historische Fotos, die angeblich beweisen
                sollen, dass Konzentrationslager nicht echt seien, weil dort
                abgemagerte Deutsche in „angebliche KZ Kleidung gesteckt und in den
                angeblichen KZs fotografiert" worden seien, weil dort abgemagerte
                Deutsche in „angebliche KZ Kleidung gesteckt und in den angeblichen
                KZs fotografiert" worden seien. Die Botschaft: Den Deutschen sei der
                Holocaust eingeredet worden. In einem anderen Beitrag teilt die
                Administratorin der Gruppe, eine Tierschützerin aus Bünde, ein Video
                von der verurteilten.
            </p>
            <p class="em_text">
                In dem Begleittext steht, dass deutsche Gerichte entschieden hätten,
                dass „der Film ’Holocaust’ die Wahrheit ist." Die Anführungsstriche
                beim Begriff Holocaust stehen auch im Original. Ein Gespräch mit der
                NW lehnt die Tierschützerin ab. Die Begründung: „Ich muss mich
                momentan um meine kranke Katze kümmern und habe gerade keinen Kopf für
                ein Interview", sagt sie.
            </p>
            <!-- Text / ads/ Text ende /empfehlungen module and image rounded module mit Texte ende-->
            <!-- Slider -->
            <div class="nw-remove-padding-border nw-pb-10">{{>@slider}}</div>
            <!-- Slider ende -->
            <!-- Text/ ads/ Text /Privacy Module mit Text Section , und Info-box / Link-liste/ download-liste/ Kommentare Module-->
            <h2 class="Zwischenzeile">
                Kaum ein Mitglied will sprechen
            </h2>
            <p class="em_text">
                Sie informiere sich seit 20 Jahren dagegen in alternativen Medien.
                Dass dort auch, wie im Fall der Bünder Telegram-Gruppe,
                Holocaust-leugnung betrieben wird, sieht sie offenbar gelassen. „Ich
                habe nicht die Zeit, um alle abonnierten Kanäle zu kontrollieren."
            </p>
            <p class="em_text">
                Deutlich offener als gegenüber der NW ist man dagegen im anonymen
                Chat. Hier fühlt man sich unbeobachtet. Wie weit sich die Szene
                mittlerweile radikalisiert hat, zeigen.
            </p>
            <div class="nw-mx-auto md:nw-items-end nw-mt-6 md:nw-mt-0">{{>@ads}}</div>
            <h2 class="Zwischenzeile">
                Krudes Weltbild
            </h2>
            <p class="em_text">
                Welches Weltbild der Mann im Kopf hat, zeigt sich nur drei Tage später.
                Am 13. Dezember teilt er den Mitgliedern mit, dass das „3. Reich niemals
                untergegangen" und Corona „nur ein Ablenkungsmanöver" sei. Zuvor
                schreibt er schon, dass Politiker sich künftig vor einem
                „Militärgericht" verantworten müssen. Vor einem ordentlichen Gericht
                könnten dagegen einige Beiträge mit strafrechtlicher Relevanz das sagt:
                  <a href="https://www.heise.de/" target="_blank">
                    Guardian
                  </a>
            </p>
            <div class="nw-my-6 ">{{>@privacy}}</div>
            <p class="em_text">
                Welches Weltbild der Mann im Kopf hat, zeigt sich nur drei Tage später.
                Am 13. Dezember teilt er den Mitgliedern mit, dass das „3. Reich niemals
                untergegangen" und Corona „nur ein Ablenkungsmanöver" sei. Zuvor
                schreibt er schon, dass Politiker sich künftig vor einem
                „Militärgericht" verantworten müssen. Vor einem ordentlichen Gericht
                könnten dagegen einige Beiträge mit strafrechtlicher Relevanz das sagt:
            </p>
            <h2 class="Zwischenzeile">
                Kaum ein Mitglied will öffentlich sprechen
            </h2>
            <p class="em_text nw-pb-3">
                Sie informiere sich seit 20 Jahren dagegen in alternativen Medien. Dass
                dort auch, wie im Fall der Bünder Telegram-Gruppe, Holocaustleugnung
                betrieben wird, sieht sie offenbar gelassen. „Ich habe nicht die Zeit,
                um alle abonnierten Kanäle zu kontrollieren."
            </p>
            <div class="nw-remove-padding-border nw-mb-6">
                {{>@video-box}}
            </div>
            <p class="em_text">
                Deutlich offener als gegenüber der NW ist man dagegen im anonymen Chat.
                Hier fühlt man sich unbeobachtet. Wie weit sich die Szene mittlerweile
                radikalisiert hat, zeigen Nachrichten vom 10. Dezember. Ein Beitrag
                bringt einen Nutzer mit dem Namen „Erich" offenbar so in Rage, dass er
                eine Morddrohung in sein Handy tippt und abschickt. „Es werden Köpfe
                rollen", schreibt er. Wenig später antwortet ihm ein Mann aus Bünde:
                „Ich denke, es werden Kugeln sein".
            </p>
            <br/>
            <h2 class="Zwischenzeile">
                Kaum ein Mitglied will öffentlich sprechen
            </h2>
            <p class="em_text">
                Sie informiere sich seit 20 Jahren dagegen in alternativen Medien. Dass
                dort auch, wie im Fall der Bünder Telegram-Gruppe, Holocaustleugnung
                betrieben wird, sieht sie offenbar gelassen. „Ich habe nicht die Zeit,
                um alle abonnierten Kanäle zu kontrollieren."
            </p>
            <br/>
            <h2 class="Zwischenzeile">
                Wo kann ich die dollas olas beantragen?
            </h2>
            <br/>
            <p class="nw-text-md nw-font-bold nw-leading-tight nw-pb-3">
                In Steinhagen bei Florian
            </p>
            <p class="em_text">
                Sie informiere sich seit 20 Jahren dagegen in alternativen Medien. Dass
                dort auch, wie im Fall der Bünder Telegram-Gruppe, Holocaustleugnung
                betrieben wird, sieht sie offenbar gelassen. „Ich habe nicht die Zeit,
                um alle abonnierten Kanäle zu kontrollieren."
            </p>
            <br/>
            <p class="nw-text-md nw-font-bold nw-leading-tight nw-pb-3">
                In Steinhagen bei Florian
            </p>
            <p class="em_text">
                Sie informiere sich seit 20 Jahren dagegen in alternativen Medien. Dass
                dort auch, wie im Fall der Bünder Telegram-Gruppe, Holocaustleugnung
                betrieben wird, sieht sie offenbar gelassen. „Ich habe nicht die Zeit,
                um alle abonnierten Kanäle zu kontrollieren."
            </p>
            <br/>
            <p class="nw-text-md nw-font-bold nw-leading-tight nw-pb-3">
                In Steinhagen bei Florian
            </p>
            <p class="em_text">
                Sie informiere sich seit 20 Jahren dagegen in alternativen Medien. Dass
                dort auch, wie im Fall der Bünder Telegram-Gruppe, Holocaustleugnung
                betrieben wird, sieht sie offenbar gelassen. „Ich habe nicht die Zeit,
                um alle abonnierten Kanäle zu kontrollieren."
            </p>
            <br/>
            <p class="em_text">
                Deutlich offener als gegenüber der NW ist man dagegen im anonymen Chat.
                Hier fühlt man sich unbeobachtet. Wie weit sich die Szene mittlerweile
                radikalisiert hat, zeigen Nachrichten vom 10. Dezember. Ein Beitrag
                bringt einen Nutzer mit dem Namen „Erich" offenbar so in Rage, dass er
                eine Morddrohung in sein Handy tippt und abschickt. „Es werden Köpfe
                rollen", schreibt er. Wenig später antwortet ihm ein Mann aus Bünde:
                „Ich denke, es werden Kugeln sein".
            </p>
            <div class="nw-mt-8 nw-mb-3">{{>@info-box}}</div>
            {{>@link-liste}} {{>@download (contextData '@download')}}
        </div>
    </div>
    <div class="nw-px-6 nw-py-6 nw-text-md md:nw-w-5/6 nw-mx-auto">
            {{>@kommentar (contextData "@kommentar")}}
    </div>
    <!-- Text/ ads/ Text ende/ Privacy Module mit Text Section , und Info-box / Link-liste/ download-liste/ Kommentare Module ende -->
</div>
{{>@footer (contextData '@footer') }}