<div class="nw-bg-white">
    <!-- absolute-foto-->
    <div
        class="
      nw-w-full nw-relative nw-pt-4 nw-px-2
      md:nw-px-2 md:nw-mb-4
      lg:nw-mb-4
    "
    >
        <div
            class="
        nw-w-full
        nw-h-full
        nw-flex
        nw-flex-col
        nw-absolute
        nw-top-0
        nw-left-0
        nw-z-30
      "
        >
            <div
                class="
          nw-ml-0 nw-pl-12
          md:nw-pl-0
          lg:nw-pl-0
          nw-mt-16
          md:nw-ml-12
          lg:nw-ml-12
          nw-text-base
          md:nw-text-lg
          lg:nw-text-2xl
          nw-font-bold nw-italic nw-text-gray-798 nw-max-w-xs
          md:nw-max-w-sm
          lg:nw-max-w-md
          nw-hidden
          md:nw-block
        "
            >
                <span class="nw-font-normal"> {{absolute-text}}</span>
            </div>
        </div>
        <img
            class="nw-rounded-md nw-object-cover nw-w-full nw-mt-2 md:nw-mt-8"
            src="/images/landingpage-fuer-vertrieb/img-asset-1000x666.png"
            alt=""
        />
        <div
            class="
        nw-mx-auto
        nw-px-4
        nw-py-4
        nw-text-base
        nw-font-bold
        nw-italic
        nw-text-gray-800
        nw-block
        md:nw-hidden
      "
        >
            <span class="nw-font-normal"> {{absolute-text}}</span>
        </div>
    </div>
    <!-- absolute-foto-ende -->
    <!--lust auf digital -->
    <div class="md:nw-h-full nw-bg-gray-100 nw-rounded-md nw-mx-2 nw-mb-4">
        <div
            class="
        nw-text-4xl nw-font-bold nw-text-left
        md:nw-text-center
        nw-pt-4 nw-px-4
        md:nw-px-16 md:nw-px-0
      "
        >
      <span class="nw-text-gray-600"> Lust auf </span
      ><span class="nw-text-red-500"> digital?</span>
        </div>
        <div
            class="
        nw-grid nw-grid-cols-1
        md:nw-grid-cols-4
        nw-gap-4 nw-mt-4 nw-mx-4 nw-pt-2 nw-pb-20
        md:nw-pb-6
      "
        >
            <div class="nw-hidden md:nw-block">
                <img
                    class="nw-rounded-md nw-object-cover nw-w-full"
                    src="/images/landingpage-fuer-vertrieb/img-asset-epaper-1000x1474.png"
                    alt=""
                />
            </div>
            <div class="nw-col-span-4 md:nw-col-span-2 nw-text-lg">
                <div class="nw-mt-0 md:nw-mt-4 nw-text-black nw-font-bold">
                    {{description1}}
                </div>
                <br/>
                <div class="nw-text-red-500 nw-font-normal">{{description2}}</div>
                <div class="nw-text-center md:nw-text-left nw-pt-8 md:nw-pt-6 nw-pb-4">
                    <a
                        href="https://shop.nw.de/4-wochen-epaper-inkl.-nw-webabo"
                        class="nw-landingpage-button"
                    >
                        Jetzt das ePaper kostenlos testen
                    </a>
                </div>

                <img
                    class="
            nw-block
            md:nw-hidden
            nw-mt-8 nw--mb-48 nw-mx-auto nw-rounded-md nw-w-40 nw-h-46
          "
                    src="/images/landingpage-fuer-vertrieb/img-asset-epaper-1000x1379.png"
                    alt=""
                />
            </div>
            <div class="nw-hidden md:nw-block">
                <img
                    class="nw-rounded-md nw-object-cover nw-w-full"
                    src="/images/landingpage-fuer-vertrieb/img-asset-epaper-1000x1379.png"
                    alt=""
                />
            </div>
        </div>
    </div>
    <!-- lust auf digital ende-->
    <!--paper vorteile -->
    <div class="nw-px-4 md:nw-px-0">
        <div
            class="
        nw-pt-8 nw-mt-24
        md:nw-mt-8
        nw-text-center nw-font-bold nw-text-2xl
        md:nw-text-4xl
      "
        >
            <div class="nw-text-gray-600">Ihre ePaper Vorteile</div>
            <div class="nw-mt-0 md:nw-mt-1 nw-text-red-500">auf einen Blick</div>
        </div>
        <div
            class="
        nw-grid nw-grid-cols-1
        md:nw-grid-cols-3
        nw-my-8 nw-pt-4 nw-px-4 nw-gap-4
      "
        >
            {{>'@single-page-menu'}}
        </div>
        {{>'@link-button' button}}
    </div>
    <!-- epaper vorteile ende -->
    <!-- epaper-info -->
    <div class="nw-mt-8 nw-pb-8 nw-bg-gray-100 nw-mx-2 nw-rounded-md">
        <div
            class="nw-pt-12 nw-text-center nw-font-bold nw-text-2xl md:nw-text-4xl"
        >
            <div class="nw-text-gray-600">Das bietet Ihnen das</div>
            <div class="nw-mt-0 md:nw-mt-1 nw-text-red-500">NW ePaper konkret:</div>
        </div>
        <div
            class="
        nw-grid nw-grid-cols-1
        md:nw-grid-cols-2
        nw-gap-0
        md:nw-gap-4
        nw-mt-0
        md:nw-mt-12
      "
        >
            <div>
                <img
                    class="md:nw-object-cover nw-w-full"
                    src="/images/landingpage-fuer-vertrieb/img-asset-epaper-1000x1186.png"
                    alt=""
                />
            </div>
            <div
                class="
          nw-mx-8
          md:nw-mx-0
          nw-pr-0
          md:nw-pr-8
          nw-font-bold nw-text-md
          md:nw-text-lg
        "
            >
                {{>'@absatz-mit-roter-ueberschrift' epaper-info}}
            </div>
        </div>
        {{>'@link-button' button}}
    </div>
    <!-- epaper-info ende -->
    <!-- epaper-info2-->
    <div class="nw-mx-2">
        <div
            class="
        nw-grid nw-grid-cols-1
        md:nw-grid-cols-2
        nw-gap-0
        md:nw-gap-4
        nw-mt-8
      "
        >
            <div
                class="
          nw-pl-0
          md:nw-pl-8
          nw-font-bold nw-text-md
          md:nw-text-lg
          nw-ml-4
          md:nw-ml-16
          nw-order-last
          md:nw-order-first
        "
            >
                {{>'@absatz-mit-roter-ueberschrift' epaper-info2}}
            </div>
            <div class="nw-mb-4 md:nw-mb-0">
                <img
                    class="md:nw-object-cover nw-w-full md:nw-h-full"
                    src="/images/landingpage-fuer-vertrieb/img-asset-epaper-1000x1187.png"
                    alt=""
                />
            </div>
        </div>
        {{>'@link-button' button}}
    </div>
    <!-- gradient-page -->
    {{>'@gradient'}}
    <!-- -->
    <!--Fragen-page -->
    {{>'@fragen-landingpage'}}
    <!-- -->
</div>
<script>
    const button = document.querySelector('#menu-button');
    const menu = document.querySelector('#menu');

    button.addEventListener('click', () => {
        menu.classList.toggle('nw-hidden');
    });
</script>
