<div class="nw-bg-white">
  <!--header-->
  {{>'@menu-landingpage'}}
  <!--header-Ende -->
  <!-- absolute-foto-->
  <div class="nw-w-full nw-relative nw-px-2 md:nw-px-2">
    <div
      class="
        nw-w-full
        nw-h-full
        nw-flex
        nw-flex-col
        nw-absolute
        nw-top-0
        nw-left-0
        nw-z-30
      "
    >
      <div
        class="
          nw-ml-0 nw-pl-12
          md:nw-pl-0
          nw-pr-8
          md:nw-pr-8
          nw-pt-4
          md:nw-ml-12
          nw-text-tiny
          md:nw-text-2xl
          nw-font-bold nw-uppercase nw-text-gray-800 nw-max-w-xs
          md:nw-max-w-md
        "
      >
        <span>
          <div
            class="
              nw-pt-0
              md:nw-pt-10
              nw-leading-3
              md:nw-leading-3
              nw-text-4xl
              md:nw-text-7xl
            "
          >
            ”
          </div>
          {{absolute-text-part1}}
        </span>
        <span class="nw-font-normal"> {{absolute-text-part2}}</span>
      </div>
    </div>
    <img
      class="nw-rounded-md nw-object-cover nw-w-full nw-mt-2 md:nw-mt-8"
      src="/images/landingpage-für-vertrieb/banner-man-notebook.png"
      alt=""
    />
  </div>
  <!-- absolute-foto-ende -->
  <!--lust auf digital -->
  <div class="md:nw-h-full nw-bg-gray-100 nw-rounded-md nw-mx-2 nw-mb-4">
    <div
      class="
        nw-text-4xl
        md:nw-text-6xl
        nw-font-bold nw-text-left
        md:nw-text-center
        nw-pt-4 nw-mt-8 nw-px-4
        md:nw-px-16 md:nw-px-0
      "
    >
      <span class="nw-text-gray-600"> Lust auf </span
      ><span class="nw-text-red-500"> digital?</span>
    </div>
    <div
      class="
        nw-grid
        nw-grid-cols-1
        nw-grid-cols-4
        nw-gap-4
        nw-mt-4
        nw-mx-4
        nw-pt-2
        nw-pb-20
      "
    >
      <div class="nw-hidden md:nw-block">
        <img
          class="nw-rounded-md nw-object-cover nw-w-full"
          src="/images/landingpage-für-vertrieb/Zeitungsseite_Vorlage_03-2022_Regionales-Tagesblatt.jpg"
          alt=""
        />
      </div>
      <div class="nw-col-span-4 md:nw-col-span-2 nw-text-lg">
        <div class="nw-mt-0 md:nw-mt-4 nw-text-black nw-font-bold">
          {{description1}}
        </div>
        <br />
        <div class="nw-text-red-500 nw-font-normal">{{description2}}</div>
        <img
          class="
            nw-block
            md:nw-hidden
            nw-mt-8 nw--mb-48 nw-mx-auto nw-rounded-md nw-w-40 nw-h-46
          "
          src="/images/landingpage-für-vertrieb/Tablet-Ansicht_Regionale-Tageszeitung.png"
          alt=""
        />
      </div>
      <div class="nw-hidden md:nw-block">
        <img
          class="nw-rounded-md nw-object-cover nw-w-full"
          src="/images/landingpage-für-vertrieb/Tablet-Ansicht_Regionale-Tageszeitung.png"
          alt=""
        />
      </div>
    </div>
  </div>
  <!-- lust auf digital ende-->
  <!--paper vorteile -->
  <div class="nw-px-4 md:nw-px-0">
    <div
      class="
        nw-pt-8 nw-mt-24
        md:nw-mt-8
        nw-text-center nw-font-bold nw-text-2xl
        md:nw-text-6xl
      "
    >
      <div class="nw-text-gray-600">Ihre ePaper Vorteile</div>
      <div class="nw-text-red-500">auf einen Blick</div>
    </div>
    <div
      class="
        nw-grid nw-grid-cols-1
        md:nw-grid-cols-3
        nw-my-8 nw-pt-4 nw-px-4 nw-gap-4
      "
    >
      {{>'@single-page-menu'}}
    </div>
    {{>'@button-landingpage'}}
  </div>
  <!-- epaper vorteile ende -->
  <!-- epaper-info -->
  <div class="nw-mt-8 nw-pb-4 nw-bg-gray-100 nw-mx-2 nw-rounded-md">
    <div class="nw-pt-8 nw-text-center nw-font-bold nw-text-2xl md:nw-text-6xl">
      <div class="nw-text-gray-600">Das bieten Ihnen das</div>
      <div class="nw-text-red-500">NW-ePaper konkret:</div>
    </div>
    <div
      class="
        nw-grid nw-grid-cols-1
        md:nw-grid-cols-2
        nw-gap-0
        md:nw-gap-4
        nw-mt-0
        md:nw-mt-12
      "
    >
      <div>
        <img
          class="md:nw-object-cover nw-w-full"
          src="/images/landingpage-für-vertrieb/NW_ePaper_Browser-Ansicht_1920p-image.png"
          alt=""
        />
      </div>
      <div>{{>'@epaper-info-single-page'}}</div>
    </div>
    {{>'@button-landingpage'}}
  </div>
  <!-- epaper-info ende -->
  <!-- epaper-info2-->
  <div class="nw-mx-2">
    <div
      class="
        nw-grid nw-grid-cols-1
        md:nw-grid-cols-2
        nw-gap-0
        md:nw-gap-4
        nw-mt-8
      "
    >
      <div class="nw-ml-4 md:nw-ml-16 nw-order-last md:nw-order-first">
        {{>'@epaper-info2-single-page'}}
      </div>
      <div class="nw-mb-4 md:nw-mb-0">
        <img
          class="md:nw-object-cover nw-w-full md:nw-h-full"
          src="/images/landingpage-für-vertrieb/NW_ePaper_Browser-Ansicht_1920p-image2.png"
          alt=""
        />
      </div>
    </div>
    {{>'@button-landingpage'}}
  </div>
  <!-- gradient-page -->
  {{>'@gradient-page'}}
  <!-- -->
  <!--Fragen-page -->
  {{>'@fragen-landingpage'}}
  <!-- -->
  <!-- footer-foto -->
  <div>
    <img
      class="nw-mt-8 nw-object-cover nw-w-full"
      src="https://via.placeholder.com/300x100.png"
      alt=""
    />
  </div>
  <!-- -->
</div>
<script>
  const button = document.querySelector('#menu-button');
  const menu = document.querySelector('#menu');

  button.addEventListener('click', () => {
    menu.classList.toggle('nw-hidden');
  });
</script>
