<ul id="nw-sidebar-navigation" class="">
  <li class="nw-px-3 nw-pt-2.5 nw-pb-3 nw-bg-custom-1-700">
    {{>'@input--search'}}
  </li>
  {{>'@burger-nav-item-single' navitems.startseite}}
  {{>'@burger-nav-item-single' navitems.newsticker}}
  {{>'@burger-nav-item-dropdown' navitems.lokal}} {{>'@burger-nav-item-dropdown'
  navitems.corona}} {{>'@burger-nav-item-dropdown' navitems.nachrichten}}
  {{>'@burger-nav-item-dropdown' navitems.sport}} {{>'@burger-nav-item-single'
  navitems.gesundheit}} {{>'@burger-nav-item-single' navitems.umwelt}}
  {{>'@burger-nav-item-dropdown' navitems.lifestyle}}
  <li>{{>'@burger-menu-footer' (contextData "@burger-menu-footer")}}</li>
</ul>
