<div class="nw-mx-4 nw-my-4 nw-flex nw-space-x-4">
  <div class="nw-flex-none nw-w-teaser-width nw-h-teaser-height">
    <img
      class="nw-object-cover nw-aspect-w-5 nw-aspect-h-2"
      src="{{teaserImageSrc}}"
    />
  </div>

  <p
    class="
      nw-flex-grow
      nw-text-tiny
      nw-font-regular
      nw-leading-tight
      nw-place-self-center
    "
  >
    {{teaserText}}
  </p>
</div>
