<div class="nw-engagently">
    <button class="nw-landingpage-button engagently-load-button" onclick="renderEngagentlyDiscussion(event)">
        Diskutieren Sie mit
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="nw-w-5 nw-h-5">
            <path fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
        </svg>
    </button>
    <template id="egy-template">
        <div class="drawer-header">
            <div class="logo-nw">
                <a href="/" class="nw-flex nw-justify-center nw-items-center nw-mx-1"
                   onclick="_paq.push(['trackEvent', 'Menü', device + ' Head', 'Startseite']);">
                    <img src="/images/nw-plus_icon.svg" alt=""
                         width="40" height="40">
                    <span class="nw-font-bold nw-text-lg"></span>
                </a>
            </div>
            <div class="drawer-header-content">
                <div class="text-container">
                    <span class="text">TEILEN SIE IHRE MEINUNG</span>
                </div>
                <div class="close-container">
                    <button id="closeEngagently" onclick="closeEngagentlyDrawer(event)" class="close">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                            <path
                                d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"></path>
                        </svg>
                    </button>
                </div>
                <!--<div class="egy-alerts nw-text-md nw-hidden"><span
                    class="egy-discussion-7ok580-content">Melden Sie sich bitte an um zu kommentieren </span>
                    <div class="nw-pt-6 ">
                        <button onclick="userLogin(event)" class="nw-landingpage-button engagently-load-button nw-mb-0"
                                id="userLoginButton">
                            Anmelden
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                 class="w-5 h-5">
                                <path fill-rule="evenodd"
                                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="discussion-content">
            <div data-setup="0" class="loader-container nw-flex nw-hidden">
                <!--                 <div class="loader"></div>-->
            </div>
            <!--    <egy-discussion discussion-id="article-23033163"
                                discussion-title="Studienbeginn: In OWL sind die Wohnheimplätze knapp"
                                signature="776633ac9ccb643c456bc4b41dbc2dae221a9a8709e5e7ec965df4314a2e043b">
                </egy-discussion>-->
        </div>
    </template>
    <div id="appEgy" class="">
        <div class="drawer-header">
            <div class="logo-nw">
                <a href="/" class="nw-flex nw-justify-center nw-items-center nw-mx-1"
                   onclick="_paq.push(['trackEvent', 'Menü', device + ' Head', 'Startseite']);">
                    <img src="/images/nw-wortmarke-logo.svg" alt=""
                         width="40" height="40">
                    <span class="nw-font-bold nw-text-lg"></span>
                </a>
            </div>
            <div class="drawer-header-content">
                <div class="text-container">
                    <span class="text">TEILEN SIE IHRE MEINUNG</span>
                </div>
                <div class="close-container">
                    <button id="closeEngagently" onclick="closeEngagentlyDrawer(event)" class="close"
                            style="display: none;">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                            <path
                                d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"></path>
                        </svg>
                    </button>
                </div>
                <!--<div class="egy-alerts nw-text-md"><span
                    class="egy-discussion-7ok580-content">Melden Sie sich bitte an um zu kommentieren </span>
                    <div class="nw-pt-6 ">
                        <button onclick="userLogin(event)" class="nw-landingpage-button engagently-load-button nw-mb-0"
                                id="userLoginButton">
                            Anmelden
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                 class="w-5 h-5">
                                <path fill-rule="evenodd"
                                      d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                      clip-rule="evenodd"></path>
                            </svg>
                        </button>
                    </div>
                </div>-->
                <div class="egy-discussion-7ix5f9-root nw-py-6">
                    <div
                        class="egy-discussion-18q6n4q-preamble nw-border-t nw-border-b nw-pt-6 nw-mb-6">
                        <div slot="welcome" class="welcome-message">
                            <p class="nw-text-lg nw-text-lgs nw-text-black nw-pb-6">Liebe Community,</p>
                            <p class="nw-text-lg nw-text-lgs nw-text-black nw-pb-6">
                                wir moderieren die Diskussionen auf unseren Seiten, um einen respektvollen Austausch zu
                                gewährleisten.
                                Wie wir genau miteinander umgehen und welche Regeln gelten, können Sie in unserer <a
                                href="https://www.nw.de/service/formales/20263106_Nutzungsbedingungen-fuer-die-Kommentarfunktion-Nettiquette.html"
                                target="_blank" class="nw-underline nw-text-indigo-800">Netiquette</a> nachlesen.
                                Wenn Sie sich fragen, warum ein Beitrag möglicherweise erst mit Verzögerung erscheint,
                                finden Sie die Antwort ebenfalls in der Netiquette.
                            </p>
                            <p class="nw-text-lg nw-text-lgs nw-text-black nw-pb-6">
                                Vielen Dank für Ihr Verständnis und Ihre aktive Mitarbeit.
                            </p>
                            <p class="nw-text-lg nw-text-lgs nw-text-black nw-pb-6">
                                Mit freundlichen Grüßen<br>
                                Ihr Moderationsteam von NW.de.
                            </p>
                        </div>
                    </div>
                    <div class="egy-discussion-63rtw-commentaryInput">
                        <div data-testid="comment-author"
                             class="egy-discussion-1733r4j-root-horizontal-spacing-commentaryAuthor nw-pb-6">
                            <div
                                class="egy-discussion-1xsn7c7-root-root-commentaryAuthorAvatar-commentaryAuthorAvatar"
                                style="background-color: rgb(96, 124, 159);">CA
                            </div>
                            <div
                                class="egy-discussion-2nkywl-root-vertical-spacing">
                                <div
                                    class="egy-discussion-10lj3vw-root-horizontal-spacing">
                                    <button
                                        data-testid="commentary-author-name"
                                        class="egy-discussion-1bo28ba-root-default-link-root-default-link-commentaryAuthorName">
                                        <span
                                            class="egy-discussion-smslry-content-content"><div
                                            class="egy-discussion-ez76gb-root nw-flex">
                                            <div>carmen.said</div>
                                            <div
                                                class="egy-discussion-cjfyq-spacing-flex nw-ml-1">
                                                <svg stroke="currentColor"
                                                     fill="currentColor"
                                                     stroke-width="0"
                                                     viewBox="0 0 640 512"
                                                     height="20" width="20"
                                                     xmlns="http://www.w3.org/2000/svg"><path
                                                    d="M610.5 373.3c2.6-14.1 2.6-28.5 0-42.6l25.8-14.9c3-1.7 4.3-5.2 3.3-8.5-6.7-21.6-18.2-41.2-33.2-57.4-2.3-2.5-6-3.1-9-1.4l-25.8 14.9c-10.9-9.3-23.4-16.5-36.9-21.3v-29.8c0-3.4-2.4-6.4-5.7-7.1-22.3-5-45-4.8-66.2 0-3.3.7-5.7 3.7-5.7 7.1v29.8c-13.5 4.8-26 12-36.9 21.3l-25.8-14.9c-2.9-1.7-6.7-1.1-9 1.4-15 16.2-26.5 35.8-33.2 57.4-1 3.3.4 6.8 3.3 8.5l25.8 14.9c-2.6 14.1-2.6 28.5 0 42.6l-25.8 14.9c-3 1.7-4.3 5.2-3.3 8.5 6.7 21.6 18.2 41.1 33.2 57.4 2.3 2.5 6 3.1 9 1.4l25.8-14.9c10.9 9.3 23.4 16.5 36.9 21.3v29.8c0 3.4 2.4 6.4 5.7 7.1 22.3 5 45 4.8 66.2 0 3.3-.7 5.7-3.7 5.7-7.1v-29.8c13.5-4.8 26-12 36.9-21.3l25.8 14.9c2.9 1.7 6.7 1.1 9-1.4 15-16.2 26.5-35.8 33.2-57.4 1-3.3-.4-6.8-3.3-8.5l-25.8-14.9zM496 400.5c-26.8 0-48.5-21.8-48.5-48.5s21.8-48.5 48.5-48.5 48.5 21.8 48.5 48.5-21.7 48.5-48.5 48.5zM224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm201.2 226.5c-2.3-1.2-4.6-2.6-6.8-3.9l-7.9 4.6c-6 3.4-12.8 5.3-19.6 5.3-10.9 0-21.4-4.6-28.9-12.6-18.3-19.8-32.3-43.9-40.2-69.6-5.5-17.7 1.9-36.4 17.9-45.7l7.9-4.6c-.1-2.6-.1-5.2 0-7.8l-7.9-4.6c-16-9.2-23.4-28-17.9-45.7.9-2.9 2.2-5.8 3.2-8.7-3.8-.3-7.5-1.2-11.4-1.2h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c10.1 0 19.5-3.2 27.2-8.5-1.2-3.8-2-7.7-2-11.8v-9.2z"></path></svg></div></div></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="egy-discussion-1x5gqvp-commentaryInputWrapper">
                            <div class="egy-discussion-176rxpu-root-root">
                                <div
                                    class="egy-discussion-yzozo8-textbox-textbox">
                                    <div contenteditable="true" translate="no" data-testid="comment-input"
                                         class="ProseMirror" tabindex="0"><p
                                        data-placeholder="Einen Kommentar schreiben..."
                                        class="is-empty is-editor-empty"><br class="ProseMirror-trailingBreak"></p>
                                    </div>
                                </div>
                                <div class="egy-discussion-fyemem-footer-footer">
                                    <div role="group"
                                         class="egy-discussion-1484l94-toolbar-toolbar">
                                        <button data-active="false" data-testid="editor-bold"
                                                aria-label="Fettgedruckt">
                                            <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                                 viewBox="0 0 24 24" height="1em" width="1em"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M17.061,11.22C17.641,10.462,18,9.526,18,8.5C18,6.019,15.981,4,13.5,4H6v15h8c2.481,0,4.5-2.019,4.5-4.5	C18.5,13.203,17.94,12.042,17.061,11.22z M13.5,7C14.327,7,15,7.673,15,8.5S14.327,10,13.5,10H9V7H13.5z M14,16H9v-3h5	c0.827,0,1.5,0.673,1.5,1.5S14.827,16,14,16z"></path>
                                            </svg>
                                        </button>
                                        <button data-active="false" data-testid="editor-italic"
                                                aria-label="Kursiv">
                                            <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                                 viewBox="0 0 24 24" height="1em" width="1em"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M19 7L19 4 9 4 9 7 11.868 7 9.012 17 5 17 5 20 15 20 15 17 12.132 17 14.988 7z"></path>
                                            </svg>
                                        </button>
                                        <button data-active="false" data-testid="editor-underline"
                                                aria-label="Unterstreichen">
                                            <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                                 viewBox="0 0 24 24" height="1em" width="1em"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <path
                                                    d="M5 18H19V20H5zM6 4v6c0 3.309 2.691 6 6 6s6-2.691 6-6V4h-2v6c0 2.206-1.794 4-4 4s-4-1.794-4-4V4H6z"></path>
                                            </svg>
                                        </button>
                                        <div>
                                            <button data-scope="popover" type="button"
                                                    id="popover:g2FwwbZ8WlCgXPv1hVstO:trigger" aria-haspopup="dialog"
                                                    aria-expanded="false" data-state="closed"
                                                    aria-controls="popover:g2FwwbZ8WlCgXPv1hVstO:content"
                                                    data-active="false"
                                                    aria-label="Emojis">
                                                <svg stroke="currentColor" fill="none" stroke-width="0"
                                                     viewBox="0 0 24 24" height="1em" width="1em"
                                                     xmlns="http://www.w3.org/2000/svg">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                          stroke-width="2"
                                                          d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                                                </svg>
                                            </button>
                                            <div id="popover:g2FwwbZ8WlCgXPv1hVstO:popper" data-scope="popover"
                                                 class="egy-discussion-1lpizyv-positioner"
                                                 style="position: absolute; isolation: isolate; min-width: max-content; top: 0px; left: 0px; transform: translate3d(0px, -100vh, 0px); z-index: var(--z-index);">
                                                <div data-scope="popover"
                                                     id="popover:g2FwwbZ8WlCgXPv1hVstO:content" tabindex="-1"
                                                     role="dialog" hidden="" data-state="closed"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <span
                                        class="egy-discussion-1u6etmi-root">1500</span>
                                    <div
                                        class="egy-discussion-gplyg7-footerActions">
                                        <button disabled=""
                                                data-testid="comment-submit-btn"
                                                class="egy-discussion-da4nd-root-default-filled-root-default-filled">
                                            <span
                                                class="egy-discussion-smslry-content-content">Abschicken</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="egy-discussion-17jbw94-viewControlsWrapper-viewControlsWrapper">
                        <div class="egy-discussion-7ukzob-mode">
                            <button
                                data-testid="discussion-all-comments-btn"
                                class="egy-discussion-17qrd88-root-default-ghost-ghostActive-root-default-ghost"><span
                                class="egy-discussion-smslry-content-content">Kommentare<span
                                class="egy-discussion-r5k82k-count">4</span></span></button>
                        </div>
                        <!-- <div>
                             <div>
                                 <button
                                     aria-label="Anzeigeeinstellungen" data-scope="menu"
                                     type="button" id="menu:structure_ygizlZ1BgDLmDlo-y66rL:trigger"
                                     data-uid="structure_ygizlZ1BgDLmDlo-y66rL" aria-haspopup="menu"
                                     aria-controls="menu:structure_ygizlZ1BgDLmDlo-y66rL:content" data-state="closed"
                                     data-testid="view-structure-btn"
                                     class="egy-discussion-72yb15-root-compact-ghost-root-compact-ghost"><span><svg
                                     stroke="currentColor" fill="none" stroke-width="2"
                                     xmlns="http://www.w3.org/2000/svg" width="18" height="18" stroke-linecap="round"
                                     stroke-linejoin="round" viewBox="0 0 24 24"><path
                                     d="M21 12h-8M21 6H8M21 18h-8M3 6v4c0 1.1.9 2 2 2h3"></path><path
                                     d="M3 10v6c0 1.1.9 2 2 2h3"></path></svg></span><span
                                     class="egy-discussion-34-endIcon-ref egy-discussion-77-endIcon-ref egy-discussion-4f5k4s-endIcon-endIcon"><svg
                                     stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                                     height="10" width="10" xmlns="http://www.w3.org/2000/svg"><path
                                     d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 01.753 1.659l-4.796 5.48a1 1 0 01-1.506 0z"></path></svg></span>
                                 </button>
                                 <div
                                      id="menu:structure_ygizlZ1BgDLmDlo-y66rL:popper"
                                      class="egy-discussion-1lpizyv-positioner"
                                      style="position: absolute; isolation: isolate; min-width: max-content; top: 0px; left: 0px; transform: translate3d(0px, -100vh, 0px); z-index: var(--z-index);">
                                     <div data-scope="menu"
                                          id="menu:structure_ygizlZ1BgDLmDlo-y66rL:content" aria-label="test" hidden=""
                                          data-state="closed" role="menu" tabindex="0"
                                          aria-labelledby="menu:structure_ygizlZ1BgDLmDlo-y66rL:trigger"></div>
                                 </div>
                             </div>
                             <div>
                                 <button
                                     data-scope="menu" type="button"
                                     id="menu:sort_VwzvEgjtQ0io-nYIuseWe:trigger" data-uid="sort_VwzvEgjtQ0io-nYIuseWe"
                                     aria-haspopup="menu" aria-controls="menu:sort_VwzvEgjtQ0io-nYIuseWe:content"
                                     data-state="closed" data-testid="view-sort-btn"
                                     class="egy-discussion-72yb15-root-compact-ghost-root-compact-ghost"><span>Neueste</span><span
                                     class="egy-discussion-34-endIcon-ref egy-discussion-77-endIcon-ref egy-discussion-4f5k4s-endIcon-endIcon"><svg
                                     stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16"
                                     height="10" width="10" xmlns="http://www.w3.org/2000/svg"><path
                                     d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 01.753 1.659l-4.796 5.48a1 1 0 01-1.506 0z"></path></svg></span>
                                 </button>
                                 <div data-scope="menu"
                                      id="menu:sort_VwzvEgjtQ0io-nYIuseWe:popper"
                                      class="egy-discussion-1lpizyv-positioner"
                                      style="position: absolute; isolation: isolate; min-width: max-content; top: 0px; left: 0px; transform: translate3d(0px, -100vh, 0px); z-index: var(--z-index);">
                                     <div data-scope="menu"
                                          id="menu:sort_VwzvEgjtQ0io-nYIuseWe:content" aria-label="Kommentare sortieren"
                                          hidden="" data-state="closed" role="menu" tabindex="0"
                                          aria-labelledby="menu:sort_VwzvEgjtQ0io-nYIuseWe:trigger" class="egy-discussion-ljybiy-content"></div>
                                 </div>
                             </div>
                         </div>-->
                    </div>
                    <div></div>
                    <ul
                        data-testid="commentary-thread" class="egy-discussion-1tdlfu9-unordered-ordered">
                        <li
                            data-testid="commentary-row-65c4a8f5513de7235e83b78a"
                            class="egy-discussion-7yicef-item-item-commentaryRow">
                            <div data-testid="commentary-65c4a8f5513de7235e83b78a"
                                 class="egy-discussion-j1qtov-commentary nw-bg-gray-0 nw-px-4 nw-pb-4 nw-rounded-xl">
                                <div
                                    class="egy-discussion-xpam0c-root-horizontal-spacing-commentaryHeader">
                                    <div
                                        data-testid="comment-author"
                                        class="egy-discussion-mnym2c-root-horizontal-spacing-commentaryAuthor">
                                        <div
                                            class="egy-discussion-1xsn7c7-root-root-commentaryAuthorAvatar-commentaryAuthorAvatar"
                                            style="background-color: rgb(96, 159, 131);">RE
                                        </div>
                                        <div
                                            class="egy-discussion-2nkywl-root-vertical-spacing">
                                            <div
                                                class="egy-discussion-10lj3vw-root-horizontal-spacing">
                                                <button
                                                    data-testid="commentary-author-name"
                                                    class="egy-discussion-1bo28ba-root-default-link-root-default-link-commentaryAuthorName">
                                                    <span
                                                        class="egy-discussion-smslry-content-content"><div
                                                        class="egy-discussion-ez76gb-root "><div>REAL_REALIST</div></div></span>
                                                </button>
                                            </div>
                                            <span
                                                class="egy-discussion-dj14r0-root-spacing-span-commentaryAuthorTime nw-text-xs">vor 4 Minuten</span>
                                        </div>
                                    </div>
                                    <div
                                        class="egy-discussion-33n6hg-root-horizontal-spacing-commentaryHeaderActions">
                                        <button
                                            aria-label="Teilen" data-testid="commentary-share-link"
                                            class="egy-discussion-1rv5vdb-root-default-ghost-root-default-ghost-root-default-default-commentaryAction">
                                            <span
                                                class="egy-discussion-smslry-content-content"><svg stroke="currentColor"
                                                                                                   fill="none"
                                                                                                   stroke-width="2"
                                                                                                   viewBox="0 0 24 24"
                                                                                                   stroke-linecap="round"
                                                                                                   stroke-linejoin="round"
                                                                                                   height="1em"
                                                                                                   width="1em"
                                                                                                   xmlns="http://www.w3.org/2000/svg"><circle
                                                cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle
                                                cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42"
                                                                                     y2="17.49"></line><line x1="15.41"
                                                                                                             y1="6.51"
                                                                                                             x2="8.59"
                                                                                                             y2="10.49"></line></svg></span>
                                        </button>
                                        <button
                                            aria-label="Optionen" data-scope="menu" type="button"
                                            id="menu:commentary_R7voS9pUq3V4mRvE6wCKn:trigger"
                                            data-uid="commentary_R7voS9pUq3V4mRvE6wCKn" aria-haspopup="menu"
                                            aria-controls="menu:commentary_R7voS9pUq3V4mRvE6wCKn:content"
                                            data-state="closed" data-testid="commentary-action-menu"
                                            class="egy-discussion-1rv5vdb-root-default-ghost-root-default-ghost-root-default-default-commentaryAction">
                                            <span
                                                class="egy-discussion-smslry-content-content"><svg stroke="currentColor"
                                                                                                   fill="currentColor"
                                                                                                   stroke-width="0"
                                                                                                   viewBox="0 0 24 24"
                                                                                                   height="22"
                                                                                                   width="22"
                                                                                                   xmlns="http://www.w3.org/2000/svg"><path
                                                d="M12 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2S13.1 10 12 10zM12 4c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2S13.1 4 12 4zM12 16c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2S13.1 16 12 16z"></path></svg></span>
                                        </button>
                                        <div data-scope="menu"
                                             id="menu:commentary_R7voS9pUq3V4mRvE6wCKn:popper"
                                             style="position: absolute; isolation: isolate; min-width: max-content; top: 0px; left: 0px; transform: translate3d(0px, -100vh, 0px); z-index: var(--z-index);">
                                            <div data-scope="menu"
                                                 id="menu:commentary_R7voS9pUq3V4mRvE6wCKn:content"
                                                 aria-label="comment actions" hidden="" data-state="closed" role="menu"
                                                 tabindex="0"
                                                 aria-labelledby="menu:commentary_R7voS9pUq3V4mRvE6wCKn:trigger"
                                                 class="egy-discussion-ljybiy-content"></div>
                                        </div>
                                    </div>
                                </div>
                                <div data-nested-replies="false"
                                     class="egy-discussion-u2h3ag-commentaryContentWrapper">
                                    <div>
                                        <div data-testid="commentary-content"
                                             class="egy-discussion-1jmlfp7-content-commentaryContent">
                                            <div><p class="nw-pl-10 nw-pt-4">Die Zahl
                                                der Fehltage in
                                                Folge
                                                von Alkoholproblemen steigt seit Jahren massiv an. Doch woran liegt
                                                das?<br><br>Leistungsdruck im Beruf, Überforderung durch Familie
                                                und Beruf, oder Vereinsamung ohne Familie, Corona, Krieg, finanzielle
                                                Sorgen, Krankheit, Schmerzen, fehlendes Selbstvertrauen oder Langeweile…
                                                etc.<br></p></div>
                                            <div
                                                class="egy-discussion-9h3wtn-commentaryContentOptions nw-pl-10">
                                                <button
                                                    data-testid="commentary-show-more"
                                                    class="egy-discussion-3urv2-root-compact-link-root-compact-link-commentaryContentBtn">
                                                    <span
                                                        class="egy-discussion-smslry-content-content">Mehr anzeigen</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div
                                        class="egy-discussion-16w1kvb-root-horizontal-spacing-commentaryActionsWrapper engagently-icons">
                                        <button
                                            data-testid="commentary-reaction-REACTION1"
                                            class="egy-discussion-kx25z2-root-compact-ghost-root-compact-ghost-commentaryAction
                                                egy-discussion-djkbkz-root-compact-ghost-root-compact-ghost-commentaryAction-commentaryActionActive">
                                            <span
                                                class="egy-discussion-34-startIcon-ref egy-discussion-77-startIcon-ref egy-discussion-d6xr01-startIcon-startIcon"><svg
                                                stroke="currentColor" fill="currentColor" stroke-width="0"
                                                viewBox="0 0 512 512" height="1em" width="1em"
                                                xmlns="http://www.w3.org/2000/svg"><path
                                                d="M466.27 286.69C475.04 271.84 480 256 480 236.85c0-44.015-37.218-85.58-85.82-85.58H357.7c4.92-12.81 8.85-28.13 8.85-46.54C366.55 31.936 328.86 0 271.28 0c-61.607 0-58.093 94.933-71.76 108.6-22.747 22.747-49.615 66.447-68.76 83.4H32c-17.673 0-32 14.327-32 32v240c0 17.673 14.327 32 32 32h64c14.893 0 27.408-10.174 30.978-23.95 44.509 1.001 75.06 39.94 177.802 39.94 7.22 0 15.22.01 22.22.01 77.117 0 111.986-39.423 112.94-95.33 13.319-18.425 20.299-43.122 17.34-66.99 9.854-18.452 13.664-40.343 8.99-62.99zm-61.75 53.83c12.56 21.13 1.26 49.41-13.94 57.57 7.7 48.78-17.608 65.9-53.12 65.9h-37.82c-71.639 0-118.029-37.82-171.64-37.82V240h10.92c28.36 0 67.98-70.89 94.54-97.46 28.36-28.36 18.91-75.63 37.82-94.54 47.27 0 47.27 32.98 47.27 56.73 0 39.17-28.36 56.72-28.36 94.54h103.99c21.11 0 37.73 18.91 37.82 37.82.09 18.9-12.82 37.81-22.27 37.81 13.489 14.555 16.371 45.236-5.21 65.62zM88 432c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z"></path></svg></span><span
                                            class="egy-discussion-smslry-content-content">Gefällt mir</span></button>
                                        <button
                                            data-testid="commentary-reaction-REACTION2"
                                            class="egy-discussion-kx25z2-root-compact-ghost-root-compact-ghost-commentaryAction
                                             egy-discussion-djkbkz-root-compact-ghost-root-compact-ghost-commentaryAction-commentaryActionActive">
                                            <span
                                                class="egy-discussion-34-startIcon-ref egy-discussion-77-startIcon-ref egy-discussion-d6xr01-startIcon-startIcon"><svg
                                                stroke="currentColor" fill="currentColor" stroke-width="0"
                                                viewBox="0 0 512 512" height="1em" width="1em"
                                                xmlns="http://www.w3.org/2000/svg"><path
                                                d="M466.27 225.31c4.674-22.647.864-44.538-8.99-62.99 2.958-23.868-4.021-48.565-17.34-66.99C438.986 39.423 404.117 0 327 0c-7 0-15 .01-22.22.01C201.195.01 168.997 40 128 40h-10.845c-5.64-4.975-13.042-8-21.155-8H32C14.327 32 0 46.327 0 64v240c0 17.673 14.327 32 32 32h64c11.842 0 22.175-6.438 27.708-16h7.052c19.146 16.953 46.013 60.653 68.76 83.4 13.667 13.667 10.153 108.6 71.76 108.6 57.58 0 95.27-31.936 95.27-104.73 0-18.41-3.93-33.73-8.85-46.54h36.48c48.602 0 85.82-41.565 85.82-85.58 0-19.15-4.96-34.99-13.73-49.84zM64 296c-13.255 0-24-10.745-24-24s10.745-24 24-24 24 10.745 24 24-10.745 24-24 24zm330.18 16.73H290.19c0 37.82 28.36 55.37 28.36 94.54 0 23.75 0 56.73-47.27 56.73-18.91-18.91-9.46-66.18-37.82-94.54C206.9 342.89 167.28 272 138.92 272H128V85.83c53.611 0 100.001-37.82 171.64-37.82h37.82c35.512 0 60.82 17.12 53.12 65.9 15.2 8.16 26.5 36.44 13.94 57.57 21.581 20.384 18.699 51.065 5.21 65.62 9.45 0 22.36 18.91 22.27 37.81-.09 18.91-16.71 37.82-37.82 37.82z"></path></svg></span><span
                                            class="egy-discussion-smslry-content-content">Gefällt mir nicht</span>
                                        </button>
                                        <button
                                            data-testid="commentary-reply-toggle"
                                            class="egy-discussion-kx25z2-root-compact-ghost-root-compact-ghost-commentaryAction
                                            egy-discussion-djkbkz-root-compact-ghost-root-compact-ghost-commentaryAction-commentaryActionActive">
                                            <span
                                                class="egy-discussion-34-startIcon-ref egy-discussion-77-startIcon-ref egy-discussion-d6xr01-startIcon-startIcon"><svg
                                                stroke="currentColor" fill="currentColor" stroke-width="0"
                                                viewBox="0 0 512 512" height="1em" width="1em"
                                                xmlns="http://www.w3.org/2000/svg"><path
                                                d="M8.309 189.836L184.313 37.851C199.719 24.546 224 35.347 224 56.015v80.053c160.629 1.839 288 34.032 288 186.258 0 61.441-39.581 122.309-83.333 154.132-13.653 9.931-33.111-2.533-28.077-18.631 45.344-145.012-21.507-183.51-176.59-185.742V360c0 20.7-24.3 31.453-39.687 18.164l-176.004-152c-11.071-9.562-11.086-26.753 0-36.328z"></path></svg></span><span
                                            class="egy-discussion-smslry-content-content">Antworten</span></button>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="egy-discussion-tc569d-spacing-flex-commentListNested">
                                <ul
                                    data-testid="commentary-thread"
                                    class="egy-discussion-1tdlfu9-unordered-ordered"></ul>
                            </div>
                            <div
                                class="egy-discussion-zdooar-separator-root-horizontal"></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="discussion-content">
            <div data-setup="1" class="loader-container nw-flex nw-hidden">
                <!--<div class="loader"></div>-->
            </div>
            <!-- <egy-discussion discussion-id="article-23033163"
                             discussion-title="Studienbeginn: In OWL sind die Wohnheimplätze knapp"
                             signature="776633ac9ccb643c456bc4b41dbc2dae221a9a8709e5e7ec965df4314a2e043b">

             </egy-discussion>-->

        </div>
    </div>
    <div id="background-overlay" class="nw-hidden"></div>
</div>
<!--<script
    defer
    type="module"
    data-engagently="initEngagently"
>

</script>-->
<script>
    const welcomeMessageHTML = `<div slot="welcome" class="welcome-message">

                            <p class="nw-text-lg nw-text-lgs nw-text-black nw-pb-6">Liebe Community,</p>
                            <p class="nw-text-lg nw-text-lgs nw-text-black nw-pb-6">
                                wir moderieren die Diskussionen auf unseren Seiten, um einen respektvollen Austausch zu gewährleisten.
                                Wie wir genau miteinander umgehen und welche Regeln gelten, können Sie in unserer <a href="https://www.nw.de/service/formales/20263106_Nutzungsbedingungen-fuer-die-Kommentarfunktion-Nettiquette.html" target="_blank" class="nw-underline nw-text-indigo-800">Netiquette</a> nachlesen.
                                Wenn Sie sich fragen, warum ein Beitrag möglicherweise erst mit Verzögerung erscheint, finden Sie die Antwort ebenfalls in der Netiquette.
                            </p>
                            <p class="nw-text-lg nw-text-lgs nw-text-black nw-pb-6">
                                Vielen Dank für Ihr Verständnis und Ihre aktive Mitarbeit.
                            </p>
                            <p class="nw-text-lg nw-text-lgs nw-text-black nw-pb-6">
                                Mit freundlichen Grüßen<br>

                                Ihr Moderationsteam von NW.de.
                            </p>
                        </div>`;

    /*   function initEngagently() {
          engagently.Configuration({
              communityId: '{{ community_id }}',
            defaultLanguage: 'de',
            translations: {
                de: {
                    interpolation: {
                        'messages': '<a href="#">link</a>'
                    },
                    messages: {
                        "log-in-to-comment": "Melden Sie sich bitte an um zu kommentieren {{ messages }}",
                        "discussion-preamble": welcomeMessageHTML
                    }
                }
            },
            events: {
                onSetup: function (data) {
                    let loader_container = document.querySelector('.loader-container');
                    loader_container.classList.add('nw-hidden');
                    loader_container.setAttribute('data-setup', '1')
                }
            }
        });
    } */

    function renderEngagentlyDiscussion(event) {
        if (event) event.preventDefault();

        const template = document.querySelector('#egy-template');
        const app = document.querySelector('#appEgy');
        if (app.innerHTML.trim() === "") {
            app.innerHTML = template.innerHTML;
        }

        if (!app.classList.contains('active')) {
            // add to end of event loop (after event listener callback)
            setTimeout(() => {
                document.getElementById("closeEngagently").style.display = "flex";
                document.querySelector('.loader-container').classList.remove('nw-hidden');
                /*  reinitEngagently(); */
                app.classList.add('active');
                document.getElementById('background-overlay').classList.remove('nw-hidden');
            }, 0)
        }
    }

    // Button clicked
    document.addEventListener('click', closeEngagentlyDrawer);

    // Check if 'egy_cid' is present in the URL on page load for shared links
    document.addEventListener('DOMContentLoaded', function () {
        const params = new URLSearchParams(window.location.search);
        if (params.has('egy_cid')) {
            const app = document.querySelector('#appEgy');
            app.classList.add('active');
            document.getElementById("closeEngagently").style.display = "flex"
            renderEngagentlyDiscussion();
        }
    });
    document.addEventListener("click", function (event) {
        const app = document.querySelector('#logoutButton');
        if (app && app.contains(event.target)) {
            signOut();
        }
    });

    /* async function signOut() {
        await window.engagently?.signOut();
        await window.engagently?.reinit({token: null});
    } */

    function closeEngagentlyDrawer(event) {
        const app = document.querySelector('#appEgy');
        if (!app.contains(event.target) && app.classList.contains('active')) {
            document.getElementById("closeEngagently").style.display = "none";
            app.classList.remove('active');
            document.getElementById('background-overlay').classList.add('nw-hidden');
        } else if (event.target.id == 'closeEngagently' || event.target.id == 'userLoginButton') {
            document.getElementById("closeEngagently").style.display = "none"
            app.classList.remove('active');
            document.getElementById('background-overlay').classList.add('nw-hidden');
        }
    }

    function userLogin(event) {
        window.scrollTo(0, 0);
        const button = document.querySelector('#nw-login-button');
        button.click();
    }

    function handleEngagentlyScroll() {
        var close_button = document.querySelector('.drawer-header .close');
        var engagently_div = document.getElementById('appEgy');
        if (engagently_div.scrollTop > 100) {
            close_button.classList.add('scrolled');
        } else {
            close_button.classList.remove('scrolled');
        }
    }

    var engagently_div = document.getElementById('appEgy');
    if (engagently_div) {
        // Listen for the scroll event on the div
        engagently_div.addEventListener('scroll', handleEngagentlyScroll);
    }
</script>
