<div class="relative nw-engagently">
    <button class="nw-landingpage-button engagently-load-button" onclick="renderEngagentlyDiscussion(event)">
        Diskutieren Sie mit <span data-egy-dsc="article-23033163"></span>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd"
                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                  clip-rule="evenodd"></path>
        </svg>
    </button>
    
    <div
        class="nw-hidden engagently-menu nw-absolute nw-top-0 nw-right-0 nw-bg-gray-100 nw-p-4 nw-border nw-border-gray-300"
        id="engagentlyMenu">Kommentare
    </div>
</div>
<script>
    function renderEngagentlyDiscussion(event) {
        var menu = document.getElementById('engagentlyMenu');
        menu.style.display = (menu.style.display === 'block') ? 'none' : 'block';
        event.preventDefault();
    }
</script>
