<div class="nw-mb-6 nw-bg-white nw-mt-2.5">
    <p class="nw-text-xl nw-uppercase nw-font-bold nw-pb-3">DOWNLOAD</p>
    <ol class="nw-article-detail-download">
        {{#each download}}
            <li>
                <a href="{{this.link-target}}" target="_blank"> {{this.label}} </a>
            </li>
        {{/each}}
    </ol>
</div>
