<div class="nw-mb-6 nw-bg-white">
    <p class="nw-text-md nw-uppercase nw-font-bold nw-pb-3">DOWNLOAD</p>
    <ol class="nw-article-detail-download">
        {{#each download}}
            <li>
                <a href="{{link-target}}" target="_blank"> {{this}} </a>
            </li>
        {{/each}}
    </ol>
</div>
