<div
  class="nw-mx-2 nw-mt-4 nw-mb-3 lg:nw-mb-0 nw-flex nw-justify-between nw-h-5"
>
  <p
    class="
      nw-text-sm
      nw-font-normal
      nw-font-style-normal
      nw-font-size-16
      nw-font-weight-medium
      nw-line-spacing-24
      nw-font-family-roboto
      nw-text-align-left
      nw-font-size-16
      nw-text-gray-500
      nw-tracking-wider
    "
  >
    {{bannertext}}
  </p>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      width="45"
      viewBox="0 0 80 31"
    >
      <defs>
        <clipPath id="clip-path">
          <rect
            id="Rechteck_14"
            data-name="Rechteck 14"
            width="4.369"
            height="1.82"
          />
        </clipPath>
        <clipPath id="clip-path-2">
          <rect
            id="Rechteck_13"
            data-name="Rechteck 13"
            width="93.856"
            height="349.003"
          />
        </clipPath>
        <clipPath id="clip-path-4">
          <path
            id="Pfad_2"
            data-name="Pfad 2"
            d="M.807,0A.305.305,0,0,0,.5.311V1.447a.305.305,0,0,0,.312.312H4.583a.305.305,0,0,0,.312-.312V.311A.305.305,0,0,0,4.583,0H.807Z"
            transform="translate(-0.495 0.001)"
          />
        </clipPath>
        <clipPath id="clip-path-6">
          <path
            id="Pfad_3"
            data-name="Pfad 3"
            d="M5.3,3.316l-.216.61L4.88,3.317a.126.126,0,0,0-.123-.089.132.132,0,0,0-.075.023.126.126,0,0,0-.049.065l-.22.6-.207-.6a.122.122,0,0,0-.051-.066.146.146,0,0,0-.078-.022.142.142,0,0,0-.093.033.108.108,0,0,0-.04.089.173.173,0,0,0,.011.057l.306.823a.122.122,0,0,0,.054.066.169.169,0,0,0,.088.023A.166.166,0,0,0,4.489,4.3a.129.129,0,0,0,.056-.066l.206-.562.2.562A.124.124,0,0,0,5,4.3a.169.169,0,0,0,.088.023A.173.173,0,0,0,5.178,4.3a.122.122,0,0,0,.055-.066l.3-.823a.2.2,0,0,0,.012-.06.108.108,0,0,0-.037-.086.13.13,0,0,0-.087-.032.131.131,0,0,0-.075.023.125.125,0,0,0-.049.065M3.67,3.231a.124.124,0,0,0-.093.037.137.137,0,0,0-.036.1v.481l-.46-.572a.122.122,0,0,0-.1-.045.125.125,0,0,0-.094.038.137.137,0,0,0-.036.1v.81a.139.139,0,0,0,.036.1.125.125,0,0,0,.094.038.122.122,0,0,0,.094-.038.142.142,0,0,0,.035-.1V3.7l.46.573a.121.121,0,0,0,.1.045.125.125,0,0,0,.094-.038.138.138,0,0,0,.036-.1v-.81a.135.135,0,0,0-.037-.1.128.128,0,0,0-.095-.038"
            transform="translate(-2.85 -3.228)"
          />
        </clipPath>
        <clipPath id="clip-path-7">
          <rect
            id="Rechteck_16"
            data-name="Rechteck 16"
            width="93.856"
            height="349.003"
            transform="translate(0 0)"
          />
        </clipPath>
        <clipPath id="clip-path-8">
          <path
            id="Pfad_4"
            data-name="Pfad 4"
            d="M31.412,3.66H31.1V3.344a.116.116,0,1,0-.233,0V3.66h-.313a.114.114,0,0,0-.083.032.108.108,0,0,0-.034.082.114.114,0,0,0,.116.116h.313v.315a.109.109,0,0,0,.034.082.121.121,0,0,0,.165,0,.108.108,0,0,0,.034-.082V3.89h.313a.114.114,0,0,0,.116-.116.108.108,0,0,0-.034-.082.115.115,0,0,0-.083-.033"
            transform="translate(-30.437 -3.228)"
          />
        </clipPath>
        <clipPath id="clip-nw-plus_icon">
          <rect width="80" height="31" />
        </clipPath>
      </defs>
      <g id="nw-plus_icon" clip-path="url(#clip-nw-plus_icon)">
        <rect width="80" height="31" fill="#fff" />
        <g
          id="Gruppe_1"
          data-name="Gruppe 1"
          transform="translate(149 -659.611)"
        >
          <rect
            id="Rechteck_20"
            data-name="Rechteck 20"
            width="45.714"
            height="2.818"
            transform="translate(-131.857 679.339)"
            fill="#4d4d4d"
          />
          <g
            id="Gruppe_67"
            data-name="Gruppe 67"
            transform="translate(-111.857 673.702)"
          >
            <circle
              id="Ellipse_1"
              data-name="Ellipse 1"
              cx="2.818"
              cy="2.818"
              r="2.818"
              transform="translate(0 0)"
              fill="#4d4d4d"
            />
            <path
              id="XMLID_225_"
              d="M1.236,75.018a.054.054,0,0,0-.08,0l-.529.566L.1,75.018a.054.054,0,0,0-.08,0,.064.064,0,0,0,0,.086l.569.609a.054.054,0,0,0,.08,0l.569-.609A.064.064,0,0,0,1.236,75.018Z"
              transform="translate(1.968 -71.867)"
              fill="#fff"
              stroke="#fff"
              stroke-width="1"
            />
          </g>
          <g
            id="Gruppe_73"
            data-name="Gruppe 73"
            transform="translate(-149 659.611)"
          >
            <g
              id="Gruppe_46"
              data-name="Gruppe 46"
              transform="translate(22.857 19.727)"
            >
              <text
                id="Jetzt"
                transform="translate(0 1)"
                fill="#fff"
                font-size="1"
                font-family="Nunito-Bold, Nunito"
                font-weight="700"
              >
                <tspan x="0" y="0">Jetzt</tspan>
              </text>
              <text
                id="statt"
                transform="translate(11.429 1)"
                fill="#fff"
                font-size="1"
                font-family="Nunito-Bold, Nunito"
                font-weight="700"
              >
                <tspan x="0" y="0">statt</tspan>
              </text>
              <g
                id="Gruppe_45"
                data-name="Gruppe 45"
                transform="translate(5.714 0)"
              >
                <rect
                  id="Rechteck_21"
                  data-name="Rechteck 21"
                  width="5.714"
                  height="2.818"
                  rx="1.409"
                  transform="translate(0 0)"
                  fill="#44cb60"
                />
                <text
                  id="_69_"
                  data-name="69 €"
                  transform="translate(0 1)"
                  fill="#fff"
                  font-size="1"
                  font-family="Nunito-Bold, Nunito"
                  font-weight="700"
                >
                  <tspan x="0" y="0">69 €</tspan>
                </text>
              </g>
              <text
                id="_118_80_"
                data-name="118,80 €"
                transform="translate(17.143 1)"
                fill="#fff"
                font-size="1"
                font-family="Nunito-Bold, Nunito"
                font-weight="700"
                text-decoration="line-through"
              >
                <tspan x="0" y="0">118,80 €</tspan>
              </text>
            </g>
            <g
              id="Gruppe_69"
              data-name="Gruppe 69"
              transform="translate(18.776 19.643)"
            >
              <g id="Gruppe_27" data-name="Gruppe 27" transform="translate(0)">
                <g
                  id="Gruppe_26"
                  data-name="Gruppe 26"
                  clip-path="url(#clip-path)"
                >
                  <g
                    id="Gruppe_25"
                    data-name="Gruppe 25"
                    transform="translate(-32.813 -142.547)"
                    clip-path="url(#clip-path-2)"
                  >
                    <g
                      id="Gruppe_24"
                      data-name="Gruppe 24"
                      transform="translate(32.813 142.547)"
                    >
                      <g
                        id="Gruppe_23"
                        data-name="Gruppe 23"
                        transform="translate(0 0)"
                        clip-path="url(#clip-path)"
                      >
                        <g
                          id="Gruppe_22"
                          data-name="Gruppe 22"
                          transform="translate(0 0)"
                          clip-path="url(#clip-path-4)"
                        >
                          <g
                            id="Gruppe_21"
                            data-name="Gruppe 21"
                            transform="translate(0 0)"
                            clip-path="url(#clip-path)"
                          >
                            <rect
                              id="Rechteck_10"
                              data-name="Rechteck 10"
                              width="5.316"
                              height="2.686"
                              transform="translate(-0.458 -0.463)"
                              fill="#d20a11"
                            />
                          </g>
                        </g>
                      </g>
                    </g>
                  </g>
                </g>
              </g>
              <g
                id="Gruppe_30"
                data-name="Gruppe 30"
                transform="translate(0.241 0.334)"
              >
                <g
                  id="Gruppe_29"
                  data-name="Gruppe 29"
                  transform="translate(0)"
                  clip-path="url(#clip-path-6)"
                >
                  <g
                    id="Gruppe_28"
                    data-name="Gruppe 28"
                    transform="translate(-33.054 -142.881)"
                    clip-path="url(#clip-path-7)"
                  >
                    <rect
                      id="Rechteck_15"
                      data-name="Rechteck 15"
                      width="3.617"
                      height="2.017"
                      transform="translate(32.596 142.418)"
                      fill="#fefefe"
                    />
                  </g>
                </g>
              </g>
              <g
                id="Gruppe_33"
                data-name="Gruppe 33"
                transform="translate(3.067 0.334)"
              >
                <g
                  id="Gruppe_32"
                  data-name="Gruppe 32"
                  clip-path="url(#clip-path-8)"
                >
                  <g
                    id="Gruppe_31"
                    data-name="Gruppe 31"
                    transform="translate(-35.88 -142.881)"
                    clip-path="url(#clip-path-7)"
                  >
                    <rect
                      id="Rechteck_17"
                      data-name="Rechteck 17"
                      width="2.008"
                      height="2.017"
                      transform="translate(35.422 142.418)"
                      fill="#fefefe"
                    />
                  </g>
                </g>
              </g>
            </g>
            <g
              id="Gruppe_1965"
              data-name="Gruppe 1965"
              transform="translate(0 0)"
            >
              <rect id="BG" width="80" height="31" fill="#d20a11" />
              <path
                id="NW_"
                data-name="NW+"
                d="M37.294,21.861,33.686,7.237,30.079,21.861h-4.6L20.565,0h4.551l3,15.525L31.768,0h3.866l3.638,15.555L42.256,0h4.551L41.891,21.861Zm-23.838,0L4.567,7.477V21.861H0V0H4.567l8.9,14.414V0h4.551V21.861Zm44.253-.1V13.122H49.825V8.7h7.884V.016h4.413V8.7h7.927v4.425H62.122V21.76Z"
                transform="translate(4.813 4.888)"
                fill="#fff"
              />
            </g>
          </g>
        </g>
      </g>
    </svg>
  </div>
</div>
