<div class="nw-bg-white nw-pb-3 nw-px-4 nw-pt-4 nw-border-b nw-border-gray-100">
  <p class="nw-text-sm nw-font-medium nw-text-slate-200">
    Bielefeld Mitte
  </p>
  <p class="nw-text-base nw-font-bold">
    Schüsse in Bielefeld: Verhinderte ein Pistolen-Defekt den tödlichen Ausgang?
  </p>
</div>