<button
  type="submit"
  class="
    nw-w-full
    nw-bg-red-500
    nw-border
    nw-border-transparent
    nw-rounded-md
    nw-py-1
    nw-px-4
    nw-flex
    nw-items-center
    nw-justify-center
    nw-text-tiny
    nw-font-medium
    nw-text-white
    hover:nw-bg-red-400
    focus:nw-outline-none
    focus:nw-ring-2
    focus:nw-ring-offset-2
    focus:nw-ring-offset-gray-800
    focus:nw-ring-indigo-500
  "
>
  {{label}}
</button>
