<div id="newarticle">
    <div class="nw-header-container">
        {{>@header-full--lokal}}
    </div>
    <div class="nw-container">
        {{>@inhaltseite-ohne-header-und-footer}}
    </div>
</div>
