<div class="nw-bg-white nw-p-6 nw-pb-8 sm:nw-p-8 sm:nw-pb-10">
  <h2 class="nw-text-xl nw-font-bold nw-text-center nw-pb-8 sm:nw-pb-10 "> Markt</h2>
  <hr class="nw-border-gray-200">
  <div class="nw-grid nw-grid-cols-1 sm:nw-grid-cols-2 nw-justify-items-stretch nw-gap-4 nw-text-center sm:nw-text-left sm:nw-gap-6 nw-pt-8 nw-mb-8">

    <a href="#" class="nw-pb-4 nw-immobilien-markt-svg nw-border-b nw-border-gray-100 ">
      Immobilienmarkt
    </a>

    <a href="#" class="nw-pb-4 nw-ausbildung-markt-svg nw-border-b nw-border-gray-100 ">
      Ausbildungsmarkt
    </a>

    <a href="#" class="nw-pb-4 nw-stelle-markt-svg nw-border-b nw-border-gray-100">
      Stellenmarkt
    </a>

    <a href="#" class="nw-pb-4 nw-reise-markt-svg nw-border-b nw-border-gray-100">
      Reisemarkt
    </a>

    <a href="#" class="nw-pb-4 nw-trauer-markt-svg nw-border-b nw-border-gray-100">
      Traueranzeigen
    </a>

    <a href="#" class="nw-pb-4 nw-erwinsdate-markt-svg nw-border-b nw-border-gray-100">
      Erwinsdate
    </a>
  </div>
  <div class="nw-flex nw-justify-center sm:nw-justify-end">
    <a href="#" class="nw-btn-primary">
      Anzeige aufgeben
    </a>
  </div>
</div>