<div style="max-width: 492px; background-color: #8794B7;"
     class="nw-px-4 nw-pt-8 nw-pb-10 nw-rounded-none md:nw-rounded-md nw-mx-auto">
  <div class="nw-flex nw-items-center nw-flex-col nw-gap-2">
    <div class="nw-mb-3.5">
      <img class="" src="https://www.nw.de/_apps/nw/plus.svg" alt="svg">
    </div>
    <div class="nw-mb-6">
      <p class="nw-text-3xl nw-font-bold nw-text-white">Jetzt weiterlesen</p>
    </div>
  </div>

  <!-- First block -->
  <div class="nw-rounded-md nw-bg-gray-0 nw-py-6 nw-px-2 nw-mb-6">
    <div class="nw-text-left nw-w-full">
      <div class="nw-flex nw-flex-col nw-gap-0.5 nw-items-center nw-justify-center">
        <div class="nw-text-gray-500 nw-font-medium nw-text-base nw-mb-1.5 nw-uppercase">Wochenabo</div>
        <div>
          <span class="nw-font-bold nw-mb-1 nw-block nw-text-3xl">
            1 € pro Woche
          </span>
        </div>
        <div class="nw-mb-4">
          <p class="nw-text-gray-400 nw-text-center nw-text-base">monatlich kündbar</p>
        </div>
      </div>
    </div>

    <div>
      <div class="buttonWrap nw-flex nw-flex-col nw-items-center nw-justify-center nw-gap-4" data-upscore-conversion="1">
          <a href="https://www.nw.de/_apps/nw/tracking/redirect_checkout_jump.php?shop_id=SW12402&amp;product=Wochenabo%201%20EUR&amp;return=https%3A%2F%2Fwww.nw.de%2Flokal%2Fkreis_guetersloh%2Fguetersloh%2F23962011_Paukenschlag-im-Guetersloher-Buergermeister-Wahlkampf-Jetzt-aeussert-sich-Norbert-Morkes.html&amp;intl=nwp_overlay&amp;cmsId=23962011"
             class="funnel-entry nw-uppercase nw-bg-red-0 nw-border nw-border-transparent nw-rounded-full
                    nw-py-2 nw-px-4 nw-w-200px nw-block nw-items-center nw-justify-center nw-text-sm nw-font-bold
                    nw-text-white nw-text-center hover:nw-bg-red hover:nw-text-white"
             data-label="Artikel-Overlay" data-product="NW+ Wochenangebot" data-price="1 EUR" data-event-value="paywall-overlay-click"
             onclick="_paq.push(['trackEvent', 'overlay', 'click', 'nwplus_wochenangebot', '23962011']);">
              Webabo sichern
          </a>
          <p class="nw-text-sm nw-text-center">
            monatliche Abrechnung, nach einem Jahr 2 € pro Woche
          </p>
      </div>
    </div>
  </div>
  <div class="nw-rounded-md nw-bg-gray-0 nw-py-6 nw-px-2 nw-mb-6">
    <div class="nw-text-left nw-w-full">
      <div class="nw-flex nw-flex-col nw-gap-0.5 nw-items-center nw-justify-center">
        <div class="nw-text-gray-500 nw-font-medium nw-text-base nw-mb-1.5 nw-uppercase">Jahresabo</div>
        <div>
          <span class="nw-font-bold nw-mb-1 nw-block nw-text-3xl">
           79 € / 1. Jahr
          </span>
        </div>
        <div class="nw-mb-4">
          <p class="nw-text-gray-400 nw-text-center nw-text-base">inklusive NW-Spar-Karte</p>
        </div>
      </div>
    </div>

    <div>
      <div class="buttonWrap nw-flex nw-flex-col nw-items-center nw-justify-center nw-gap-4" data-upscore-conversion="1">
        <a href="https://www.nw.de/_apps/nw/tracking/redirect_checkout_jump.php?shop_id=SW12402&product=Wochenabo%201%20EUR&return=https%3A%2F%2Fwww.nw.de%2Fnachrichten%2Fzwischen_weser_und_rhein%2F23962922_Als-Islamist-bekannt-IS-Anhaenger-aus-Paderborn-wollte-nach-Syrien-ausreisen.html&intl=nwp_overlay&cmsId=23962922" class="funnel-entry nw-uppercase nw-bg-red-0 nw-border nw-border-transparent nw-rounded-full
                    nw-py-2 nw-px-4 nw-w-200px nw-block nw-items-center nw-justify-center nw-text-sm nw-font-bold
                    nw-text-white nw-text-center hover:nw-bg-red hover:nw-text-white" data-label="Artikel-Overlay" data-product="NW+ Wochenangebot" data-price="1 EUR" data-event-value="paywall-overlay-click" onclick="_paq.push(['trackEvent', 'overlay', 'click', 'nwplus_wochenangebot', '23962011']);">
          Webabo sichern
        </a>
        <p class="nw-text-sm nw-text-center">
          danach 99 € pro Jahr und jederzeit kündbar
        </p>
      </div>
    </div>
  </div>

  <!-- third block  -->
  <p class="nw-text-white nw-text-center nw-text-md nw-mb-10">
    Inklusive NW+-Updates per E-Mail
  </p>
  <div class="nw-flex nw-mb-4 nw-justify-center">
    <p class="nw-text-md nw-font-medium nw-text-white">Sicher und bequem zahlen</p>
  </div>
  <div class="nw-flex md:nw-flex-row nw-justify-center nw-mb-6">
    <div>
      <img class="nw-zahlungsarten nw-inline-block nw-mr-1" src="https://www.nw.de/_apps/nw/assets/abo/Paypal.svg" alt="Paypal" width="80">
      <img class="nw-zahlungsarten nw-inline-block nw-mr-1" src="https://www.nw.de/_apps/nw/assets/abo/Sepa.svg" alt="Sepa" width="80">
      <img class="nw-zahlungsarten nw-inline-block" src="https://www.nw.de/_apps/nw/assets/abo/Visa.svg" alt="Visa" width="80">
    </div>
  </div>

  <!-- third block E -->
  <div class="nw-text-white nw-text-center nw-text-sm">
    <p class="nw-font-medium nw-pb-2">Bereits Abonnent?</p>
    <p>
      <a href="#"
         class="hover:nw-text-white toLogin nw-underline"
         onclick="window.scrollTo(0, 0);jQuery('#nw-loginbox').slideToggle(750);_paq.push(['trackEvent', 'overlay', 'login', '', '23962011']);">
        Zum Login
      </a>
    </p>
  </div>
</div>
