<div class="nw-px-2">
  <div
    class="
      nw-max-w-xs nw-mx-auto nw-my-4 nw-border nw-rounded nw-shadow-md nw-px-4
    "
  >
    <div class="nw-py-2">
      <p class="nw-text-xl nw-font-bold nw-text-center">
        Jetzt abonnieren auf
      </p>
    </div>
    <div class="nw-justify-center nw-flex nw-pb-4">
      <a
        href=" https://open.spotify.com/show/0ZzpeWFxxrgOC7AXSv1rr7?si=b16ede3ff3eb41ef"
        class="nw-cursor-pointer nw-rounded-full nw-mr-1"
      >
        <img class="nw-h-10 nw-w-10" src="/images/spotify-icon.svg" />
      </a>
      <a
        href="https://podcasts.apple.com/us/podcast/ostwestf%C3%A4lle-der-true-crime-podcast-der-neuen-westf%C3%A4lischen/id1652695876"
        class="nw-cursor-pointer nw-rounded-full nw-mr-1"
      >
        <img class="nw-h-10 nw-w-10" src="/images/apple-podcast-icon.svg" />
      </a>
      <a href="#" class="nw-cursor-pointer nw-rounded-full nw-mr-1">
        <img class="nw-h-10 nw-w-10" src="/images/deezer-icon.svg" />
      </a>
    </div>
  </div>
</div>
