<div class="nw-aspect-w-4 nw-aspect-h-3">
  <iframe
    class="nw-h-full nw-w-full nw-object-none nw-rounded-md"
    width="320"
    height="240"
    src="{{src-video}}"
    title="YouTube video player"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
</div>
