<div
  class="
    nw-bg-white nw-grid nw-grid-cols-2
    sm:nw-grid-cols-3
    md:nw-grid-cols-6
    nw-gap-2 nw-px-2 nw-py-4
  "
>
  {{#each this.spielerliste}}
  <img class="nw-w-30 nw-h-30 nw-rounded-md" src="{{this.spieler}}" alt="" />
  {{/each}}
</div>
