<div
    class="
    nw-bg-white nw-grid nw-grid-cols-3
    sm:nw-grid-cols-4
    md:nw-grid-cols-6
    nw-gap-2 nw-py-4 nw-px-2
  "
>
    {{#each this.spielerliste}}
        <div>
            <img
                class="nw-w-22 nw-h-22 nw-rounded-md nw-object-cover"
                src="{{this.spielerimg}}"
                alt=""
            />
            <div class="nw-text-sm sm:nw-text-base">{{this.spielername}}</div>
        </div>
    {{/each}}
</div>
