<div class="nw-p-8 nw-bg-white">
  <div class="nw-bg-custom-1-700 nw-p-4 nw-rounded-md">
    <div class="nw-grid nw-grid-cols-3">
      <div class="">
        <div class="nw-pl-4 nw-pb-2 nw-bg-white nw-rounded-md">
          <div class="nw-pt-2 nw-flex">
            <img class="nw-w-10" src="/images/nw-plus_icon.svg" />
            <p class="nw-px-1 nw-text-tiny nw-font-medium nw-uppercase">
              Jahres Angebot
            </p>
          </div>
          <div class="nw-text-2xl nw-font-bold">nur 5 € im Monat</div>
          <div class="nw-text-sm nw-font-bold nw-text-gray-500">
            statt <span class="nw-line-through"> 9,90 €/mtl.</span> für ein Jahr
            *
          </div>
          <div class="nw-uppercase nw-text-tiny nw-pt-2 nw-font-medium">
            IHR GUTSCHEINCODE:
          </div>
          <div action="" id="myForm" class="nw-flex nw-py-2">
            <span class="">
              <input
                class="
                  nw-text-center nw-block nw-rounded nw-bg-gray-100 nw-w-1/2
                "
                value="OWL"
                type="text"
                name=""
                required
              />
            </span>
            <span class="">
              <input
                class="
                  nw-text-center nw-block nw-rounded nw-bg-gray-100 nw-w-1/2
                "
                value="2022"
                type="text"
                name=""
                required
              />
            </span>
          </div>
          <div>
            <button
              type="submit"
              class="
                nw-uppercase
                nw-mt-1
                nw-bg-red-500
                nw-border
                nw-border-transparent
                nw-rounded
                nw-py-1
                nw-px-4
                nw-flex
                nw-items-center
                nw-justify-center
                nw-text-sm
                nw-font-bold
                nw-text-white
                hover:nw-bg-red-600
                focus:nw-outline-none
                focus:nw-ring-2
                focus:nw-ring-offset-2
                focus:nw-ring-offset-gray-800
                focus:nw-ring-indigo-500
              "
            >
              Jetzt sparen
            </button>
          </div>
        </div>
      </div>
      <div class="nw-col-span-2 nw-mx-auto">
        <div class="nw-pl-6 nw-pt-2">
          <div class="nw-text-base nw-font-bold nw-text-white">
            Alle Artikel lesen – jetzt mit Frühlingsrabatt
          </div>
          <div class="nw-pl-3 nw-pt-2">
            <ul class="nw-text-white nw-list-disc nw-text-sm">
              <li>rund um die Uhr top informiert sein</li>
              <li>voller Zugriff auf die News-App der NW</li>
              <li>ein Jahr lang fast 50% sparen</li>
            </ul>
          </div>
          <div class="nw-text-white nw-text-sm nw-max-w-sm nw-pt-3">
            * Die Mindestvertragslaufzeit für dieses preisreduzierte Angebot
            beträgt 12 Monate. Anschließend nutzen Sie es für monatlich 9,90
            Euro weiter. Ab dem 13. Monat flexibel monatlich kündbar.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="nw-text-center nw-text-2xl nw-font-bold nw-pt-4">
    Immer auf dem Laufenden
  </div>
  <div class="nw-grid nw-grid-cols-1 md:nw-grid-cols-3">
    <div>
      <div class="nw-p-4">
        <img
          class="nw-w-full nw-object-cover"
          src="https://via.placeholder.com/100x100"
        />
        <div class="nw-text-sm nw-pt-8 nw-text-black">
          <b
            >Aktuelle Nachrichten, exklusive Berichte und Interviews aus
            Ostwestfalen-Lippe,</b
          >
          Deutschland und der Welt von mehr als 140 Journalisten für Sie
          recherchiert.
        </div>
      </div>
    </div>
    <div>
      <div class="nw-p-4">
        <img
          class="nw-w-full nw-object-cover"
          src="https://via.placeholder.com/100x100"
        />
        <div class="nw-text-sm nw-pt-8 nw-text-black">
          <b>Flexibler Zugang wann und wo Sie wollen:</b>
          Die News-App der NW ist unterwegs oder zu Hause immer topaktuell und
          beinhaltet alle Informationen aus der Region Ostwestfalen-Lippe in
          gewohnter Journalist-ischer Qualität.
        </div>
      </div>
    </div>
    <div>
      <div class="nw-p-4">
        <img
          class="nw-w-full nw-object-cover"
          src="https://via.placeholder.com/100x100"
        />
        <div class="nw-text-sm nw-pt-8 nw-text-black">
          <b>Als Abonnent erhalten Sie exklusiven Zugang zur NW-Karte, </b>
          die Ihnen diverse Vorteile bei Einkauf, beim Restaurant-besuch oder
          bei Reisen und Events ermöglicht. Sammeln Sie ab sofort Ihr Guthaben.
        </div>
      </div>
    </div>
  </div>
</div>
