<div class="nw-max-w-5xl nw-mx-auto nw-py-12 nw-bg-gray-100">
    <div class="nw-pb-12">
        <img class="nw-w-64 nw-mx-auto" src="/images/logo_nw.svg" alt="logo_nw">
    </div>
    <div class="nw-bg-white nw-rounded-md nw-border nw-border-gray-300 nw-shadow-md shadow-gray-700/50 nw-py-12 nw-px-6
            md:nw-px-24 nw-mx-6">
        <div class="nw-mb-2 lg:nw-mb-1">
            <p class="nw-text-base nw-text-gray-600 nw-font-medium nw-leading-tight">
                {{banner-text}}
            </p>
        </div>
        <div>
            <p class=" nw-font-bold nw-text-2xl md:nw-text-3xl nw-text-black nw-pb-3 nw-leading-tight">
                {{title-text}}
            </p>
            <p class="druck-text">Mehr als 120 Menschen haben sich in einer
                Bünder Telegram-Gruppe vernetzt – und leugnen sogar den Holocaust. Ein tiefer Einblick in
                eine Szene, die sich immer stärker radikalisiert.
            </p>
            <div
                itemprop="datePublished"
                content="2020-11-24"
                class="nw-text-xs nw-text-gray-400 nw-mb-8">
                {{release-date}} aktualisiert
            </div>
            <div>
                <p class="druck-text">
                    Vereinigten Arabischen Emiraten. Nutzer können sich anonym austauschen - vor dwe deutschen
                    Justiz in der Regal gut geschützt. Das wird ausgenutzt.
                    Tausende Nachrichten ploppten in den vergangenen Monaten auf den Handys der Gruppenmitglieder
                    auf. Hauptsächlich werden Beiträge von prominenten.
                </p>
                <p class="druck-text">
                    Dort finden sich eine Menge Falschinformationen zur aktuellen Pandemie. Bedient wird die ganze
                    Palette der Corona-Leugner: Es ist ein Einblick in eine seltsame
                    Parallelwelt, in der Geimpfte die Ansteckenden sind und in großen Zahlen versterben. Aberr auch
                    ein digitaler Ort, an dem der Übergang von Falschinformationen zur
                    rechtsextremen Inhalten fließend ist.
                </p>
                <h2 class="druck-text">
                    Seltsame Parallelwelt
                </h2>
                <p class="druck-text">
                    Ein Mitglied teilte zuletzt historische Fotos, die angeblich beweisen sollen, dass
                    Konzentrationslager nicht echt seien,
                    weil dort abgemagerte Deutsche in „angebliche KZ Kleidung gesteckt und in den angeblichen KZs
                    fotografiert" worden seien, weil dort
                    abgemagerte Deutsche in „angebliche KZ Kleidung gesteckt und in den angeblichen KZs
                    fotografiert"
                    worden seien. Die Botschaft: Den Deutschen sei der
                    Holocaust ein geredet worden. In einem anderen Beitrag teilt die Administratorin
                    der Gruppe, eine Tierschützerin.
                </p>
                <p class="druck-text">
                    In dem Begleittext steht, dass deutsche Gerichte entscheiden hätten, dass „der Fil 'Holocaust'
                    die
                    Wahrheit ist." Die Anführungsstriche beim
                    Begriff Holocaust stehen auch im Original. Ein Gespräch mit der NW lehnt die Tierschützerin ab.
                    Die
                    Begründung: „Ich muss mich momentan um meine
                    kranke Katze kümmern und habe gerade keinen Kopf für ein Interview", sagt sie.
                </p>
                <p class="druck-text">
                    Welches Weltbild der Mann im Kopf hat, zeigt sich nur drei Tage später. Am 13. Dezember teilt er
                    den
                    Mitgliedern mit, dass das „3. Reich niemals untergegangen"
                    und Corona „nur ein Ablenkungsmanöver" sei. Zuvor schreibt er schon, dass Politiker sich künftig
                    vor
                    einem „Militärgericht" verantworten müssen.
                    Vor einem ordentlichen Gericht könnten dagegen einige Beiträge mit strafrechtlicher Relevanz das
                    sagt:
                    <span> <a href="#" class="nw-font-bold hover:nw-underline">Guardian</a></span>
                </p>
                <p class="druck-text">
                    Welches Weltbild der Mann im Kopf hat, zeigt sich nur drei Tage später. Am 13. Dezember teilt er
                    den
                    Mitgliedern mit, dass das „3. Reich niemals untergegangen"
                    und Corona „nur ein Ablenkungsmanöver" sei. Zuvor schreibt er schon, dass Politiker sich künftig
                    vor
                    einem „Militärgericht" verantworten müssen.
                    Vor einem ordentlichen Gericht könnten dagegen einige Beiträge mit strafrechtlicher Relevanz das
                    sagt:
                </p>
                <p class="druck-text">
                    Sie informiere sich seit 20 Jahren dagegen in alternativen Medien. Dass dort auch, wie im Fall
                    der
                    Bünder Telegram-Gruppe, Holocaustleugnung
                    betrieben wird, sieht sie offenbar gelassen. „Ich habe nicht die Zeit, um alle abonnierten
                    Kanäle zu
                    kontrollieren."
                </p>
                <p class="druck-text">
                    Deutlich offener als gegenüber der NW ist man dagegen im anonymen Chat. Hier fühlt man sich
                    unbeobachtet. Wie weit sich die Szene
                    mittlerweile radikalisiert hat, zeigen Nachrichten vom 10. Dezember. Ein Beitrag bringt einen
                    Nuzer
                    mit dem Namen „Erich" offenbar
                    so in Rage, dass er eine Morddrohung in sein Handy tippt und abschickt. „Es werden Köpfe
                    rollen",
                    schreibt er. Wenig später
                    antwortet ihm ein Mann aus Bünde: „ich denke, es werden Kugeln sein".
                </p>
                <p class="druck-text">
                    Sie informiere sich seit 20 Jahren dagegen in alternativen Medien. Dass dort auch, wie im Fall
                    der
                    Bünder Telegram-Gruppe, Holocaustleugnung
                    betrieben wird, sieht sie offenbar gelassen. „Ich habe nicht die Zeit, um alle abonnierten
                    Kanäle zu
                    kontrollieren."
                </p>
                <p class="druck-text">
                    Sie informiere sich seit 20 Jahren dagegen in alternativen Medien. Dass dort auch, wie im Fall
                    der
                    Bünder Telegram-Gruppe, Holocaustleugnung
                    betrieben wird, sieht sie offenbar gelassen. „Ich habe nicht die Zeit, um alle abonnierten
                    Kanäle zu
                    kontrollieren."
                </p>
                <p class="druck-text">
                    Sie informiere sich seit 20 Jahren dagegen in alternativen Medien. Dass dort auch, wie im Fall
                    der
                    Bünder Telegram-Gruppe, Holocaustleugnung
                    betrieben wird, sieht sie offenbar gelassen. „Ich habe nicht die Zeit, um alle abonnierten
                    Kanäle zu
                    kontrollieren."
                </p>
                <p class="druck-text">
                    Sie informiere sich seit 20 Jahren dagegen in alternativen Medien. Dass dort auch, wie im Fall
                    der
                    Bünder Telegram-Gruppe, Holocaustleugnung
                    betrieben wird, sieht sie offenbar gelassen. „Ich habe nicht die Zeit, um alle abonnierten
                    Kanäle zu
                    kontrollieren."
                </p>
                <p class="druck-text">
                    Deutlich offener als gegenüber der NW ist man dagegen im anonymen Chat. Hier fühlt man sich
                    unbeobachtet. Wie weit sich die Szene
                    mittlerweile radikalisiert hat, zeigen Nachrichten vom 10. Dezember. Ein Beitrag bringt einen
                    Nuzer
                    mit dem Namen „Erich" offenbar
                    so in Rage, dass er eine Morddrohung in sein Handy tippt und abschickt. „Es werden Köpfe
                    rollen",
                    schreibt er. Wenig später
                    antwortet ihm ein Mann aus Bünde: „ich denke, es werden Kugeln sein".
                </p>
            </div>
        </div>
    </div>
    <!--Copyright section-->
    <div class="nw-text-gray-500 nw-test-base nw-py-12 nw-px-6 nw-text-center">
        <span>© Zeitungsverlag Neue Westfälische GmbH & Co. KG</span>
    </div>

</div>