<div class="nw-mx-4 md:nw-mx-auto">
  <a href="#" class="nw-block nw-w-full nw-cursor-pointer nw-mb-6 nw-bg-yellow-200 nw-rounded-md nw-shadow-md nw-mx-auto" style="max-width: 1062px;">
    <div class="nw-py-4 nw-pl-4 nw-pr-2 md:nw-px-3.5 nw-rounded-md ">
      <div class="nw-flex nw-place-items-center">
        <div class="nw-mr-4">
          <div class="nw-block">
            <span class="nw-text-base nw-font-bold nw-uppercase">Eilmeldung</span>
            <span class="nw-mx-2 nw-text-center nw-shrink-0">—</span>
            <span class="nw-font-base  nw-flex-1 nw-min-w-0">
      Lorem Ipsum dollar sans connas silas Lorem Ipsum dollar sans connas sila Lorem Ipsum dollar sans connas sila Lorem Ipsum dollar sans connas sila
    </span>
          </div>
        </div>
        <div class="nw-flex-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
               class="nw-w-5 nw-h-5 nw-float-right nw-text-black nw-ml-1 nw-cursor-pointer">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </div>
      </div>
    </div>
  </a>
</div>
<a href="#" class="nw-block nw-w-full nw-cursor-pointer nw-mb-6 nw-bg-yellow-200 nw-rounded-md nw-shadow-md nw-mx-auto" style="max-width: 1062px;">
  <div class="nw-py-4 nw-pl-4 nw-pr-2 md:nw-px-3.5 nw-rounded-md ">
    <div class="nw-flex nw-place-items-center">
      <div class="nw-block md:nw-flex nw-items-center nw-flex-grow nw-mr-4">
        <div class="nw-flex nw-flex-col md:nw-flex-row md:nw-items-center">
          <span class="nw-text-base nw-font-bold nw-pb-2 md:nw-pb-0 nw-uppercase">Eilmeldung</span>
          <div class="nw-border-b nw-w-4 nw-border-1 nw-border-black md:nw-mx-2 nw-mb-2 md:nw-mb-0"></div>
          <span class="nw-font-base">Lorem Ipsum dollar sans connas silas Lorem Ipsum dollar sans connas sila Lorem Ipsum dollar sans connas sila Lorem Ipsum dollar sans connas sila</span>
        </div>
      </div>
      <div class="nw-flex-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="nw-w-5 nw-h-5 nw-float-right nw-text-black nw-ml-1 nw-cursor-pointer">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </div>
    </div>
  </div>
</a>