<div class="nw-mb-2 nw-rounded-md nw-bg-yellow-200 nw-py-4 nw-pl-4 nw-pr-2 md:nw-px-3.5">
  <a class="nw-text-left nw-w-full">
    <div class="nw-flex nw-place-items-center">
      <div class="nw-block md:nw-flex nw-items-center nw-flex-grow nw-mr-4">
        <div class="nw-flex nw-flex-col md:nw-flex-row md:nw-items-center ">
          <span class="nw-text-base nw-font-bold nw-pb-1 md:nw-pb-0">Eilmeldung  </span>
          <div class=" nw-border-b nw-w-4 nw-border-1 nw-border-black md:nw-mx-4 nw-mb-2 md:nw-mb-0"></div>
          <span class="nw-font-base">Lorem Ipsum dollar sans connas silas</span>
        </div>
      </div>
      <div class="nw-flex-none">
        <svg
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="nw-w-5 nw-h-5 nw-float-right nw-text-black nw-ml-1 nw-cursor-pointer">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </div>
    </div>
  </a>
</div>