<div class="nw-mx-4 nw-mt-8 nw-flex nw-space-x-2 nw-h-10">
  <div>
    <div class="nw-flex nw-text-sm nw-text-gray-400">
      <p class="nw-uppercase nw-font-bold">Autor&nbsp;</p>
    </div>
    <div class="nw-flex nw-text-sm nw-text-gray-400">
      <p itemprop="author">{{author}}</p>
    </div>
  </div>
</div>
