<div
    class="nw-flex nw-items-center nw-mt-8 nw-mb-6 nw-flex nw-space-x-3 nw-h-10"
>
    <img
        class="nw-rounded-full nw-h-10 nw-w-10 nw-object-cover nw-object-center"
        src="{{avatar-src}}"
    />
    <div>
        <div class="nw-flex nw-text-tiny nw-text-black nw-font-medium">
            <p>von&nbsp;</p>
            <p itemprop="author">{{author}}</p>
        </div>
        <p class="nw-info-text">{{release-date}} aktualisiert</p>
    </div>
</div>
