<div
    class="nw-flex nw-items-center nw-mb-6 nw-flex nw-space-x-3 nw-h-10"
>
    <img
        class="nw-rounded-full nw-h-10 nw-w-10 nw-object-cover nw-object-center"
        src="{{avatar-src}}"
    />
    <div>
        <div class=" nw-text-base nw-text-black nw-font-medium nw-leading-6">
            <span>von&nbsp;</span>
            <span itemprop="author">{{author}}</span>
        </div>
        <span class="nw-info-text">{{release-date}} aktualisiert</span>
    </div>
</div>
