<div>
  <div class="nw-my-4 nw-mx-4 nw-flex">
    <div class="nw-mr-2">
      <div class="nw-flex">
        <img
          class="nw-mr-1"
          src="/images/nw-wortmarke-logo.svg"
          alt=""
          width="30"
          height="30"
        />

        <span
          class="
            nw-uppercase nw-text-xl nw-text-gray-600 nw-font-normal nw-text-left
          "
        >
          PRODUKTIONSPROBLEME BEIM DRUCK
        </span>
      </div>
      <div class="nw-mt-2 nw-text-4xl nw-text-black nw-font-bold nw-text-left">
        Freier Zugang zur Herforder Ausgabe
      </div>
    </div>
    <div>
      <img
        class="nw-mx-2 nw-h-full nw-w-full"
        src="/images/epaper-notfall-box/epaper-notfall-image.png"
        alt=""
      />
    </div>
    <div></div>
  </div>
</div>
