<style>
    #modal-box {
        position: fixed;
        width: 600px;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
</style>
<div id="modal-box" class="nw-modal nw-hidden container">
    <div class="nw-z-50
                nw-w-full nw-p-4 nw-overflow-x-hidden nw-overflow-y-auto nw-inset-0 nw-h-[calc(100%-1rem)]">
        <div class="nw-relative nw-w-full nw-mx-auto nw-h-full nw-max-w-2xl md:nw-h-auto md:nw-h-auto">
            <div class="nw-relative nw-bg-white nw-rounded-lg nw-shadow">
                <div
                    class="nw-flex nw-items-center nw-px-4 nw-pt-4 sm:nw-px-6 sm:nw-pt-6 nw-rounded-t">
                    <svg class=" nw-h-7 nw-w-7 nw-text-custom-1-700 nw-mr-1" xmlns="http://www.w3.org/2000/svg"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"/>
                    </svg>
                    <span class="nw-text-xl nw-font-bold">Verstoß melden</span>
                </div>
                <div class="nw-px-4 sm:nw-px-6 nw-pb-8">
                    <p class="nw-text-base nw-leading-relaxed nw-pb-4">
                        Geben Sie bitte Ihre Meldung ein.
                    </p>
                    <form>
                        <div>
                            <textarea
                                rows="4"
                                maxlength="3000"
                                class="
                                comment
                                nw-w-full nw-text-sm
                                focus:nw-ring-0 focus:nw-outline-none
                                nw-overflow-hidden
                                nw-py-2
                                nw-px-3
                                nw-bg-white
                                nw-rounded-md
                                nw-border
                                nw-border-black"
                                placeholder="Diskutieren Sie mit …"
                                required></textarea>
                            <p class="result nw-text-xs nw-text-gray-500">0/1500 Zeichen</p>
                        </div>
                        <div class="nw-mt-4 nw-flex nw-flex-col sm:nw-flex-row nw-gap-2 sm:nw-gap-4 nw-justify-end">
                            <button type="button"
                                    class=" closeButton nw-text-gray-500 nw-bg-white hover:nw-bg-gray-100
                                   nw-rounded-lg nw-border nw-border-gray-200 nw-text-base
                                   nw-font-medium nw-px-5 nw-py-2 hover:nw-text-gray-900">
                                Schließen
                            </button>
                            <button data-modal-hide="defaultModal" type="submit"
                                    class=" buttondis nw-text-white nw-bg-red-100
                                   nw-font-medium nw-rounded-lg nw-text-base nw-px-5 nw-py-2
                                   nw-text-center" disabled>
                                Melden
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>