<li
  id="nw-service-links"
  class="nw-justify-self-end nw-hidden lg:nw-inline-block"
>
  <div class="nw-flex nw-flex-nowrap nw-gap-2">
    <a
      href="#"
      class="
        nw-text-gray-400
        hover:nw-border-gray-200 hover:nw-text-gray-600
        nw-inline-flex nw-items-center nw-text-sm
      "
    >
      Shop
    </a>
    <a
      href="#"
      class="
        nw-text-gray-400
        hover:nw-border-gray-200 hover:nw-text-gray-600
        nw-inline-flex nw-items-center nw-text-sm
      "
    >
      Anzeigen
    </a>
  </div>
</li>
