<div class="nw-text-center nw-pt-8 nw-pb-4 nw-px-4 md:nw-px-0">
  <a
    href="https://shop.nw.de/kennenlernangebote/das-epaper-gratis-testen?c=132"
    class="nw-landingpage-button"
  >
    {{label}}
  </a>
</div>
