<div class="nw-text-center nw-pt-8 nw-pb-4">
  <a
    href="https://shop.nw.de/4-wochen-epaper-inkl.-nw-webabo"
    class="nw-inline-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-32 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
  nw-border nw-border-red-0 nw-bg-red-0 nw-rounded-md nw-text-base nw-font-bold
  nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-red-100 focus:nw-bg-red-200 focus:nw-border-red-200
  disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed"
  >
    {{label}}
  </a>
</div>
