<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>

<div>
  <div
    class="
      nw-uppercase
      nw-text-xl
      nw-text-black
      nw-font-bold
      nw-text-center
      nw-pb-3
      nw-pt-8
      nw-px-8
    "
  >
    Saison-Statistik <br />
    Arminia Bielefeld
  </div>
  <div
    class="
      nw-text-tiny
      nw-text-gray-500
      nw-font-medium
      nw-text-center
      nw-pb-6
      nw-px-12
    "
  >
    Spiel-Statistik von Arminia Bielefeld für den Bundesliga Saison 2022/2023
  </div>

  <div
    class="
      nw-text-sm
      nw-font-medium
      nw-text-center
      nw-text-black
      nw-border-b
      nw-border-gray-200
      nw-mx-2
    "
  >
    <ul class="nw-flex nw-flex-wrap nw--mb-px nw-place-content-center">
      <li class="nw-mr-2">
        <a
          id="GesamtTab"
          href="#"
          class="
            nw-inline-block
            nw-p-4
            nw-text-custom-600
            nw-rounded-t-lg
            nw-border-b-2
            nw-border-custom-600
          "
          aria-current="page"
          >Gesamt</a
        >
      </li>
      <li class="nw-mr-2">
        <a
          id="SpieleTab"
          href="#"
          class="
            nw-inline-block
            nw-p-4
            nw-rounded-t-lg
            nw-border-b-2
            nw-border-transparent
          "
          >Gespielte Spiele</a
        >
      </li>
      <li class="nw-mr-2">
        <a
          id="ToreTab"
          href="#"
          class="
            nw-inline-block
            nw-p-4
            nw-rounded-t-lg
            nw-border-b-2
            nw-border-transparent
          "
          >Tore</a
        >
      </li>
    </ul>
  </div>

  <div class="nw-mx-2">
    <div id="GesamtContainer">
      <div class="nw-bg-white nw-rounded-md nw-mt-4 nw-py-6">
        <canvas id="gesamtChart" class="nw-w-full"></canvas>
      </div>
    </div>

    <div id="SpieleContainer" class="nw-hidden">Spiele</div>

    <div id="ToreContainer" class="nw-hidden">
      <div class="nw-bg-white nw-rounded-md nw-mt-4 nw-py-6">
        <canvas id="toreChart" class="nw-w-full"></canvas>
      </div>
    </div>
  </div>

  <script>
    var xValues = ['Gespielt [1]', 'Offen [33]'];
    var yValues = [1, 33];
    var barColors = ['#D20A11', '#038ed5'];

    new Chart('gesamtChart', {
      type: 'doughnut',
      data: {
        labels: xValues,
        datasets: [
          {
            backgroundColor: barColors,
            data: yValues,
          },
        ],
      },
      options: {
        cutoutPercentage: 80,
        title: {
          display: false,
          text: 'World Wide Wine Production 2018',
        },
      },
    });
  </script>
  <script>
    var aValues = ['Tore [23]', 'Gegentore [46]'];
    var bValues = [23, 46];
    var cColors = ['#D20A11', '#038ed5'];

    new Chart('toreChart', {
      type: 'doughnut',
      data: {
        labels: aValues,
        datasets: [
          {
            backgroundColor: cColors,
            data: bValues,
          },
        ],
      },
      options: {
        cutoutPercentage: 80,
        title: {
          display: false,
          text: 'World Wide Wine Production 2018',
        },
      },
    });
  </script>

  <div
    class="
      nw-mx-2 nw-px-2 nw-text-sm nw-text-black nw-text-center nw-pt-4 nw-pb-2
      md:nw-px-44
    "
  >
    In der aktuellen Bundesliga Saison haben unsere Jungs von Arminia Bielefeld
    bereits ein Spiel hinter sich. Wir drücken ganz fest die Daumen für das
    nächste <b>Spiel am Samstag (17.08.2022) gegen Bayern München</b> und freuen
    uns auf viele Tore beim Heimspiel in der Bielefelder Alm.
  </div>
  <!-- live-button-->
  {{>'@live-button'}}
  <!--live-button Ende -->
</div>

<script>
  document
    .getElementById('GesamtTab')
    .addEventListener('click', () => SelectTab('GesamtTab', 'GesamtContainer'));
  document
    .getElementById('SpieleTab')
    .addEventListener('click', () => SelectTab('SpieleTab', 'SpieleContainer'));
  document
    .getElementById('ToreTab')
    .addEventListener('click', () => SelectTab('ToreTab', 'ToreContainer'));

  function SelectTab(tab, container) {
    RemoveAllActiveClasses();
    document
      .getElementById(tab)
      .classList.add('nw-text-custom-600', 'nw-border-custom-600');
    document.getElementById(container).classList.remove('nw-hidden');
  }

  function RemoveAllActiveClasses() {
    document
      .getElementById('GesamtTab')
      .classList.remove('nw-text-custom-600', 'nw-border-custom-600');
    document
      .getElementById('GesamtTab')
      .classList.add('nw-text-black', 'nw-border-b-2', 'nw-border-transparent');

    document
      .getElementById('SpieleTab')
      .classList.remove('nw-text-custom-600', 'nw-border-custom-600');
    document
      .getElementById('SpieleTab')
      .classList.add('nw-text-black', 'nw-border-b-2', 'nw-border-transparent');

    document
      .getElementById('ToreTab')
      .classList.remove('nw-text-custom-600', 'nw-border-custom-600');
    document
      .getElementById('ToreTab')
      .classList.add('nw-text-black', 'nw-border-b-2', 'nw-border-transparent');

    document.getElementById('GesamtContainer').classList.add('nw-hidden');
    document.getElementById('SpieleContainer').classList.add('nw-hidden');
    document.getElementById('ToreContainer').classList.add('nw-hidden');
  }
</script>
