<div>
  <div
    class="
      nw-uppercase
      nw-text-xl
      nw-text-black
      nw-font-bold
      nw-text-center
      nw-pb-3
      nw-pt-8
      nw-px-8
    "
  >
    Saison-Statistik <br />
    Arminia Bielefeld
  </div>
  <div
    class="
      nw-text-tiny
      nw-text-gray-500
      nw-font-medium
      nw-text-center
      nw-pb-6
      nw-px-12
    "
  >
    Spiel-Statistik von Arminia Bielefeld für den Bundesliga Saison 2022/2023
  </div>
  <div class="nw-mx-2">
    <ul
      class="
        nw-nav
        nw-nav-tabs
        nw-flex
        nw-text-black
        nw-flex-row
        nw-flex-wrap
        nw-list-none
        nw-border-b
        nw-border-gray-200
        nw-pl-0
        nw-mb-4
        nw-place-content-center
      "
      id=""
      role="tablist"
    >
      <li class="nw-nav-item" onclick="openTab('gesamt')" role="tab">
        <a
          id="Gesamt"
          class="
            nw-font-medium
            nw-uppercase
            nw-py-2
            nw-px-4
            nw-inline-flex
            nw-text-sm
            nw-cursor-pointer
            nw-items-center
            nw-text-custom-600
            nw-border-b
            nw-border-custom-600
          "
          data-bs-toggle="pill"
          data-bs-target="#tabs-home"
          role="tab"
          aria-controls="tabs-home"
          aria-selected="true"
        >
          Gesamt
        </a>
      </li>
      <li class="nw-nav-item" onclick="openTab('spiele')" role="tab">
        <a
          id="Spiele"
          class="
            nw-text-black
            nw-font-medium
            nw-uppercase
            nw-py-2
            nw-px-auto
            nw-inline-flex
            nw-text-sm
            nw-cursor-pointer
            nw-items-center
          "
          data-bs-toggle="pill"
          data-bs-target="#tabs-contact"
          role="tab"
          aria-controls="tabs-contact"
          aria-selected="false"
        >
          Gespielte Spiele
        </a>
      </li>
      <li class="nw-nav-item" onclick="openTab('tore')" role="tab">
        <a
          id="Tore"
          class="
            nw-text-black
            nw-font-medium
            nw-uppercase
            nw-py-2
            nw-px-4
            nw-inline-flex
            nw-text-sm
            nw-cursor-pointer
            nw-items-center
          "
          data-bs-toggle="pill"
          data-bs-target="#tabs-contact"
          role="tab"
          aria-controls="tabs-contact"
          aria-selected="false"
        >
          Tore
        </a>
      </li>
    </ul>
  </div>
  <html>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <body>
      <div
        id="gesamt"
        class="nw-place-content-center nw-mx-auto nw-w-full"
      ></div>

      <script>
        var xArray = ['gespielt', 'offen'];
        var yArray = [1, 33];

        var layout = { title: 'Gesamte Spiele 34' };

        var data = [{ labels: xArray, values: yArray, hole: 0.7, type: 'pie' }];

        Plotly.newPlot('gesamt', data, layout);
      </script>
    </body>
  </html>

  <div
    class="
      nw-mx-2 nw-px-2 nw-text-sm nw-text-black nw-text-center nw-pt-4 nw-pb-2
      md:nw-px-44
    "
  >
    In der aktuellen Bundesliga Saison haben unsere Jungs von Arminia Bielefeld
    bereits ein Spiel hinter sich. Wir drücken ganz fest die Daumen für das
    nächste <b>Spiel am Samstag (17.08.2022) gegen Bayern München</b> und freuen
    uns auf viele Tore beim Heimspiel in der Bielefelder Alm.
  </div>
  <!-- live-button-->
  {{>'@live-button'}}
  <!--live-button Ende -->
</div>

<script>
  function openTab(tabName) {
    var i;
    var x = document.getElementsByClassName('tab');
    for (i = 0; i < x.length; i++) {
      x[i].style.display = 'none';
    }
    document.getElementById(tabName).style.display = 'block';
  }
</script>

<script>
  var gesamt = document.getElementById('Gesamt');
  var spiele = document.getElementById('Spiele');
  var tore = document.getElementById('Tore');

  gesamt.addEventListener('click', mouseOver1);
  spiele.addEventListener('click', mouseOver2);
  tore.addEventListener('click', mouseOver3);

  function mouseOver1() {
    gesamt.classList.remove('nw-text-black');
    gesamt.classList.add('nw-text-custom-600');
    spiele.classList.remove('nw-text-custom-600');
    spiele.classList.add('nw-text-black');
    gesamt.classList.add('nw-border-b');
    gesamt.classList.add('nw-border-custom-600');
    gesamt.classList.add('nw-border-solid');
    spiele.classList.remove('nw-border-b');
    tore.classList.remove('nw-text-custom-600');
    tore.classList.add('nw-text-black');
    tore.classList.remove('nw-border-b');
  }

  function mouseOver2() {
    spiele.classList.remove('nw-text-black');
    spiele.classList.add('nw-text-custom-600');
    gesamt.classList.remove('nw-text-custom-600');
    gesamt.classList.add('nw-text-black');
    spiele.classList.add('nw-border-b');
    spiele.classList.add('nw-border-custom-600');
    spiele.classList.add('nw-border-solid');
    gesamt.classList.remove('nw-border-b');
    tore.classList.remove('nw-text-custom-600');
    tore.classList.add('nw-text-black');
    tore.classList.remove('nw-border-b');
  }

  function mouseOver3() {
    tore.classList.remove('nw-text-black');
    tore.classList.add('nw-text-custom-600');
    gesamt.classList.remove('nw-text-custom-600');
    gesamt.classList.add('nw-text-black');
    tore.classList.add('nw-border-b');
    tore.classList.add('nw-border-custom-600');
    tore.classList.add('nw-border-solid');
    gesamt.classList.remove('nw-border-b');
    spiele.classList.remove('nw-text-custom-600');
    spiele.classList.add('nw-text-black');
    spiele.classList.remove('nw-border-b');
  }
</script>
