<div class="nw-text-center nw-pb-3 nw-pt-3 nw-px-16 nw-text-black nw-font-bold">
    <div class="nw-text-base nw-mb-1">Hier geht es zum</div>
    <div class="nw-flex nw-place-content-center">
        <div class="nw-w-3 nw-h-3 nw-rounded-full nw-bg-red-0"></div>
        <span class="nw-ml-1 nw-text-md nw-uppercase"
        >Live-Tricker</span
        >
    </div>
</div>
<a
    href=""
    class="
    nw-mx-auto
    nw-w-1/2
    nw-bg-red-0
    nw-border
    nw-border-transparent
    nw-rounded-md
    nw-py-1
    nw-px-4
    nw-flex
    nw-items-center
    nw-justify-center
    nw-text-base
    nw-font-medium
    nw-text-white
    hover:nw-bg-red-100
    focus:nw-outline-none
    focus:nw-ring-2
    focus:nw-ring-offset-2
    focus:nw-ring-offset-gray-600
    focus:nw-ring-indigo-500
  "
>
    {{label}}
</a>
