<div class="nw-bg-custom-1-700 nw-p-4">
  <div class="md:nw-max-w-xl lg:nw-max-w-2xl nw-mx-auto">
    <div class="nw-py-4">
      <p class="nw-text-white nw-inline nw-text-xl nw-uppercase nw-font-bold">
        Video
      </p>
      <hr class="nw-red-line" />
    </div>
    <div class="nw-aspect-w-4 nw-aspect-h-3">
      <iframe
        class="nw-h-full nw-w-full nw-object-none nw-rounded-md"
        width="320"
        height="240"
        src="{{src-video}}"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div
      class="
        nw-my-2 nw-p-4 nw-flex nw-flex-col
        md:nw-flex-row
        nw-justify-between nw-space-y-2
        md:nw-space-y-0
        nw-bg-custom-1-200 nw-rounded-md
      "
    >
      <div>
        <div
          class="
            nw-relative
            nw-inline-block
            nw-w-12
            nw-mr-2
            nw-align-middle
            nw-select-none
            nw-transition
            nw-duration-200
            nw-ease-in
          "
        >
          <input
            type="checkbox"
            name="toggle"
            id="toggle"
            class="
              nw-toggle-checkbox
              nw-absolute
              nw-block
              nw-w-6
              nw-h-6
              nw-rounded-full
              nw-bg-white
              nw-border-4
              nw-appearance-none
              nw-cursor-pointer
            "
          />
          <label
            for="toggle"
            class="
              nw-toggle-label
              nw-block
              nw-overflow-hidden
              nw-h-6
              nw-rounded-full
              nw-bg-gray-300
              nw-cursor-pointer
            "
          ></label>
        </div>

        <label for="toggle" class="nw-text-white nw-text-tiny"
          >Externe Inhalte
        </label>
      </div>
      <p class="nw-text-sm">
        <a
          href=""
          class="nw-not-italic nw-text-white nw-underline nw-cursor-pointer"
          >Zur Datenschutzerklärung.</a
        >
      </p>
    </div>
  </div>

  <style>
    /* CHECKBOX TOGGLE SWITCH */
    /* @apply rules for documentation, these do not work as inline style */
    .nw-toggle-checkbox:checked {
      @apply: nw-right-0 nw-border-custom-2-200;
      right: 0;
      border-color: #485199;
    }

    .nw-toggle-checkbox:checked + .nw-toggle-label {
      @apply: nw-bg-custom-2-200;
      background-color: #485199;
    }
  </style>
</div>
