<div class="nw-bg-custom-1-700 nw-p-7">
    <div class="nw-pb-8">
        <div class="nw-flex nw-flex-row nw-justify-between nw-items-end">
            <div>
                <p class="nw-text-white nw-inline nw-text-xl nw-uppercase nw-font-bold">
                    Video
                </p>
                <hr class="nw-red-line-l nw-mt-0.5"/>
            </div>
        </div>
    </div>
    <div class=" nw-mx-auto md:nw-w-5/6">
        <div class="nw-relative nw-block nw-max-w-full ">
            <div style="padding-top: 56.25%;">
                <iframe class="nw-rounded-md nw-absolute nw-top-0 nw-bottom-0 nw-left-0 nw-right-0 nw-w-full nw-h-full"
                        src="//players.brightcove.net/8463340001/tNoSMOUgFV_default/index.html?videoId=6317230669112"
                        allowfullscreen=""
                        allow="encrypted-media"></iframe>
            </div>
        </div>
        {{>'@privacy--videobox'}}
    </div>
</div>
