<div class="nw-bg-custom-1-700 nw-p-4">
  <div class="md:nw-max-w-xl lg:nw-max-w-2xl nw-mx-auto">
    <div class="nw-py-4">
      <p class="nw-text-white nw-inline nw-text-xl nw-uppercase nw-font-bold">
        Video
      </p>
      <hr class="nw-red-line" />
    </div>
    {{>'@video-player'}} {{>'@privacy--videobox'}}
  </div>
</div>
