<div class="bg-nw-gray-100 h-16 flex cursor-pointer">
  <div
    class="
      bg-nw-red-100
      h-10
      mx-4
      my-2
      flex-1
      place-content-center
      flex
      place-self-center
    "
  >
    <p
      class="
        text-sm text-white
        font-bold
        text-center
        uppercase
        place-self-center
        tracking-wider
      "
    >
      {{buttonText}}
    </p>
  </div>
</div>
