<div class="nw-bg-white">
  <div class="nw-bg-white nw-py-8 nw-max-w-3xl nw-mx-auto">
    {{>'@banner'}}
    <div class="nw-mx-4">
      <p class="nw-font-bold nw-text-xl md:nw-text-2xl nw-text-black nw-pb-2">
        {{title}}
      </p>
      <p class="nw-text-base nw-text-black nw-max-w-xl nw-mb-2">{{text}}</p>
      <p class="nw-info-text">{{release-date}}</p>
    </div>
    {{>'@author'}} {{>'@social-icons'}}
  </div>
</div>
