<div class="nw-flex-1 nw-bg-white">
  <p
    class="
      nw-uppercase
      nw-text-gray-300
      nw-text-xs
      nw-text-center
      nw-bg-gray-100
      nw-p-1
    "
  >
    ANZEIGE
  </p>
  <div class="nw-w-auto nw-ads-height nw-bg-gray-600"></div>
</div>
