<div
    class="nw-flex nw-flex-row nw-gap-2 nw-place-content-center nw-text-center nw-rounded-md nw-bg-green-400 nw-px-6 nw-pb-2 nw-pt-1 nw-max-w-xs nw-mx-auto"
    id="clockdiv">
    <div>
        <p class="days nw-p-2 nw-bg-white nw-rounded-md nw-mb-1"></p>
        <p class="nw-text-white"> Tg. </p>
    </div>
    <div>
        <p class="hours nw-p-2 nw-bg-white nw-rounded-md nw-mb-1"></p>
        <p class="nw-text-white"> Std. </p>
    </div>
    <div>
        <p class="minutes nw-p-2 nw-bg-white nw-rounded-md nw-mb-1"></p>
        <p class="nw-text-white"> Min. </p>
    </div>
    <div>
        <p class="seconds nw-p-2 nw-bg-white nw-rounded-md nw-mb-1"></p>
        <p class="nw-text-white"> Sek. </p>
    </div>
</div>

<script>
    const deadline = 'January 1, 2024 23:59:59';

    (function () {
        initializeClock('clockdiv', deadline);
    })();


    function getTimeRemaining(endtime) {
        const total = Date.parse(endtime) - Date.parse(new Date());
        const seconds = Math.floor((total / 1000) % 60);
        const minutes = Math.floor((total / 1000 / 60) % 60);
        const hours = Math.floor((total / (1000 * 60 * 60)) % 24);
        const days = Math.floor(total / (1000 * 60 * 60 * 24));

        return {
            total,
            days,
            hours,
            minutes,
            seconds
        };
    }

    function initializeClock(id, endtime, daysWithZero = false) {
        const clock = document.getElementById(id);
        const daysSpan = clock.querySelector('.days');
        const hoursSpan = clock.querySelector('.hours');
        const minutesSpan = clock.querySelector('.minutes');
        const secondsSpan = clock.querySelector('.seconds');

        function updateClock() {
            const t = getTimeRemaining(endtime);

            if (t.total < 0) {
                clock.style.display = 'none';
            }

            daysSpan.innerHTML = daysWithZero === false
                ? t.days
                : ('0' + t.days).slice(-2);
            hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
            minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
            secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

            if (t.total <= 0) {
                clearInterval(timeinterval);
            }
        }

        updateClock(); // run function once at first to avoid delay
        var timeinterval = setInterval(updateClock, 1000);
    }
</script>