<div class="nw-max-w-6xl nw-mb-12 sm:nw-mb-0">
  {{>'@logo-section--lokal' (contextData '@logo-section' lokal) }}
  {{>'@menu-section--lokal' (contextData '@menu-section' menuitems-lokal) }}
  {{>'@menu-section--sticky' (contextData '@menu-section') }} {{>'@burger-menu'
  (contextData '@burger-menu')}}
</div>
