<div class="mx-4 mt-8 mb-4 flex space-x-2 h-10">
  <img
    class="rounded-full h-10 w-10 object-cover object-center"
    src="{{avatar-src}}"
  />
  <div>
    <div class="flex text-sm text-nw-gray-500">
      <p>von&nbsp;</p>
      <p itemprop="author">{{author}}</p>
    </div>

    <div
      itemprop="datePublished"
      content="2020-11-24"
      class="text-xs text-nw-gray-400"
    >
      {{release-date}}
    </div>
  </div>
</div>
