<a href="#" class="nw-bg-white nw-flex nw-cursor-pointer nw-w-200px">
  <div
    class="
      nw-bg-red-500
      nw-h-10
      nw-flex-1
      nw-place-content-center
      nw-flex
      nw-place-self-center
    "
  >
    <p
      class="
        nw-text-sm
        nw-text-white
        nw-font-bold
        nw-text-center
        nw-uppercase
        nw-place-self-center
        nw-tracking-wider
      "
    >
      {{buttonText}}
    </p>
  </div>
</a>
