<div class="nw-mb-12 nw-p-4 sm:nw-mb-0 nw-bg-white">
    <div class="nw-flex nw-justify-center nw-content-center nw-mb-1 nw-ml-auto nw-mr-auto">
        <div class="nw-bg-gray-600 nw-relative nw-text-white nw-text-center nw-w-8 nw-h-8 nw-rounded-full nw-flex nw-content-center nw-justify-center">
            <span style="transform:translateY(-50%)" class="nw-absolute nw-top-2/4">FK</span>
        </div>
    </div>
    <div class="nw-mb-3 nw-font-bold nw-text-lg nw-text-center">
        Frank-Michael Kiel-Steinkamp
    </div>
    <div class="nw-mb-1">
        {{>'@submit-button' buttontext-profile}}
    </div>
    <div class="nw-mb-1">
        {{>'@signout-button'}}
    </div>
</div>