<div class="nw-mb-12 nw-p-4 sm:nw-mb-0 nw-bg-white">
    <div class="nw-flex nw-justify-center nw-content-center nw-mb-4 nw-ml-auto nw-mr-auto">
        <div class="nw-bg-gray-600 nw-text-white nw-text-center nw-w-9 nw-h-9 nw-rounded-full nw-flex nw-content-center nw-justify-center">
            <span>FK</span>
        </div>
    </div>
    <div class="nw-mb-1">
        {{>'@submit-button' buttontext-profile}}
    </div>
    <div class="nw-mb-1">
        {{>'@signout-button'}}
    </div>
</div>