<!DOCTYPE html>
<html>
  <head>
    {{> @head_meta }} {{> @head_imports }}
  </head>

  <body>
    <div itemscope itemtype="http://schema.org/Article">
      <main
        class="nw-max-w-6xl nw-w-full nw-mx-auto nw-px-4 sm:nw-px-6 lg:nw-px-8"
      >
        {{{ yield }}} {{> @body_imports }}
      </main>
    </div>
  </body>
</html>
