<!DOCTYPE html>
<html>
  <head>
    {{> @head_meta }} {{> @head_imports }}
  </head>

  <body class="nw-preview-wrapper nw-max-w-2xl nw-mx-auto">
    <div itemscope itemtype="http://schema.org/Article">
      {{{ yield }}} {{> @body_imports }}
    </div>
  </body>
</html>
