
<style>
  .nw-dropdown ul {
    max-height: 200px;
  }
  input[type=text] {
    -webkit-appearance: none;
  }
  input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
  }

  input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }

  input[type="search"] {
    -moz-appearance: textfield;
  }

  select {
    padding-right: 30px;
    font-size: 14px;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%234A5568' ><path fill-rule='evenodd' d='M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z' clip-rule='evenodd' /></svg>") no-repeat;
    background-position: right 10px top 50%;
  }
</style>

<div class="nw-mx-auto md:nw-mb-4" style="max-width: 1062px">
  <div class="nw-px-4 md:nw-px-7 nw-pt-6 nw-pb-10 md:nw-py-10 nw-bg-white md:nw-rounded-md md:nw-shadow-md">
    <div class="nw-mb-6 md:nw-mb-10">
      <p class="nw-text-xl md:nw-text-3xl nw-font-bold">
        Wir schreiben, redigieren und gestalten
      </p>
    </div>
    <div class="nw-grid nw-grid-rows-1 md:nw-grid-cols-2 nw-gap-6 md:nw-gap-8 nw-mb-6 md:nw-mb-8">
      <div class="nw-w-full">
        <div class="nw-mb-1">
          <label for="" class="nw-text-xs nw-uppercase nw-font-bold">
            Name
          </label>
        </div>
        <div class="nw-relative  nw-flex nw-w-full nw-items-stretch nw-bg-white">
          <input
            type="search"
            class="nw-cursor-pointer nw-relative nw-placeholder-gray-200 nw-m-0 nw--mr-0.5 nw-block nw-min-w-0 nw-flex-auto nw-rounded-l-md nw-border
                        nw-border-solid nw-border-r-0 nw-border-gray-200 nw-bg-transparent nw-bg-clip-padding nw-px-3 nw-py-3 nw-text-sm
                        focus:nw-outline-none"
            placeholder="Bitte Namen eingeben ..."
            aria-label=""
            aria-describedby=""/>
          <button
            class="nw-relative nw-z-10 nw-flex nw-items-center nw-rounded-r-md nw-px-3 nw-py-3
                        nw-border nw-border-solid nw-border-l-0 nw-border-gray-200"
            type="button"
            id="button-addon1"
            data-te-ripple-init
            data-te-ripple-color="light">
            <svg
              xmlns="http://www.w3.org/2000/svg" stroke-width="3"
              viewBox="0 0 20 20"
              fill="currentColor"
              class="nw-h-5 nw-w-5 nw-text-slate-300">
              <path
                fill-rule="evenodd"
                d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                clip-rule="evenodd"/>
            </svg>
          </button>
        </div>
      </div>
      <div class="nw-w-full">
        <div class="nw-mb-1">
          <label for="" class="nw-text-xs nw-uppercase nw-font-bold">
            Ressort und region
          </label>
        </div>
        <div class="nw-dropdown nw-relative nw-w-full nw-bg-white nw-cursor-pointer">
          <div class="nw-dropdown-block nw-flex nw-justify-between nw-items-center nw-space-x-1 nw-cursor-pointer nw-w-full nw-px-3 nw-py-3 nw-mx-auto nw-text-sm nw-font-medium nw-border nw-rounded-md nw-box-border nw-border-gray-200">
            <p class="nw-dropdown-text">Alle</p>
            <svg class="nw-h-5 nw-w-5 nw-text-slate-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M19 9l-7 7-7-7" />
            </svg>
          </div>

          <ul class="nw-hidden nw-overflow-y-scroll nw-scrollbar-vertical nw-absolute nw-mt-1 nw-text-sm nw-w-full nw-shadow-lg nw-rounded-md nw-bg-white nw-border nw-border-gray-100 nw-transition nw-delay-75 nw-ease-in-out nw-z-10 nw-cursor-pointer">
            <li><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0 nw-rounded-t-md">Alle</a></li>
            <li><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0">Herausgeber</a></li>
            <li><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0">Chefredaktion</a></li>
            <li><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0">Newsroom</a></li>
            <li><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0">Bielefeld</a></li>
            <li><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0">Kreis Gütersloh</a></li>
            <li><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0">Kreis Herford</a></li>
            <li><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0">Kreis Höxter</a></li>
            <li><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0">Kreis Lippe</a></li>
            <li><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0">Kreis Minden-Lübbecke</a></li>
            <li><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0">Kreis Paderborn</a></li>
            <li><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0">Printproduktion</a></li>
            <li><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0">Multimedia</a></li>
            <li><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0 nw-rounded-b-md">Volontäre</a></li>
          </ul>
        </div>


      </div>
    </div>

    <!-- Buttons -->
    {{>@toggle-buttons}}
    <!-- Autoren-Liste -->
    <div>
      <div class="nw-bg-white nw-flex nw-flex-col nw-mb-11">
        {{>@autoren-liste}}
      </div>
      <div class="nw-flex nw-justify-center">
        <button type="button"
                class="nw-inline-flex nw-items-center nw-border nw-border-gray-600 nw-rounded-md nw-text-center nw-text-sm nw-font-bold nw-py-2 nw-px-4 hover:nw-bg-gray-100 hover:nw-transition-all hover:nw-duration-300 focus:nw-bg-gray-200 focus:nw-transition-all disabled:nw-bg-white disabled:nw-text-gray-200 disabled:nw-border-gray-200 disabled:nw-cursor-not-allowed">
          Mehr laden
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="nw-w-4 nw-h-4 nw-ml-2">
            <path fill-rule="evenodd"
                  d="M12 2.25a.75.75 0 0 1 .75.75v16.19l6.22-6.22a.75.75 0 1 1 1.06 1.06l-7.5 7.5a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 1 1 1.06-1.06l6.22 6.22V3a.75.75 0 0 1 .75-.75Z"
                  clip-rule="evenodd" />
            <path fill-rule="evenodd"
                  d="M12 2.25a.75.75 0 0 1 .75.75v16.19l6.22-6.22a.75.75 0 1 1 1.06 1.06l-7.5 7.5a.75.75 0 0 1-1.06 0l-7.5-7.5a.75.75 0 1 1 1.06-1.06l6.22 6.22V3a.75.75 0 0 1 .75-.75Z"
                  clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    </div>
    <!-- -->
  </div>
</div>