<div class="nw-bg-white">
  <hr />
  <div class="nw-bg-white nw-py-4">
    <p class="nw-text-base nw-uppercase nw-font-bold">Mehr lesen über</p>
    <hr class="nw-red-line-m nw-mb-3 nw-mt-0.5" />
    <a href="">
      <div class="nw-flex nw-justify-between">
        <div class="nw-mr-2">
          <div
            class="
              nw-flex
              nw-mr-1
              nw-text-tiny
              nw-font-medium
              nw-text-gray-600
              nw-max-w-xs
            "
          >
            <img
              src="/images/nw-plus_icon.svg"
              class="nw-w-10 nw-h-10 nw-mr-1 nw--mt-1"
              alt=""
            />
            <p>Stadtfest</p>
          </div>
          <p class="nw-text-base nw-font-bold nw-tracking-tight">
            OWL-Lippe ist eine wunderschöne Region
          </p>
        </div>
        <img
          src=" {{img-box}}"
          class="
            nw-min-h-24 nw-max-h-24
            md:nw-min-h-36 md:nw-max-h-36
            nw-max-w-auto nw-min-w-auto nw-rounded
          "
          loading=""
          alt=""
        />
      </div>
    </a>
  </div>
  <hr />
</div>
