<div class="nw-flex-col nw-p-10">
  <h1 class="nw-text-xl nw-font-medium mb-4">Colors</h1>
  <div class="nw-grid nw-grid-cols-5 nw-gap-4">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-100 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">nw-gray-100</p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-200 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">nw-gray-200</p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-300 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">nw-gray-300</p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-400 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">nw-gray-400</p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-500 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">nw-gray-500</p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-red-100 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">nw-red-100</p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-red-200 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">nw-red-200</p>
    </div>
    <div class="col-span-3"></div>
    <div>
      <div class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-blue nw-mx-auto"></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">nw-blue</p>
    </div>
  </div>
</div>
