<div class="flex-col p-10">
  <h1 class="text-xl font-medium mb-4">Colors</h1>
  <div class="grid grid-cols-5 gap-4">
    <div>
      <div class="h-10 w-10 rounded-full bg-nw-gray-100 mx-auto"></div>
      <p class="text-center font-bold text-sm">nw-gray-100</p>
    </div>
    <div>
      <div class="h-10 w-10 rounded-full bg-nw-gray-200 mx-auto"></div>
      <p class="text-center font-bold text-sm">nw-gray-200</p>
    </div>
    <div>
      <div class="h-10 w-10 rounded-full bg-nw-gray-300 mx-auto"></div>
      <p class="text-center font-bold text-sm">nw-gray-300</p>
    </div>
    <div>
      <div class="h-10 w-10 rounded-full bg-nw-gray-400 mx-auto"></div>
      <p class="text-center font-bold text-sm">nw-gray-400</p>
    </div>
    <div>
      <div class="h-10 w-10 rounded-full bg-nw-gray-500 mx-auto"></div>
      <p class="text-center font-bold text-sm">nw-gray-500</p>
    </div>
    <div>
      <div class="h-10 w-10 rounded-full bg-nw-red-100 mx-auto"></div>
      <p class="text-center font-bold text-sm">nw-red-100</p>
    </div>
    <div>
      <div class="h-10 w-10 rounded-full bg-nw-red-200 mx-auto"></div>
      <p class="text-center font-bold text-sm">nw-red-200</p>
    </div>
    <div class="col-span-3"></div>
    <div>
      <div class="h-10 w-10 rounded-full bg-nw-blue mx-auto"></div>
      <p class="text-center font-bold text-sm">nw-blue</p>
    </div>
  </div>
</div>
