<div class="nw-flex-col nw-p-10 nw-bg-white">
  <h1 class="nw-text-xl nw-font-medium nw-mb-8">Primary Colors</h1>
  <h2 class="nw-text-lg nw-font-medium nw-mb-6">Neutral</h2>

 <!-- <div class="nw-grid nw-grid-cols-2  md:nw-grid-cols-5 nw-gap-4 nw-mb-8">

    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-250 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        alt : nw-gray-250<br />
        #B3B3B
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-white nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
       <br />

      </p>
    </div>
  </div>-->

  <div class="nw-grid nw-grid-cols-2  md:nw-grid-cols-5 nw-gap-4 nw-mb-8">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-0 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-gray-0<br />
        #F2F2F2
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-100 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-gray-100<br />
        #D9D9D9
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-200 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-gray-200<br />
        #BFBFBF
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-300 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-gray-300<br />
        #999999
      </p>
    </div>

    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-400 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-gray-400<br />
        #737373
      </p>
    </div>

    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-500 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-gray-500<br />
        #4D4D4D
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-600 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-gray-600<br />
        #262626
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-black nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-black<br />
        #000000
      </p>
    </div>
  </div>
  <h2 class="nw-text-lg nw-font-medium nw-mb-6">Primary</h2>

 <!-- <div class="nw-grid nw-grid-cols-2  md:nw-grid-cols-5 nw-gap-4 nw-mb-8">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-white nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        <br />
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-mx-auto" style="background-color:#E1B9BA; "
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        alt <br>nw-red-100<br />
        alt: #E1B9BA
        <br> benutzt
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-mx-auto" style="background-color:#DD8D8F; "
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        alt <br>nw-red-200<br />
        alt: #DD8D8F
        <br> benutzt
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-mx-auto" style="background-color:#D96165; "
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        alt <br>nw-red-300<br />
        alt: #D96165
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-mx-auto" style="background-color:#D5353A; "
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        alt <br>nw-red-400<br />
        alt: #D5353A
        <br> benutzt
      </p>
    </div>
  </div>-->

  <div class="nw-grid nw-grid-cols-2  md:nw-grid-cols-5 nw-gap-4 nw-mb-8">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-red-0 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-red-0<br />
        #D20A11
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-red-100 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-red-100<br />
        #AB080E
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-red-200 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-red-200<br />
        8506DB
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-red-300 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-red-300<br />
        #5E0408
      </p>
    </div>
  </div>

 <!-- <div class="nw-grid nw-grid-cols-2  md:nw-grid-cols-5 nw-gap-4 nw-mb-8">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-red-500 nw-mx-auto" style="background-color: #D20A11; "
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        alt<br />nw-red-500<br />
        #D20A11
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-red-600 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        alt<br />nw-red-600<br />
        #B3080E
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-red-700 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        alt<br /> nw-red-700<br />
        #8C070B
      </p>
    </div>
  </div>-->

  <h2 class="nw-text-lg nw-font-medium nw-mb-6">Success</h2>
  <div class="nw-grid nw-grid-cols-2  md:nw-grid-cols-5 nw-gap-4 nw-mb-8">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-green-0 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-green-0<br />
        #85DE9F
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-green-100 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-green-100<br />
        #6EB783
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-green-200 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-green-200<br />
        #579168
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-green-300 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-green-300<br />
        #406B4D
      </p>
    </div>
  </div>

  <!--<div class="nw-grid nw-grid-cols-2  md:nw-grid-cols-5 nw-gap-4 nw-mb-8">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-green-400 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        alt<br /> nw-green-400 <br>
        #41BCA7
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-green-500 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        alt <br>nw-green-500<br />
        #6EB783
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-green-600 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        alt <br>nw-green-600<br />
        #77A79B
      </p>
    </div>
  </div>-->

  <h2 class="nw-text-lg nw-font-medium nw-mb-6">Warning</h2>
  <div class="nw-grid nw-grid-cols-2  md:nw-grid-cols-5 nw-gap-4 nw-mb-8">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-yellow-0 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-yellow-0<br />
        #FEF3C7
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-yellow-100 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-yellow-100<br />
        #FDE68A
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-yellow-200 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-yellow-200<br />
        #FCD34D
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-yellow-300 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-yellow-300<br />
        #FBBF24
      </p>
    </div>
  </div>
</div>

<div class="nw-flex-col nw-p-10 nw-bg-white">
  <h1 class="nw-text-xl nw-font-medium nw-mb-8">Secondary Colors</h1>
  <h2 class="nw-text-lg nw-font-medium nw-mb-6">Slate</h2>

<!--  <div class="nw-grid nw-grid-cols-2  md:nw-grid-cols-5 nw-gap-4 nw-mb-8">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-white nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
       <br />
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-white nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        <br />
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-white nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        <br />
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-custom-1-700 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        alt <br>nw-custom-1-700<br />
        #4A5568
      </p>
    </div>
  </div>-->

  <div class="nw-grid nw-grid-cols-2  md:nw-grid-cols-5 nw-gap-4 nw-mb-8">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-slate-0 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-slate-0<br />
        #9CB3DB
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-slate-100 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-slate-100<br />
        #8194B5
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-slate-200 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-slate-200<br />
        #66758F
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-slate-300 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-slate-300<br />
        #4A5568
      </p>
    </div>
  </div>

  <div class="nw-grid nw-grid-cols-2  md:nw-grid-cols-5 nw-gap-4 nw-mb-8">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-light-0 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-light-0<br />
        #F2F5F9
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-light-100 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-light-100<br />
        #CED0D4
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-light-200 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-light-200<br />
        #A9ABAD
      </p>
    </div>
  </div>

  <div class="nw-grid nw-grid-cols-2  md:nw-grid-cols-5 nw-gap-4 nw-mb-8">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-sky-0 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-sky-0<br />
        #4F46E5
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-sky-100 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-sky-100<br />
        #352F99
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-sky-200 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-sky-200<br />
        #1A174D
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-sky-300 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-sky-300<br />
        #1F2937
      </p>
    </div>
  </div>

  <h2 class="nw-text-lg nw-font-medium nw-mb-6">Custom</h2>
  <div class="nw-grid nw-grid-cols-2  md:nw-grid-cols-5 nw-gap-4 nw-mb-8">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-custom-2-400 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        custom-2-400<br />
        #495467
      </p>
    </div>

  <div>
    <div
      class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-custom-2-300 nw-mx-auto"
    ></div>
    <p class="nw-text-center nw-font-bold nw-text-sm">
      custom-2-300<br />
      #41BCA7
    </p>
  </div>
  <div>
    <div
      class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-custom-2-200 nw-mx-auto"
    ></div>
    <p class="nw-text-center nw-font-bold nw-text-sm">
      custom-2-200<br />
      #485199
    </p>
  </div>
  <div>
    <div
      class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-custom-1-200 nw-mx-auto"
    ></div>
    <p class="nw-text-center nw-font-bold nw-text-sm">
      custom-1-200<br />
      #414B5C
    </p>
  </div>
  <div>
    <div
      class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-custom-erwinteaser-bg nw-mx-auto"
    ></div>
    <p class="nw-text-center nw-font-bold nw-text-sm">
      custom-erwinteaser-bg<br />
      #1f114c
    </p>
  </div>
  <div>
    <div
      class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-custom-erwinteaser-font-big nw-mx-auto"
    ></div>
    <p class="nw-text-center nw-font-bold nw-text-sm">
      custom-erwinteaser-font-big<br />
      #9dcde3
    </p>
  </div>
  <div>
    <div
      class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-custom-lesepaten-bg nw-mx-auto"
    ></div>
    <p class="nw-text-center nw-font-bold nw-text-sm">
      custom-lesepaten-bg<br />
      #F1F2F8
    </p>
  </div>
  </div>

 <!-- <h2 class="nw-text-lg nw-font-medium nw-mb-6">Alten Farben</h2>
  <div class="nw-grid nw-grid-cols-2  md:nw-grid-cols-5 nw-gap-4 nw-mb-8">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-custom-1-800 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        custom-1-800<br />
        #0063AF
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-custom-1-700 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        custom-1-700<br />
        #4A5568
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-custom-1-600 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        custom-1-600<br />
        #038ed5
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-custom-1-500 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        custom-1-500<br />
        #1F90D1
      </p>
    </div>

  </div>-->

  <h2 class="nw-text-lg nw-font-medium nw-mb-6">HK</h2>
  <div class="nw-grid nw-grid-cols-2  md:nw-grid-cols-5 nw-gap-4 nw-mb-8">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-hk-nw-blue-100 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        hk-nw-blue-100<br />
        #00B4D1
      </p>
    </div>
  </div>

  <h2 class="nw-text-lg nw-font-medium nw-mb-6">LZ</h2>
  <div class="nw-grid nw-grid-cols-2  md:nw-grid-cols-5 nw-gap-4 nw-mb-8">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-lz-nw-yellow-100 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        lz-nw-yellow-100 <br />
        #FFDC09
      </p>
    </div>
  </div>

 <!-- <h2 class="nw-text-lg nw-font-medium nw-mb-6"> Blue </h2>
  <div class="nw-grid nw-grid-cols-2  md:nw-grid-cols-5 nw-gap-4 nw-mb-8">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-blue nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-blue <br />
        #41B7CC
      </p>
    </div>
  </div>-->

</div>
