<div class="nw-flex-col nw-p-10">
  <h1 class="nw-text-xl nw-font-medium mb-4">Colors</h1>
  <div class="nw-grid nw-grid-cols-5 nw-gap-4">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-100 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-gray-100<br />
        #F2F2F2
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-200 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-gray-200<br />
        #D9D9D9
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-300 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-gray-300<br />
        #BFBFBF
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-400 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-gray-400<br />
        #999999
      </p>
    </div>

    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-500 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-gray-500<br />
        #737373
      </p>
    </div>

    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-600 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-gray-600<br />
        #4D4D4D
      </p>
    </div>
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-gray-700 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-gray-700<br />
        #262626
      </p>
    </div>
  </div>
  <div class="nw-grid nw-grid-cols-5 nw-gap-4 nw-mt-4">
    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-red-100 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-red-100<br />
        #E1B9BA
      </p>
    </div>

    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-red-200 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-red-200<br />
        #DD8D8F
      </p>
    </div>

    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-red-300 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-red-300<br />
        #D96165
      </p>
    </div>

    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-red-400 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-red-400<br />
        #D5353A
      </p>
    </div>

    <div>
      <div
        class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-red-500 nw-mx-auto"
      ></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">
        nw-red-500<br />
        #D20A11
      </p>
    </div>
      <div>
          <div
                  class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-red-600 nw-mx-auto"
          ></div>
          <p class="nw-text-center nw-font-bold nw-text-sm">
              nw-red-600<br />
              #B3080E
          </p>
      </div>

  </div>
  <div class="nw-grid nw-grid-cols-5 nw-gap-4 nw-mt-4">
    <div>
      <div class="nw-h-10 nw-w-10 nw-rounded-full nw-bg-blue nw-mx-auto"></div>
      <p class="nw-text-center nw-font-bold nw-text-sm">nw-blue</p>
    </div>
  </div>
</div>
