<div class="nw-p-4 nw-bg-sky-300 nw-rounded md">
  <div class="nw-flex nw-flex-row nw-justify-between nw-items-center nw-mb-1.5">
    <div>
      <div class="nw-text-white nw-inline nw-text-xl nw-uppercase nw-font-bold">
        Thema
      </div>
    </div>
    <div class="nw-flex-none">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor"
           class="nw-w-6 nw-h-6 nw-float-right nw-text-red-0 nw-ml-1 nw--mr-1 nw-cursor-pointer">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
      </svg>
    </div>
  </div>
  <hr class=" nw-red-line-l nw-mt-0.5  nw-mb-6">
  <div>
    <div class="nw-mb-4">
      <img
        class="nw-object-cover nw-rounded-md nw-w-full"
        src="/images/polizei-meldung.png" width="312" height="200" alt="Bild"
      />
    </div>
    <div>
      <p class="nw-text-base nw-text-slate-0 nw-pb-2 nw-font-medium">Polizeimeldungen Bielefeld</p>
      <h3
        class="nw-text-lg nw-font-bold nw-text-white nw-pb-4 nw-border-b nw-border-gray-400 md:nw-border-none">
        Fahrzeugführer missachten Polizeiaabsperrung</h3>
    </div>
  </div>

  <div class="nw-w-full nw-flex nw-flex-col nw-justify-between">
    <div>
      <article class="nw-border-b nw-border-gray-400 nw-pt-4 nw-pb-3 nw-transition-all">
        <a href="#" class="block">
          <p class="nw-text-sm nw-font-medium nw-text-slate-0">Bielefeld Mitte</p>
          <p class="nw-text-base nw-text-white nw-font-bold">Firmenwagen gestohlen</p>
        </a>
      </article>

      <article class="nw-border-b nw-border-gray-400 nw-pt-4 nw-pb-3 nw-transition-all">
        <a href="#" class="block">
          <p class="nw-text-sm nw-font-medium nw-text-slate-0">Bielefeld Mitte</p>
          <p class="nw-text-base nw-text-white nw-font-bold">Hoher Sachschaden bei Unfallflucht - Fahrer ohne
            Führerschein</p>
        </a>
      </article>

      <article class="nw-border-b nw-border-gray-400  nw-pt-4 nw-pb-3 nw-transition-all">
        <a href="#" class="block">
          <p class="nw-text-sm nw-font-medium nw-text-slate-0">Bielefeld Mitte</p>
          <p class="nw-text-base nw-text-white nw-font-bold">Unfallflucht: Kinderfuß überrollt</p>
        </a>
      </article>

      <div class="nw-px-3 nw-pt-4">
        <a href="#" class="nw-group nw-text-sm nw-text-white nw-font-bold nw-flex nw-justify-center nw-items-center nw-place-items-center nw-content-center nw-place-content-center nw-space-x-1 nw-transition-all
          nw-duration-200 nw-ease-in-out focus:nw-outline-none focus:nw-ring-2 focus:nw-ring-gray-500">
          <span>Weitere Meldungen</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="nw-h-5 nw-w-5">
            <path fill-rule="evenodd"
                  d="M2 10a.75.75 0 0 1 .75-.75h12.59l-2.1-1.95a.75.75 0 1 1 1.02-1.1l3.5 3.25a.75.75 0 0 1 0 1.1l-3.5 3.25a.75.75 0 1 1-1.02-1.1l2.1-1.95H2.75A.75.75 0 0 1 2 10Z"
                  clip-rule="evenodd" />
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>