<div class="nw-bg-custom-1-700 nw-p-4 md:nw-p-8">
    <div class="nw-bg-white nw-py-4 nw-mx-0 nw-px-4 md:nw-max-w-md nw-mx-auto nw-rounded-md">
        <div>
            <p
                class="
        nw-text-left
        nw-text-lg
        nw-font-bold
        nw-opacity-100
        nw-pb-1
      "
            >
                Registrierung
            </p>
        </div>
        <div class="nw-pt-1">
            <svg
                class="nw-mx-auto nw-text-custom-1-700"
                width="40"
                height="40"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                />
            </svg>
            <div
                class="
        nw-text-center
        nw-text-md
        nw-font-medium
        nw-pt-2
        nw-px-2
      "
            >
                <p>Vielen Dank für Ihre Registrierung</p>
            </div>
            <div
                class="
                nw-text-base
        nw-text-center
        nw-pt-0.5
        nw-px-2
        nw-mb-8
      "
            >
                <p class="nw-pt-0.5">
                    Bitte bestätigen Sie Ihre E-Mail-Adresse.
                </p>
                <p class="nw-pt-0.5">
                    Wir haben Ihnen dazu eine E-Mail zugeschickt.
                </p>
            </div>
        </div>
    </div>
</div>