<div class="nw-bg-custom-1-700 nw-p-4 md:nw-p-8">
    <div class="nw-bg-white nw-py-4 nw-mx-0 nw-px-4 md:nw-max-w-md nw-mx-auto nw-rounded-md">
        <div>
            <p
                class="
        nw-text-left
        nw-text-lg
        nw-font-bold
        nw-pb-1
      "
            >
                {{headline}}
            </p>
        </div>
        <div>
            <svg
                class="nw-mx-auto nw-text-custom-1-700"
                xmlns="http://www.w3.org/2000/svg"
                width="35"
                height="35"
                viewBox="0 0 22 22"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
            >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
                />
            </svg>
            <div
                class=" nw-text-center nw-pt-2 nw-px-2"
            >
                <p class="nw-text-md nw-font-medium">Vielen Dank für die Bestätigung.</p>

                <p class="nw-text-base nw-py-0.5">Ihr Login steht jetzt bereit.</p>
            </div>
            <a
                href=""
                class="
        nw-mt-2
        nw-mb-8
        nw-w-full
        nw-text-white
        nw-bg-red-500
        nw-rounded
        nw-text-center
        nw-inline-block
        nw-text-base
        nw-font-bold
        nw-cursor-pointer
        nw-py-2
        nw-px-auto
        hover:nw-bg-red-700
      "
                type="button"
            >
                Jetzt zum Artikel
            </a>
        </div>
    </div>
</div>