<div class="nw-bg-white nw-pb-4 nw-mx-0 nw-px-4 sm:nw-px-40 md:nw-px-60">
    <div>
        <p
            class="
        nw-text-left
        nw-text-md
        nw-font-bold
        nw-opacity-100
        nw-text-black
        nw-pt-4
        nw-pb-1
        nw-tracking-normal
      "
        >
            {{headline}}
        </p>
    </div>
    <div>
        <svg
            class="nw-mx-auto nw-text-slate-300"
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            viewBox="0 0 22 22"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
        >
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            />
        </svg>
        <div
            class="nw-text-black nw-tracking-normal nw-text-center nw-pt-2 nw-px-2"
        >
            <p class="nw-text-md nw-font-medium">{{caption1}}</p>

            <p class="nw-text-base nw-font-normal nw-py-0.5">{{caption2}}</p>
        </div>
        <a
            href=""
            class="
        nw-mt-1
        nw-mb-4
         nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-32 sm:nw-max-w-fit nw-mx-auto nw-whitespace-nowrap nw-text-white
                            nw-border nw-border-red-0 nw-bg-red-0 nw-rounded-md nw-text-sm nw-font-bold
                            nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-red-100 focus:nw-bg-red-200 focus:nw-border-red-200
                            disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed
      "
            type="button"
        >
            {{label}}
        </a>
    </div>
</div>
