<div class="nw-bg-white nw-pb-4 nw-mx-0 nw-px-4 md:nw-px-48">
    <div>
        <p
            class="
        nw-text-md
        nw-font-bold
        nw-text-black
        nw-pt-4
        nw-pb-1
      "
        >
            {{headline}}
        </p>
    </div>

    <div>
        <p
            class="
        nw-text-base
        nw-font-medium
        nw-text-black
        nw-py-1
      "
        >
            {{caption}}
        </p>
    </div>
    <div>
        <form action="" id="myForm">
            <!-- Anrede-->
            <div class="nw-mb-4">
                <label
                    class="
            nw-font-medium
            nw-text-xs
            nw-uppercase
            nw-text-black
          "
                    for=""
                >Anrede</label
                >
                <select
                    class="
            nw-formfield
            nw-w-full
            nw-px-1
            nw-py-1
            nw-mx-auto
            nw-text-base
            nw-inline-block
            nw-border
            nw-rounded
            nw-box-border
            nw-cursor-pointer
          "
                    id="anrede"
                    name=""
                >
                    <option value="" disabled selected hidden>Bitte wählen</option>
                    <option value="herr">Herr</option>
                    <option value="frau">Frau</option>
                </select>

                <p
                    id="anredeT"
                    class="
            nw-text-red-0
            nw-text-xs
            nw-font-medium
            nw-hidden
          "
                >
                    Bitte Anrede eingeben
                </p>
            </div>
            <!-- vorname-->
            <div class="nw-mb-4">
                <label
                    class="
            nw-font-medium
            nw-text-xs
            nw-uppercase
            nw-text-black
          "
                    for=""
                >Vorname</label
                >
                <input
                    class="
            nw-formfield
            nw-w-full
            nw-px-2
            nw-py-1.5
            nw-mx-auto
            nw-text-base
            nw-inline-block
            nw-border
            nw-rounded
            nw-box-border
            nw-cursor-pointer
          "
                    type="text"
                    placeholder=""
                    name=""
                    id="vname"
                />
                <p
                    id="vnameT"
                    class="
            nw-text-red-0
            nw-text-xs
            nw-font-medium
            nw-hidden
          "
                >
                    Bitte Vorname eingeben
                </p>
            </div>

            <!-- Nachname-->
            <div class="nw-mb-4">
                <label
                    class="
            nw-font-medium
            nw-text-xs
            nw-uppercase
            nw-text-black

          "
                    for=""
                >Nachname</label
                >
                <input
                    class="
            nw-formfield
            nw-w-full
            nw-px-2
            nw-py-1.5
            nw-mx-auto
            nw-inline-block
            nw-border
            nw-text-base
            nw-rounded
            nw-box-border
            nw-cursor-pointer
          "
                    type="text"
                    placeholder=""
                    name=""
                    id="nname"
                />
                <p
                    id="nnameT"
                    class="
            nw-text-red-0
            nw-text-xs
            nw-font-medium
            nw-hidden
          "
                >
                    Bitte Nachname eingeben
                </p>
            </div>

            <div class="nw-grid nw-grid-cols-1 md:nw-grid-cols-3 md:nw-gap-2">
                <!-- Straße-->
                <div class="nw-col-span-2">
                    <div class="nw-mb-4">
                        <label
                            class="
                nw-font-medium
                nw-text-xs
                nw-uppercase
                nw-text-black
              "
                            for=""
                        >Straße</label
                        >
                        <input
                            class="
                nw-formfield
                nw-w-full
                nw-px-2
                nw-py-1.5
                nw-mx-auto
                nw-inline-block
                nw-border
                nw-rounded
                nw-text-base
                nw-box-border
                nw-cursor-pointer
              "
                            type="text"
                            placeholder=""
                            name=""
                            id="strasse"
                        />
                        <p
                            id="strasseT"
                            class="
                nw-text-red-0
                nw-text-xs
                nw-font-medium
                nw-hidden
              "
                        >
                            Bitte Straße eingeben
                        </p>
                    </div>
                </div>
                <!-- Hausnummer-->
                <div>
                    <div class="nw-mb-4">
                        <label
                            class="
                nw-font-medium
                nw-text-xs
                nw-uppercase
                nw-text-black
              "
                            for=""
                        >Hausnummer</label
                        >
                        <input
                            class="
                nw-formfield
                nw-w-full
                nw-px-2
                nw-py-1.5
                nw-mx-auto
                nw-inline-block
                nw-border
                nw-rounded
                nw-text-base
                nw-box-border
                nw-cursor-pointer
              "
                            type="text"
                            placeholder=""
                            name=""
                            id="hnummer"
                        />
                        <p
                            id="hnummerT"
                            class="
                nw-text-red-0
                nw-text-xs
                nw-font-medium
                nw-hidden
              "
                        >
                            Bitte Hausnummer eingeben
                        </p>
                    </div>
                </div>
            </div>
            <div class="nw-grid nw-grid-cols-1 md:nw-grid-cols-3 md:nw-gap-2">
                <!-- PLZ-->
                <div>
                    <div class="nw-mb-4">
                        <label
                            class="
                nw-font-medium
                nw-text-xs
                nw-uppercase
                nw-text-black
              "
                            for=""
                        >PLZ</label
                        >
                        <input
                            class="
                nw-formfield
                nw-w-full
                nw-px-2
                nw-py-1.5
                nw-mx-auto
                nw-inline-block
                nw-border
                nw-rounded
                nw-text-base
                nw-box-border
                nw-cursor-pointer
              "
                            type="text"
                            placeholder=""
                            name=""
                            id="plz"
                        />
                        <p
                            id="plzT"
                            class="
                nw-text-red-0
                nw-text-xs
                nw-font-medium
                nw-hidden
              "
                        >
                            Bitte PLZ eingeben
                        </p>
                    </div>
                </div>
                <!-- Ort-->
                <div class="nw-col-span-2">
                    <div class="nw-mb-4">
                        <label
                            class="
                nw-font-medium
                nw-text-xs
                nw-uppercase
                nw-text-black
              "
                            for=""
                        >Ort</label
                        >
                        <input
                            class="
                nw-formfield
                nw-w-full
                nw-px-2
                nw-py-1.5
                nw-mx-auto
                nw-inline-block
                nw-border
                nw-rounded
                nw-text-base
                nw-box-border
                nw-cursor-pointer
              "
                            type="text"
                            placeholder=""
                            name=""
                            id="ort"
                        />
                        <p
                            id="ortT"
                            class="
                nw-text-red-0
                nw-text-xs
                nw-font-medium
                nw-hidden
              "
                        >
                            Bitte Ort eingeben
                        </p>
                    </div>
                </div>
            </div>

            <!--land-->
            <div class="nw-mb-4">
                <label
                    class="
            nw-font-medium
            nw-text-xs
            nw-uppercase
            nw-text-black
          "
                    for=""
                >Land</label
                >
                <select
                    class="
            nw-formfield
            nw-w-full
            nw-px-2
            nw-py-1
            nw-mx-auto
            nw-text-base
            nw-inline-block
            nw-border
            nw-rounded
            nw-box-border
            nw-cursor-pointer
          "
                    type="text"
                    placeholder=""
                    name=""
                    id="land1"
                >
                    <option value="Deutschland">Deutschland</option>
                    <option value="herr">Herr</option>
                    <option value="frau">Frau</option>
                </select>
                <p
                    id="land1T"
                    class="
            nw-text-red-0
            nw-text-xs
            nw-font-medium
            nw-hidden
          "
                >
                    Bitte Land eingeben
                </p>
            </div>

            <!--email-->
            <div class="nw-mb-4">
                <label
                    class="
            nw-font-medium
            nw-text-xs
            nw-uppercase
            nw-text-black
          "
                    for=""
                >E-Mail</label
                >
                <input
                    class="
            nw-formfield
            nw-w-full
            nw-px-2
            nw-py-1.5
            nw-mx-auto
            nw-inline-block
            nw-border
            nw-rounded
            nw-text-base
            nw-box-border
            nw-cursor-pointer
          "
                    type="email"
                    placeholder=""
                    name=""
                    id="eMail"
                />
                <p
                    id="eMailT"
                    class="
            nw-text-red-0
            nw-text-xs
            nw-font-medium
            nw-hidden
          "
                >
                    Bitte E-Mail eingeben
                </p>
            </div>

            <!-- Passwort-->
            <div class="nw-mb-6">
                <label
                    class="
            nw-font-medium
            nw-text-xs
            nw-uppercase
            nw-text-black
          "
                    for=""
                >Passwort</label
                >
                <input
                    class="
            nw-formfield
            nw-w-full
            nw-px-2
            nw-py-1.5
            nw-mx-auto
            nw-inline-block
            nw-border
            nw-rounded
            nw-text-base
            nw-box-border
            nw-cursor-pointer
          "
                    type="password"
                    placeholder="Ihr Passwort muss min. 6 Zeichen lang sein"
                    name=""
                    id="passwort"
                />
                <p
                    id="passwortT"
                    class="
            nw-text-red-0
            nw-text-xs
            nw-font-medium
            nw-hidden
          "
                >
                    Bitte Passwort eingeben
                </p>
            </div>
            <!-- Conditions-->
            <div class="nw-mb-2 nw-flex">
                <div>
                    <input
                        type="checkbox"
                        name="checked-demo"
                        id="checkCondition1"
                        class="
              nw-form-tick
              nw-border
              nw-rounded-sm
              nw-nw-border-gray-200
              nw-appearance-none
              nw-cursor-pointer
              nw-h-3
              nw-w-3
              checked:nw-bg-gray-500
              focus:outline-none
            "
                        onclick="checkFunction()"
                    />
                </div>
                <div>
                    <label class="nw-flex nw-pl-2 nw-items-center nw-space-x-1">
            <span
                class="
                nw-pr-6
                nw-text-gray-600
                nw-text-xs
              "
            >
                {{condition1}}
            </span>
                    </label>
                </div>
            </div>
            <div class="nw-my-1 nw-flex">
                <div>
                    <input
                        type="checkbox"
                        name="checked-demo"
                        id="checkCondition2"
                        class="
              nw-form-tick
              nw-border
              nw-rounded-sm
              nw-nw-border-gray-200
              nw-appearance-none
              nw-cursor-pointer
              nw-h-3
              nw-w-3
              checked:nw-bg-gray-500
              focus:outline-none
            "
                        onclick="checkFunction()"
                    />
                </div>
                <div>
                    <label class="nw-flex nw-pl-2 nw-items-center nw-space-x-1">
            <span
                class="
                nw-pr-6
                nw-text-gray-600
                nw-text-xs
              "
            >
                {{condition2}}</span
            >
                    </label>
                </div>
            </div>

            <input
                disabled
                id="registerButton"
                class="
          nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-32 sm:nw-max-w-fit nw-mx-auto nw-whitespace-nowrap nw-text-white
                            nw-border nw-border-red-0 nw-bg-red-0 nw-rounded-md nw-text-sm nw-font-bold
                            nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-red-100 focus:nw-bg-red-200 focus:nw-border-red-200
                            disabled:nw-border-gray-100 disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed
        "
                type="button"
                value="Registrieren"
                onclick="onClickRegistrieren(); return false;"
            />
        </form>
    </div>
</div>

<script>
    function checkFunction() {
        var checkBox1 = document.getElementById('checkCondition1');
        var checkBox2 = document.getElementById('checkCondition2');
        var bRegister = document.getElementById('registerButton');
        if (
            checkBox1.checked == true &&
            (checkBox2.checked == true || checkBox2.checked == false)
        ) {
            bRegister.disabled = false;
            bRegister.style.backgroundColor = '#D20A11';
        } else {
            bRegister.disabled = true;
            bRegister.style.backgroundColor = '#E1B9BA';
        }
    }

    function onClickRegistrieren() {
        var valid = Validator();
        if (valid) alert('ok');
    }

    let array_input = document.getElementsByClassName('nw-formfield');

    function Validator() {
        var valid = true;
        Array.prototype.forEach.call(array_input, x => {
            if (x.value == '') {
                valid = false;
                x.classList.add('nw-border-red-0');
                x.nextElementSibling.style.display = 'block';
            } else {
                x.classList.remove('nw-border-red-0');
                x.nextElementSibling.style.display = 'none';
            }
        });
        return valid;
    }

    Array.prototype.forEach.call(array_input, x => {
        x.onclick = function () {
            x.classList.remove('nw-border-red-0');
            x.nextElementSibling.style.display = 'none';
        };
    });
</script>
