
{{#each cards}}
  <div class="nw-bg-white nw-rounded-lg nw-p-6 nw-text-center nw-shadow-sm hover:nw-shadow-xl nw-transition-all nw-duration-300 hover:nw-scale-105">
    <div class="nw-bg-hk-blue-100 nw-text-white nw-w-12 nw-h-12 nw-rounded-full nw-flex nw-items-center nw-justify-center nw-mx-auto nw-mb-4">
      {{{iconSvg}}}
    </div>
    <h3 class="nw-font-semibold nw-text-gray-900 nw-mb-2 nw-font-roboto">{{title}}</h3>
    <p class="nw-text-gray-600 nw-text-sm nw-font-roboto">{{description}}</p>
  </div>
{{/each}}