<div class="nw-bg-gray-100 nw-rounded nw-my-6 nw-shadow-md">
        <div class="nw-p-6">
            <div class="nw-flex nw-items-center">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                    fill="currentColor"
                    class="nw-w-7 nw-h-7 nw-rounded-full nw-mr-2">
                    <path
                        fillRule="evenodd"
                        d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                        clipRule="evenodd"/>
                </svg>
                <p class="nw-text-base nw-font-bold nw-leading-loose">Futuremen</p>
            </div>
            <span class="nw-text-xs nw-text-custom-1-700 nw-font-medium">Vor 40 Minuten
            </span>
            <p class="nw-text-md nw-py-2">
                Das Problem ist, wer sich nicht in der Gastronomie trifft, quetscht sich
                Daheim mit Freunden in der oft sehr kleinen „GutenStube“ zusammen,
                natürlich ohne MundNasenschutz, geschweige FFP2 Standard! #Nachdenken!
            </p>
        </div>
        <hr class="md:nw-hidden"/>
        <div class="nw-text-sm nw-font-medium nw-text-center nw-text-black">
            <ul class="nw-text-center nw-flex md:nw-place-content-end">
                <li class="nw-border-r md:nw-border-r-0 nw-w-1/3 md:nw-w-auto">
                    <a
                        href="javascript:void(0)"
                        class="
                        tabs
                        nw-flex
                        nw-leading-tight
                        nw-p-3
                        nw-justify-center
                        nw-text-custom-1-700"
                        aria-current="page">
                        <svg
                            class="nw-w-4 nw-h-4 nw-mr-0.5 nw-text-center"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor">
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
                            />
                        </svg>
                        Antworten
                    </a>
                </li>
                <li class="nw-border-r md:nw-border-r-0 nw-w-1/3 md:nw-w-auto">
                    <a
                        href="javascript:void(0)"
                        class="
                        nw-open-modal
                        tabs
                        nw-flex
                        nw-leading-tight
                        nw-p-3
                        nw-text-custom-1-700
                        nw-justify-center">
                        <svg
                            class="nw-w-4 nw-h-4 nw-mr-0.5"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor">
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
                            />
                        </svg>
                        Melden
                    </a>
                </li>
                <li class="nw-w-1/3 md:nw-w-auto">
                    <a
                        href="javascript:void(0)"
                        class="
                        tabs
                        nw-flex
                        nw-leading-tight
                        nw-p-3
                        nw-text-custom-1-700
                        nw-justify-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="currentColor" class="nw-w-4 nw-h-4 nw-mr-0.5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M6.633 10.5c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75A2.25 2.25 0 0116.5 4.5c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23H5.904M14.25 9h2.25M5.904 18.75c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 01-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 10.203 4.167 9.75 5 9.75h1.053c.472 0 .745.556.5.96a8.958 8.958 0 00-1.302 4.665c0 1.194.232 2.333.654 3.375z"/>
                        </svg>
                        24 Gefällt mir
                    </a>
                </li>
            </ul>
        </div>
    </div>