<div class="nw-mb-4">
    <p class="nw-text-md nw-font-bold">Ihre Antwort</p>
</div>
<form>
    <div class="nw-mb-6">
    <textarea
        rows="7"
        maxlength="1500"
        class="
        comment
        nw-w-full nw-text-sm
        focus:nw-ring-0 focus:nw-outline-none
        nw-overflow-hidden
        nw-py-2
        nw-px-3
        nw-mb-3
        nw-bg-white
        nw-rounded-md
        nw-border
        nw-border-black
      "
        placeholder="Diskutieren Sie mit …"
        required
    ></textarea>
        <div class="nw-flex nw-flex-row nw-justify-between">
            <div>
                <label class="nw-flex nw-items-center nw-space-x-2">
                    <input
                        type="checkbox"
                        name=""
                        class="
              nw-form-tick
              nw-border
              nw-rounded-sm
              nw-nw-border-gray-200
              nw-appearance-none
              nw-cursor-pointer
              nw-h-4
              nw-w-4
              checked:nw-bg-gray-400
              focus:outline-none
            "
                    />
                    <span
                        class="
              nw-text-gray-600
              nw-text-xs
              nw-font-normal
              nw-text-left
              nw-tracking-normal
              nw-opacity-100
            "
                    >
            Bei Antworten benachrichtigen
          </span>
                </label>
            </div>
            <p class="result nw-flex nw-justify-end nw-text-xs nw-text-gray-400">
                0/1500 Zeichen
            </p>
        </div>
    </div>
    <div class="nw-flex nw-flex-col nw-justify-end nw-content-end nw-place-content-end nw-items-end nw-place-items-end">
        <button
            type="submit"
            class="
            nw-flex nw-items-center
        buttondis
        nw-whitespace-nowrap
        nw-bg-gray-100
        nw-py-3
        nw-px-6
        nw-text-base
        nw-font-bold
        nw-text-center
        nw-text-white
        nw-rounded
      "
            disabled
        >
            {{ buttontext }}
        </button>

        <div
            class="nw-text-black nw-text-xs nw-py-4">
            Mit dem Absenden des Kommentars erkennen Sie unsere
            <a href="" class="nw-text-red-0 hover:nw-underline">
                Nutzungsbedingungen für Kommentare
            </a>
            an.
        </div>
    </div>
</form>