<div class="nw-pt-3 nw-pb-6 nw-text-center">
        <p class="nw-text-md nw-font-bold">Guten Tag, Hansfranz1999,</p>
        <p class="nw-text-md nw-pt-2 nw-py-6 md:nw-max-w-md nw-mx-auto">
            Ihre Meinung ist jetzt gefragt. Nutzen Sie unsere Kommentarfunktion und tauschen Sie sich mit anderen Lesern
            und Autoren zum Thema aus.
        </p>
        <a
            href="#"
            class="
               nw-btn-outline-md nw-mx-auto">
            Jetzt kommentieren
        </a>
    </div>