<div class="nw-bg-white nw-p-4 nw-rounded-md nw-text-center md:nw-text-left">
    <p class="nw-mb-3 nw-text-md nw-font-bold">
        Ihre Meinung ist gefragt
    </p>
    <p class="nw-text-base nw-max-w-md md:nw-max-w-none nw-mx-auto nw-mb-4">
        Um Ihren Kommentar abzusenden, melden Sie sich bitte vorher an. Sollten Sie noch keinen Zugang besitzen, können
        Sie sich <a href="" class="nw-text-red-0 hover:nw-underline"> hier registrieren.</a>
    </p>
    <div>
        <a href=""
           class="
        nw-btn-primary
      "
        >
            Jetzt anmelden
        </a>
    </div>
</div>