<div class="nw-py-6 nw-text-center md:nw-text-left">
    <p class="nw-text-md nw-font-bold">Guten Tag, Hansfranz1999,</p>
    <p class="nw-text-md nw-py-2">
        Ihre Meinung ist jetzt gefragt. Nutzen Sie unsere Kommentarfunktion und tauschen Sie sich mit anderen
        Lesern und Autoren zum Thema aus.
    </p>
</div>
