<div class="nw-p-4 nw-bg-white">
    {{>"@notification" notifications.zeitlich-begrenzt }}
    <br/>
    {{>"@notification" notifications.deaktiviert}}
    <br/>
    {{>"@notification" notifications.fehler}}
    <br/>
    {{>"@notification" notifications.erfolgreicher-kommentar}}
    <br/>
    {{>"@notification" notifications.konto-gesperrt}}
    <br/>
    {{>"@notification" notifications.kommentar-wird-geprueft}}
</div>
