<div class="nw-ml-3 md:nw-ml-12">
    <a href="#" class="nw-flex nw-flex-grow nw-py-0.5">
        <div class="nw-flex-grow nw-font-medium nw-text-xs nw-uppercase">
            WEITERE ANTWORTEN LESEN
        </div>
        <div class="nw-flex-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" width="20"
                 height="20"
                 viewBox="0 0 24 24" stroke-width="2" stroke="currentColor"
                 class="hideSvg nw-float-right nw-text-red-0 nw-cursor-pointer">
                <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"/>
            </svg>
        </div>
    </a>
    <hr class="nw-border nw-border-gray-0"/>
</div>