<article class="nw-relative nw-bg-white nw-pb-4">
  <div>
    <div class="nw-aspect-w-16 nw-aspect-h-9">
      <img
        src="/images/artikel-teaser-xl-image.jpg"
        class="nw-object-cover nw-w-full nw-h-full"
        alt="image-new"
      />
    </div>

    <div class="nw-bg-[#F2F5F9] nw--mt-6 nw-mx-4 nw-p-4 nw-z-50 nw-relative nw-rounded-md">
      <p class="nw-plus-icon-l nw-text-gray-600 nw-text-base nw-font-medium nw-pb-3">
        Öffentlicher Dienst
      </p>
      <p class="nw-text-lg nw-font-bold nw-pb-[10px]">
        OWL vor großem Streiktag: Betroffene erklären, warum sie jetzt mitmachen
      </p>
      <p class="nw-text-base nw-font-medium nw-text-gray-400">
        Am Mittwoch wollen Beschäftigte im öffentlichen Dienst in der Region streiken.
        Kurz vorher machen mehrere Mitarbeiter ihrem Frust Luft.
      </p>
    </div>
  </div>
</article>
