<div class="nw-bg-white">
  <a href="#" class="nw-block nw-w-full nw-cursor-pointer nw-mb-4">
    <div class="nw-flex nw-justify-between nw-place-items-center">
      <div>
        <span class="nw-text-2xl nw-font-bold nw-uppercase">Newsletter</span>
      </div>
      <div class="nw-flex-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="nw-w-6 nw-h-6 nw-float-right nw-text-black nw-ml-1 nw-cursor-pointer">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </div>
    </div>
  </a>
  <div class="nw-px-4 nw-pt-4 nw-pb-6 lg:nw-pb-4 nw-border nw-border-gray-100 nw-rounded-md nw-mx-auto">
    <div class="nw-flex nw-flex-col lg:nw-flex-row nw-justify-center lg:nw-gap-4">
      <div class=" nw-flex-1 nw-mb-6 lg:nw-mb-0">
        <img
          class="nw-object-cover nw-rounded-md nw-w-full newsletter-boxen"
          src="/images/newsletter/nw-foodie.jpg" alt="newslletter-bild"
        />
      </div>
      <div class="nw-flex-1 nw-py-6 md:nw-pt-0">
        <div class="nw-mb-4">
          <a href="#"
             class=" nw-text-center nw-w-full sm:nw-min-w-16 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
                      nw-bg-green-100 nw-rounded-md nw-text-xs nw-font-bold
                      nw-cursor-pointer nw-py-1 nw-px-3 hover:nw-bg-green-200 hover:nw-transition-all hover:nw-duration-300
                      focus:nw-bg-green-300 focus:nw-transition-all">
            H채ufig abonniert
          </a>
        </div>
        <form>
          <div class="nw-mb-6">
            <p class="nw-text-lg nw-font-bold nw-pb-1">Update zum Mittag</p>
            <p class="nw-text-sm nw-pb-2 nw-text-gray-500">t채glich (Mo - So)</p>
            <p class="nw-text-base nw-font-medium nw-text-gray-500">T채glich um 12 Uhr erhalten Sie die wichtigsten Entwicklungen und News aus OWL und weltweit per E-Mail mit dem Update zum Mittag.</p>
          </div>
          <div class="nw-mb-4 nw-w-full">
            <input
              class="nw-w-full nw-px-1 nw-py-2 nw-mx-auto nw-font-medium nw-inline-block nw-border nw-rounded nw-text-sm nw-box-border
                nw-cursor-pointer placeholder:nw-px-2"
              type="email" placeholder="E-Mail-Adresse" name="email" id="email"
              value="">
          </div>
          <p class="nw-text-xs nw-text-gray-300 nw-mb-4">Mit meiner Anmeldung zum Newsletter stimme ich der  <a href="https://www.nw.de/service/formales/23036205_Werbevereinbarung.html" class="nw-underline nw-text-red-0">Werbevereinbarung</a> zu. Weitere Informationen finden Sie in der
            <a href="https://www.nw.de/service/formales/20262936_Datenschutzerklaerung.html" class="nw-underline">Datenschutzerkl채rung</a>.
          </p>

          <div class="nw-flex nw-flex-col lg:nw-flex-row nw-items-center lg:nw-justify-between">
            <div class="nw-mb-6 lg:nw-mb-0">
              <button
                class="nw-btn-rounded-primary">
                Abonnieren
              </button>
            </div>
            <div class="nw-text-gray-400 nw-underline nw-flex nw-justify-center nw-text-xs nw-pb-1 lg:nw-pb-4">
              <a href="#">Vorschau ansehen</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



