<div class="responsive-newsletter-box nw-bg-white nw-mx-auto nw-mb-8">
  <a href="#" class="nw-block nw-w-full nw-cursor-pointer nw-mb-4">
    <div class="nw-flex nw-justify-between nw-place-items-center">
      <div>
        <span class="nw-text-2xl nw-font-bold">Newsletter</span>
      </div>
      <div class="nw-flex-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
             class="nw-w-6 nw-h-6 nw-float-right nw-text-black nw-ml-1 nw-cursor-pointer">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </div>
    </div>
  </a>
  <div class="nw-px-4 nw-pt-4 nw-pb-6 lg:nw-pb-4 nw-border nw-border-gray-100 nw-rounded-md nw-mx-auto">
    <div class="nw-flex nw-flex-col lg:nw-flex-row nw-justify-center lg:nw-gap-4">
      <div class="newsletter-boxen-image-container lg:nw-flex-1  nw-mb-4 lg:nw-mb-0">
        <img
          class="nw-object-cover nw-rounded-md nw-h-full nw-w-full nw-hidden lg:nw-block"
          src="/images/newsletter-boxen/newsletter-anmeldung-desktop2.jpg"
        />
        <img
          class="nw-object-cover nw-rounded-md nw-h-full nw-w-full nw-block lg:nw-hidden"
          src="/images/newsletter-boxen/newsletter-anmeldungen-ipad2.jpg"
        />
      </div>
      <div class="nw-flex-1">
       <!--  <div  class="nw-inline-flex nw-mb-4 nw-text-center
            nw-text-white nw-bg-slate-300 nw-rounded-md nw-text-xs nw-font-bold nw-py-1.5 nw-px-3">
          Häufig abonniert
        </div>-->
        <form>
          <div class="nw-mb-6">
            <p class="nw-text-lg nw-font-bold nw-pb-1">Update zum Mittag</p>
            <p class="nw-text-sm nw-font-medium nw-pb-2 nw-text-gray-400">täglich (Mo - So)</p>
            <p class="nw-text-base nw-font-medium nw-text-gray-500">News aus OWL und weltweit per E-Mail mit dem Update zum Mittag.</p>
          </div>
          <div class="nw-mb-4 nw-w-full">
            <input
              class="nw-w-full nw-px-3 nw-py-3 nw-mx-auto nw-font-medium nw-inline-block nw-border nw-rounded nw-text-sm nw-box-border
                 placeholder:nw-text-gray-400"
              type="email" placeholder="E-Mail-Adresse" name="email" id="email"
              value="">
          </div>
          <p class="nw-text-xs nw-text-gray-300 nw-mb-4">Mit meiner Anmeldung zum Newsletter stimme ich der  <a href="https://www.nw.de/service/formales/23036205_Werbevereinbarung.html" class="nw-underline nw-text-red-0">Werbevereinbarung</a> zu. Weitere Informationen finden Sie in der
            <a href="https://www.nw.de/service/formales/20262936_Datenschutzerklaerung.html" class="nw-underline">Datenschutzerklärung</a>.
          </p>

          <div class="nw-flex nw-justify-center">
            <button
              class="nw-text-center nw-min-w-32 nw-max-w-fit nw-whitespace-nowrap nw-text-white
            nw-bg-red-0 nw-rounded-full nw-text-base nw-font-bold
            nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-red-100 hover:nw-transition-all hover:nw-duration-300
            focus:nw-bg-red-200 focus:nw-transition-all
            disabled:nw-bg-gray-500 disabled:nw-cursor-not-allowed">
              Abonnieren
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



