<style>
  .nw-dropdown ul {
    max-height: 200px;
  }
  input[type=text] {
    -webkit-appearance: none;
  }
    select {
    font-size: 14px;
    position: relative;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg width='24' height='24' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%234A5568' ><path fill-rule='evenodd' d='M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z' clip-rule='evenodd' /></svg>") no-repeat;
    background-position: right 4px top 50%;
  }
  @keyframes slideIn {
    from {
      transform: translate(-50%, 100%);
    }
    to {
      transform: translate(-50%, -50%);
    }
  }

  @keyframes slideOut {
    from {
      transform: translate(-50%, -50%);
    }
    to {
      transform: translate(-50%, 100%);
    }
  }

  @media (max-width: 440px) {
    #confirmation {
      height: 100%;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 50%;
      border-radius:24px !important;
    }
  }
  #confirmation {
    border-radius: 0.375rem;
  }
</style>
<div id="overlay-region" class="nw-hidden nw-fixed nw-top-0 nw-left-0 nw-inset-0 nw-bg-black nw-bg-opacity-30 nw-z-90"
     style=" z-index: 90;"></div>
<div id="confirmation-region" class="nw-hidden nw-bg-white nw-p-4 nw-mx-auto"
     style="max-width: 480px; width: 100%; display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 100;">
  <div
    class="x-svg nw-text-2xl nw-leading-6 nw-text-gray-700 nw-flex nw-justify-end nw-cursor-pointer nw-tracking-tighter nw--mt-2 nw-mb-2.5">
    ×
  </div>
  <div class="nw-flex nw-justify-center nw-mb-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="#352F99" class="nw-text-sky-100 nw-w-12 nw-h-12">
      <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
    </svg>
  </div>
  <div class="nw-text-center nw-px-2 md:nw-px-0 nw-mx-auto" style="max-width: 350px;">
    <p class="nw-text-xl nw-font-bold nw-pb-2 nw-text-black">
      Sie erhalten in wenigen Minuten eine E-Mail zur Bestätigung Ihrer Anmeldung.
    </p>
    <div class="nw-text-gray-400 nw-text-base nw-pb-1 nw-font-medium">
      <p>Erst danach ist diese abgeschlossen.</p>
      <p>Bitte prüfen Sie auch den Spam-Ordner.</p>
    </div>
  </div>
</div>

<div class="responsive-newsletter-box nw-px-4 nw-pt-4 nw-pb-6 lg:nw-pb-4 nw-border nw-border-gray-100 nw-rounded-md nw-bg-white nw-mx-auto nw-mb-8" style="position: relative;">
  <div class="nw-flex nw-flex-col lg:nw-flex-row nw-justify-center lg:nw-gap-4">
    <div class="newsletter-boxen-image-container lg:nw-flex-1 nw-mb-4 lg:nw-mb-0">
      <img
        class="nw-object-cover nw-rounded-md nw-h-full nw-w-full nw-hidden sm:nw-hidden lg:nw-block"
        src="/images/newsletter-boxen/newsletter-anmeldung-desktop2.jpg"
      />
      <img
        class="nw-object-cover nw-rounded-md nw-h-full nw-w-full nw-hidden  sm:nw-block lg:nw-hidden"
        src="/images/newsletter-boxen/newsletter-anmeldungen-ipad2.jpg"
      />
      <img
        class="nw-object-cover nw-rounded-md nw-h-full nw-w-full  nw-block sm:nw-hidden lg:nw-hidden"
        src="/images/newsletter-boxen/newsletter-anmeldung-mobile2.jpg"
      />

    </div>
    <div class="nw-flex-1">
      <div  class="nw-inline-flex nw-mb-4 nw-text-center
            nw-text-white nw-bg-slate-300 nw-rounded-md nw-text-xs nw-font-bold nw-py-1.5 nw-px-3">
          Häufig abonniert
        </div>
      <form id="newsletterFormRegion" method="post" action="/">
        <div class="nw-mb-6">
          <p class="nw-text-lg nw-font-bold nw-pb-1">Update zum Abend</p>
          <p class="nw-text-sm nw-font-medium nw-pb-2 nw-text-gray-400">täglich (Mo - So)</p>
          <p class="nw-text-base nw-font-medium  nw-text-gray-500">News aus OWL und weltweit per E-Mail mit dem Update zum Mittag.</p>
        </div>
        <div class="nw-mb-4">
          <label class="nw-font-bold nw-text-xs nw-uppercase nw-label" for="my_region">REGION</label>
          <div class="nw-dropdown nw-relative nw-w-full nw-bg-white nw-cursor-pointer">
            <div class="nw-dropdown-block nw-flex nw-justify-between nw-items-center nw-space-x-1 nw-cursor-pointer nw-w-full nw-px-3 nw-py-3 nw-mx-auto nw-text-sm nw-font-medium nw-border nw-rounded-md nw-box-border nw-border-gray-200">
              <p id="dropdown-text" class="nw-dropdown-text">Alle</p>
              <svg class="nw-h-5 nw-w-5 nw-text-slate-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M19 9l-7 7-7-7" />
              </svg>
            </div>
            <input id="region_id"  type="hidden" required>
            <ul class="nw-hidden nw-overflow-y-scroll nw-scrollbar-vertical nw-absolute nw-mt-1 nw-text-sm nw-w-full nw-shadow-lg nw-rounded-md nw-bg-white nw-border nw-border-gray-100 nw-transition nw-delay-75 nw-ease-in-out nw-z-10 nw-cursor-pointer">
              <li data-region-id="1"><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0 nw-rounded-t-md">Bielefeld</a></li>
              <li data-region-id="2"><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0">Kreis Gütersloh</a></li>
              <li data-region-id="3"><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0">Kreis Herford</a></li>
              <li data-region-id="4"><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0">Kreis Höxter</a></li>
              <li data-region-id="5"><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0">Kreis Minden-Lübbecke</a></li>
              <li data-region-id="6"><a href="#" class="nw-block nw-px-3 nw-py-3 hover:nw-bg-gray-0 nw-rounded-b-md">Kreis Paderborn</a></li>
            </ul>
          </div>
        </div>
        <div class="nw-mb-4 nw-w-full">
          <input
            class="nw-w-full nw-px-3 nw-py-3 nw-mx-auto nw-inline-block nw-border nw-font-medium nw-rounded nw-text-sm nw-box-border
                 placeholder:nw-text-gray-400" required
            type="email" placeholder="E-Mail-Adresse" name="email" id="email"
            value="">
        </div>
        <p class="nw-text-xs nw-text-gray-300 nw-mb-4">Mit meiner Anmeldung zum Newsletter stimme ich der  <a href="https://www.nw.de/service/formales/23036205_Werbevereinbarung.html" class="nw-underline nw-text-red-0">Werbevereinbarung</a> zu. Weitere Informationen finden Sie in der
          <a href="https://www.nw.de/service/formales/20262936_Datenschutzerklaerung.html" class="nw-underline">Datenschutzerklärung</a>.
        </p>

        <div class="nw-flex nw-justify-center">
          <button type="submit"
            class="nw-text-center nw-min-w-32 nw-max-w-fit nw-whitespace-nowrap nw-text-white
            nw-bg-red-0 nw-rounded-full nw-text-base nw-font-bold
            nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-red-100 hover:nw-transition-all hover:nw-duration-300
            focus:nw-bg-red-200 focus:nw-transition-all
            disabled:nw-bg-gray-500 disabled:nw-cursor-not-allowed">
            Abonnieren
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  document.querySelectorAll('.nw-dropdown ul li').forEach(function(item) {
    item.addEventListener('click', function(event) {
      const regionId = item.getAttribute('data-region-id');
      document.getElementById('region_id').value = regionId;
      document.querySelector('.nw-dropdown-text').textContent = item.textContent;
    })
  });

  document.getElementById('newsletterFormRegion').addEventListener('submit', function(event) {
    const emailInput = document.getElementById('email');
    const regionInput = document.getElementById('region_id');

    if (emailInput.checkValidity() && regionInput.value) {
      event.preventDefault();
      const confirmation = document.getElementById('confirmation-region');
      const overlay = document.getElementById('overlay-region');

      confirmation.style.display = 'block';
      confirmation.style.animation = 'slideIn 1s forwards';
      overlay.style.display = 'block';
      emailInput.value = '';
    } else {
      event.preventDefault();
      if (!regionInput.value) {
        alert('Bitte eine Region auswählen!');
      }
    }
  });

  document.querySelector('#confirmation-region .x-svg').onclick = function() {
    const confirmation = document.getElementById('confirmation-region');
    const overlay = document.getElementById('overlay-region');

    // Region zurücksetzen
    document.getElementById('region_id').value = '';
    document.querySelector('.nw-dropdown-text').textContent = 'Alle';

    confirmation.style.animation = 'slideOut 1s forwards';

    confirmation.addEventListener('animationend', function() {
      confirmation.style.display = 'none';
      overlay.style.display = 'none';
    }, { once: true });
  };
</script>


