<div class="nw-grid nw-grid-cols-2 md:nw-grid-cols-4 nw-place-items-center nw-items-start nw-gap-8 nw-p-6">
  <div class=" nw-text-center  nw-place-items-center">
    <div class="nw-newsletter-icon-notification nw-newsletter-icon-check">
    </div>
    <p>nw-newsletter-icon-check</p>
  </div>
  <div class=" nw-text-center  nw-place-items-center">
    <div class="nw-newsletter-icon-notification nw-newsletter-icon-warning">
    </div>
    <p>nw-newsletter-icon-warning</p>
  </div>
  <div class=" nw-text-center  nw-place-items-center">
    <div class="nw-newsletter-icon-notification nw-newsletter-icon-false">
    </div>
    <p>nw-newsletter-icon-false</p>
  </div>
  <div class=" nw-text-center  nw-place-items-center">
    <div class="nw-newsletter-icon nw-newsletter-icon-rounded-eat">
    </div>
    <p>nw-newsletter-icon-rounded-eat</p>
  </div>
  <div class=" nw-text-center  nw-place-items-center">
    <div class="nw-newsletter-icon nw-newsletter-icon-rounded-football">
    </div>
    <p>nw-newsletter-icon-rounded-football</p>
  </div>
  <div class=" nw-text-center  nw-place-items-center">
    <div class="nw-newsletter-icon nw-newsletter-icon-rounded-football-light">
    </div>
    <p>nw-newsletter-icon-rounded-football-light</p>
  </div>
  <div class=" nw-text-center  nw-place-items-center">
    <div class="nw-newsletter-icon nw-newsletter-icon-rounded-goverment">
    </div>
    <p>nw-newsletter-icon-rounded-goverment</p>
  </div>
  <div class=" nw-text-center  nw-place-items-center">
    <div class="nw-newsletter-icon nw-newsletter-icon-rounded-home">
    </div>
    <p>nw-newsletter-icon-rounded-home</p>
  </div>
  <div class=" nw-text-center  nw-place-items-center">
    <div class="nw-newsletter-icon nw-newsletter-icon-rounded-mail">
    </div>
    <p>nw-newsletter-icon-rounded-mail</p>
  </div>
  <div class=" nw-text-center  nw-place-items-center">
    <div class="nw-newsletter-icon nw-newsletter-icon-rounded-money">
    </div>
    <p>nw-newsletter-icon-rounded-money</p>
  </div>
  <div class=" nw-text-center  nw-place-items-center">
    <div class="nw-newsletter-icon nw-newsletter-icon-rounded-nw-symbol">
    </div>
    <p>nw-newsletter-icon-rounded-nw-symbol</p>
  </div>
  <div class=" nw-text-center  nw-place-items-center">
    <div class="nw-newsletter-icon nw-newsletter-icon-rounded-podcast-crime">
    </div>
    <p>nw-newsletter-icon-rounded-podcast-crime</p>
  </div>
  <div class=" nw-text-center  nw-place-items-center">
    <div class="nw-newsletter-icon nw-newsletter-icon-rounded-sale">
    </div>
    <p>nw-newsletter-icon-rounded-sale</p>
  </div>

</div>