<div class="nw-px-6 nw-py-6 nw-text-md nw-w-5/6 nw-mx-auto">
    {{>'@dachzeile'}}
    <div>
        <p
            class="
          nw-font-bold nw-text-2xl
          md:nw-text-3xl
          nw-text-black nw-pb-3 nw-leading-tight
        "
        >
            {{article-title}}
        </p>
        <p class="nw-text-md nw-text-black nw-w-5/6 nw-mb-6">{{text}}</p>
    </div>
    {{>'@social-icons'}}
</div>
