@use "sass:color";

@use 'variables' as *;
@use 'mixins/responsive';

@use './general/reset';
@use './general/main';

@use './modules/embla-slider';
@use './modules/embla-navigation';
@use './modules/embla-newsticker';
@use './modules/burger-menu';
@use './modules/header';
@use './modules/select';
@use './modules/recobox';
@use './modules/form-elements';
@use './modules/accordion';
@use './modules/landingpage';
@use './modules/fractal-custom';
@use './modules/misc';
@use './modules/article';
@use './modules/liveticker';
// has to be at the end to override certain properties
@use 'general/a11y';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Roboto, sans-serif;
}

* {
}

.slider--button-next {
  -webkit-tap-highlight-color: transparent;
}

.slider--button-prev {
  -webkit-tap-highlight-color: transparent;
}

.nw-fixedmenu {
}

.nw-scrollbar {
  &-vertical {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: #999999;
    }
  }

  &-horizontal {
    &::-webkit-scrollbar {
      height: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: #000000;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: #d9d9d9;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
  }
}
