@use "sass:color";

@use 'variables' as *;
@use 'mixins/responsive';

@use './general/reset';
@use './general/main';

@use './modules/embla-slider';
@use './modules/embla-navigation';
@use './modules/embla-newsticker';
@use './modules/burger-menu';
@use './modules/header';
@use './modules/select';
@use './modules/recobox';

// has to be at the end to override certain properties
@use 'general/a11y';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Roboto, sans-serif;
}

* {
}

.slider--button-next {
  -webkit-tap-highlight-color: transparent;
}

.slider--button-prev {
  -webkit-tap-highlight-color: transparent;
}

.nw-fixedmenu {
}
