<div
  class="
    nw-border nw-rounded-md nw-px-8
    md:nw-px-4
    nw-pt-4 nw-pb-12
    sm:nw-mx-16
    md:nw-mx-0
  "
>
  <img class="nw-w-full nw-h-14 nw-pb-2" src="{{icon}}" />
  <div class="nw-pt-2 nw-truncate">
    <a
      class="
        nw-text-red-500
        hover:nw-text-red-600
        nw-no-underline
        hover:nw-underline
      "
      href="{{this.href-link}}"
    >
      {{title}}
    </a>
  </div>
  <span> {{caption}}</span>
</div>
