<style>
    .tabs {
        min-width: 150px;
    }

    @media (min-width: 767px) {
        .nw-whitespace-wrap-preisliste {
            white-space: nowrap;
            text-align: right;
            font-weight: normal;
        }
    }
</style>
<div class="nw-pt-6 nw-mb-6 nw-rounded-b-md nw-container">
    <div class="md:nw-p-4 nw-mt-8  nw-flex nw-flex-col nw-items-center">
        <div class="nw-w-3/4">
            <div>
                <h1 class="nw-text-4xl nw-font-bold nw-text-center">Preisliste</h1>
            </div>
            <div class="md:nw-flex md:nw-gap-2 nw-justify-center">
                <div class="nw-text-center nw-pt-1 md:nw-pt-8 nw-pb-2">
                    <a href="#webabo"
                       class="tabs nw-px-2 nw-block sm:nw-px-4 nw-text-white nw-bg-hk-nw-blue-100 nw-border 
                       nw-border-hk-nw-blue-100 nw-rounded-md nw-text-center nw-text-xs sm:nw-text-sm nw-font-medium
                        md:nw-font-bold nw-cursor-pointer nw-py-2 hover:nw-bg-white hover:nw-text-hk-nw-blue-100">
                        Webabo
                    </a>
                </div>

                <div class="nw-text-center nw-pt-1 md:nw-pt-8 nw-pb-2">
                    <a href="#epaper" class="tabs
            nw-block
          nw-px-2
          sm:nw-px-4
          nw-text-white
          nw-bg-hk-nw-blue-100
          nw-border
          nw-border-hk-nw-blue-100
          nw-rounded-md
          nw-text-center
          nw-text-xs
          sm:nw-text-sm
          nw-font-medium
          md:nw-font-bold
          nw-cursor-pointer nw-py-2
                    hover:nw-bg-white hover:nw-text-hk-nw-blue-100

        ">
                        ePaper
                    </a>
                </div>
                <div class="nw-text-center nw-pt-1 md:nw-pt-8 nw-pb-2">
                    <a href="#epaper_geraet" class="
          tabs
          nw-block
          nw-px-2
          sm:nw-px-4
          nw-text-white
          nw-bg-hk-nw-blue-100
          nw-border
          nw-border-hk-nw-blue-100
          nw-rounded-md
          nw-text-center
          nw-text-xs
          sm:nw-text-sm
          nw-font-medium
          md:nw-font-bold
          nw-cursor-pointer nw-py-2
                    hover:nw-bg-white hover:nw-text-hk-nw-blue-100

        ">
                        ePaper mit Gerät
                    </a>
                </div>

                <div class="nw-text-center nw-pt-4 md:nw-pt-8 nw-pb-2">
                    <a href="#gedruckteausgabe" class="
          tabs
          nw-px-2
           nw-block
          sm:nw-px-4
          nw-text-white
          nw-bg-hk-nw-blue-100
          nw-border
          nw-border-hk-nw-blue-100
          nw-rounded-md
          nw-text-center
          nw-text-xs
          sm:nw-text-sm
          nw-font-medium
          md:nw-font-bold
          nw-cursor-pointer nw-py-2
                    hover:nw-bg-white hover:nw-text-hk-nw-blue-100

        ">
                        Klassische Zeitung
                    </a>
                </div>
            </div>
            <div class=" nw-mb-8">
                <span class="nw-h-8 nw-block" id="webabo"></span>
                <h2 class="nw-mt-2 nw-text-xl nw-font-bold nw-pb-1">Webabo</h2>

                <p class="nw-text-gray-600 nw-text-tiny nw-font-medium">Mit dem Digitalangebot Webabo HK+ erhalten Sie freien Zugang
                    zu allen Artikeln auf haller-kreisblatt.de und in der News-App.
                </p>
                <div class="nw-flex nw-flex-col">
                    <div class="nw-overflow-x-auto">
                        <div class="nw-py-2 nw-inline-block nw-w-full">
                            <div class="nw-overflow-hidden nw-border nw-rounded-md nw-shadow-md">
                                <table class="nw-w-full nw-table-auto">
                                    <tbody>
                                    <tr class="nw-border-b">
                                        <td class="
                                        nw-text-sm nw-text-gray-900 nw-px-2
                                        sm:nw-px-3
                                        nw-py-2">
                                            <p class="nw-font-bold">Webabo
                                            </p>
                                            <p>
                                                Mit exklusivem HK+ Update per E-Mail und jederzeit einfach monatlich kündbar.
                                            </p>
                                        </td>
                                        <td class="
                                         nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                                         sm:nw-px-3
                                          nw-py-2 nw-whitespace-wrap-preisliste ">
                                            9,90 €/mtl.
                                        </td>
                                    </tr>
                                    <tr class="nw-border-b">
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-px-2
                        sm:nw-px-3
                        nw-py-2
                      ">
                                            <p class="nw-font-bold">Jahres-Angebot
                                           </p>
                                            <p>
                                                Ab dem 2. Jahr jederzeit kündbar mit exklusiven HK+ Update per E-Mail und HK-Karte.
                                            </p>
                                        </td>
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                        sm:nw-px-3
                        nw-py-2 nw-whitespace-wrap-preisliste
                      ">
                                            99,00 €/jährl.
                                        </td>
                                    </tr>
                                    <tr class="nw-border-b">
                                                                            <td class="
                                                            nw-text-sm nw-text-gray-900 nw-px-2
                                                            sm:nw-px-3
                                                            nw-py-2
                                                          ">
                                                                                <p class="nw-font-bold">2-Jahres-Angebot
                                                                                </p>
                                                                                <p>
                                                                                    Nach 24 Monaten zum derzeit gültigen Bezugspreis von monatlich wiederkehrend 9,90 Euro und monatlich kündbar.
                                                                                </p>
                                                                            </td>
                                                                            <td class="
                                                            nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                                                            sm:nw-px-3
                                                            nw-py-2 nw-whitespace-wrap-preisliste
                                                          "> 169,00 € einmalig für 2 Jahre

                                                                            </td>
                                                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="price-container nw-mb-8">
                <span class="nw-h-8 nw-block" id="epaper"></span>

                <h2 class="nw-mt-2 nw-text-xl nw-font-bold nw-pb-1">ePaper - die digitale Zeitung</h2>

                <p class="nw-text-gray-600 nw-text-tiny nw-font-medium">
                 Mit dem ePaper lesen Sie die digitale Zeitung im Browser und in der ePaper-App. Zusätzlich ist das Webabo HK+ mit freiem Zugang auf haller-kreisblatt.de enthalten.
                </p>
                <div class="nw-flex nw-flex-col  nw-mb-8">
                    <div class="nw-overflow-x-auto">
                        <div class="nw-py-2 nw-inline-block nw-min-w-full">
                            <div class="nw-overflow-hidden nw-border nw-rounded-md nw-shadow-md">
                                <table class="nw-min-w-full">
                                    <tbody>
                                    <tr class="nw-border-b">
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                        sm:nw-px-3
                        nw-py-2
                      ">
                                            <p class="nw-font-bold">Vollabo
                                            </p>
                                             <p>
                                                 Mit der digitalen Zeitung haben Sie die NW inklusive NW+ immer dabei - flexibel monatlich kündbar.
                                            </p>
                                        </td>
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                        sm:nw-px-3
                        nw-py-2 nw-whitespace-wrap-preisliste
                      ">
                                            29,90 €/mtl.
                                        </td>
                                    </tr>
                                    <tr class="nw-border-b">
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-px-2
                        sm:nw-px-3
                        nw-py-2
                      ">
                                            <p class="nw-font-bold"><a class="nw-border-b nw-border-hk-nw-blue-100"
                                                                       href="#"
                                                                       onclick="">Kombiabo</a>
                                            </p>
                                            <p>
                                                Das ePaper als Zusatz zur gedruckten Zeitung. Gilt nur für Kunden mit täglichem Bezug der gedruckten Ausgabe (Mo. – Sa.)

                                            </p>
                                        </td>
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                        sm:nw-px-3
                        nw-py-2 nw-whitespace-wrap-preisliste
                      ">
                                           5,40 €/mtl.
                                        </td>
                                    </tr>
                                    <tr class="nw-border-b">
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-px-2
                        sm:nw-px-3
                        nw-py-2
                      ">
                                            <p class="nw-font-bold"><a class="nw-border-b nw-border-hk-nw-blue-100"
                                                                       href="#"
                                                                       onclick="">ePaper + Samstagsausgabe Print</a>
                                            </p>
                                            <p>
                                                Das ePaper-Vollabo mit dem zusätzlichen Bezug der gedruckten Zeitung am
                                                Samstag.
                                            </p>
                                        </td>
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                        sm:nw-px-3
                        nw-py-2 nw-whitespace-wrap-preisliste
                      ">
                                            33,40 €/mtl.
                                        </td>
                                    </tr>
                                    <tr class="nw-border-b">
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-px-2
                        sm:nw-px-3
                        nw-py-2
                      ">
                                            <p class="nw-font-bold"><a class="nw-border-b nw-border-hk-nw-blue-100"
                                                                       href="#"
                                                                       onclick=""> ePaper + Freitags-/Samstagsausgabe
                                                Print </a>
                                            </p>
                                            <p>
                                                Das ePaper-Vollabo mit dem zusätzlichen Bezug der gedruckten Zeitung am
                                                Freitag und Samstag.

                                            </p>
                                        </td>
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                        sm:nw-px-3
                        nw-py-2 nw-whitespace-wrap-preisliste
                      ">
                                            37,40 €/mtl.
                                        </td>
                                    </tr>
                                    <tr class="nw-border-b">
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-px-2
                        sm:nw-px-3
                        nw-py-2
                      ">
                                            <p class="nw-font-bold"><a class="nw-border-b nw-border-hk-nw-blue-100"
                                                                       href="#"
                                                                       onclick=""> ePaper + 3 Tage Print </a>
                                            </p>
                                            <p>
                                                Das ePaper-Vollabo mit dem zusätzlichen Bezug der gedruckten Zeitung an
                                                drei festgelegten Tagen. Wählen Sie aus: Montag/Mittwoch/Samstag oder
                                                Donnerstag/Freitag/Samstag oder Freitag/Samstag/Montag.

                                            </p>
                                        </td>
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                        sm:nw-px-3
                        nw-py-2 nw-whitespace-wrap-preisliste
                      ">
                                            38,90 €/mtl.
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <span class="nw-h-8 nw-block" id="epaper_geraet"></span>

                <h2 class="nw-mt-2 nw-text-xl nw-font-bold nw-pb-1">
                    ePaper und Gerät
                </h2>
                <p class="nw-text-gray-600 nw-text-tiny nw-font-medium">
                   Mit unserem Bundle-Angebot erhalten Sie zu Ihrer digitalen Zeitung
                   Ihr Wunschgerät (Smartphone oder Tablet). Die Mindestvertragslaufzeit der Bundle-Angebote beläuft sich auf 24 Monate.

                </p>
                <div class="nw-flex nw-flex-col">
                    <div class="nw-overflow-x-auto">
                        <div class="nw-py-2 nw-inline-block nw-min-w-full">
                            <div class="nw-overflow-hidden nw-border nw-rounded-md nw-shadow-md">
                                <table class="nw-min-w-full">
                                    <tbody>
                                    <tr class="nw-border-b">
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-px-2
                        sm:nw-px-3
                        nw-py-2
                      ">
                                            <p class="nw-font-bold"><a class="nw-border-b nw-border-hk-nw-blue-100"
                                                                       href="#"
                                                                       onclick="">Bundle für Neukunden</a></p>
                                            <p>
                                                Der Preis gilt für alle Kunden, die kein Print-Abonnement mit täglichem
                                                Bezug besitzen, oder für Neukunden ohne jegliches Abonnement.

                                            </p>
                                        </td>
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                        sm:nw-px-3
                        nw-py-2 nw-whitespace-wrap-preisliste
                      ">
                                            34,90 €/mtl.
                                        </td>
                                    </tr>
                                    <tr class="nw-border-b">
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-px-2
                        sm:nw-px-3
                        nw-py-2
                      ">
                                            <p class="nw-font-bold"><a class="nw-border-b nw-border-hk-nw-blue-100"
                                                                       href="#"
                                                                       onclick="">Bundle für Bestandskunden</a></p>
                                            <p>
                                                Der Preis gilt für HK-Leser mit täglichem Bezug der gedruckten Ausgabe.
                                                Gilt nicht für preisreduzierte Abonnements.
                                            </p>
                                        </td>
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                        sm:nw-px-3
                        nw-py-2 nw-whitespace-wrap-preisliste
                      ">
                                            15,00 €/mtl.
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="price-container nw-mb-8">
                <span class="nw-h-8 nw-block" id="gedruckteausgabe"></span>
                <h2 class="nw-mt-2 nw-text-xl nw-font-bold nw-pb-1">
                  Klassische Zeitung
                </h2>
                <p class="nw-text-gray-600 nw-text-tiny nw-font-medium">
                   Hier finden Sie alle Preise der gedruckten Ausgaben für die Botenzustellung und die Postzustellung.

                </p>
                <div class="nw-flex nw-flex-col  nw-mb-8">
                    <div class="nw-overflow-x-auto">
                        <div class="nw-py-2 nw-inline-block nw-min-w-full">
                            <div class="nw-overflow-hidden nw-border nw-rounded-md nw-shadow-md">
                                <table class="nw-min-w-full">
                                    <tbody>
                                    <tr class="nw-border-b">
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-px-2
                        sm:nw-px-3
                        nw-py-2
                      ">
                                            <p class="nw-font-bold"><a class="nw-border-b nw-border-hk-nw-blue-100"
                                                                       href="#"
                                                                       onclick="">Vollabo</a>
                                            </p>
                                            <p>Täglicher Bezug (Mo. – Sa.) der gedruckten Zeitung.</p>
                                        </td>
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                        sm:nw-px-3
                        nw-py-2 nw-whitespace-wrap-preisliste
                      ">
                                            45,50 €/mtl.
                                            <p>(Postzustellung 51,50 €/mtl.)</p>
                                        </td>
                                    </tr>
                                    <tr class="nw-border-b">
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-px-2
                        sm:nw-px-3
                        nw-py-2
                      ">
                                            <p class="nw-font-bold"><a class="nw-border-b nw-border-hk-nw-blue-100"
                                                                       href="#"
                                                                       onclick=""> Studentenabo (Solo) </a>
                                            </p>
                                            <p>
                                                Täglicher Bezug (Mo. – Sa.) der gedruckten Zeitung.
                                                Immatrikulationsbescheinigung erforderlich – gilt nicht für
                                                berufsbegleitende Studiengänge und Fernstudiengänge.
                                            </p>
                                        </td>
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                        sm:nw-px-3
                        nw-py-2 nw-whitespace-wrap-preisliste
                      ">
                                            25,50 €/mtl.

                                            <p> (Postzustellung 31,50 €/mtl.</p>
                                        </td>
                                    </tr>
                                    <tr class="nw-border-b">
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-px-2
                        sm:nw-px-3
                        nw-py-2
                      ">
                                            <p class="nw-font-bold"><a class="nw-border-b nw-border-hk-nw-blue-100"
                                                                       href="#"
                                                                       onclick="">Wochenend-Abo</a></p>
                                            <p>
                                                Bezug der gedruckten Zeitung nur an den Erscheinungstagen am Wochenende
                                                (Fr. und Sa.).
                                            </p>
                                        </td>
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                        sm:nw-px-3
                        nw-py-2 nw-whitespace-wrap-preisliste
                      ">
                                            21,90 €/mtl.
                                            <p> (Postzustellung 25,50 €/mtl.)</p>
                                        </td>
                                    </tr>
                                    <tr class="nw-border-b">
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-px-2
                        sm:nw-px-3
                        nw-py-2
                      ">
                                            <p class="nw-font-bold"><a class="nw-border-b nw-border-hk-nw-blue-100"
                                                                       href="#"
                                                                       onclick="">Montag + Samstag-Abo </a>
                                            </p>
                                            <p>
                                                Bezug der gedruckten Zeitung am Montag und am Samstag (Sportlerabo).
                                            </p>
                                        </td>
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                        sm:nw-px-3
                        nw-py-2 nw-whitespace-wrap-preisliste
                      ">
                                            21,90 €/mtl.
                                            <p>(Postzustellung 25,50 €/mtl.)</p>
                                        </td>
                                    </tr>
                                    <tr class="nw-border-b">
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-px-2
                        sm:nw-px-3
                        nw-py-2
                      ">
                                            <p class="nw-font-bold">
                                                <a class="nw-border-b nw-border-hk-nw-blue-100"
                                                   href="#"
                                                   onclick="">Montag
                                                    – Mittwoch – Samstag Abo</a>
                                            </p>
                                            <p>
                                                Bezug der gedruckten Zeitung am Montag und am Samstag (Sportlerabo).
                                            </p>
                                        </td>
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                        sm:nw-px-3
                        nw-py-2 nw-whitespace-wrap-preisliste
                      ">
                                            21,90 €/mtl.
                                            <p> (Postzustellung 25,50 €/mtl.)</p>
                                        </td>
                                    </tr>
                                    <tr class="nw-border-b">
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-px-2
                        sm:nw-px-3
                        nw-py-2
                      ">
                                            <p class="nw-font-bold">
                                                <a class="nw-border-b nw-border-hk-nw-blue-100"
                                                   href="#"
                                                   onclick="">3 Tage-Abo</a>
                                            </p>
                                            <p>
                                                Bezug der gedruckten Zeitung an drei beliebigen, aber festgelegten,
                                                Tagen.
                                            </p>
                                        </td>
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                        sm:nw-px-3
                        nw-py-2 nw-whitespace-wrap-preisliste
                      ">
                                            27,50 €/mtl.
                                            <p> (Postzustellung 33,50 €/mtl.)</p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="price-container nw-mb-8">
                <span class="nw-h-8 nw-block" id="einzelverkaufspreise"></span>
                <h2 class="nw-mt-2 nw-text-xl nw-font-bold nw-pb-1">
                  Klassische Zeitung im Einzelverkauf
                </h2>
                <p class="nw-text-gray-600 nw-text-tiny nw-font-medium">
                    Hier finden Sie die Einzelverkaufspreise pro Tag für die gedruckte Zeitung.
                </p>
                <div class="nw-flex nw-flex-col">
                    <div class="nw-overflow-x-auto">
                        <div class="nw-py-2 nw-inline-block nw-w-full">
                            <div class="nw-overflow-hidden nw-border nw-rounded-md nw-shadow-md">
                                <table class="nw-w-full">
                                    <tbody>
                                    <tr class="nw-border-b">
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-px-2
                        sm:nw-px-3
                        nw-py-2
                      ">
                                            <p class="nw-font-bold"><a class="nw-border-b nw-border-hk-nw-blue-100"
                                                                       href="#"
                                                                       onclick="">
                                                Einzelverkauf Montag bis Freitag </a>
                                            </p>
                                        </td>
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                        sm:nw-px-3
                        nw-py-2 nw-whitespace-wrap-preisliste
                      ">
                                           2,90 €
                                        </td>
                                    </tr>
                                    <tr class="nw-border-b">
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-px-2
                        sm:nw-px-3
                        nw-py-2
                      ">
                                            <p class="nw-font-bold"><a class="nw-border-b nw-border-hk-nw-blue-100"
                                                                       href="#"
                                                                       onclick=""> Einzelverkauf Samstag </a>
                                            </p>
                                        </td>
                                        <td class="
                        nw-text-sm nw-text-gray-900 nw-font-bold nw-px-2
                        sm:nw-px-3
                        nw-py-2 nw-whitespace-wrap-preisliste
                      ">
                                            3,00 €
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>