<a
  href="#"
  class="
    nw-text-gray-400
    hover:nw-text-gray-300
    nw-rounded-full nw-h-8 nw-w-8 nw-flex nw-items-center nw-justify-center
  "
>
  <span class="nw-sr-only">{{name}}</span>
  {{{ svg }}}
</a>
