<div class="nw-py-10 nw-px-4 md:nw-py-12 md:nw-px-7 md:nw-mb-4 md:nw-rounded-md nw-bg-white md:nw-shadow-md">
  <div class="nw-flex nw-flex-col nw-items-center md:nw-items-start md:nw-flex-row nw-gap-4 md:nw-gap-14">
    <div>
      <div class="autoren-img-container">
        <img class="nw-rounded-full nw-mb-6 md:nw-mb-4 nw-object-cover"
             src="/images/lesepaten/profil-bild.png" alt="profil-bild">
      </div>
    </div>
    <div class="" style="max-width: 632px">
      <div class="nw-font-bold nw-text-black nw-text-center md:nw-text-start nw-px-6 md:nw-px-0 nw-text-2xl nw-mb-2 ">
        Michael Stefan Kiel Steinkamp
      </div>
      <div class="nw-text-gray-500 nw-text-md nw-mb-6 nw-text-center nw-px-6 md:nw-px-0 md:nw-text-start">
        Redakteur in der Lokalredaktion Enger/Spenge
      </div>
      <div class="nw-text-base nw-mb-6">
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
        et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr. Lorem ipsum dolor sit amet
      </div>
      <div class="nw-mb-6">
        <p class="nw-font-bold nw-text-md nw-pb-2">Kontakt</p>
        <div class="nw-flex nw-flex-col md:nw-flex-row md:nw-gap-4 nw-text-gray-500 nw-text-md ">
          <p class="nw-font-medium nw-pb-2 md:nw-pb-0">Telefon:
            <a href="#" class="nw-cursor-pointer nw-font-normal"> +49 778 0101 091
            </a>
          </p>
          <p class="nw-font-medium">E-Mail:
            <a href="#" class=" nw-cursor-pointer nw-font-normal">
              kiel@nw.de
            </a>
          </p>
        </div>
      </div>
      {{>@social-icons--autoren}}
      <div class="nw-flex nw-justify-end">
        <a
          href="#"
          class=" nw-w-[200px] nw-text-gray-600
              nw-border nw-rounded-md nw-text-center nw-text-sm nw-font-bold
              nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-gray-0 focus:nw-bg-gray-100"
        >
          Zur Redaktionsübersicht
        </a>
      </div>
    </div>
  </div>
</div>