<div class="nw-grid md:nw-grid-cols-2 nw-grid-cols-1 nw-rounded-lg nw-bg-white">
  <div>{{>@image--teaser-image}}</div>
  <div class="nw-shadow-md">
    {{>@dachzeile}}{{>@headline--teaser}}{{>@article-lead-teaser}}
  </div>
</div>
