<div class="nw-mb-2 lg:nw-mb-1 nw-flex nw-justify-between nw-h-5">
    <p class="nw-text-base nw-text-gray-600 nw-font-medium nw-leading-tight">
        {{dachzeilentext}}
    </p>
    <div>{{>'@nw-plus-icon'}}</div>
</div>
