<button
    type="submit"
    class="
    nw-w-full
    nw-bg-white
    nw-border
    nw-border-transparent
    nw-rounded-md
    nw-py-1
    nw-px-4
    nw-flex
    nw-items-center
    nw-justify-center
    nw-text-base
    nw-text-gray-200
    hover:nw-bg-gray-0
    focus:nw-outline-none
    focus:nw-ring-2
    focus:nw-ring-offset-2
    focus:nw-ring-offset-gray-600
    focus:nw-ring-indigo-500
  "
>
    {{buttontext-signout}}
</button>
