<div class="nw-mb-4">
    <p class="nw-text-md nw-font-bold">Ihre Antwort</p>
</div>
<form>
    <div>
    <textarea
        rows="7"
        maxlength="3000"
        class="
        comment
        nw-w-full nw-text-sm
        focus:nw-ring-0 focus:nw-outline-none
        nw-overflow-hidden
        nw-py-2
        nw-px-3
        nw-bg-white
        nw-rounded-md
        nw-border
        nw-border-black
      "
        placeholder="Diskutieren Sie mit …"
        required
    ></textarea>
        <p class="result nw-text-xs nw-text-gray-500">0/1500</p>
    </div>
    <div class="nw-text-right">
        <button
            type="submit"
            class="
        buttondis
        nw-inline-flex
        nw-bg-red-100
        nw-py-3
        nw-px-6
        nw-text-base
        nw-font-bold
        nw-text-center
        nw-text-white
        nw-rounded
      "
            disabled
        >
            Antworten
        </button>
    </div>
</form>
