<div
  class="
    slider nw-newsletter-boxen-slider nw-bg-white
    nw-pl-4 md:nw-px-7 nw-pt-6  nw-pb-20
    nw-mb-10
    md:nw-mb-5
    nw-rounded-md
  "
>
  <div class="nw-mb-6 nw-pr-2 md:nw-pr-0">
    <a href="#" class="nw-block nw-w-full nw-cursor-pointer">
      <div class="nw-flex nw-justify-between nw-place-items-center">
        <div>
          <span class="nw-text-2xl nw-font-bold nw-uppercase">Newsletter</span>
        </div>
        <div class="nw-flex-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
               class="nw-w-6 nw-h-6 nw-float-right nw-text-black nw-ml-1 nw-cursor-pointer">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </div>
      </div>
    </a>
  </div>
  <div class="embla embla--main-carousel nw-mb-8">
    <div class="embla__viewport relative">
      <div class="embla__container ">

        <div
          class="
            embla__slide
            
            nw-min-w-9/10 sm:nw-min-w-8/10
            
             md:nw-min-w-4/12 lg:nw-min-w-3/10
          "
        >
          <div class="embla__slide__inner nw-bg-clip-padding">
            <div class="nw-px-4 nw-pt-4 nw-pb-6  nw-border nw-border-gray-100 nw-rounded-md nw-bg-white nw-mx-auto">
              <div class="nw-flex nw-flex-col nw-justify-center">
                <div class="newsletter-boxen-container nw-mb-4">
                  <img
                    class="nw-object-cover nw-rounded-md nw-h-full nw-w-full newsletter-boxen"
                    src="https://via.placeholder.com/304x176"
                  />
                </div>
                <div class="nw-mb-4">
                  <a href="#"
                     class=" nw-text-center nw-w-full sm:nw-min-w-16 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
                      nw-bg-green-100 nw-rounded-md nw-text-xs nw-font-bold
                      nw-cursor-pointer nw-py-1 nw-px-3 hover:nw-bg-green-200 hover:nw-transition-all hover:nw-duration-300
                      focus:nw-bg-green-300 focus:nw-transition-all">
                    Häufig abonniert
                  </a>
                </div>
                <form>
                  <div class="nw-mb-6">
                    <p class="nw-text-lg nw-font-bold nw-pb-2">Update zum Mittag</p>
                    <p class="nw-text-sm nw-pb-2 nw-font-medium nw-text-gray-500">täglich (Mo - So)</p>
                    <p class="nw-text-base nw-font-medium nw-text-gray-500">Täglich um 12 Uhr erhalten Sie die wichtigsten Entwicklungen und News aus OWL und weltweit per E-Mail mit dem Update zum Mittag.</p>
                  </div>
                  <div class="nw-mb-4 nw-w-full">
                    <input
                      class="nw-w-full nw-px-3 nw-py-3 nw-mx-auto nw-font-medium nw-inline-block nw-border nw-rounded nw-text-sm nw-box-border
                        nw-cursor-pointer placeholder:nw-text-gray-300"
                      type="email" placeholder="E-Mail-Adresse" name="email" id="email"
                      value="">
                  </div>
                  <p class="nw-text-xs nw-text-gray-300 nw-mb-4">Mit meiner Anmeldung zum Newsletter stimme ich der  <a href="https://www.nw.de/service/formales/23036205_Werbevereinbarung.html" class="nw-underline nw-text-red-0">Werbevereinbarung</a> zu. Weitere Informationen finden Sie in der
                    <a href="https://www.nw.de/service/formales/20262936_Datenschutzerklaerung.html" class="nw-underline">Datenschutzerklärung</a>.
                  </p>

                  <div class="nw-flex nw-justify-center">
                    <button
                      class="nw-text-center nw-min-w-32 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                      nw-bg-red-0 nw-rounded-full nw-text-base nw-font-bold
                      nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-red-100 hover:nw-transition-all hover:nw-duration-300 focus:nw-bg-red-200 focus:nw-transition-all
                      disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed">
                      Abonnieren
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div
          class="
             embla__slide

            nw-min-w-9/10 sm:nw-min-w-8/10

             md:nw-min-w-4/12 lg:nw-min-w-3/10
          "
        >
          <div class="embla__slide__inner nw-bg-clip-padding">
            <div class="nw-px-4 nw-pt-4 nw-pb-6  nw-border nw-border-gray-100 nw-rounded-md nw-bg-white nw-mx-auto">
              <div class="nw-flex nw-flex-col nw-justify-center">
                <div class="newsletter-boxen-container nw-mb-4">
                  <img
                    class="nw-object-cover nw-rounded-md nw-h-full nw-w-full newsletter-boxen"
                    src="https://via.placeholder.com/304x176"
                  />
                </div>
                <div class="nw-mb-4">
                  <a href="#"
                     class=" nw-text-center nw-w-full sm:nw-min-w-16 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
                      nw-bg-green-100 nw-rounded-md nw-text-xs nw-font-bold
                      nw-cursor-pointer nw-py-1 nw-px-3 hover:nw-bg-green-200 hover:nw-transition-all hover:nw-duration-300
                      focus:nw-bg-green-300 focus:nw-transition-all">
                    Häufig abonniert
                  </a>
                </div>
                <form>
                  <div class="nw-mb-6">
                    <p class="nw-text-lg nw-font-bold nw-pb-1">Update zum Mittag</p>
                    <p class="nw-text-sm nw-pb-2 nw-font-medium nw-text-gray-500">täglich (Mo - So)</p>
                    <p class="nw-text-base nw-font-medium nw-text-gray-500">Täglich um 12 Uhr erhalten Sie die wichtigsten Entwicklungen und News aus OWL und weltweit per E-Mail mit dem Update zum Mittag.</p>
                  </div>
                  <div class="nw-mb-4 nw-w-full">
                    <input
                      class="nw-w-full nw-px-3 nw-py-3 nw-mx-auto nw-font-medium nw-inline-block nw-border nw-rounded nw-text-sm nw-box-border
                        nw-cursor-pointer placeholder:nw-text-gray-300"
                      type="email" placeholder="E-Mail-Adresse" name="email" id="email"
                      value="">
                  </div>
                  <p class="nw-text-xs nw-text-gray-300 nw-mb-4">Mit meiner Anmeldung zum Newsletter stimme ich der  <a href="https://www.nw.de/service/formales/23036205_Werbevereinbarung.html" class="nw-underline nw-text-red-0">Werbevereinbarung</a> zu. Weitere Informationen finden Sie in der
                    <a href="https://www.nw.de/service/formales/20262936_Datenschutzerklaerung.html" class="nw-underline">Datenschutzerklärung</a>.
                  </p>

                  <div class="nw-flex nw-justify-center">
                    <button
                      class="nw-text-center nw-min-w-32 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                      nw-bg-red-0 nw-rounded-full nw-text-base nw-font-bold
                      nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-red-100 hover:nw-transition-all hover:nw-duration-300 focus:nw-bg-red-200 focus:nw-transition-all
                      disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed">
                      Abonnieren
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div
          class="
             embla__slide

            nw-min-w-9/10 sm:nw-min-w-8/10

             md:nw-min-w-4/12 lg:nw-min-w-3/10
          "
        >
          <div class="embla__slide__inner nw-bg-clip-padding">
            <div class="nw-px-4 nw-pt-4 nw-pb-6  nw-border nw-border-gray-100 nw-rounded-md nw-bg-white nw-mx-auto">
              <div class="nw-flex nw-flex-col nw-justify-center">
                <div class="newsletter-boxen-container nw-mb-4">
                  <img
                    class="nw-object-cover nw-rounded-md nw-h-full nw-w-full newsletter-boxen"
                    src="/images/newsletter/nw-foodie.jpg"
                  />
                </div>
                <div class="nw-mb-4">
                  <a href="#"
                     class=" nw-text-center nw-w-full sm:nw-min-w-16 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
                      nw-bg-green-100 nw-rounded-md nw-text-xs nw-font-bold
                      nw-cursor-pointer nw-py-1 nw-px-3 hover:nw-bg-green-200 hover:nw-transition-all hover:nw-duration-300
                      focus:nw-bg-green-300 focus:nw-transition-all">
                    Häufig abonniert
                  </a>
                </div>
                <form>
                  <div class="nw-mb-6">
                    <p class="nw-text-lg nw-font-bold nw-pb-1">Update zum Mittag</p>
                    <p class="nw-text-sm nw-pb-2 nw-font-medium nw-text-gray-500">täglich (Mo - So)</p>
                    <p class="nw-text-base nw-font-medium nw-text-gray-500">Täglich um 12 Uhr erhalten Sie die wichtigsten Entwicklungen und News aus OWL und weltweit per E-Mail mit dem Update zum Mittag.</p>
                  </div>
                  <div class="nw-mb-4 nw-w-full">
                    <input
                      class="nw-w-full nw-px-3 nw-py-3 nw-mx-auto nw-font-medium nw-inline-block nw-border nw-rounded nw-text-sm nw-box-border
                        nw-cursor-pointer placeholder:nw-text-gray-300"
                      type="email" placeholder="E-Mail-Adresse" name="email" id="email"
                      value="">
                  </div>
                  <p class="nw-text-xs nw-text-gray-300 nw-mb-4">Mit meiner Anmeldung zum Newsletter stimme ich der  <a href="https://www.nw.de/service/formales/23036205_Werbevereinbarung.html" class="nw-underline nw-text-red-0">Werbevereinbarung</a> zu. Weitere Informationen finden Sie in der
                    <a href="https://www.nw.de/service/formales/20262936_Datenschutzerklaerung.html" class="nw-underline">Datenschutzerklärung</a>.
                  </p>

                  <div class="nw-flex nw-justify-center">
                    <button
                      class="nw-text-center nw-min-w-32 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                      nw-bg-red-0 nw-rounded-full nw-text-base nw-font-bold
                      nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-red-100 hover:nw-transition-all hover:nw-duration-300 focus:nw-bg-red-200 focus:nw-transition-all
                      disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed">
                      Abonnieren
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div
          class="
             embla__slide

            nw-min-w-9/10 sm:nw-min-w-8/10

             md:nw-min-w-4/12 lg:nw-min-w-3/10
          "
        >
          <div class="embla__slide__inner nw-bg-clip-padding">
            <div class="nw-px-4 nw-pt-4 nw-pb-6  nw-border nw-border-gray-100 nw-rounded-md nw-bg-white nw-mx-auto">
              <div class="nw-flex nw-flex-col nw-justify-center">
                <div class="newsletter-boxen-container nw-mb-4">
                  <img
                    class="nw-object-cover nw-rounded-md nw-h-full nw-w-full newsletter-boxen"
                    src="/images/sommer-angebot-page/sommerangebot1.jpg"
                  />
                </div>
                <div class="nw-mb-4">
                  <a href="#"
                     class=" nw-text-center nw-w-full sm:nw-min-w-16 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
                      nw-bg-green-100 nw-rounded-md nw-text-xs nw-font-bold
                      nw-cursor-pointer nw-py-1 nw-px-3 hover:nw-bg-green-200 hover:nw-transition-all hover:nw-duration-300
                      focus:nw-bg-green-300 focus:nw-transition-all">
                    Häufig abonniert
                  </a>
                </div>
                <form>
                  <div class="nw-mb-6">
                    <p class="nw-text-lg nw-font-bold nw-pb-1">Update zum Mittag</p>
                    <p class="nw-text-sm nw-pb-2 nw-font-medium nw-text-gray-500">täglich (Mo - So)</p>
                    <p class="nw-text-base nw-font-medium nw-text-gray-500">Täglich um 12 Uhr erhalten Sie die wichtigsten Entwicklungen und News aus OWL und weltweit per E-Mail mit dem Update zum Mittag.</p>
                  </div>
                  <div class="nw-mb-4 nw-w-full">
                    <input
                      class="nw-w-full nw-px-3 nw-py-3 nw-mx-auto nw-font-medium nw-inline-block nw-border nw-rounded nw-text-sm nw-box-border
                        nw-cursor-pointer placeholder:nw-text-gray-300"
                      type="email" placeholder="E-Mail-Adresse" name="email" id="email"
                      value="">
                  </div>
                  <p class="nw-text-xs nw-text-gray-300 nw-mb-4">Mit meiner Anmeldung zum Newsletter stimme ich der  <a href="https://www.nw.de/service/formales/23036205_Werbevereinbarung.html" class="nw-underline nw-text-red-0">Werbevereinbarung</a> zu. Weitere Informationen finden Sie in der
                    <a href="https://www.nw.de/service/formales/20262936_Datenschutzerklaerung.html" class="nw-underline">Datenschutzerklärung</a>.
                  </p>

                  <div class="nw-flex nw-justify-center">
                    <button
                      class="nw-text-center nw-min-w-32 nw-max-w-fit nw-whitespace-nowrap nw-text-white
                      nw-bg-red-0 nw-rounded-full nw-text-base nw-font-bold
                      nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-red-100 hover:nw-transition-all hover:nw-duration-300 focus:nw-bg-red-200 focus:nw-transition-all
                      disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed">
                      Abonnieren
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div
        class="
          nw-hidden
          md:nw-hidden
          slider--button-prev
          nw-flex  nw-place-content-center
          nw-bg-black
          nw-text-black
          nw-w-8
          nw-h-8
          nw-absolute
          nw-rounded-full
          nw-object-center
          nw-top-1/2
          nw-left-0
          nw-transform
          nw--translate-y-1/2
          nw-cursor-pointer
        "
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="nw-w-6 nw-h-6 nw-mx-auto nw-text-white">
          <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
        </svg>
      </div>
      <div
        class="
        nw-hidden
          md:nw-block
          slider--button-next
          nw-flex nw-place-content-center
          nw-bg-black
          nw-text-black
          nw-w-8
          nw-h-8
          nw-absolute
          nw-rounded-full
          nw-object-center
          nw-top-1/2
          nw-right-0
          nw-transform
          nw--translate-y-1/2
          nw-cursor-pointer
        "
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="nw-w-6 nw-h-6 nw-mx-auto nw-text-white">
          <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>
      </div>
    </div>
  </div>
</div>