<div data-snap-slide-yaindex="2"
     class="
    slider photos-slider nw-event-slider nw-bg-white
    nw-pl-4 md:nw-pl-7 nw-pt-6 nw-pb-8
    nw-mb-6
    nw-rounded-md nw-mx-auto
    " style="max-width: 1064px;"
>
  <div class="nw-mb-4 nw-pr-2 md:nw-pr-0">
    <a href="#" class="nw-block nw-w-full nw-cursor-pointer">
      <div class="nw-flex nw-justify-between nw-place-items-center">
        <div>
          <span class="nw-text-xl nw-font-bold nw-uppercase">VERANSTALTUNGEN</span>
        </div>
        <div class="nw-flex-none">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor"
               class="nw-w-5 nw-h-5 nw-float-right nw-text-red-0 nw-cursor-pointer nw-mr-1.5 md:nw-mr-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
          </svg>
        </div>
      </div>
    </a>
  </div>
  <div class="embla embla--main-carousel">
    <div class="embla__viewport relative">
      <div class="embla__container">
        {{#each newletter-box}}
          <div class="embla__slide nw-min-w-80 md:nw-min-w-[340px]">
            <div class="embla__slide__inner nw-bg-clip-padding nw-flex nw-flex-col nw-justify-start">
              <a href="" class="embla__slide__inner nw-rounded-md nw-block">

                <div class="nw-relative nw-h-[200px] nw-w-full nw-overflow-hidden nw-rounded-t nw-object-cover">
                  <img class=" embla__slide__img nw-h-[200px] nw-w-full nw-object-cover"
                       src="https://images.unsplash.com/photo-1624520262270-dda87e60b541?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1050&amp;q=80"
                       alt="" loading="lazy">
                </div>


                <div
                  class="nw-flex nw-justify-between nw-content-center nw-items-center nw-border nw-border-gray-100 nw-rounded-b-md nw-px-4 nw-py-6">

                  <div class="nw-pr-4">
                    <div class="nw-flex  nw-flex-col nw-items-center nw-justify-center">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                           stroke="currentColor" class="nw-h-6 nw-w-6 nw-mb-1 nw-text-slate-300">
                        <path stroke-linecap="round" stroke-linejoin="round"
                              d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                      </svg>

                      <p class="nw-text-xs nw-text-center nw-font-bold">
                        17
                        <br>
                        MÄRZ
                      </p>

                    </div>
                  </div>
                  <div class="nw-pl-4 nw-border-l ">
                    <p class="nw-text-base nw-font-medium nw-text-slate-300 nw-pb-1">
                      Austellung
                    </p>
                    <p class="nw-text-lg nw-font-bold nw-pb-6">
                      The Mystery of Banksy - A Genius Mind
                    </p>
                    <div>
                      <div class="nw-flex nw-items-center nw-justify-between">
                        <div class="nw-flex nw-items-center">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                               stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                               class="nw-mr-2 nw-h-6 nw-w-6 nw-text-slate-300">
                            <path d="M20 10c0 6-8 12-8 12s-8-6-8-12a8 8 0 0 1 16 0Z"></path>
                            <circle cx="12" cy="10" r="3"></circle>
                          </svg>
                          <p class=" nw-overflow-hidden nw-text-gray-400 nw-font-medium nw-overflow-ellipsis nw-whitespace-nowrap nw-text-base">
                            Bielefeld
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </a>
            </div>
          </div>
        {{/each}}
      </div>
         <!--<button
              class="
                nw-hidden
                md:nw-hidden

                slider--button-prev nw-place-content-center
                nw-bg-black
                nw-text-black
                nw-w-8
                nw-h-8
                nw-absolute
                nw-rounded-full
                nw-object-center
                nw-top-1/2
                nw-left-0
                nw-transform
                nw--translate-y-1/2
                nw-cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="nw-w-6 nw-h-6 nw-mx-auto nw-text-white">
                <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
              </svg>
            </button>
            <button
              class="
                nw-hidden
                md:nw-block

                slider--button-next nw-place-content-center
                nw-bg-black
                nw-text-black
                nw-w-8
                nw-h-8
                nw-absolute
                nw-rounded-full
                nw-object-center
                nw-top-1/2
                nw-right-0
                nw-transform
                nw--translate-y-1/2
                nw-cursor-pointer" >
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="nw-w-6 nw-h-6 nw-mx-auto nw-text-white">
                <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
              </svg>
            </button>-->
    </div>

  </div>
  <div class=" embla__dots" style="display: none !important;"></div>
</div>
<script type="text/template" id="embla-dot-template">
  <button class="embla__dot" type="button"></button>

</script>




