<style>
    .nw-max-stepper {
        max-width: 206px;
    }
</style>
<div class="nw-lesepaten-anmelden nw-max-w-sm nw-mx-auto nw-px-4 nw-bg-white">
    <div class="nw-text-2xl nw-leading-6 nw-font-bold nw-text-center nw-pb-8 nw-pt-4 md:nw-pt-2"> Ich möchte Lesepate
        werden
    </div>
    <ul class="nw-relative nw-flex nw-flex-row nw-mb-8 nw-max-stepper nw-mx-auto">
        <!-- Item -->
        <li class="nw-shrink nw-basis-0 nw-flex-1 nw-group patewerdenTabs">
            <div
                class="nw-min-w-7 nw-min-h-7 nw-w-full nw-inline-flex nw-items-center nw-text-xs nw-align-middle">
                    <span
                        class="nw-w-7 nw-h-7 nw-flex nw-justify-center nw-items-center nw-flex-shrink-0 nw-bg-green-600 bgChange nw-font-medium nw-text-white nw-rounded-full">
                        1
                    </span>
                <div class=" nw-w-full nw-h-px nw-flex-1 nw-bg-gray-200 group-last:nw-hidden"></div>
            </div>
            <div class="nw-mt-3">
                <span class="nw-block nw-text-xs nw-font-bold nw-text-black textChange">Daten</span>
            </div>
        </li>
        <!-- End Item -->

        <li class="nw-shrink nw-basis-0 nw-flex-1 nw-group patewerdenTabs">
            <div
                class="nw-min-w-7 nw-min-h-7 nw-w-full nw-inline-flex nw-items-center nw-text-xs nw-align-middle">
                    <span
                        class="nw-w-7 nw-h-7 nw-flex nw-justify-center nw-items-center nw-flex-shrink-0 nw-bg-gray-200 bgChange nw-font-medium nw-text-white nw-rounded-full">
                        2
                    </span>
                <div class=" nw-w-full nw-h-px nw-flex-1 nw-bg-gray-200 group-last:nw-hidden"></div>
            </div>
            <div class="nw-mt-3">
                <span class="nw-block nw-text-xs nw-text-gray-300 textChange">Schule</span>
            </div>
        </li>
        <!-- End Item -->

        <!-- Item -->
        <li class="nw-shrink nw-basis-0 nw-flex-1 nw-group patewerdenTabs">
            <div
                class="nw-min-w-7 nw-min-h-7 nw-w-full nw-inline-flex nw-items-center nw-text-xs nw-align-middle">
                    <span
                        class="nw-w-7 nw-h-7 nw-flex nw-justify-center nw-items-center nw-flex-shrink-0 nw-bg-gray-200 bgChange nw-font-medium nw-text-white nw-rounded-full">
                        3
                    </span>
                <div class="nw-w-full nw-h-px nw-flex-1 nw-bg-gray-200 group-last:nw-hidden"></div>
            </div>
            <div class="nw-mt-3">
                <span class="nw-block nw-text-xs nw-text-gray-300 textChange">Profil</span>
            </div>
        </li>
        <li class="patewerdenTabs nw-rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="5"
                 stroke="currentColor"
                 class="nw-w-7 nw-h-7 nw-text-white nw-bg-gray-200 nw-rounded-full nw-p-2 bgChange">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/>
            </svg>
            <!-- <div>
                  <span
                      class="nw-min-w-7 nw-min-h-7 nw-w-full nw-inline-flex nw-items-center nw-text-xs nw-align-middle ">
                      <svg class="nw-w-7 nw-h-7 nw-me-2.5 nw-text-gray-200 bgChange" aria-hidden="true"
                           xmlns="http://www.w3.org/2000/svg"
                           fill="currentColor" viewBox="0 0 20 20">
                       <path
                           d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                      </svg>
                  </span>
             </div>-->

            <div class="nw-mt-3">
                <span class="nw-block nw-text-xs nw-text-gray-300 textChange ">Fertig</span>
            </div>
        </li>
        <!-- End Item -->
    </ul>
    <!-- End Stepper -->

    <!-- Pages Container ( Schritte ) -->
    <div>
        <div class="patewerdenContainer ">
            {{>@patewerden-schritte--daten}}
        </div>
        <!-- Second Container -->
        <div class="nw-hidden patewerdenContainer">
            {{>@patewerden-schritte--schule}}
        </div>
        <!-- Third Container -->
        <div class="nw-hidden patewerdenContainer">
            {{>@patewerden-schritte--profil}}
        </div>
        <!-- Fourth Container -->
        <div class="nw-hidden patewerdenContainer">
            {{>@patewerden-schritte--fertig}}
        </div>
        <!-- -->
    </div>
    <!-- -->
</div>


<!--
<script>
    // patewerden Tabs

    // Tabs clicken
    var arrayPatenwerdenTabs = document.getElementsByClassName('patewerdenTabs');
    Array.prototype.forEach.call(arrayPatenwerdenTabs, (x, i) => {
        x.addEventListener('click', e => {
            e.preventDefault();
            Array.prototype.forEach.call(arrayPatenwerdenTabs, x => {
                x.classList.remove(
                    'nw-text-black',
                    'nw-font-bold'
                );
                x.classList.add('nw-text-black');
            });
            x.classList.remove('nw-text-black');
            x.classList.add(
                'nw-text-black',
                'nw-font-bold'
            );
            var arrayPatenwerdenContainer = document.getElementsByClassName('patewerdenContainer');
            Array.prototype.forEach.call(arrayPatenwerdenContainer, x => {
                x.classList.add('nw-hidden');
            });
            arrayPatenwerdenContainer[i].classList.remove('nw-hidden');
        });
    });
</script>-->
<script>
    // patewerden Tabs

    // Tabs clicken
    var arrayPatenwerdenTabs = document.getElementsByClassName('patewerdenTabs');
    Array.prototype.forEach.call(arrayPatenwerdenTabs, (x, i) => {
        x.addEventListener('click', e => {
            e.preventDefault();
            Array.prototype.forEach.call(arrayPatenwerdenTabs, x => {
                x.querySelector('.bgChange').classList.remove('nw-bg-green-600');
                x.querySelector('.bgChange').classList.add('nw-bg-gray-200');
                x.querySelector('.textChange').classList.remove('text-black');
                x.querySelector('.textChange').classList.add('nw-text-gray-300');
            });
            x.querySelector('.bgChange').classList.remove('nw-bg-gray-200');
            x.querySelector('.bgChange').classList.add('nw-bg-green-600');
            x.querySelector('.textChange').classList.remove('nw-text-gray-300');
            x.querySelector('.textChange').classList.add('text-black');
            var arrayPatenwerdenContainer = document.getElementsByClassName('patewerdenContainer');
            Array.prototype.forEach.call(arrayPatenwerdenContainer, x => {
                x.classList.add('nw-hidden');
            });
            arrayPatenwerdenContainer[i].classList.remove('nw-hidden');
        });
    });
</script>

