<style>
    .nw-max-stepper {
        max-width: 206px;
    }
</style>
<div class="nw-lesepaten-anmelden nw-max-w-sm nw-mx-auto nw-px-4 nw-bg-white">
    <div class="nw-text-2xl nw-leading-6 nw-font-bold nw-text-center nw-pb-8 nw-pt-4 md:nw-pt-2"> Ich möchte Lesepate
        werden
    </div>
    <ul class="nw-relative nw-flex nw-flex-row nw-mb-8 nw-max-stepper nw-mx-auto">
        <!-- Item -->
        <li class="nw-shrink nw-basis-0 nw-flex-1 nw-group patewerdenTabs">
            <div
                class="nw-min-w-7 nw-min-h-7 nw-w-full nw-inline-flex nw-items-center nw-text-xs nw-align-middle">
                    <span
                        class="nw-w-7 nw-h-7 nw-flex nw-justify-center nw-items-center nw-flex-shrink-0 nw-bg-green-600 bgChange nw-font-medium nw-text-white nw-rounded-full">
                        1
                    </span>
                <div class=" nw-w-full nw-h-px nw-flex-1 nw-bg-gray-200 group-last:nw-hidden"></div>
            </div>
            <div class="nw-mt-3">
                <span class="nw-block nw-text-xs nw-font-bold nw-text-black textChange">Daten</span>
            </div>
        </li>

        <!-- Item -->
        <li class="nw-shrink nw-basis-0 nw-flex-1 nw-group patewerdenTabs">
            <div
                class="nw-min-w-7 nw-min-h-7 nw-w-full nw-inline-flex nw-items-center nw-text-xs nw-align-middle">
                    <span
                        class="nw-w-7 nw-h-7 nw-flex nw-justify-center nw-items-center nw-flex-shrink-0 nw-bg-gray-200 bgChange nw-font-medium nw-text-white nw-rounded-full">
                        2
                    </span>
                <div class=" nw-w-full nw-h-px nw-flex-1 nw-bg-gray-200 group-last:nw-hidden"></div>
            </div>
            <div class="nw-mt-3">
                <span class="nw-block nw-text-xs nw-text-gray-300 nw-font-normal textChange">Schule</span>
            </div>
        </li>

        <!-- Item -->
        <li class="nw-shrink nw-basis-0 nw-flex-1 nw-group patewerdenTabs">
            <div
                class="nw-min-w-7 nw-min-h-7 nw-w-full nw-inline-flex nw-items-center nw-text-xs nw-align-middle">
                    <span
                        class="nw-w-7 nw-h-7 nw-flex nw-justify-center nw-items-center nw-flex-shrink-0 nw-bg-gray-200 bgChange nw-font-medium nw-text-white nw-rounded-full">
                        3
                    </span>
                <div class="nw-w-full nw-h-px nw-flex-1 nw-bg-gray-200 group-last:nw-hidden"></div>
            </div>
            <div class="nw-mt-3">
                <span class="nw-block nw-text-xs nw-text-gray-300 nw-font-normal textChange">Profil</span>
            </div>
        </li>
        <!-- Item -->
        <li class="patewerdenTabs nw-rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="5"
                 stroke="currentColor"
                 class="nw-w-7 nw-h-7 nw-text-white nw-bg-gray-200 nw-rounded-full nw-p-2 bgChange">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/>
            </svg>
            <div class="nw-mt-3">
                <span class="nw-block nw-text-xs nw-text-gray-300 nw-font-normal textChange ">Fertig</span>
            </div>
        </li>
    </ul>
    <!-- End Stepper -->

    <!-- Pages Container ( Schritte ) -->

    <form class="patewerdenContainer ">
        <!-- First Container -->
        <div id="page-0" class="page" data-page="0">
            {{>@patewerden-schritte--daten}}
        </div>
        <!-- Second Container -->
        <div id="page-1" class="page nw-hidden" data-page="1">
            {{>@patewerden-schritte--schule}}
        </div>
        <!-- Third Container -->
        <div id="page-2" class="page nw-hidden" data-page="2">
            {{>@patewerden-schritte--profil}}
        </div>
        <!-- Fourth Container -->
        <div id="page-3" class="page nw-hidden" data-page="3">
            {{>@patewerden-schritte--fertig}}
        </div>

        <!-- -->
    </form>
    <div class="nw-flex nw-flex-col md:nw-flex-row nw-gap-x-4 nw-mb-8 ">
        <div class="nw-flex nw-flex-col md:nw-flex-row nw-w-full nw-gap-4 page-buttons nw-mb-4 ">
            <button class="zurueckButton nw-w-full md:nw-w-1/2 nw-block
                                                            nw-rounded nw-text-base nw-font-bold nw-bg-white
                                                            nw-cursor-pointer nw-border nw-hidden">
                Zurück
            </button>
            <button id="weiterButton" class="  nw-w-full md:nw-w-1/2 nw-block nw-bg-red-500
                                                            nw-rounded nw-text-base nw-font-bold  nw-text-white
                                                            nw-cursor-pointer nw-border"
                    value="Weiter"

            > Weiter
            </button>
        </div>
        <div class="nw-flex nw-flex-col md:nw-flex-row nw-w-full nw-gap-4 nw-hidden final-page-buttons nw-mb-4">
            <input type="submit" value="Jetzt beantragen" id="beantragenButton" class=" nw-w-full md:nw-w-1/2 nw-mx-auto nw-block nw-px-4
                                                            nw-rounded nw-text-base nw-font-bold nw-text-white nw-bg-red-500
                                                            nw-cursor-pointer nw-border">
            <button class="zurueckButton nw-w-full md:nw-w-1/2 nw-block
                                                            nw-rounded nw-text-base nw-font-bold nw-bg-white
                                                            nw-cursor-pointer nw-border nw-hidden">
                Zurück
            </button>
        </div>
    </div>
</div>

<script>
    const zurueckButtons = document.querySelectorAll('.zurueckButton');
    const weiterButtons = document.getElementById('weiterButton');
    const pages = document.querySelectorAll('.page');
    let index = 0;

    zurueckButtons.forEach(button => {
        button.addEventListener('click', zurueckButton);
    });
    weiterButtons.addEventListener('click', weiterButton);

    function zurueckButton() {
        index = Math.max(0, index - 1);
        gotoPage(index);
    }

    function weiterButton() {
        index = Math.min(pages.length - 1, index + 1);
        gotoPage(index);
    }

    function gotoPage(index) {
        pages.forEach(page => {
            page.classList.add('nw-hidden');
        });
        pages[index].classList.remove('nw-hidden');
        lesepatenChangeTabs(index);
    }

    function lesepatenChangeTabs(index) {
        const tabs = document.querySelectorAll('.patewerdenTabs');
        tabs.forEach(tab => {
            tab.querySelector('.bgChange').classList.replace('nw-bg-green-600', 'nw-bg-gray-200');
            tab.querySelector('.textChange').classList.replace('nw-text-black', 'nw-text-gray-300');
            tab.querySelector('.textChange').classList.replace('nw-font-bold', 'nw-font-normal');
        });
        tabs[index].querySelector('.bgChange').classList.replace('nw-bg-gray-200', 'nw-bg-green-600');
        tabs[index].querySelector('.textChange').classList.replace('nw-text-gray-300', 'nw-text-black');
        tabs[index].querySelector('.textChange').classList.replace('nw-font-normal', 'nw-font-bold');

        const zurueckButtons = document.querySelectorAll('.zurueckButton');
        zurueckButtons.forEach(button => {
            if (index === 0) {
                button.classList.add('nw-hidden');
            } else {
                button.classList.remove('nw-hidden');
            }
        });

        const pageButtons = document.querySelector('.page-buttons');
        const finalPagesButton = document.querySelector('.final-page-buttons');
        if (index === pages.length - 1) {
            pageButtons.classList.add('nw-hidden');
            finalPagesButton.classList.replace('nw-hidden', 'nw-block');
        } else {
            pageButtons.classList.remove('nw-hidden');
            finalPagesButton.classList.replace('nw-block', 'nw-hidden');
        }
    }
</script>




