<div class="nw-lesepaten-anmelden nw-max-w-sm nw-mx-auto nw-px-4 md:nw-px-0 nw-bg-white">
    <div class="nw-text-2xl nw-leading-6 nw-font-bold nw-text-center nw-pb-8 nw-pt-4 md:nw-pt-2"> Ich möchte Lesepate
        werden
    </div>
    <form>
        <div>
            <p id="dangerAlert" class="nw-bg-red-100 nw-text-red-700 nw-px-2
            nw-py-3 nw-mb-4 nw-rounded nw-hidden"> Füllen Sie bitte die roten Felder aus</p>
        </div>
        <div class="nw-flex nw-flex-col md:nw-flex-row nw-gap-4">
            <div class="nw-basis-1/2">
                <div class=" nw-pb-2">
                    <label for="art"
                           class="nw-text-xs nw-font-medium nw-leading-6">
                        ART DES PATENABOS*
                    </label>
                </div>
                <div class="nw-relative nw-flex nw-w-full">
                    <select type="text"
                            class="nw-lesepaten-form nw-w-full nw-px-2
                                nw-py-3.5
                                nw-mx-auto
                                nw-text-sm
                                nw-inline-block
                                nw-border
                                nw-rounded
                                nw-box-border
                                nw-cursor-pointer"
                            id="art"
                            name="">
                        <option value="" disabled selected hidden>
                            ePaper /
                            Printzeitung
                        </option>
                        <option value="epaper"> ePaper</option>
                        <option value="printzeitung">Printzeitung</option>
                    </select>
                </div>
            </div>
            <div class="nw-basis-1/2">
                <div class=" nw-pb-2">
                    <label for="anzahl"
                           class="nw-text-xs nw-font-medium nw-leading-6">
                        ANZAHL DER PATENABOS*
                    </label>
                </div>
                <div class="nw-relative nw-mb-4 nw-flex nw-w-full">
                    <select class="nw-lesepaten-form nw-w-full nw-px-2
                                nw-py-3.5
                                nw-mx-auto
                                nw-text-sm
                                nw-inline-block
                                nw-border
                                nw-rounded
                                nw-box-border
                                nw-cursor-pointer"
                            id="anzahl"
                            name="">
                        <option value="1" selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="nw-mb-8 md:nw-mb-6">
            <div class="nw-pb-2">
                <label for="dateinput"
                       class="nw-text-xs nw-font-medium  nw-leading-6">
                    LIEFERBEGINN*
                </label>
            </div>
            <div class="nw-hide-date nw-relative nw-mb-4 nw-flex nw-w-full nw-items-stretch">
                <input
                    type="date"
                    class="nw-lesepaten-form nw-block nw-min-w-0 nw-flex-auto nw-rounded nw-border nw-border-solid nw-border-gray-200 nw-bg-transparent
                    nw-bg-clip-padding nw-pl-2 nw-py-3 nw-text-sm nw-leading-6 focus:nw-outline-none nw-cursor-pointer"
                    aria-label="datum"
                    aria-describedby=""
                    id="dateinput"
                />
            </div>
        </div>
        <hr>
        <div>
            <p class=" nw-text-left nw-text-base nw-leading-8 nw-font-bold nw-mt-8 md:nw-mt-6 nw-mb-2">Ihre
                Daten</p>
        </div>
        <div class="nw-mb-4">
            <div class="nw-mb-2">
                <label class=" nw-font-medium nw-text-xs nw-uppercase nw-leading-5" for="vname">Vorname*</label>
            </div>
            <input class=" nw-lesepaten-form nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                   nw-border nw-rounded nw-box-border nw-cursor-pointer"
                   type="text"
                   name=""
                   id="vname"
            />
        </div>
        <div class="nw-mb-4">
            <div class="nw-mb-2">
                <label class=" nw-font-medium nw-text-xs nw-uppercase nw-leading-5" for="nname">Nachname*</label>
            </div>
            <input class=" nw-lesepaten-form nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                   nw-border nw-rounded nw-box-border nw-cursor-pointer"
                   type="text"
                   name=""
                   id="nname"
            />
        </div>
        <div class="nw-mb-4">
            <div class="nw-mb-2">
                <label class=" nw-font-medium nw-text-xs nw-uppercase nw-leading-5 " for="eMail">E-Mail
                    Adresse*</label>
            </div>
            <input required class=" nw-lesepaten-form nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                            nw-border nw-rounded nw-box-border nw-cursor-pointer"
                   pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$"
                   type="email"
                   name=""
                   id="eMail"
            />
        </div>
        <div class="nw-mb-4  nw-arrow-in-numberfield-hidden">
            <div class="nw-mb-2">
                <label class=" nw-font-medium nw-text-xs nw-uppercase nw-leading-5"
                       for="telefon">Telefon*</label>
            </div>
            <input class="nw-lesepaten-form nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                   nw-border nw-rounded nw-box-border nw-cursor-pointer"
                   type="number"
                   name=""
                   id="telefon"
            />
        </div>
        <div class="nw-mb-4">
            <div class="nw-mb-2">
                <label class=" nw-font-medium nw-text-xs nw-uppercase nw-leading-5" for="firma">Unternehmen /
                    Instituten*</label>
            </div>
            <input class="nw-lesepaten-form nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                   nw-border nw-rounded nw-box-border nw-cursor-pointer"
                   type="text"
                   name=""
                   id="firma"
            />
        </div>
        <div class="nw-mb-4">
            <div class="nw-mb-2">
                <label class=" nw-font-medium nw-text-xs nw-uppercase nw-leading-5" for="strasse">Straße /
                    Hausnummer*</label>
            </div>
            <input class="nw-lesepaten-form nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                   nw-border nw-rounded nw-box-border nw-cursor-pointer"
                   type="text"
                   name=""
                   id="strasse"
            />
        </div>
        <div class="nw-flex nw-gap-2">
            <div class="nw-basis-1/3">
                <div class="nw-mb-4">
                    <div class="nw-mb-2">
                        <label class="nw-font-medium nw-text-xs nw-uppercase nw-leading-5" for="plz">PLZ*</label>
                    </div>
                    <input class="nw-lesepaten-form  nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                   nw-border nw-rounded nw-box-border nw-cursor-pointer"
                           type="text"
                           name=""
                           id="plz"/>
                </div>
            </div>
            <div class="nw-basis-2/3">
                <div class="nw-mb-4">
                    <div class="nw-mb-2">
                        <label class="nw-font-medium nw-text-xs nw-uppercase nw-leading-5"
                               for="stadt">Stadt*</label>
                    </div>
                    <input class="nw-lesepaten-form  nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                   nw-border nw-rounded nw-box-border nw-cursor-pointer"
                           type="text"
                           name=""
                           id="stadt"
                    />
                </div>
            </div>
        </div>
        <div class="nw-mb-4">
            <div class="nw-mb-2">
                <label class="nw-font-medium nw-text-xs nw-uppercase nw-leading-5"
                       for="schule">WUNSCH-SCHULE(N)</label>
            </div>
            <input class="nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                   nw-border nw-rounded nw-box-border nw-cursor-pointer"
                   type="text"
                   name=""
                   id="schule"
            />
        </div>
        <div class="nw-mb-6">
            <div class="nw-mb-2">
                <label for="comment"
                       class="nw-font-medium nw-text-xs nw-uppercase nw-leading-5">Anmerkung</label>
            </div>
            <textarea id="comment" rows="4"
                      class="nw-w-full nw-px-2 nw-py-3 nw-mx-auto nw-text-base nw-inline-block
                                   nw-border nw-rounded nw-box-border nw-cursor-pointer"></textarea>
        </div>
        <div class="nw-text-xs nw-leading-6 nw-pb-6"><p>* Ein Klassensatz hat bis zu 30 Leseberechtigungen </p>
        </div>
        <div class="nw-mb-2 nw-flex">
            <div>
                <input
                    type="checkbox"
                    name=""
                    id="checkCondition1"
                    class=" nw-form-tick nw-border nw-rounded-sm  nw-nw-border-gray-300 nw-appearance-none
                                    nw-cursor-pointer nw-h-4 nw-w-4 checked:nw-bg-gray-600 focus:outline-none"
                />
            </div>
            <div>
                <label class="nw-flex nw-pl-2 nw-items-center nw-space-x-1">
                            <span class=" nw-pr-6 nw-text-gray-700 nw-text-xs nw-font-normal nw-text-left">
                                Die Bestimmungen zum Widerrufsrecht und die Allgemeinen Geschäftsbedingungen habe ich
                                gelesen und ich erkläre mich mit Ihnen einverstanden.
                            </span>
                </label>
            </div>
        </div>
        <div class="nw-mb-6 nw-flex">
            <div>
                <input
                    type="checkbox"
                    name=""
                    id="checkCondition2"
                    class=" nw-form-tick nw-border nw-rounded-sm nw-nw-border-gray-300 nw-appearance-none
                                    nw-cursor-pointer nw-h-4 nw-w-4  checked:nw-bg-gray-600 focus:outline-none"
                >
            </div>
            <div>
                <label class="nw-flex nw-pl-2 nw-items-center nw-space-x-1">
                            <span
                                class=" nw-pr-6 nw-text-gray-700 nw-text-xs nw-font-normal nw-text-left nw-tracking-normal nw-opacity-100">
                                Ich bin damit einverstanden, dass die Neue Westfälische GmbH & Co. KG mich über Verlagsprodukte,
                                Lesevorteile, Leserreisen und Gewinnspiele per Telefon oder E-Mail informieren darf.
                                Meine Einwilligung kann ich jederzeit widerrufen.
                            </span>
                </label>
            </div>
        </div>
        <input disabled id="registerButton" class=" nw-w-full nw-px-8 nw-py-3 nw-mb-8 nw-mx-auto nw-inline-block
                                                            nw-rounded nw-text-base nw-font-bold nw-text-white nw-bg-red-100
                                                            nw-cursor-pointer"
               type="button"
               value="Jetzt beantragen"

        />
    </form>
</div> 