<style>
    .nw-max-stepper {
        max-width: 206px;
    }
</style>
<div class="nw-lesepaten-anmelden nw-max-w-sm nw-mx-auto nw-px-4 nw-bg-white">
    <div class="nw-text-2xl nw-leading-6 nw-font-bold nw-text-center nw-pb-8 nw-pt-4 md:nw-pt-2"> Ich möchte Lesepate
        werden
    </div>
    <ul class="nw-relative nw-flex nw-flex-row nw-mb-8 nw-max-stepper nw-mx-auto">
        <!-- Item -->
        <li class="nw-shrink nw-basis-0 nw-flex-1 nw-group patewerdenTabs">
            <div
                class="nw-min-w-7 nw-min-h-7 nw-w-full nw-inline-flex nw-items-center nw-text-xs nw-align-middle">
                    <span
                        class="nw-w-7 nw-h-7 nw-flex nw-justify-center nw-items-center nw-flex-shrink-0 nw-bg-green-600 bgChange nw-font-medium nw-text-white nw-rounded-full">
                        1
                    </span>
                <div class=" nw-w-full nw-h-px nw-flex-1 nw-bg-gray-200 group-last:nw-hidden"></div>
            </div>
            <div class="nw-mt-3">
                <span class="nw-block nw-text-xs nw-font-bold nw-text-black textChange">Daten</span>
            </div>
        </li>

        <!-- Item -->
        <li class="nw-shrink nw-basis-0 nw-flex-1 nw-group patewerdenTabs">
            <div
                class="nw-min-w-7 nw-min-h-7 nw-w-full nw-inline-flex nw-items-center nw-text-xs nw-align-middle">
                    <span
                        class="nw-w-7 nw-h-7 nw-flex nw-justify-center nw-items-center nw-flex-shrink-0 nw-bg-gray-200 bgChange nw-font-medium nw-text-white nw-rounded-full">
                        2
                    </span>
                <div class=" nw-w-full nw-h-px nw-flex-1 nw-bg-gray-200 group-last:nw-hidden"></div>
            </div>
            <div class="nw-mt-3">
                <span class="nw-block nw-text-xs nw-text-gray-300 textChange">Schule</span>
            </div>
        </li>

        <!-- Item -->
        <li class="nw-shrink nw-basis-0 nw-flex-1 nw-group patewerdenTabs">
            <div
                class="nw-min-w-7 nw-min-h-7 nw-w-full nw-inline-flex nw-items-center nw-text-xs nw-align-middle">
                    <span
                        class="nw-w-7 nw-h-7 nw-flex nw-justify-center nw-items-center nw-flex-shrink-0 nw-bg-gray-200 bgChange nw-font-medium nw-text-white nw-rounded-full">
                        3
                    </span>
                <div class="nw-w-full nw-h-px nw-flex-1 nw-bg-gray-200 group-last:nw-hidden"></div>
            </div>
            <div class="nw-mt-3">
                <span class="nw-block nw-text-xs nw-text-gray-300 textChange">Profil</span>
            </div>
        </li>
        <!-- Item -->
        <li class="patewerdenTabs nw-rounded-full">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="5"
                 stroke="currentColor"
                 class="nw-w-7 nw-h-7 nw-text-white nw-bg-gray-200 nw-rounded-full nw-p-2 bgChange">
                <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 12.75 6 6 9-13.5"/>
            </svg>
            <div class="nw-mt-3">
                <span class="nw-block nw-text-xs nw-text-gray-300 textChange ">Fertig</span>
            </div>
        </li>
    </ul>
    <!-- End Stepper -->

    <!-- Pages Container ( Schritte ) -->

    <form class="patewerdenContainer ">
        <div class="">
            {{>@patewerden-schritte--daten}}
        </div>
        <!-- Second Container -->
        <div class="nw-hidden">
            {{>@patewerden-schritte--schule}}
        </div>
        <!-- Third Container -->
        <div class="nw-hidden">
            {{>@patewerden-schritte--profil}}
        </div>
        <!-- Fourth Container -->
        <div class="nw-hidden">
            {{>@patewerden-schritte--fertig}}
        </div>
        <div class="nw-hidden">
            {{>@patewerden-schritte--profile-erfolgreich}}
        </div>
        <!-- -->
    </form>
    <div class="nw-flex nw-flex-col md:nw-flex-row nw-gap-x-4 nw-mb-8 ">
        <div class="nw-w-full first-page-buttons ">
            <button id="zurueckButton" class=" nw-w-full nw-mx-auto nw-block
                                                            nw-rounded nw-text-base nw-font-bold nw-bg-white
                                                            nw-cursor-pointer nw-mb-4 nw-border nw-hidden">
                Zurück
            </button>
            <button id="weiterButton" class="  nw-w-full nw-mx-auto nw-block nw-bg-red-500
                                                            nw-rounded nw-text-base nw-font-bold  nw-text-white
                                                            nw-cursor-pointer nw-mb-4 nw-border nw-mt-4"
                    value="Weiter"

            > Weiter
            </button>
        </div>
        <div class="nw-w-full nw-hidden other-pages-buttons">
            <button id="zurueckButton2" class=" nw-w-full nw-mx-auto nw-block
                                                            nw-rounded nw-text-base nw-font-bold nw-bg-white
                                                            nw-cursor-pointer nw-border nw-hidden">
                Zurück
            </button>

            <input type="submit" value="Jetzt beantragen" id="beantragenButton" class=" nw-w-full nw-mx-auto nw-block nw-mb-4 nw-px-4
                                                            nw-rounded nw-text-base nw-font-bold nw-text-white nw-bg-red-500
                                                            nw-cursor-pointer nw-mb-4 nw-border nw-mt-4 ">
        </div>
    </div>
</div>

<script>
    function goToTheNextStep() {
        var steps = document.querySelectorAll('.patewerdenContainer > div');
        var tabs = document.querySelectorAll('.patewerdenTabs');
        var zurueckButton = document.getElementById('zurueckButton');
        var zurueckButton2 = document.getElementById('zurueckButton2');

        for (var i = 0; i < steps.length; i++) {

            if (!steps[i].classList.contains('nw-hidden')) {
                steps[i].classList.add('nw-hidden');
                tabs[i].querySelector('.bgChange').classList.remove('nw-bg-green-600');
                tabs[i].querySelector('.bgChange').classList.add('nw-bg-gray-200');
                tabs[i].querySelector('.textChange').classList.remove('nw-text-black');
                tabs[i].querySelector('.textChange').classList.add('nw-text-gray-300');
                if (i >= 0) {
                    zurueckButton.classList.remove('nw-hidden');
                    zurueckButton2.classList.remove('nw-hidden');
                } else {
                    zurueckButton.classList.add('nw-hidden');
                    zurueckButton2.classList.add('nw-hidden');
                }

                if (i + 1 < steps.length) {
                    steps[i + 1].classList.remove('nw-hidden');
                    tabs[i + 1].querySelector('.bgChange').classList.remove('nw-bg-gray-200');
                    tabs[i + 1].querySelector('.bgChange').classList.add('nw-bg-green-600');
                    tabs[i + 1].querySelector('.textChange').classList.remove('nw-text-gray-300');
                    tabs[i + 1].querySelector('.textChange').classList.add('nw-text-black');

                    if (i + 1 === steps.length - 2) {
                        document.querySelector('.first-page-buttons').classList.add('nw-hidden');
                        document.querySelector('.other-pages-buttons').classList.remove('nw-hidden');
                        document.querySelector('.other-pages-buttons').classList.add('nw-block');
                    }

                }

                break;
            }
        }
    }

    var weiterButton = document.getElementById('weiterButton');
    if (weiterButton) {
        weiterButton.addEventListener('click', goToTheNextStep);
    }


    function goToPreviousStep() {
        var steps = document.querySelectorAll('.patewerdenContainer > div');
        var tabs = document.querySelectorAll('.patewerdenTabs');
        var zurueckButton = document.getElementById('zurueckButton');
        var zurueckButton2 = document.getElementById('zurueckButton2');
        for (var i = 0; i < steps.length; i++) {
            if (!steps[i].classList.contains('nw-hidden')) {
                steps[i].classList.add('nw-hidden');
                tabs[i].querySelector('.bgChange').classList.remove('nw-bg-green-600');
                tabs[i].querySelector('.bgChange').classList.add('nw-bg-gray-200');
                tabs[i].querySelector('.textChange').classList.remove('nw-text-black');
                tabs[i].querySelector('.textChange').classList.add('nw-text-gray-300');
                if (i >= 0) {
                    zurueckButton.classList.remove('nw-hidden');
                    zurueckButton2.classList.remove('nw-hidden');
                } else {
                    zurueckButton.classList.add('nw-hidden');
                    zurueckButton2.classList.add('nw-hidden');
                }
                if (i - 1 >= 0) {
                    steps[i - 1].classList.remove('nw-hidden');
                    tabs[i - 1].querySelector('.bgChange').classList.remove('nw-bg-gray-200');
                    tabs[i - 1].querySelector('.bgChange').classList.add('nw-bg-green-600');
                    tabs[i - 1].querySelector('.textChange').classList.remove('nw-text-gray-300');
                    tabs[i - 1].querySelector('.textChange').classList.add('nw-text-black');
                    document.querySelector('.first-page-buttons').classList.remove('nw-hidden');
                    document.querySelector('.other-pages-buttons').classList.add('nw-hidden');
                    document.querySelector('.other-pages-buttons').classList.remove('nw-block');

                    if (i === 1) {
                        zurueckButton.classList.add('nw-hidden');
                        zurueckButton2.classList.add('nw-hidden');

                    }
                }

                break;
            }
        }
    }

    var zurueckButton = document.getElementById('zurueckButton');
    if (zurueckButton) {
        zurueckButton.addEventListener('click', goToPreviousStep);
    }

    var zurueckButton2 = document.getElementById('zurueckButton2');
    if (zurueckButton2) {
        zurueckButton2.addEventListener('click', goToPreviousStep);
    }

</script>



