<a href="#" class="hover:nw-border-gray-300 hover:nw-text-gray-700 nw-pr-2">
  <span
    class="
      nw-border-b-2 nw-border-transparent nw-align-baseline nw-whitespace-nowrap
    "
    >{{label}}</span
  >
</a>
