<a
  href="#"
  class="
    hover:nw-border-gray-300 hover:nw-text-gray-700
    nw-inline-flex nw-items-center nw-px-1 nw-font-normal nw-whitespace-nowrap
  "
>
  <span class="nw-border-b-2 nw-border-transparent">{{label}}</span>
</a>
