<a href="#" class="nw-mx-1 embla-navigation-slide-active">
  <span
    class="
      nw-border-b
      nw-border-black
      nw-font-bold
      nw-align-baseline
      nw-whitespace-nowrap
    "
    >{{label}}</span
  >
</a>
