<a
  href="#"
  class="
    hover:nw-border-gray-300 hover:nw-text-gray-700
    nw-text-black
    nw-inline-flex
    nw-items-center
    nw-font-normal
    nw-whitespace-nowrap
    nw-pr-2
  "
>
  <span class="nw-border-b-2 nw-font-bold">{{label}}</span>
</a>
