<div class="nw-px-2 nw-mt-8">
  <div
    class="
      nw-bg-gradient-to-b
      nw-from-black
      nw-via-red-400
      nw-to-black
      nw-w-full
      nw-block
      nw-px-2
      nw-pb-8
      nw-rounded-md
    "
  >
    <div
      class="nw-pt-12 nw-text-center nw-font-bold nw-text-2xl md:nw-text-6xl"
    >
      <div class="nw-text-white">Übersichtlich</div>
      <div class="nw-mt-0 md:nw-mt-1 nw-text-red-500">& Intuitiv</div>
      <img
        class="nw-py-8 nw-mx-auto nw-rounded-md nw-w-1/4"
        src="/images/landingpage-fuer-vertrieb/img-asset-epaper-1000x1379.png"
        alt=""
      />
    </div>

    <div
      class="
        nw-grid nw-grid-cols-1
        md:nw-grid-cols-2
        nw-gap-16 nw-pt-12 nw-px-12 nw-hidden
      "
    >
      <div class="nw-font-bold">
        <div class="nw-text-white nw-text-lg md:nw-text-2xl">
          Ich weiß, was bei meinen Kindern los ist!
        </div>
        <div
          class="
            nw-pt-0
            md:nw-pt-4
            nw-mt-4 nw-text-white nw-leading-3
            md:nw-leading-3
            nw-text-4xl
            md:nw-text-7xl
          "
        >
          ”
        </div>
        <div class="nw-text-white nw-text-base md:nw-text-lg">
          Ich wohne in Bielefeld, meine Tochter in Lübbecke, mein Sohn in
          Paderborn. Mit dem ePaper kann ich alle Lokalausgaben kostenlos lesen
          und weiß immer, was bei meinen Kindern los ist.“
        </div>
      </div>
      <div class="nw-font-bold">
        <div class="nw-text-white nw-text-lg md:nw-text-2xl">
          Endlich kein Gerangel mehr um die Zeitung
        </div>
        <div
          class="
            nw-pt-0
            md:nw-pt-4
            nw-mt-4 nw-text-white nw-leading-3
            md:nw-leading-3
            nw-text-4xl
            md:nw-text-7xl
          "
        >
          ”
        </div>
        <div class="nw-text-white nw-text-base md:nw-text-lg">
          Speziell samstags wollen mein Mann und mein Sohn gleichzeitig den
          Sportteil lesen. Mit dem ePaper kann nun auf bis zu vier Geräten
          gleichzeitig gelesen werden.“
        </div>
      </div>
    </div>
    {{>'@button-landingpage'}}
  </div>
</div>
