<div class="nw-bg-white nw-max-w-3xl">
  <div class="nw-bg-gray-100 nw-rounded nw-my-4 nw-shadow-md">
    <div class="nw-p-4">
      <div class="nw-flex nw-items-center">
        <img
          class="nw-w-6 nw-h-6 nw-rounded-full nw-mr-1"
          src="/images/arminia-angebot/img-transfer.jpg"
          alt="Rounded avatar"
        />
        <p class="nw-text-tiny nw-font-bold nw-leading-loose">Futuremen</p>
      </div>
      <span class="nw-text-xs nw-text-custom-1-700 nw-font-medium"
        >Vor 5 Minuten
      </span>
      <p class="nw-text-base nw-py-1">
        Das Problem ist, wer sich nicht in der Gastronomie trifft, quetscht sich
        Daheim mit Freunden in der oft sehr kleinen „GutenStube“ zusammen,
        natürlich ohne MundNasenschutz, geschweige FFP2 Standard! #Nachdenken!
      </p>
    </div>
    <hr class="md:nw-hidden" />
    <div class="nw-text-sm nw-font-medium nw-text-center nw-text-black">
      <ul class="nw-text-center nw-flex md:nw-place-content-end">
        <li class="nw-border-r md:nw-border-r-0 nw-w-1/3 md:nw-w-auto">
          <a
            href="#"
            class="
              tabs
              nw-flex
              nw-leading-tight
              nw-p-2
              nw-justify-center
              nw-text-custom-1-700
            "
            aria-current="page"
          >
            <svg
              class="nw-w-3 nw-h-3 nw-mr-0.5 nw-text-center"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
              />
            </svg>
            Antworten
          </a>
        </li>
        <li class="nw-border-r md:nw-border-r-0 nw-w-1/3 md:nw-w-auto">
          <a
            href="#"
            class="
              tabs
              nw-flex
              nw-leading-tight
              nw-p-2
              nw-text-custom-1-700
              nw-justify-center
            "
          >
            <svg
              class="nw-w-3 nw-h-3 nw-mr-0.5"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
              />
            </svg>
            Melden
          </a>
        </li>
        <li class="nw-w-1/3 md:nw-w-auto">
          <a
            href="#"
            class="
              tabs
              nw-flex
              nw-leading-tight
              nw-p-2
              nw-text-custom-1-700
              nw-justify-center
            "
          >
            <svg
              class="nw-w-3 nw-h-3 nw-mr-0.5"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
              />
            </svg>
            24
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="nw-ml-2 md:nw-ml-12 nw-bg-white">
    <div class="nw-flex nw-flex-grow nw-py-0.5">
      <div class="nw-flex-grow nw-font-medium nw-text-xs nw-uppercase">
        ANTWORTEN AUSBLENDEN
      </div>
      <div class="nw-flex-none">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          class="hideSvg nw-float-right nw-text-red-500 nw-cursor-pointer"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          stroke-width="2"
          data-target="commentBlock-2"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M5 15l7-7 7 7"
          />
        </svg>
      </div>
    </div>
    <hr class="nw-border nw-border-gray-100" />
    <div class="commentBlock-2">
      <div class="nw-bg-white nw-rounded nw-border nw-my-4">
        <div class="nw-p-4">
          <div class="nw-flex nw-items-center">
            <img
              class="nw-w-6 nw-h-6 nw-rounded-full nw-mr-1"
              src="/images/arminia-angebot/img-transfer.jpg"
              alt="Rounded avatar"
            />
            <p class="nw-text-tiny nw-font-bold nw-leading-loose">Futuremen</p>
          </div>
          <span class="nw-text-xs nw-text-custom-1-700 nw-font-medium"
            >Vor 5 Minuten
          </span>
          <p class="nw-text-base nw-py-1">
            Das Problem ist, wer sich nicht in der Gastronomie trifft, quetscht
            sich Daheim mit Freunden in der oft sehr kleinen „GutenStube“
            zusammen, natürlich ohne MundNasenschutz, geschweige FFP2 Standard!
            #Nachdenken!
          </p>
        </div>
        <hr class="md:nw-hidden" />
        <div class="nw-text-sm nw-font-medium nw-text-center nw-text-black">
          <ul class="nw-text-center nw-flex md:nw-place-content-end">
            <li class="nw-border-r md:nw-border-r-0 nw-w-1/3 md:nw-w-auto">
              <a
                href="#"
                class="
                  tabs
                  nw-flex
                  nw-leading-tight
                  nw-p-2
                  nw-justify-center
                  nw-text-custom-1-700
                "
                aria-current="page"
              >
                <svg
                  class="nw-w-3 nw-h-3 nw-mr-0.5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
                  />
                </svg>
                Antworten
              </a>
            </li>
            <li class="nw-border-r md:nw-border-r-0 nw-w-1/3 md:nw-w-auto">
              <a
                href="#"
                class="
                  tabs
                  nw-flex
                  nw-leading-tight
                  nw-p-2
                  nw-text-custom-1-700
                  nw-justify-center
                "
              >
                <svg
                  class="nw-w-3 nw-h-3 nw-mr-0.5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
                  />
                </svg>
                Melden
              </a>
            </li>
            <li class="nw-w-1/3 md:nw-w-auto">
              <a
                href="#"
                class="
                  tabs
                  nw-flex
                  nw-leading-tight
                  nw-p-2
                  nw-text-custom-1-700
                  nw-justify-center
                "
              >
                <svg
                  class="nw-w-3 nw-h-3 nw-mr-0.5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                  />
                </svg>
                24
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <div class="nw-hidden container md:nw-ml-12"></div>
      </div>
      <div class="nw-bg-white nw-rounded nw-border nw-my-4">
        <div class="nw-p-4">
          <div class="nw-flex nw-items-center">
            <img
              class="nw-w-6 nw-h-6 nw-rounded-full nw-mr-1"
              src="/images/arminia-angebot/img-transfer.jpg"
              alt="Rounded avatar"
            />
            <p class="nw-text-tiny nw-font-bold nw-leading-loose">Futuremen</p>
          </div>
          <span class="nw-text-xs nw-text-custom-1-700 nw-font-medium"
            >Vor 5 Minuten</span
          >
          <p class="nw-text-base nw-py-1">
            Das Problem ist, wer sich nicht in der Gastronomie trifft, quetscht
            sich Daheim mit Freunden in der oft sehr kleinen „GutenStube“
            zusammen, natürlich ohne MundNasenschutz, geschweige FFP2 Standard!
            #Nachdenken!
          </p>
        </div>
        <hr class="md:nw-hidden" />
        <div class="nw-text-sm nw-font-medium nw-text-center nw-text-black">
          <ul class="nw-text-center nw-flex md:nw-place-content-end">
            <li class="nw-border-r md:nw-border-r-0 nw-w-1/3 md:nw-w-auto">
              <a
                href="#"
                class="
                  tabs
                  nw-flex
                  nw-leading-tight
                  nw-p-2
                  nw-justify-center
                  nw-text-custom-1-700
                "
                aria-current="page"
              >
                <svg
                  class="nw-w-3 nw-h-3 nw-mr-0.5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M9 15L3 9m0 0l6-6M3 9h12a6 6 0 010 12h-3"
                  />
                </svg>
                Antworten
              </a>
            </li>
            <li class="nw-border-r md:nw-border-r-0 nw-w-1/3 md:nw-w-auto">
              <a
                href="#"
                class="
                  tabs
                  nw-flex
                  nw-leading-tight
                  nw-p-2
                  nw-text-custom-1-700
                  nw-justify-center
                "
              >
                <svg
                  class="nw-w-3 nw-h-3 nw-mr-0.5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
                  />
                </svg>
                Melden
              </a>
            </li>
            <li class="nw-w-1/3 md:nw-w-auto">
              <a
                href="#"
                class="
                  tabs
                  nw-flex
                  nw-leading-tight
                  nw-p-2
                  nw-text-custom-1-700
                  nw-justify-center
                "
              >
                <svg
                  class="nw-w-3 nw-h-3 nw-mr-0.5"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                  />
                </svg>
                24
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div>
        <div class="nw-hidden container md:nw-ml-12"></div>
      </div>
      {{>@kommentar-box}}
    </div>
  </div>
  <div class="nw-my-4">
    <hr class="nw-border nw-border-gray-100" />
    <div class="nw-flex nw-py-2 nw-justify-center">
      <p class="nw-text-xs nw-text-gray-400 nw-font-medium nw-leading-tight">
        Mehr Kommentare anzeigen
      </p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="nw-text-gray-400 nw-ml-0.5 nw-h-3 nw-w-3"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </div>
    <hr class="nw-border nw-border-gray-100" />
  </div>
  <div class="nw-pt-2 nw-pb-4 nw-text-center">
    <p class="nw-text-base nw-font-bold">Guten Tag, Hansfranz1999</p>
    <p class="nw-text-base nw-pt-1 nw-py-4 md:nw-max-w-md nw-mx-auto">
      Als NW+ Abonnent können Sie hier exklusiv Kommentare verfassen und sich
      mit Autoren und Lesern austauschen.
    </p>
    <a
      href="#"
      class="
        nw-inline-flex
        nw-bg-white
        nw-py-1
        nw-px-8
        nw-border
        nw-text-tiny
        nw-font-bold
        nw-text-center
        nw-rounded
        nw-cursor-pointer
      "
    >
      Jetzt kommentieren
    </a>
  </div>
</div>
