<h3 class="nw-mb-3 nw-text-xl nw-uppercase nw-font-bold">Mehr zum Thema</h3>
<div id="nw-reco-box">
  {{#each box}}
  <a href="#" class="nw-reco-link" data-event-value="retresco-reco">
    <div class="nw-reco-item">
      <div class="nw-reco-image-container">
        <img
          src="{{this.img}}"
          class="nw-reco-image"
          loading="lazy"
          width="304"
          height="176"
          alt="Bild zu blabla"
        />
      </div>
      <div class="nw-reco-title">{{>'@nw-plus-icon'}} {{this.caption}}</div>
    </div>
  </a>
  {{/each}}
</div>
