<div class="nw-p-2 nw-bg-white">
  <div class="nw-pb-4">
    <p class="nw-inline nw-text-base md:nw-text-xl nw-uppercase nw-font-bold">
      {{header}}
    </p>
    <hr class="nw-red-line-l nw-mt-0.5" />
  </div>
  <div id="nw-reco-box">
    {{#each box}}
    <a
      href="#"
      class="nw-reco-link md:nw-flex md:nw-justify-center"
      data-event-value="retresco-reco"
    >
      <div class="nw-reco-item">
        <div
          class="
            nw-reco-image-container nw-max-w-32 nw-min-w-32
            md:nw-max-w-none md:nw-min-w-none
          "
        >
          <img
            src="{{this.img}}"
            class="nw-reco-image nw-rounded-md"
            loading="lazy"
            width="304"
            height="176"
            alt="Bild zu blabla"
          />
        </div>
        <div class="nw-reco-title nw-mx-auto">
          <div class="nw-flex nw-flex-row nw-justify-between">
            <p class="nw-reco-bannertext-rebrush">{{this.bannertext}}</p>
            {{>'@nw-plus-icon'}}
          </div>
          <div class="nw-reco-caption-rebrush nw-mb-2">{{this.caption}}</div>
        </div>
      </div>
    </a>
    {{/each}}
  </div>
</div>
