<div class="nw-p-2 nw-bg-white">
    <div class="nw-pb-4">
        <p class="nw-inline nw-text-md md:nw-text-xl nw-uppercase nw-font-bold">
            Mehr zum Thema
        </p>
        <hr class="nw-red-line-l nw-mt-0.5"/>
    </div>
    <div id="reco-box" class="nw-flex nw-flex-col md:nw-flex-row nw-gap-2 md:nw-gap-4">
        <div class="nw-basis-2/3 nw-mb-8">
            <div class="nw-grid nw-grid-col-1 lg:nw-grid-cols-2 nw-gap-4">
                {{#each box-rebrush}} {{>'@recobox-item--rebrush-mit-nw-plus-icon'}} {{/each}}
            </div>
        </div>
        <div
            class="nw-basis-1/3 nw-mb-8 ">
            <!-- Anzeige -->
            <div class="nw-basis-1/3 nw-mb-8 nw-flex nw-text-center nw-justify-center">
                <div style="width: 300px;">
                    <div class="nw-bg-gray-200">Anzeige</div>
                </div>
            </div>
        </div>
    </div>
</div>

