<div class="nw-p-2 nw-bg-white">
  <div class="nw-pb-4">
    <p class="nw-inline nw-text-md md:nw-text-lg nw-uppercase nw-font-bold">
      {{header}}
    </p>
    <hr class="nw-red-line-l nw-mt-0.5"/>
  </div>
  <div id="nw-reco-box-rebrush">
    {{#each box}} {{>'@recobox-item'}} {{/each}}
  </div>
</div>
