<div
  class="nw-mb-6 nw-pt-2 md:nw-pt-0
    nw--mr-4 md:nw--mr-0
    nw-flex
    nw-overflow-x-auto
    nw-overflow-y-hidden
    nw-scrollbar
    nw-scrollbar-horizontal
    nw-whitespace-nowrap
    "
>
  {{#each this.buttons}}
    <div id="button-{{@index}}" class="autoren-buttons nw-cursor-pointer
  nw-rounded-lg
  nw-justify-between
  nw-flex-1 nw-mb-3
  nw-items-center nw-text-center nw-place-content-center
  nw-text-sm
  nw-border
  nw-uppercase
  hover:nw-bg-sky-100
  hover:nw-text-white
  focus:nw-bg-sky-200
  focus:nw-text-white
  "
         style="margin-right:5.8px">
      <a
        type="button"
        class="nw-px-2"
      >
        {{this}}
      </a>
    </div>
  {{/each}}
  <div id="button-Z" class="autoren-buttons nw-cursor-pointer
  nw-rounded-lg
  nw-justify-between
  nw-flex-1 nw-mb-3 nw-mr-4 md:nw-mr-0
  nw-items-center nw-text-center nw-place-content-center
  nw-text-sm
  nw-text-black
  nw-border
  nw-bg-white
  nw-uppercase
  hover:nw-bg-sky-100
  hover:nw-text-white
  focus:nw-bg-sky-200
  focus:nw-text-white">
    <a
      type="button"
      class="nw-px-2"
    >
      Z
    </a>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var searchButtons = document.querySelectorAll('.autoren-buttons');
    searchButtons.forEach(function(searchButton) {
      searchButton.addEventListener('click', function() {
        searchButtons.forEach(function(button) {
          button.classList.remove('nw-bg-sky-0');
          button.classList.add('nw-bg-white');
          button.classList.remove('nw-text-white');
          button.classList.add('nw-text-black');
        });
        searchButton.classList.add('nw-bg-sky-0');
        searchButton.classList.remove('nw-bg-white');
        searchButton.classList.add('nw-text-white');
        searchButton.classList.remove('nw-text-black');
      });
    });
  });
</script>
