{{#each this.epaper-info2}}
<div
  class="
    nw-pl-0
    md:nw-pl-8
    nw-font-bold nw-mb-4 nw-text-base
    md:nw-text-lg md:nw-float-right
  "
>
  <div class="nw-text-red-500">{{this.title}}</div>
  <div>{{this.caption}}</div>
</div>
{{/each}}
