<div class="mx-4 my-2 flex space-x-4">
  <img
    class="h-20 object-cover object-center"
    src="https://images.unsplash.com/photo-1470770841072-f978cf4d019e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=120&q=60"
  />
  <p class="text-tiny font-roboto font-regular">
    Auto aus dem Kreis Lippe fährt in Zaun des Kanzleramts
  </p>
</div>
