<div class="mx-4 my-4 flex space-x-4">
  <div class="flex-none w-teaser-width h-teaser-height">
    <img class="object-cover aspect-w-5 aspect-h-2" src="{{teaserImageSrc}}" />
  </div>

  <p class="flex-grow text-tiny font-regular leading-tight place-self-center">
    {{teaserText}}
  </p>
</div>
