<div class="mx-4 mt-4 flex justify-between font-roboto">
  <p class="text-sm font-bold text-nw-gray-500 tracking-wide uppercase">
    Arminia Bielefeld
  </p>
  <div class="bg-nw-red-200 text-white h-5 w-auto px-0.5 inline-block">
    <p
      class="
        text-sm
        font-medium
        text-center
        align-middle
        tracking-wide
        leading-5
      "
    >
      NW+
    </p>
  </div>
</div>
