<div class="mx-4 mt-4 flex justify-between h-5">
  <p class="text-sm font-bold text-nw-gray-500 tracking-wider uppercase">
    Arminia Bielefeld
  </p>
  <div class="bg-nw-red-200 px-0.5 py-0">
    <p class="text-sm font-medium text-white text-center tracking-wide">NW+</p>
  </div>
</div>
