<div class="nw-mx-4 nw-mt-4 nw-flex nw-justify-between nw-h-5">
  <p class="nw-text-sm nw-font-bold nw-text-nw-gray-500 nw-tracking-wider nw-uppercase">
    Arminia Bielefeld
  </p>
  <div class="nw-bg-nw-red-200 nw-px-0.5 nw-py-0">
    <p class="nw-text-sm nw-font-medium nw-text-white nw-text-center nw-tracking-wide">NW+</p>
  </div>
</div>
