<div>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        width="35"
        viewBox="0 0 80 31"
    >
        <g id="nw-plus_icon" clip-path="url(#clip-nw-plus_icon)">
            <rect width="80" height="31" fill="#fff"/>
            <g
                id="Gruppe_1965"
                data-name="Gruppe 1965"
                transform="translate(0 0)"
            >
                <rect id="BG" width="80" height="31" fill="#d20a11"/>
                <path
                    id="NW_"
                    data-name="NW+"
                    d="M37.294,21.861,33.686,7.237,30.079,21.861h-4.6L20.565,0h4.551l3,15.525L31.768,0h3.866l3.638,15.555L42.256,0h4.551L41.891,21.861Zm-23.838,0L4.567,7.477V21.861H0V0H4.567l8.9,14.414V0h4.551V21.861Zm44.253-.1V13.122H49.825V8.7h7.884V.016h4.413V8.7h7.927v4.425H62.122V21.76Z"
                    transform="translate(4.813 4.888)"
                    fill="#fff"
                />
            </g>
        </g>
    </svg>
</div>
