@use '../variables' as *;

// set basic rem unit
html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  width: 100%;
  font-family: $font-roboto;
  color: $color-font-primary;
  background: $color-background-primary;
  padding: 0;
  overflow-x: hidden;
}

main#nw-container {
  @apply nw-mx-auto nw-pb-7;
}

div.nw-container {
  max-width: 1062px;
  @apply nw-mx-auto nw-bg-white nw-mb-4 nw-pb-4 nw-rounded-b-md nw-shadow-md;
}

.nw-remove-padding-border {
  margin-left: -28px;
  margin-right: -28px;
}

@media (min-width: 768px) {
  div.nw-container {
    padding: 0 28px;
  }
}


@media only screen and (max-width: 600px) {
  .nw-remove-padding-border {
    margin-left: 0px;
    margin-right: 0px;
  }
}


@media only screen and (min-width: 600px) {
  .nw-remove-padding-border {
    margin-left: 0px;
    margin-right: 0px;
  }
}


@media only screen and (min-width: 768px) {
  .nw-remove-padding-border {
    margin-left: -28px;
    margin-right: -28px;
  }
}