<div class="nw-flex nw-flex-col nw-gap-10 nw-p-14 nw-bg-white">
  <div>
    <h1 class="nw-text-md nw-font-medium nw-mb-2">Divider</h1>
    <div class="nw-text-sm nw-text-gray-400 nw-pb-1 nw-font-medium nw-border-b nw-border-gray-100 nw-mb-12"> Boxen, Outlines, Hover-Effekte</div>
    <div class="nw-grid nw-grid.cols-1 md:nw-grid-cols-3 nw-gap-12">

      <div>
        <div class="nw-divide-solid-1-16"> </div>
        <p>nw-divide-solid-1-16</p>
      </div>

      <div>
        <div class="nw-divide-solid-1-24"></div>
        <p>nw-divide-solid-1-24</p>
      </div>

      <div>
        <div class="nw-divide-solid-1-32"></div>
        <p>nw-divide-solid-1-32</p>
      </div>

      <div>
        <div class="nw-divide-solid-2-16"></div>
        <p>nw-divide-solid-2-16</p>
      </div>
      <div>
        <div class="nw-divide-solid-2-24"></div>
        <p>nw-divide-solid-2-24</p>
      </div>
      <div>
        <div class="nw-divide-solid-2-32"></div>
        <p>nw-divide-solid-2-32</p>
      </div>
      <div>
        <div class="nw-divide-dashed-1-16"></div>
        <p>nw-divide-dashed-1-16</p>
      </div>
      <div>
        <div class="nw-divide-dashed-1-24"></div>
        <p>nw-divide-dashed-1-24</p>
      </div>
      <div>
        <div class="nw-divide-dashed-1-32"></div>
        <p>nw-divide-dashed-1-32</p>
      </div>
      <div>
        <div class="nw-divide-dashed-2-16"></div>
        <p>nw-divide-dashed-2-16</p>
      </div>
      <div>
        <div class="nw-divide-dashed-2-24"></div>
        <p>nw-divide-dashed-2-24</p>
      </div>
      <div>
        <div class="nw-divide-dashed-2-32"></div>
        <p>nw-divide-dashed-2-32</p>
      </div>
    </div>
  </div>
</div>