<div class="nw-flex nw-flex-col nw-gap-10 nw-p-14 nw-bg-white">
  <div>
    <h1 class="nw-text-md nw-font-medium nw-mb-2">Lines Standard</h1>
    <div class="nw-text-sm nw-text-gray-400 nw-pb-1 nw-font-medium nw-border-b nw-border-gray-100 nw-mb-12"> 1px stroke weight</div>
    <div class="nw-flex nw-flex-col nw-gap-12">

      <div class="nw-border-b nw-border-gray-400">
      </div>

      <div class="nw-border-b nw-border-gray-100">
      </div>

      <div class="nw-border-b nw-border-dashed nw-border-gray-100">
      </div>

      <div class="nw-border-b nw-border-dashed nw-border-gray-100">
      </div>

    </div>
  </div>

  <div>
    <h1 class="nw-text-md nw-font-medium nw-mb-2">Lines 0.5</h1>
    <div class="nw-text-sm nw-text-gray-400 nw-pb-1 nw-font-medium nw-border-b nw-border-gray-100 nw-mb-12"> 0.5px stroke weight</div>
    <div class="nw-flex nw-flex-col nw-gap-12">

      <div class="nw-border-b nw-border-b-0.5 nw-border-gray-400">
      </div>

      <div class="nw-border-b nw-border-b-0.5 nw-border-gray-100">
      </div>

      <div class="nw-border-b nw-border-b-0.5 nw-border-dashed nw-border-gray-100">
      </div>

      <div class="nw-border-b nw-border-b-0.5 nw-border-dashed nw-border-gray-100">
      </div>

    </div>
  </div>
</div>