<div class="nw-px-4 nw-py-4 md:nw-pb-8 md:nw-pt-4 nw-flex nw-flex-row nw-overflow-x-scroll nw-overflow-y-hidden md:nw-overflow-x-hidden nw-whitespace-nowrap">
    <a href="/" title="Zurück zur Startseite" class="nw-pt-1">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="nw-w-4 nw-h-4 nw-text-gray-600">
            <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd" />
        </svg>
    </a>
    <ol>
        <li>
            <a href="#">
            Ressort
            </a>
        </li>
        <li>
            <a href="#">
                Link zum Unterressort
            </a>
        </li>
        <li>
            Corona-Leugner aus der Region äußern Mordfantasien bei Telegram
        </li>
    </ol>
</div>