<div class="nw-bg-white md:nw-p-4">
  <div class="nw-relative">
    <div class="nw-aspect-w-16 nw-aspect-h-9">
      <picture>
        <source
          media="(max-width: 575px)"
          srcset="/images/arminia-angebot/img-analysen.jpg 575w"
          alt="image-new1"
        />
        <source
          media="(max-width: 768px)"
          srcset="/images/arminia-angebot/img-live-ticker.jpg 768w"
          alt="image-new2"
        />
        <source
          media="(max-width: 1399px)"
          srcset="/images/arminia-angebot/img-transfer.jpg 1200w"
          alt="image-new3"
        />
        <img
          srcset="/images/arminia-angebot/img-live-ticker.jpg 1200w"
          class="nw-object-cover nw-h-full nw-w-full md:nw-rounded-md"
          alt="image-new"
        />
      </picture>
    </div>
    <button
      class="
        nw-absolute
        nw-bottom-2
        nw-right-2
        nw-w-8
        nw-h-8
        nw-border
        nw-border-white
        nw-rounded
        nw-bg-black
      "
      onclick="arrow()"
    >
      <svg
        id="svg"
        xmlns="http://www.w3.org/2000/svg"
        class="nw-text-white nw-m-1 nw-cursor-pointer"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        stroke-width="2"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M19 9l-7 7-7-7"
        />
      </svg>
    </button>
  </div>
  <div id="paragraph" class="transs margin-text">
    <p class="nw-text-sm padding-text">
      Per Handy verbunden: Mehr als 120 Menschen haben sich in einer
      Telegram-Gruppe vernetzt, die von einer Bünderin administriert wird. | ©
      Florian Weyand
    </p>
  </div>
</div>
<style>
  .transs {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.8s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .trans {
    max-height: 400px;
    transition: max-height 0.8s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
</style>
<script>
  function arrow() {
    var x = document.getElementById('paragraph');
    var y = document.getElementById('svg');
    if (x.classList.contains('transs')) {
      x.classList.remove('transs');
      x.classList.add('trans');
    } else {
      x.classList.remove('trans');
      x.classList.add('transs');
    }
    if (y.classList.contains('nw-transform')) {
      y.classList.remove('nw-transform', 'nw-rotate-180');
    } else {
      y.classList.add('nw-transform', 'nw-rotate-180');
    }
  }
</script>
