<section>
    <figure class="nw-bg-gray-100 nw-rounded-md">
        <a href="/images/arminia-angebot/img-transfer.jpg" class="nw-article-image" data-glightbox="type: image; description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan nibh diam, laoreet ultricies nibh consectetur nec. In nec placerat dolor. Suspendisse suscipit dolor nibh, quis ultricies velit imperdiet eu. Curabitur eros ex, dignissim vitae urna quis, viverra finibus nunc. | © Reuters">
            <img
                src="/images/arminia-angebot/img-transfer.jpg"
                class="nw-img-fluid nw-w-full nw-lazy nw-rounded-t-md"
                alt="{{image-caption}}"
                data-format="16:9"
            />
        </a>
        <figcaption class="nw-py-3 nw-px-3 nw-text-sm nw-text-gray-500 nw-leading-6">
            {{image-caption}} | © Reuters
        </figcaption>
    </figure>
</section>
