<section>
  <figure class="nw-bg-gray-100">
    <picture>
      <source
        media="(max-width: 575px)"
        srcset="/images/arminia-angebot/img-analysen.jpg 575w"
        alt="image-new1"
        data-format="16:9"
      />
      <source
        media="(max-width: 768px)"
        srcset="/images/arminia-angebot/img-live-ticker.jpg 768w"
        alt="image-new2"
        data-format="16:9"
      />
      <source
        media="(max-width: 1399px)"
        srcset="/images/arminia-angebot/img-transfer.jpg 1200w"
        alt="image-new3"
        data-format="16:9"
      />
      <img
        srcset="/images/arminia-angebot/img-transfer.jpg 1200w"
        class="nw-img-fluid nw-w-full nw-lazy"
        alt="image-new"
        data-format="16:9"
      />
    </picture>
    <figcaption class="nw-p-4 nw-text-sm nw-text-gray-500 nw-leading-snug">
      {{image-caption}} | © Reuters
    </figcaption>
  </figure>
</section>
