<div class="nw-mx-4 nw-my-4 nw-flex-col nw-space-y-2">
  <div>
    <div
      class="
        nw-relative
        nw-inline-block
        nw-w-12
        nw-mr-2
        nw-align-middle
        nw-select-none
        nw-transition
        nw-duration-200
        nw-ease-in
      "
    >
      <input
        type="checkbox"
        name="toggle"
        id="toggle"
        class="
          nw-toggle-checkbox
          nw-absolute
          nw-block
          nw-w-6
          nw-h-6
          nw-rounded-full
          bg-white
          nw-border-4
          nw-appearance-none
          nw-cursor-pointer
        "
      />
      <label
        for="toggle"
        class="
          nw-toggle-label
          nw-block
          nw-overflow-hidden
          nw-h-6
          nw-rounded-full
          nw-bg-gray-300
          nw-cursor-pointer
        "
      ></label>
    </div>
    <label for="toggle" class="nw-text-black nw-text-tiny nw-font-regular"
      >Externe Inhalte deaktivieren</label
    >
  </div>
  <p class="nw-text-sm nw-font-regular">
    Weitere Hinweise dazu finden Sie in unserer
    <em class="nw-not-italic nw-text-nw-red-100 nw-underline">Datenschutzerklärung.</em>
  </p>
</div>

<style>
  /* CHECKBOX TOGGLE SWITCH */
  /* @apply rules for documentation, these do not work as inline style */
  .nw-toggle-checkbox:checked {
    @apply: nw-right-0 nw-border-green-400;
    right: 0;
    border-color: #68d391;
  }
  .nw-toggle-checkbox:checked + .nw-toggle-label {
    @apply: nw-bg-green-400;
    background-color: #68d391;
  }
</style>
