<div class="nw-bg-white nw-mx-0 nw-px-4">
  <div>
    <p
      class="
        nw-text-left
        nw-text-base
        nw-font-roboto
        nw-font-bold
        nw-opacity-100
        nw-text-black
        nw-pt-4
        nw-pb-2
      "
    >
      {{headline}}
    </p>
  </div>

  <div>
    <p
      class="
        nw-text-left
        nw-text-tiny
        nw-font-roboto
        nw-font-normal
        nw-opacity-100
        nw-text-black
        nw-pt-2
        nw-pb-2
      "
    >
      {{headline}}
    </p>
  </div>

  <div>
    <form action="">
      <input
        class="
          nw-w-full
          nw-px-4
          nw-py-1
          nw-mx-auto
          nw-my-1
          nw-inline-block
          nw-border-2
          nw-border-solid
          nw-border-gray-200
          nw-rounded
          nw-box-border
        "
        type="email"
        id=""
        name="email"
        placeholder="E-Mail.."
      />

      <input
        class="
          nw-w-full
          nw-px-4
          nw-py-1
          nw-mx-auto
          nw-inline-block
          nw-border-2
          nw-border-solid
          nw-border-gray-200
          nw-rounded
          nw-box-border
        "
        type="password"
        id=""
        name="password"
        placeholder="Passwort.."
      />
      <div>
        <p
          class="
            nw-text-right
            nw-text-xs
            nw-py-1
            nw-text-gray-700
            nw-tracking-normal
            nw-font-normal
            nw-opacity-100
            nw-mx-auto
          "
        >
          Passwort vergessen?
        </p>
      </div>
      <div>
        <p
          class="
            nw-text-left
            nw-text-xs
            nw-text-gray-700
            nw-tracking-normal
            nw-font-normal
            nw-opacity-100
            nw-mx-auto
          "
        >
          Angemeldet bleiben?
        </p>
      </div>

      <input
        class="
          nw-w-full
          nw-px-8
          nw-py-1
          nw-mx-auto
          nw-my-1
          nw-inline-block
          nw-rounded
          nw-bg-red-500
          nw-text-white
          hover:nw-bg-red-400
        "
        type="submit"
        value="Anmelden"
      />
    </form>
    <div class="nw-pt-8">
      <hr />
    </div>
    <div class="nw-pb-4">
      <p
        class="
          nw-pt-2
          nw-text-center
          nw-text-base
          nw-font-roboto
          nw-font-bold
          nw-tracking-normal
          nw-text-black
          nw-opacity-100
        "
      >
        Sie haben noch keine Zugang?
      </p>
      <p
        class="
          nw-pt-0.5
          nw-text-center
          nw-text-tiny
          nw-font-roboto
          nw-font-normal
          nw-tracking-normal
          nw-opacity-100
        "
      >
        Jetzt kostenfrei registrieren
      </p>
      <div class="nw-text-center">
        <button
          class="
            nw-mt-1
            nw-bg-white
            nw-border-2
            nw-border-solid
            nw-border-gray-200
            nw-rounded
            nw-text-center
            nw-inline-block
            nw-text-tiny
            nw-font-roboto
            nw-font-bold
            nw-cursor-pointer
            nw-py-1
            nw-px-2
          "
          type="button"
          onclick=""
        >
          Zur Registrierung
        </button>
      </div>
    </div>
  </div>
</div>
