<div class="nw-bg-white nw-py-6">
  <div class="header-hr nw-flex nw-items-center nw-px-4">
    <div
      class="
        heading
        nw-py-6 nw-text-center nw-text-xl nw-uppercase nw-px-4
      "
    >
      Was gerade wichtig ist
    </div>
  </div>
  <!-- grid -->
  <div
    class="
      nw-pt-6
    "
  >
    <!-- box1 -->
    {{>@slider--themeneubersicht}}
    <!-- box1 Ende -->
  </div>
  <div class="nw-mx-4 nw-mt-8 nw-mb-4 nw-text-left">
    <span class="nw-text-lg"> Themenglossar </span>
  </div>
  <!-- buttons -->
  <div class="nw-px-0 md:nw-mx-4">{{>'@glossar-buttons'}}</div>
  <!-- buttons Ende -->
  <div
    class="
      nw-mx-4 nw-grid nw-grid-cols-1
      md:nw-grid-cols-2
      nw-gap-4 nw-mt-6 nw-mb-4
    "
  >
    <!-- box1-->
    {{>'@glossar-boxes' }}
    <!-- box1 Ende-->
  </div>
</div>
