<div class="nw-bg-white nw-pb-4 nw-mx-0 nw-px-4 sm:nw-px-40 md:nw-px-60">
  <div>
    <p
      class="
        nw-text-left
        nw-text-base
        nw-font-roboto
        nw-font-bold
        nw-opacity-100
        nw-text-black
        nw-pt-4
        nw-pb-1
        nw-tracking-normal
      "
    >
      {{headline}}
    </p>
  </div>
  <div>
    <svg
      class="nw-mx-auto nw-text-gray-500"
      xmlns="http://www.w3.org/2000/svg"
      width="35"
      height="35"
      viewBox="0 0 22 22"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
    <div
      class="
        nw-text-black
        nw-font-roboto
        nw-tracking-normal
        nw-text-center
        nw-pt-2
        nw-px-2
      "
    >
      <p class="nw-text-base nw-font-medium">{{caption1}}</p>

      <p class="nw-text-tiny nw-font-normal nw-py-0.5">{{caption2}}</p>
    </div>
    <a
      href=""
      class="
        nw-mt-1
        nw-mb-4
        nw-w-full
        nw-text-white
        nw-bg-red-500
        nw-rounded
        nw-text-center
        nw-inline-block
        nw-text-tiny
        nw-font-roboto
        nw-tracking-normal
        nw-font-bold
        nw-cursor-pointer
        nw-py-1
        nw-px-auto
        hover:nw-bg-red-700
      "
      type="button"
    >
      {{label}}
    </a>
  </div>
</div>
