<div class="nw-max-w-6xl nw-mb-12 sm:nw-mb-0">
    {{>'@logo-section'}} {{>'@menu-section' (contextData '@menu-section') }}
    {{>'@menu-section--sticky' (contextData '@menu-section') }} {{>'@burger-menu'
        (contextData '@burger-menu')}}
</div>
<div class="nw-bg-custom-2-400 nw-rounded-t-md nw-mt-1 nw-py-12 nw-px-4 nw-text-white nw-">
    <div class="nw-flex nw-flex-col">
        <img
                src="/images/nw-plus_icon.svg"
                width="72"
                height="28"
                class="nw-place-self-center"
        />

        <p class="nw-max-w-sm nw-place-self-center nw-text-center nw-mt-3 nw-mb-9">
            Aktuelle Nachrichten, exklusive Berichte und Interviews aus OWL, Deutschland und der Welt
        </p>

        <div class="nw-flex nw-flex-col md:nw-flex-row nw-items-start nw-gap-4">
            <div
                    class="
          nw-bg-white nw-flex nw-flex-col nw-p-4 nw-rounded-md nw-w-full
          md:nw-w-1/3
        "
            >
                <p
                        class="
            nw-text-gray-600
            nw-place-self-center
            nw-font-medium
            nw-text-xl
          "
                >
                    Probe-Monat
                </p>
                <p
                        class="
            nw-text-black nw-text-2xl nw-place-self-center nw-font-bold nw-mb-0.5
          "
                >
                    1,00 &euro;
                </p>
                <p class="nw-text-gray-400 nw-text-center nw-mb-4">
                    danach 9,90 &euro;
                </p>
                <a
                        href="#"
                        class="
            nw-uppercase nw-bg-gray-600
            hover:nw-bg-gray-700
            nw-text-center nw-p-2 nw-rounded-full nw-font-bold nw-mb-2
          "
                >
                    Kaufen
                </a>
            </div>
            <div
                    class="
          nw-bg-white
          nw-flex
          nw-flex-col
          nw-p-4
          nw-rounded-md
          nw-border-t-4
          nw-border-green-400
          nw-drop-shadow
          nw-w-full
          md:nw-w-1/3
        "
            >
                <div class="nw-flex nw-justify-center nw-mb-10" style="margin-top: -44px;"
                >
                    <span class="nw-bg-green-400 nw-font-bold nw-text-sm nw-rounded-full nw-text-center nw-py-1 nw-px-3">Nur für kurze Zeit</span>
                </div>
                <p
                        class="
            nw-text-xl
            nw-text-gray-600
            nw-place-self-center
            nw-font-medium

          "
                >
                    Aktion
                </p>
                <p
                        class="
            nw-text-black nw-text-2xl nw-place-self-center nw-font-bold nw-mb-0.5
          "
                >
                    <span class="nw-text-gray-400 strike-through">9,90 €</span> 5 &euro; mtl.
                </p>
                <p class="nw-text-gray-400 nw-text-center nw-mb-4">
                    Ein Jahr rund 50% sparen
                </p>
                <a
                        href="#"
                        class="
            nw-uppercase nw-bg-red-500
            hover:nw-bg-red-700
            nw-text-center nw-p-2 nw-rounded-full nw-font-bold nw-mb-10
          "
                >
                    Kaufen
                </a>
            </div>
            <div
                    class="
          nw-bg-white nw-flex nw-flex-col nw-p-4 nw-rounded-md nw-w-full
          md:nw-w-1/3
        "
            >
                <p
                        class="
            nw-text-gray-600
            nw-place-self-center
            nw-font-medium
            nw-text-xl
          "
                >
                    Jahr
                </p>
                <p
                        class="
            nw-text-black nw-text-2xl nw-place-self-center nw-font-bold nw-mb-0.5
          "
                >
                    99,00 &euro;
                </p>
                <p class="nw-text-gray-400 nw-text-center nw-mb-4">
                    spare 19,80 €
                </p>
                <a
                        href="#"
                        class="
            nw-uppercase nw-bg-gray-600
            hover:nw-bg-gray-700
            nw-text-center nw-p-2 nw-rounded-full nw-font-bold nw-mb-2
          "
                >
                    Kaufen
                </a>
            </div>
        </div>

        <p class="nw-uppercase nw-text-white nw-text-center nw-mt-8 nw-mb-2">
            Weitere Angebote
        </p>
        <div class="nw-flex nw-place-self-center nw-gap-2">
            <a
                    href="https://shop.nw.de/epaper/"
                    class="
          nw-bg-white nw-text-black nw-border nw-border-transparent
          hover:nw-bg-transparent
          nw-text-center nw-p-2 nw-font-bold hover:nw-bg-transparent hover:nw-text-white hover:nw-border-2 hover:nw-border-white

        "
            >
                ePaper
            </a>
            <a
                    href="https://shop.nw.de/klassische-zeitung/"
                    class=" nw-bg-white nw-text-black nw-border nw-border-transparent
          hover:nw-bg-transparent
          nw-text-center nw-p-2 nw-font-bold hover:nw-bg-transparent hover:nw-text-white hover:nw-border-2 hover:nw-border-white
        "
            >
                Zeitung
            </a>
        </div>
        <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 nw-mt-12 nw-place-self-center"
                viewBox="0 0 20 20"
                fill="currentColor"
                width="32"
                height="32"
        >
            <path
                    fill-rule="evenodd"
                    d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                    clip-rule="evenodd"
            />
        </svg>
        <div class="nw-flex nw-flex-col nw-text-center">
            <p class="nw-text-xl">Bereits Kunde?</p>
            <p class="nw-mb-2">
                Einloggen und Abo verwalten
            </p>

                <a href="#" class="nw-place-self-center nw-bg-transparent nw-border nw-p-2 nw-text-center nw-w-200px hover:nw-text-black hover:nw-bg-white toLogin" onclick="window.scrollTo(0, 0);jQuery('#nw-loginbox').slideToggle(750);"
                >Einloggen</a>
        </div>
    </div>
</div>
<div class="nw-pb-6 nw-bg-white">
    <div class="nw-rounded-b-md nw-p-4 nw-text-white">
        <div class="nw-text-black nw-text-xl nw-font-bold nw-text-center nw-mb-2">
            Fragen und Antworten
        </div>
        <ul class="nw-max-w-xl nw-mx-auto nw-mb-8">
            <li>
                <div class="nw-bg-gray-100 nw-text-black nw-font-bold nw-p-2 nw-mb-1 ">
                    <a href="#" class="faq-opener nw-block">
                        <div class="nw-flex nw-justify-between">
                            <p>NW+, was ist das eigentlich?</p>

                            <svg class="nw--rotate-90" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20" fill="currentColor" height="20" width="20">
                                <path fill-rule="evenodd"
                                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>

                        </div>
                    </a>

                    <div class="faq-toggle nw-pt-2">
                        <p class="nw-font-normal">Auf NW.de sind einige exklusive Artikel nur zugänglich, wenn Sie ein
                            Abonnement (z.B. Schnupper-Abo) abgeschlossen haben. Mit dem Abo erhalten Sie unbegrenzten
                            Zugriff auf alle Plus-Artikel der NW (im Web und in der kostenlosen News-App). Plus-Inhalte
                            erkennen Sie am roten NW+ Symbol. </p>
                    </div>


                </div>
            </li>
            <li>
                <div class="nw-bg-gray-100 nw-text-black nw-font-bold nw-p-2 nw-mb-1">
                    <a href="#" class="faq-opener nw-block" data-target="">
                        <div class="nw-flex nw-justify-between">
                            <p>Wie viel kostet ein NW+ Abo? </p>
                            <svg class="embla-navigation__button__svg" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20" fill="currentColor" height="20" width="20">
                                <path fill-rule="evenodd"
                                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>

                        </div>
                    </a>
                    <div class="faq-toggle nw-pt-2 nw-hidden" id="">
                        <p class="nw-font-normal">Für den ersten Monat zahlen Sie nur 1 €. Testen Sie NW+ in diesen vier
                            Wochen intensiv – und risikolos. Danach zahlen Sie den regulären Monatspreis von 9,90 €.<br><br>
                            Haben Sie sich für eine Mindestlaufzeit von einem Jahr entschieden, kostet Ihr NW+ Abo nur
                            99,00 € pro Jahr. Sie sparen jährlich rund 19,80 € gegenüber der monatlichen Zahlungsweise.
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="nw-bg-gray-100 nw-text-black nw-font-bold nw-p-2 nw-mb-1">
                    <a href="#" class="faq-opener nw-block">
                        <div class="nw-flex nw-justify-between">
                            <p>Kann ich das NW+ Abo jederzeit kündigen?</p>
                            <svg class="embla-navigation__button__svg" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20" fill="currentColor" height="20" width="20">
                                <path fill-rule="evenodd"
                                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>

                        </div>
                    </a>
                    <div class="faq-toggle nw-pt-2 nw-hidden">
                        <p class="nw-font-normal">Sie können Ihr NW+ Abo bis 3 Werktage vor Ende des bezahlten Zeitraums
                            ganz bequem online kündigen. Wählen Sie dazu einfach “Abo beenden” in Ihrem Kundenkonto
                            aus. </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="nw-bg-gray-100 nw-text-black nw-font-bold nw-p-2 nw-mb-1 faq-parent">
                    <a href="#" class="faq-opener nw-block">
                        <div class="nw-flex nw-justify-between">
                            <p>Was kann ich in meinem Kundenkonto selber verwalten? </p>
                            <svg class="embla-navigation__button__svg" xmlns="http://www.w3.org/2000/svg"
                                 viewBox="0 0 20 20" fill="currentColor" height="20" width="20">
                                <path fill-rule="evenodd"
                                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                                      clip-rule="evenodd"></path>
                            </svg>

                        </div>
                    </a>
                    <div class="faq-toggle nw-pt-2 nw-hidden nw-font-normal">
                        <p class="nw-pb-2">In Ihrem Kundenkonto können Sie Ihre Daten jederzeit einsehen und
                            selbstständig verwalten: </p>
                        <ul class="nw-list-disc nw-pl-3">
                            <li>Übersicht Ihrer Abonnements</li>
                            <li>Persönliche Daten ändern (Name, Adresse)</li>
                            <li>Newsletter verwalten</li>
                            <li>Plus-Zugang: Benutzername, E-Mail-Adresse oder Passwort ändern</li>
                            <li>Zahlart aktualisieren</li>
                            <li>Abo kündigen</li>
                            <li>Rechnungen einsehen und herunterladen</li>
                            <li>Probleme melden</li>
                            <li>Archiv-Downloads einsehen und herunterladen</li>
                            <li>Immatrikulationsbescheinigung hochladen</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="nw-bg-white nw-pb-6">
    <div class="nw-mb-2">
        <div class="nw-text-black nw-text-xl nw-font-bold nw-text-center">
            Benötigen Sie Hilfe?
        </div>
        <p class="nw-text-black nw-text-center">Wir helfen Ihnen gerne.</p>
    </div>

    <div
            class="nw-flex nw-flex-col md:nw-flex-row nw-items-start nw-justify-center nw-gap-4"
    >
        <div
                class="
        nw-bg-white
        nw-flex
        nw-flex-col
        nw-p-4
        nw-rounded-md
        nw-border
        nw-border-g
        nw-w-full
        md:nw-w-1/3
        nw-text-black nw-text-center
      "
        >
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 nw-mx-auto  nw-mb-1"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                    width="32"
                    height="24"
            >
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
                />
            </svg>
            <p class="nw-font-bold">Schreiben Sie uns</p>
            <p><a class="hover:nw-text-red-500" href="mailto:aboservice@nw.de">aboservice@nw.de</a></p>
        </div>
        <div
                class="
        nw-bg-white
        nw-flex
        nw-flex-col
        nw-p-4
        nw-rounded-md
        nw-border
        nw-border-g
        nw-w-full

        md:nw-w-1/3
        nw-text-black nw-text-center
      "
        >
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 nw-mx-auto  nw-mb-1"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="2"
                    width="32"
                    height="24"
            >
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"
                />
            </svg>
            <p class="nw-font-bold nw-text-center">Rufen Sie uns an</p>
            <a class="hover:nw-text-red-500" href="tel:+49521555999">+49 521 555 999</a>
        </div>
    </div>
</div>

<style>
    .strike-through {
        position: relative;
        display: inline-block;
        font-size: 90%;

    }

    .strike-through:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        border: 2px solid red;
        width: 100%;
        transform: rotate(-5deg);
    }
</style>

