<button type="submit"
        class="nw-w-full nw-bg-red-0 nw-border nw-border-transparent nw-rounded-md nw-py-1 nw-px-4 nw-flex nw-items-center nw-justify-center
nw-text-base nw-text-white nw-font-medium hover:nw-bg-red-100 focus:nw-bg-red-200
</button>