{{#each this.epaper-info}}
<div
  class="
    nw-mx-8
    md:nw-mx-0
    nw-pr-0
    md:nw-pr-8
    nw-font-bold nw-mb-4 nw-text-sm
    md:nw-text-lg
  "
>
  <div class="nw-text-red-500">{{this.title}}</div>
  <div>{{this.caption}}</div>
</div>
{{/each}}
