<div class="nw-py-4 nw-bg-white">
  <p class="nw-text-xl nw-uppercase nw-font-bold nw-pb-2">LINKS ZUM THEMA</p>
  <ul class="nw-px-4 nw-list-disc nw-text-base">
    {{#each links}}
    <li><a class="nw-text-red-500">{{this}}</a></li>
    {{/each}}
  </ul>
</div>
