<div class="nw-py-6 nw-bg-white nw-mt-2.5">
    <p class="nw-text-lg md:nw-text-xl nw-uppercase nw-font-bold nw-pb-3">LINKS ZUM THEMA</p>
    <div class="article-detail-links">
        {{#each links}}
            <p><a>{{this}}</a></p>
        {{/each}}
    </div>
</div>