<div class="nw-px-4">
  <div class="nw-text-black nw-text-xl nw-font-bold nw-pt-4">Bielefeld</div>
  <div class="nw-grid nw-grid-cols-1 sm:nw-grid-cols-2 md:nw-grid-cols-3">
    {{#each this.kandidat}}
    <div class="nw-pt-4">
      <img class="nw-rounded-md nw-w-full nw-object-cover" src="{{this.img}}" />
      <div
        class="
          nw-pt-2 nw-uppercase nw-font-medium nw-text-tiny nw-text-gray-600
        "
      >
        {{this.header}}
      </div>
      <div class="nw-font-bold nw-text-base nw-text-black">{{this.name}}</div>
    </div>
    {{/each}}
  </div>
</div>
