<footer class="nw-bg-gray-800 nw-text-sm" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="nw-sr-only">Footer</h2>
  <div
    class="
      nw-max-w-7xl nw-mx-auto nw-py-8 nw-px-4
      sm:nw-px-6
      lg:nw-py-8 lg:nw-px-8
    "
  >
    <div class="xl:nw-grid xl:nw-grid-cols-3 xl:nw-gap-8">
      <div class="nw-grid nw-grid-cols-2 nw-gap-8 xl:nw-col-span-2">
        <div class="md:nw-grid md:nw-grid-cols-2 md:nw-gap-8">
          <div>
            {{>'@footer-headline'}}
            <div class="nw-flex nw-flex-col nw-gap-2 nw-pt-4">
              <img
                src="/images/label_google-play@2x.png"
                class="nw-w-32 md:nw-max-w-md"
                title="Android Newsapp - Neue Westfälische"
                alt="Android Newsapp - Neue Westfälische"
              />
              <img
                src="/images/label-appstore@2x.png"
                class="nw-w-32 md:nw-max-w-md"
                title="iOS Newsapp - Neue Westfälische"
                alt="iOS Newsapp - Neue Westfälische"
              />
            </div>
          </div>
          <div class="nw-mt-12 md:nw-mt-0">
            {{#with columns}} {{>'@footer-headline' nwportale}}
            {{>'@footer-section' nwportale}} {{/with}}
          </div>
        </div>
        <div class="md:nw-grid md:nw-grid-cols-2 md:nw-gap-8">
          <div>
            {{#with columns}} {{>'@footer-headline' service}}
            {{>'@footer-section' service}} {{/with}}
          </div>
          <div class="nw-mt-12 md:nw-mt-0">
            {{#with columns}} {{>'@footer-headline' rechtliches}}
            {{>'@footer-section' rechtliches}} {{/with}}
          </div>
        </div>
      </div>
      <div class="nw-mt-8 xl:nw-mt-0">
        {{>@footer-headline columns.newsletter}}
        <p class="nw-mt-4 nw-text-base nw-text-gray-100">
          {{columns.newsletter.menuitems.[0].menuitem}}
        </p>
        <form
          class="nw-mt-4 sm:nw-flex sm:nw-max-w-md nw-flex nw-flex-col nw-gap-2"
        >
          {{>@input--email (contextData '@input')}}
          <div class="nw-rounded-md sm:nw-flex-shrink-0">
            {{>'@submit-button' submitButton}}
          </div>
        </form>
      </div>
    </div>
    <div
      class="
        nw-mt-8 nw-border-t nw-border-gray-600 nw-pt-8
        md:nw-flex md:nw-items-center md:nw-justify-between
      "
    >
      <div
        class="
          nw-flex nw-justify-start
          md:nw-justify-end
          nw-gap-1
          md:nw-order-2
        "
      >
        {{>'@social-media-button' socialmedia.facebook}}
        {{>'@social-media-button' socialmedia.twitter}}
        {{>'@social-media-button' socialmedia.pinterest}}
        {{>'@social-media-button' socialmedia.instagram}}
      </div>
      <p class="nw-mt-8 nw-text-base nw-text-gray-400 md:nw-mt-0 md:nw-order-1">
        © Zeitungsverlag Neue Westfälische GmbH & Co. KG
      </p>
    </div>
  </div>
</footer>
