<h3>Mehr zum Thema</h3>
<div id="nw-reco-box">
  <a href="#" class="nw-reco-link" data-event-value="retresco-reco">
    <div class="nw-reco-item">
      <div class="nw-reco-image-container">
        <img
          src="https://via.placeholder.com/304x176"
          class="nw-reco-image"
          loading="lazy"
          width="304"
          height="176"
          alt="Bild zu blabla"
        />
      </div>
      <div class="nw-reco-title">
        <img
          src="https://www.nw.de/_apps/nw/plus.svg"
          height="14"
          width="36"
          alt=""
        />
        Lorem ipsum
      </div>
    </div>
  </a>

  <a href="#" class="nw-reco-link" data-event-value="retresco-reco">
    <div class="nw-reco-item">
      <div class="nw-reco-image-container">
        <img
          src="https://via.placeholder.com/304x176"
          class="nw-reco-image"
          loading="lazy"
          width="304"
          height="176"
          alt="Bild zu blabla"
        />
      </div>
      <div class="nw-reco-title">
        <img
          src="https://www.nw.de/_apps/nw/plus.svg"
          height="14"
          width="36"
          alt=""
        />
        Lorem ipsum
      </div>
    </div>
  </a>

  <a href="#" class="nw-reco-link" data-event-value="retresco-reco">
    <div class="nw-reco-item">
      <div class="nw-reco-image-container">
        <img
          src="https://via.placeholder.com/304x176"
          class="nw-reco-image"
          loading="lazy"
          width="304"
          height="176"
          alt="Bild zu blabla"
        />
      </div>
      <div class="nw-reco-title">
        <img
          src="https://www.nw.de/_apps/nw/plus.svg"
          height="14"
          width="36"
          alt=""
        />
        Lorem ipsum
      </div>
    </div>
  </a>

  <a href="#" class="nw-reco-link" data-event-value="retresco-reco">
    <div class="nw-reco-item">
      <div class="nw-reco-image-container">
        <img
          src="https://via.placeholder.com/304x176"
          class="nw-reco-image"
          loading="lazy"
          width="304"
          height="176"
          alt="Bild zu blabla"
        />
      </div>
      <div class="nw-reco-title">
        <img
          src="https://www.nw.de/_apps/nw/plus.svg"
          height="14"
          width="36"
          alt=""
        />
        Lorem ipsum
      </div>
    </div>
  </a>

  <a href="#" class="nw-reco-link" data-event-value="retresco-reco">
    <div class="nw-reco-item">
      <div class="nw-reco-image-container">
        <img
          src="https://via.placeholder.com/304x176"
          class="nw-reco-image"
          loading="lazy"
          width="304"
          height="176"
          alt="Bild zu blabla"
        />
      </div>
      <div class="nw-reco-title">
        <img
          src="https://www.nw.de/_apps/nw/plus.svg"
          height="14"
          width="36"
          alt=""
        />
        Lorem ipsum
      </div>
    </div>
  </a>

  <a href="#" class="nw-reco-link" data-event-value="retresco-reco">
    <div class="nw-reco-item">
      <div class="nw-reco-image-container">
        <img
          src="https://via.placeholder.com/304x176"
          class="nw-reco-image"
          loading="lazy"
          width="304"
          height="176"
          alt="Bild zu blabla"
        />
      </div>
      <div class="nw-reco-title">
        <img
          src="https://www.nw.de/_apps/nw/plus.svg"
          height="14"
          width="36"
          alt=""
        />
        Lorem ipsum
      </div>
    </div>
  </a>
</div>
