<div class="nw-mx-auto nw-bg-white nw-pb-6" style="max-width: 1064px;">
  {{>@xlarge}}
  <div class="nw-flex nw-flex-col md:nw-flex-row nw-justify-between">
    {{>@large}}  {{>@large}}  {{>@large}}
  </div>
</div>