
  <div class="nw-bg-white nw-p-4 nw-max-w-md nw-mx-auto nw-rounded-md nw-mb-6" style="max-width: 440px;">
    <div
    class=" nw-text-2xl nw-leading-6
      nw-text-gray-700
      nw-flex
      nw-justify-end
      nw-cursor-pointer
      nw-tracking-tighter nw--mt-2 nw-mb-2.5
    "
    >
    ×
    </div>
    <div class="nw-flex nw-justify-center nw-mb-2">
      <div class="nw-newsletter-icon-notification nw-newsletter-icon-false">
      </div>
    </div>
    <div class="nw-text-center nw-px-8 nw-mx-auto">
      <p class="nw-text-xl nw-font-bold nw-pb-2 nw-text-black">
        Sie erhalten in wenigen Minuten
        eine E-Mail zur Bestätigung
        Ihrer Anmeldung.
      </p>
      <div class="nw-text-gray-400 nw-text-base nw-pb-1 nw-font-medium">
        <p>
         Erst danach ist diese abgeschlossen.
        </p>
        <p>
         Bitte prüfen Sie auch den Spam-Ordner.
        </p>
      </div>
    </div>
  </div>
  <!-- 2-->
  <div class="nw-bg-white nw-p-4 nw-max-w-md nw-mx-auto nw-rounded-md nw-mb-6" style="max-width: 440px">
    <div
      class="nw-text-2xl nw-leading-6
      nw-text-gray-700
      nw-flex
      nw-justify-end
      nw-cursor-pointer
      nw-tracking-tighter nw--mt-2 nw-mb-2.5">
      ×
    </div>
    <div class="nw-flex nw-justify-center nw-mb-2">
      <div class="nw-newsletter-icon-notification nw-newsletter-icon-check">
      </div>
    </div>
    <div class="nw-text-center nw-px-8 nw-mx-auto nw-mb-8">
      <p class="nw-text-xl nw-font-bold nw-mb-4 nw-text-black">
        Ihre Anmeldung
        war erfolgreich.
      </p>
      <a href="#" class="nw-btn-primary-md">
        Weitere Newsletter entdecken
      </a>
    </div>
  </div>
  <!-- 3-->
  <div class="nw-bg-white nw-p-4 nw-max-w-md nw-mx-auto nw-rounded-md" style="max-width: 440px">
    <div
      class="nw-text-2xl nw-leading-6
      nw-text-gray-700
      nw-flex
      nw-justify-end
      nw-cursor-pointer
      nw-tracking-tighter nw--mt-2 nw-mb-2.5
    "
    >
      ×
    </div>
    <div class="nw-flex nw-justify-center nw-mb-2">
      <div class="nw-newsletter-icon-notification nw-newsletter-icon-warning">
      </div>
    </div>
    <div class="nw-text-center nw-px-8 nw-mx-auto nw-mb-8">
      <p class="nw-text-xl nw-font-bold nw-mb-4 nw-text-black">
        Sie sind bereits für den
        Newsletter angemeldet.
      </p>
      <a href="#" class="nw-btn-primary-md">
        Weitere Newsletter entdecken
      </a>
    </div>
  </div>
