<div class="nw-bg-white nw-py-6">
  <div class="nw-pb-6 nw-px-2 nw-text-center">
    <span class="nw-text-xl nw-text-gray-400 nw-uppercase">
      ALLE SCHLAGWORTE MIT <span class="nw-text-black">A </span>
    </span>
  </div>
  <!--buttons -->
  <div class="nw-px-0 md:nw-mx-4">{{>'@glossar-buttons'}}</div>
  <!--buttons Ende -->
  {{>'@wort-page'}}
</div>
