<div class="nw-grid nw-grid-cols-1 md:nw-grid-cols-2">
  <div
    class="
      nw-grid nw-grid-cols-1
      lg:nw-grid-cols-2
      nw-rounded-lg
      nw-overflow-hidden
      nw-bg-white
      nw-bg-origin-padding
      nw-bg-no-repeat
      nw-shadow-md
    "
  >
    <div>{{>@image--teaser-half-page-image}}</div>
    <div class="nw-p-2">{{>@banner}}{{>@headline--teaser-half-page}}</div>
  </div>
  <div></div>
</div>
