<article>
    <a href="#">

            <div
                    class="
      nw-overflow-hidden
      nw-bg-white
      nw-bg-origin-padding
      nw-bg-no-repeat
      nw-shadow-md
    "
            >
                <div class="nw-aspect-w-16 nw-aspect-h-9">
                    <img class="nw-object-cover nw-h-full nw-w-full" src="https://www.nw.de/_em_daten/_cache/image/1xb2EyMnJYbmVHYTJidlVQUnJQK3RBajdWS2xsS3d4WVVhSFdpcUM4dWx5T0J3TEJ2bjE5VDQ4SWF4ZnhpN3d0OHBSS1duVnFZNkFjMTJZWGtlMXlyTUE9PQ/220922_1507_388436868.jpg" />
                </div>



                <div class="nw-px-2 nw-pt-2">
                      <div class="nw-mb-2 lg:nw-mb-1 nw-flex nw-justify-between nw-h-5">
                        <p
                                class="
          nw-text-md
          nw-text-left
          nw-text-gray-500
        "
                        >
                            Musik-Comedy
                        </p>
                    </div>
                </div>
            <div class="nw-px-2 nw-pb-2">
            <h3 class="nw-font-bold nw-text-lg">Reis Against The Spülmaschine spielt in Bielefeld</h3>
            </div></div>
    </a>
</article>
