<div class="nw-relative nw-pt-4">
  <div
    class="
      nw-w-full
      nw-h-full
      nw-flex
      nw-flex-col
      nw-absolute
      nw-top-0
      nw-left-0
      nw-items-top
      nw-z-30
    "
  >
    <div
      class="
        nw-text-2xl
        md:nw-text-3xl
        nw-font-bold nw-text-white nw-pt-12 nw-px-4 nw-max-w-xs
      "
    >
      Entdecken Sie die Produktwelt von NW.de
    </div>
  </div>
  <img class="nw-rounded-md nw-object-cover nw-w-full" src="{{image-src-m}}" />
</div>
