<style>
  .carmen {
    height: 800px;
  }
</style>
<style>
  @media (min-width: 1082px) {
    #nw-width-header,
    #element {
      width: 1062px;
      margin: 0 auto;
    }
  }

  .transition-oppening {
    transition: max-height 0.25s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .transition-closing {
    transition: max-height 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
</style>

<div class="nw-font-bold">
  <div class="carmen nw-mb-8 nw-bg-gray-400">Carmen</div>
  <div class="carmen nw-bg-black nw-text-white">carmen</div>
</div>

<div class="nw-z-10 nw-w-full nw-left-0 nw-bottom-0 nw-fixed">
  <div
    id="bodys"
    class="nw-py-1 sm:nw-py-0"
    style="background-color: rgb(0, 175, 203)"
  >
    <div class="nw-absolute nw-w-full nw-flex nw-justify-center">
      <div
        style="background-color: rgb(0, 175, 203)"
        class="
          nw-inline-flex nw-cursor-pointer nw--mt-4
          sm:nw--mt-5
          nw-rounded-full
        "
        onclick="closefooter()"
      >
        <button class="nw-flex nw-items-center">
          <svg
            id="arrowSvg"
            xmlns="http://www.w3.org/2000/svg"
            width="15"
            height="15"
            class="nw-text-white nw-m-1 sm:nw-m-2"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M5 15l7-7 7 7"
            />
          </svg>
        </button>
      </div>
    </div>
    <div
      id="nw-width-header"
      class="
        nw-flex
        sm:nw-flex-row
        nw-justify-between
        nw-items-center
        nw-text-white
        nw-font-bold
        nw-py-1
        nw-pl-2
      "
      style="background-color: rgb(0, 175, 203)"
    >
      <div>
        <div class="nw-inline-block nw-align-middle nw-mr-1">
          {{>'@nw-plus-icon'}}
        </div>
        <div class="nw-inline-block nw-text-md">{{caption}}</div>
      </div>

      <div
        id="close"
        class="
          nw-text-gray-200 nw-flex nw-justify-end nw-cursor-pointer nw-px-2
        "
      >
        ×
      </div>
    </div>
  </div>

  <div class="nw-bg-white">
    <div
      id="element"
      class="transition-closing transition-oppening nw-overflow-hidden"
    >
      <div
        class="
          nw-flex nw-flex-col
          sm:nw-flex-row
          nw-justify-between
          nw-bg-white
          nw-p-1
          nw-pl-2
          nw-justify-center
          nw-items-center
        "
      >
        <div class="nw-font-bold nw-text-md nw-my-1">
          <div class="nw-list-none nw-text-center sm:nw-text-left">
            {{#each footeritems}}
            <li>{{this}}</li>
            {{/each}}
          </div>
        </div>
        <div
          class="nw-flex nw-justify-center sm:nw-justify-end nw-mb-2 sm:nw-mb-0"
        >
          {{>'@nw-plus-cta'}}
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  window.onscroll = function () {
    scrollFunction();
  };
  var element = document.getElementById('element');
  var svg = document.getElementById('arrowSvg');

  function scrollFunction() {
    if (
      document.body.scrollTop > 20 ||
      document.documentElement.scrollTop > 20
    ) {
      if (element.style.maxHeight === '10rem') {
        element.style.maxHeight = '0px';
        element.classList.remove('transition-oppening');
        element.classList.add('transition-closing');
      }
    } else {
      element.style.maxHeight = '10rem';
      element.classList.remove('transition-closing');
      element.classList.add('transition-oppening');
    }
  }

  document.addEventListener('DOMContentLoaded', function (event) {
    element.style.maxHeight = '10rem';
  });

  function closefooter() {
    if (element.style.maxHeight === '10rem') {
      element.style.maxHeight = '0px';
      element.classList.remove('transition-oppening');
      element.classList.add('transition-closing');
    } else {
      element.style.maxHeight = '10rem';
      element.classList.remove('transition-closing');
      element.classList.add('transition-oppening');
    }

    if (svg.classList.contains('nw-transform')) {
      svg.classList.remove('nw-transform', 'nw-rotate-180');
    } else {
      svg.classList.add('nw-transform', 'nw-rotate-180');
    }
  }

  var closebtns = document.getElementById('close');
  var bodyall = document.getElementById('bodys');

  closebtns.addEventListener('click', function () {
    bodyall.parentElement.style.display = 'none';
    element.parentElement.style.display = 'none';
  });
</script>
