<div>
  <div
    class="
      nw-grid
      sm:nw-grid-cols-2
      nw-px-1
      nw-py-1
      nw-bg-white
      nw-pl-2
      nw-flex
      nw-justify-center
      nw-items-center
    "
  >
    <div class="nw-font-bold nw-text-md nw-my-1">
      <div class="nw-list-none nw-text-center sm:nw-text-left">
        {{#each footeritems}}
        <li>{{this}}</li>
        {{/each}}
      </div>
    </div>
    <div class="nw-flex nw-justify-center sm:nw-justify-end nw-mb-2 sm:nw-mb-0">
      {{>'@nw-plus-cta'}}
    </div>
  </div>
</div>
