<div class="mx-4 my-4 divide-y-2">
  <div class="flex space-x-1 h-3 mb-1">
    <div class="w-3 h-3 border-2 rounded-full border-nw-red-100 flex"></div>
    <p class="text-sm font-bold place-self-center tracking-wide uppercase">
      {{sectionTitle}}
    </p>
  </div>
  <p class="text-tiny font-regular pt-2">{{sectionText}}</p>
</div>
