.nw-red-line-m {
  width: 40px;
  border-bottom: 2px solid #d20a11;
  border-top-width: 0;
}

.nw-red-line-l {
  width: 64px;
  border-bottom: 2px solid #d20a11;
  border-top-width: 0;
}

.margin-text {
  position: relative;
  margin-top: -3rem;
  margin-bottom: 0;
  margin-right: 3.5rem;
  margin-left: 0;
  background-color: white;
  border-top-right-radius: 0.25rem;
}

.padding-text {
  padding: 1rem 2rem 1.5625rem 2rem;
}

.nw-ads-height-width {
  height: 250px;
  width: 300px;
}

.nw-ads-height-width-header {
  height: 250px;
  max-width: 970px;
}

.nw-ads-header-height-width {
  height: 30px;
  width: 300px;
}

.nw-ads-body-height-width {
  height: 334px;
  max-width: 560px;
}
