.kommentar-teaser-img-container{
  width: 120px;
  max-width: 120px;
  height: 120px;
}

.autoren-img-container{
  width: 148px;
  max-width: 148px;
  height: 148px;
}
.autoren-sortieren-container{
  width: 80px;
  max-width: 80px;
  height: 80px;
}
.newsletter-boxen {
  height: 250px;
}
@media (min-width: 768px) {
  .newsletter-boxen {
    height: 100%;
  }

  .autoren-img-container {
    width: 248px;
    max-width: 248px;
    height: 248px;
  }

  .nw-beitraege-img > img{
    width: 290px;
    max-width: 290px;
    height: 189px;
  }

  .autoren-sortieren-container{
    width: 104px;
    max-width: 104px;
    height: 104px;
  }
  .autoren-search-buttons {
    margin-right:5.8px;
  }
}
