.nw-burger-menu-switcher {
  @apply nw-cursor-pointer;
}

#nw-sidebar-navigation {
  @apply nw-fixed nw-top-0 nw-left-0 nw-w-72 nw-h-full nw-bg-custom-1-700 nw-overflow-y-auto nw-text-sm nw-z-50 nw-transform nw--translate-x-72;

  &.nw-close-burgermenu {
    @apply nw-inline-block nw-transform nw--translate-x-72 nw-duration-500;
  }

  &.nw-open-burgermenu {
    @apply nw-inline-block nw-transform nw-translate-x-0 nw-duration-500;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background-color: #d9d9d9;
    }

    &::-webkit-scrollbar-thumb {
      background: #999999;
      border-radius: 100px;
    }
  }

  .nw-nav-item {
    @apply nw-bg-gray-100;

    > div {
      @apply nw-flex nw-justify-between nw-py-2 nw-pl-3 nw-border-b;

      > a {
        @apply nw-text-black nw-uppercase nw-text-sm nw-flex-grow;
      }

      .nw-dropdown-indicator-closed {
        @apply nw-px-2 nw-inline-block;
      }

      .nw-dropdown-indicator-open {
        @apply nw-px-2 nw-hidden;
      }
    }

    &.open {
      @apply nw-border-b nw-bg-white;

      .nw-burger-nav-2nd {
        @apply nw-block;
      }

      > div {
        @apply nw-flex nw-justify-between nw-py-2 nw-bg-white;

        > a {
          @apply nw-text-red-500 nw-uppercase nw-text-sm nw-flex-grow;
        }

        .nw-dropdown-indicator-closed {
          @apply nw-hidden;
        }

        .nw-dropdown-indicator-open {
          @apply nw-inline-block;
        }
      }
    }

    .nw-burger-nav-2nd {
      @apply nw-bg-white nw-hidden;

      .nw-dropdown-indicator-closed {
        @apply nw-px-2 nw-inline-block;
      }

      .nw-dropdown-indicator-open {
        @apply nw-px-2 nw-hidden;
      }
    }

    .nw-burger-nav-2nd-item {
      > div {
        @apply nw-pl-6 nw-bg-white;
        > a {
          @apply nw-normal-case;
        }
      }
      &.open {
        > div {
          > a {
            @apply nw-normal-case;
          }
        }

        .nw-burger-nav-3rd {
          @apply nw-block;
        }

        .nw-dropdown-indicator-closed {
          @apply nw-hidden;
        }

        .nw-dropdown-indicator-open {
          @apply nw-inline-block;
        }
      }
    }

    .nw-burger-nav-3rd {
      @apply nw-hidden nw-py-1;
    }

    .nw-burger-nav-3rd-item {
      @apply nw-pl-9 nw-py-1.5;
      > a {
        @apply nw-text-sm;
      }
    }
  }
}

#burger-overlay {
  @apply nw-bg-black nw-opacity-20 nw-fixed nw-top-0 nw-left-0 nw-h-screen nw-w-screen nw-z-30;
}
