.egy-discussion-1xsn7c7-root-root-commentaryAuthorAvatar-commentaryAuthorAvatar {
  -webkit-box-align: center;
  align-items: center;
  background-color: rgba(110, 110, 110, 0.3);
  color: rgb(255, 255, 255);
  display: flex;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 14.4px;
  height: 36px;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  width: 36px;
  border-radius: 100%;
  align-self: flex-start;
}

.egy-discussion-1bo28ba-root-default-link-root-default-link-commentaryAuthorName {
  box-sizing: border-box;
  font-family: inherit;
  font-style: inherit;
  line-height: inherit;
  -webkit-box-align: center;
  align-items: center;
  display: inline-flex;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 8px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease 0s;
  padding: 0px;
  text-decoration: unset;
  text-transform: unset;
  font-weight: bold;
}

.egy-discussion-10lj3vw-root-horizontal-spacing > * {
  align-self: center;
}

.egy-discussion-1733r4j-root-horizontal-spacing-commentaryAuthor {
  display: flex;
  -webkit-box-flex: 0;
  flex-grow: 0;
  gap: 8px;
  flex-flow: wrap;
  position: relative;
}

.egy-discussion-10lj3vw-root-horizontal-spacing {
  display: flex;
  -webkit-box-flex: 0;
  flex-grow: 0;
  gap: 2px;
  flex-flow: wrap;
}

.egy-discussion-176rxpu-root-root {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(212, 212, 212);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 12px;
  position: relative;
  width: 100%;
  border-radius: 8px;
}

.egy-discussion-1x5gqvp-commentaryInputWrapper {
  padding-bottom: 4px;
}

.egy-discussion-yzozo8-textbox-textbox {
  line-height: 24px;
  outline: none;
  padding: 0px 16px;
}

.egy-discussion-fyemem-footer-footer {
  column-gap: 8px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding: 8px;
}

.egy-discussion-1484l94-toolbar-toolbar {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
}


.egy-discussion-1u6etmi-root {
  align-self: center;
  color: rgb(170, 170, 170);
  margin-left: auto;
}

.egy-discussion-gplyg7-footerActions {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  gap: 8px;
}

.egy-discussion-da4nd-root-default-filled-root-default-filled:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.egy-discussion-da4nd-root-default-filled-root-default-filled {
  border-width: 0px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 0.8rem;
  font-style: inherit;
  font-weight: normal;
  line-height: inherit;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  background-color: rgb(110, 110, 110);
  color: rgb(255, 255, 255);
  border-radius: 8px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease 0s;
  padding: 8px 12px;
}

.egy-discussion-17jbw94-viewControlsWrapper-viewControlsWrapper {
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-top: 24px;
}

.egy-discussion-7ukzob-mode {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  -webkit-box-pack: start;
  justify-content: flex-start;
}


.egy-discussion-7ix5f9-root {
  color: inherit;
  display: flex;
  flex-direction: column;
  font-family: inherit;
  line-height: normal;
}


.egy-discussion-xpam0c-root-horizontal-spacing-commentaryHeader {
  display: flex;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-flow: row;
  gap: 8px;
}

.egy-discussion-mnym2c-root-horizontal-spacing-commentaryAuthor {
  display: flex;
  -webkit-box-flex: 0;
  flex-grow: 0;
  gap: 8px;
  flex-flow: wrap;
  padding-top: 20px;
  position: relative;
}

.egy-discussion-33n6hg-root-horizontal-spacing-commentaryHeaderActions {
  display: flex;
  -webkit-box-flex: 0;
  flex-grow: 0;
  gap: 4px;
  flex-flow: wrap;
  margin-left: auto;
  padding-top: 20px;
}

.egy-discussion-1rv5vdb-root-default-ghost-root-default-ghost-root-default-default-commentaryAction {
  background-color: transparent;
  font-family: inherit;
  font-style: inherit;
  font-weight: normal;
  line-height: inherit;
  cursor: pointer;
  position: relative;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 50%;
  box-sizing: content-box;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
  overflow: hidden;
  padding: 0px;
  font-size: 1rem;
  height: 32px;
  width: 32px;
  color: rgb(127, 127, 127);
}

.egy-discussion-1rv5vdb-root-default-ghost-root-default-ghost-root-default-default-commentaryAction span {
  align-self: center;
  display: flex;
}

.egy-discussion-1rv5vdb-root-default-ghost-root-default-ghost-root-default-default-commentaryAction > * {
  pointer-events: none;
}

.egy-discussion-1rv5vdb-root-default-ghost-root-default-ghost-root-default-default-commentaryAction svg {
  padding: 0px;
  vertical-align: text-top;
}

.egy-discussion-9h3wtn-commentaryContentOptions {
  display: flex;
  gap: 16px;
}

.egy-discussion-3urv2-root-compact-link-root-compact-link-commentaryContentBtn {
  box-sizing: border-box;
  font-family: inherit;
  font-style: inherit;
  line-height: inherit;
  -webkit-box-align: center;
  align-items: center;
  display: inline-flex;
  position: relative;
  background: none;
  border: none;
  color: rgb(110, 110, 110);
  cursor: pointer;
  border-radius: 8px;
  letter-spacing: 0.5px;
  transition: all 0.3s ease 0s;
  padding: 0px;
  text-decoration: unset;
  text-transform: unset;
  font-size: 0.9rem;
  font-weight: bold;
  margin-top: 8px;
}

.engagently-icons {
  font: normal normal bold 10px/16px var(--font-family-default);
  color: #4a5568;
  text-transform: uppercase;
  opacity: 1;

}

.egy-discussion-16w1kvb-root-horizontal-spacing-commentaryActionsWrapper {
  display: flex;
  -webkit-box-flex: 0;
  flex-grow: 0;
  gap: 0px;
  flex-flow: wrap;
  margin-left: -6px;
  margin-top: 12px;
}

.egy-discussion-kx25z2-root-compact-ghost-root-compact-ghost-commentaryAction .egy-discussion-77-startIcon-ref {
  padding-right: 4px;
}

.egy-discussion-d6xr01-startIcon-startIcon {
  -webkit-box-align: center;
  align-items: center;
  display: inline-flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.egy-discussion-kx25z2-root-compact-ghost-root-compact-ghost-commentaryAction > * {
  pointer-events: none;
}

.egy-discussion-kx25z2-root-compact-ghost-root-compact-ghost-commentaryAction svg {
  padding: 0px;
  vertical-align: text-top;
}

.egy-discussion-smslry-content-content {
  -webkit-box-align: center;
  align-items: center;
  display: inline-flex;
}

.egy-discussion-1484l94-toolbar-toolbar button {
  background-color: transparent;
  border-width: 0px;
  box-sizing: border-box;
  color: rgb(127, 127, 127);
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  height: 24px;
  -webkit-box-pack: center;
  justify-content: center;
  width: 24px;
}

.egy-discussion-16w1kvb-root-horizontal-spacing-commentaryActionsWrapper {
  display: block;
  text-align: right;
  display: block;
  text-align: right;
}

.egy-discussion-djkbkz-root-compact-ghost-root-compact-ghost-commentaryAction-commentaryActionActive {
  font: normal normal bold 10px/16px var(--font-family-default);
  color: #4A5568;
  text-transform: uppercase;
  opacity: 1;
  padding: 6px;
}