.nw-landingpage-button {
  @apply nw-mt-2 nw-mb-4
  nw-px-2
  sm:nw-px-4
  nw-w-full
  md:nw-w-1/2
  nw-text-white
  nw-bg-red-500
  nw-border
  hover:nw-bg-white
  hover:nw-text-red-500
  nw-border-red-500
  nw-rounded-md
  nw-text-center
  nw-text-xs
  sm:nw-text-sm
  nw-font-medium
  md:nw-font-bold
  nw-cursor-pointer nw-py-2;
}

.nw-info-text {
  @apply nw-text-xs
  nw-text-gray-500;
}

button,
input {
  @apply nw-h-10 nw-py-px;
}