.nw-landingpage-button {
  @apply nw-mt-2 nw-mb-4
  nw-px-4
  nw-w-full
  md:nw-w-1/2
  nw-text-white
  nw-bg-red-500
  nw-border
  hover:nw-bg-white
  hover:nw-text-red-500
  nw-border-red-500
  nw-rounded-md
  nw-text-center
  nw-text-base
  nw-font-medium
  md:nw-font-bold
  nw-cursor-pointer nw-py-2;
}

.landingpage {
  @media screen and (max-width: 640px) {
    &-border-tablet {
      border-color: black;
      border-width: 25px;
      border-style: solid;
      border-radius: 15px;
    }

    &-tablet-circle {
      background-color: #333;
      width: 16px;
      height: 16px;
      border-radius: 8px;
      position: absolute;
      bottom: 3px;
      right: 48%;
      border: 1px solid #ccc;
    }

    &-tablet-small-circle {
      background-color: #333;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      position: absolute;
      top: 8px;
      right: 48%;
      border: 1px solid #ccc;
    }
  }
  @media (min-width: 640px) and (max-width: 1280px) {
    &-border-tablet {
      border-color: black;
      border-width: 36px;
      border-style: solid;
      border-radius: 15px;
    }

    &-tablet-circle {
      background-color: #333;
      width: 26px;
      height: 26px;
      border-radius: 13px;
      position: absolute;
      bottom: 5px;
      right: 48%;
      border: 1px solid #ccc;
    }

    &-tablet-small-circle {
      background-color: #333;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      position: absolute;
      top: 12px;
      right: 48%;
      border: 1px solid #ccc;
    }
  }
}

.icon-transition {
  position: relative;
  animation-name: icon;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes icon {
  0% {
    left: 60px;
    top: 0;
  }
  100% {
    left: 0;
    top: 0;
  }
}
