.nw-btn-primary {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-32 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
  nw-bg-red-0 nw-rounded-md nw-text-base nw-font-bold
  nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-red-100 focus:nw-bg-red-200
  disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed;
}
.nw-btn-secondary {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-32 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
  nw-bg-gray-500 nw-rounded-md nw-text-base nw-font-bold
  nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-gray-600 focus:nw-bg-black
  disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ;
}
.nw-btn-outline {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-32 sm:nw-max-w-fit nw-text-gray-600 nw-whitespace-nowrap nw-bg-white
  nw-border nw-border-gray-600 nw-rounded-md nw-text-base nw-font-bold
  nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-gray-0 focus:nw-bg-gray-100
  disabled:nw-bg-white
  disabled:nw-text-gray-200 disabled:nw-border-gray-200 disabled:nw-cursor-not-allowed ;
}
.nw-btn-primary-blue {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-32 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
  nw-bg-sky-0 nw-rounded-md nw-text-base nw-font-bold
  nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-sky-100 focus:nw-bg-sky-200
  disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed;
}
.nw-btn-primary-md {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-26 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
  nw-bg-red-0 nw-rounded-md nw-text-sm nw-font-bold
  nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-red-100 focus:nw-bg-red-200
  disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed;
}
.nw-btn-secondary-md {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-26 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
  nw-bg-gray-500 nw-rounded-md nw-text-sm nw-font-bold
  nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-gray-600 focus:nw-bg-black
  disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed;
}
.nw-btn-outline-md {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-26 sm:nw-max-w-fit nw-text-gray-600 nw-whitespace-nowrap nw-bg-white
  nw-border nw-border-gray-600 nw-rounded-md nw-text-sm nw-font-bold
  nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-gray-0 focus:nw-bg-gray-100
  disabled:nw-bg-white
  disabled:nw-text-gray-200 disabled:nw-border-gray-200 disabled:nw-cursor-not-allowed;
}
.nw-btn-primary-blue-md {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-26 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
  nw-bg-sky-0 nw-rounded-md nw-text-sm nw-font-bold
  nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-sky-100 focus:nw-bg-sky-200
  disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed;
}
.nw-btn-primary-sm {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-16 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
  nw-bg-red-0 nw-rounded-md nw-text-xs nw-font-bold
  nw-cursor-pointer nw-py-1.5 nw-px-3 hover:nw-bg-red-100 focus:nw-bg-red-200
  disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed;
}
.nw-btn-secondary-sm {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-16 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
  nw-bg-gray-500 nw-rounded-md nw-text-xs nw-font-bold
  nw-cursor-pointer nw-py-1.5 nw-px-3 hover:nw-bg-gray-600 focus:nw-bg-black
  disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed;
}
.nw-btn-outline-sm {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-16 sm:nw-max-w-fit nw-text-gray-600 nw-whitespace-nowrap nw-bg-white
  nw-border nw-border-gray-600 nw-rounded-md nw-text-xs nw-font-bold
  nw-cursor-pointer nw-py-1.5 nw-px-3 hover:nw-bg-gray-0 focus:nw-bg-gray-100
  disabled:nw-bg-white
  disabled:nw-text-gray-200 disabled:nw-border-gray-200 disabled:nw-cursor-not-allowed;
}
.nw-btn-primary-blue-sm {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-16 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
  nw-bg-sky-0 nw-rounded-md nw-text-xs nw-font-bold
  nw-cursor-pointer nw-py-1.5 nw-px-3 hover:nw-bg-sky-100 focus:nw-bg-sky-200
  disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed;
}

.nw-btn-icon-primary {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-40 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
  nw-bg-red-0 nw-rounded-md nw-text-base nw-font-bold
  nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-red-100 focus:nw-bg-red-200
  disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed;
}
.nw-btn-icon-secondary {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-40 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
  nw-bg-gray-500 nw-rounded-md nw-text-base nw-font-bold
  nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-gray-600 focus:nw-bg-black
  disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed;
}
.nw-btn-icon-outline {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-40 sm:nw-max-w-fit nw-text-gray-600 nw-whitespace-nowrap nw-bg-white
  nw-border nw-border-gray-600 nw-rounded-md nw-text-base nw-font-bold
  nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-gray-0 focus:nw-bg-gray-100
  disabled:nw-bg-white
  disabled:nw-text-gray-200 disabled:nw-border-gray-200 disabled:nw-cursor-not-allowed;
}
.nw-btn-icon-primary-blue {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-40 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
  nw-bg-sky-0 nw-rounded-md nw-text-base nw-font-bold
  nw-cursor-pointer nw-py-3 nw-px-6 hover:nw-bg-sky-100 focus:nw-bg-sky-200
  disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed;
}

.nw-btn-icon-primary-md {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-32 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
  nw-bg-red-0 nw-rounded-md nw-text-sm nw-font-bold
  nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-red-100 focus:nw-bg-red-200
  disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ;
}
.nw-btn-icon-secondary-md {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-32 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
  nw-bg-gray-500 nw-rounded-md nw-text-sm nw-font-bold
  nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-gray-600 focus:nw-bg-black
  disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed;
}
.nw-btn-icon-outline-md {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-32 sm:nw-max-w-fit nw-text-gray-600 nw-whitespace-nowrap nw-bg-white
  nw-border nw-border-gray-600 nw-rounded-md nw-text-sm nw-font-bold
  nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-gray-0 focus:nw-bg-gray-100
  disabled:nw-bg-white
  disabled:nw-text-gray-200 disabled:nw-border-gray-200 disabled:nw-cursor-not-allowed;
}
.nw-btn-icon-primary-blue-md {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-32 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
  nw-bg-sky-0 nw-rounded-md nw-text-sm nw-font-bold
  nw-cursor-pointer nw-py-2 nw-px-4 hover:nw-bg-sky-100 focus:nw-bg-sky-200
  disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed;
}

.nw-btn-icon-primary-sm {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-26 sm:nw-max-w-fit nw-whitespace-nowrap nw-text-white
  nw-bg-red-0 nw-rounded-md nw-text-xs nw-font-bold
  nw-cursor-pointer nw-py-1.5 nw-px-3 hover:nw-bg-red-100 focus:nw-bg-red-200
  disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed;
}
.nw-btn-icon-secondary-sm {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-26 sm:nw-max-w-fit  nw-whitespace-nowrap nw-text-white
  nw-bg-gray-500 nw-rounded-md nw-text-xs nw-font-bold
  nw-cursor-pointer nw-py-1.5 nw-px-3 hover:nw-bg-gray-600 focus:nw-bg-black
  disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ;
}
.nw-btn-icon-outline-sm {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-26 sm:nw-max-w-fit  nw-text-gray-600 nw-whitespace-nowrap nw-bg-white
  nw-border nw-border-gray-600 nw-rounded-md nw-text-xs nw-font-bold
  nw-cursor-pointer nw-py-1.5 nw-px-3 hover:nw-bg-gray-0 focus:nw-bg-gray-100
  disabled:nw-bg-white
  disabled:nw-text-gray-200 disabled:nw-border-gray-200 disabled:nw-cursor-not-allowed;
}
.nw-btn-icon-primary-blue-sm {
  @apply nw-flex nw-items-center nw-justify-center nw-w-full sm:nw-min-w-26 sm:nw-max-w-fit  nw-whitespace-nowrap nw-text-white
  nw-bg-sky-0 nw-rounded-md nw-text-xs nw-font-bold
  nw-cursor-pointer nw-py-1.5 nw-px-3 hover:nw-bg-sky-100 focus:nw-bg-sky-200
  disabled:nw-bg-gray-100 disabled:nw-cursor-not-allowed ;
}

.nw-divide-solid-1-16 {
  @apply nw-border-b  nw-border-gray-100 nw-my-4;
}
.nw-divide-solid-1-24 {
  @apply nw-border-b nw-border-gray-100 nw-my-6;
}
.nw-divide-solid-1-32 {
  @apply nw-border-b nw-border-gray-100 nw-my-8;
}
.nw-divide-solid-2-16 {
  @apply nw-border-b-2 nw-border-gray-100 nw-my-4;
}
.nw-divide-solid-2-24 {
  @apply nw-border-b-2 nw-border-gray-100 nw-my-6;
}
.nw-divide-solid-2-32 {
  @apply nw-border-b-2 nw-border-gray-100 nw-my-8;
}
.nw-divide-dashed-1-16 {
  @apply nw-border-b nw-border-dashed nw-border-gray-100 nw-my-4;
}
.nw-divide-dashed-1-24 {
  @apply nw-border-b nw-border-dashed nw-border-gray-100 nw-my-6;
}
.nw-divide-dashed-1-32 {
  @apply nw-border-b nw-border-dashed nw-border-gray-100 nw-my-8;
}
.nw-divide-dashed-2-16 {
  @apply nw-border-b-2 nw-border-dashed nw-border-gray-100 nw-my-4;
}
.nw-divide-dashed-2-24 {
  @apply nw-border-b-2 nw-border-dashed nw-border-gray-100 nw-my-6;
}
.nw-divide-dashed-2-32 {
  @apply nw-border-b-2 nw-border-dashed nw-border-gray-100 nw-my-8;
}



.nw-landingpage-button {
  @apply nw-mt-2 nw-mb-4
  nw-px-2
  sm:nw-px-4
  nw-w-full
  md:nw-w-1/2
  nw-text-white
  nw-bg-red-0
  nw-border
  hover:nw-bg-white
  hover:nw-text-red-0
  nw-border-red-0
  nw-rounded-md
  nw-text-center
  nw-text-xs
  sm:nw-text-sm
  nw-font-medium
  md:nw-font-bold
  nw-cursor-pointer nw-py-2;
}

.nw-info-text {
  @apply nw-text-xs
  nw-text-gray-400;
}
