.nw-newsticker-chevron {
  position: relative;
  top: 18px;
  left: 24px;
}

.nw-menu-seperator {
  border-left: 1px solid #d9d9d9;
  height: 24px;
}
.nw-form-tick:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

#nw-sticky-container {
  @apply nw-w-full
  nw-filter
  nw-drop-shadow-md
  nw-bg-white
  nw-hidden
  md:nw-fixed
  md:nw-top-0
  md:nw-left-0
  nw-z-50
    nw-origin-bottom;
  &.nw-show-sticky {
    @apply nw-inline-block md:nw-transform md:nw-translate-y-0 md:nw-duration-500;
  }

  &.nw-hide-sticky {
    @apply md:nw-transform md:nw--translate-y-36 md:nw-duration-500;
  }

  #nw-sticky-menu {
    @apply nw-bg-white
    nw-flex
    nw-justify-items-stretch
    nw-h-10 nw-items-center
    nw-max-w-6xl nw-w-full nw-mx-auto nw-px-0 sm:nw-px-8 lg:nw-px-12;
  }
}

#nw-loginbox {
  @apply nw-w-80 nw-p-2 nw-bg-white nw-rounded
    nw-z-50
    nw-border
    nw-border-gray-200
    nw-absolute
    nw-top-10
    nw-filter
    nw-shadow-md;
}

.nw-loginbox-arrow {
  @apply nw-inline-block
    nw-bg-white
    nw-border-gray-200
    nw-border-l
    nw-border-t
    nw-transform
    nw-rotate-45
    nw-bg-white
    nw-absolute;

  height: 8px;
  width: 8px;
  top: -5px;
  right: 12px;
}

.nw-abo-button {
  @apply nw-font-bold
  nw-bg-red-500
  nw-text-white
  nw-py-0.5
  nw-px-1
  nw-rounded
  nw-uppercase
  sm:nw-inline
  hover:nw-bg-red-600
  hover:nw-text-white
  focus:nw-outline-none
  focus:nw-bg-red-700;
}

#nw-login-button {
  @apply nw-text-custom-1-700 nw-cursor-pointer;
}
