#nw-menu {
  @apply  nw-mb-0 md:nw-mb-4;
}

// #nw-logo-section auch im app-patch.css
@media (orientation: landscape) {
  #nw-logo-section {
    left:10px;
  }
}

#nw-logo-section {
  @apply md:nw-shadow-md;
  background-color: white!important;
  // von app-patch.css
  z-index: 99999!important;
}

#nw-menu-section {
  @apply md:nw-shadow-md;
  border-radius: 0 0 .375rem .375rem;
  background-color: white!important;

}

@media screen and (max-width: 767px) {
  #nw-menu-section {
    margin-top: 64px;
  }
}

.nw-newsticker-chevron {
  position: relative;
  top: 18px;
  left: 24px;
}

.nw-menu-seperator {
  border-left: 1px solid #d9d9d9;
  height: 24px;
}
.nw-form-tick:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
  border-color: transparent;
  background-color: currentColor;
  background-size: 100% 100%;
  background-position: 50%;
  background-repeat: no-repeat;
}

#nw-sticky-container {
  @apply nw-w-full
  nw-filter
  nw-drop-shadow-md
  nw-bg-white
  nw-hidden
  md:nw-fixed
  md:nw-top-0
  md:nw-left-0
  nw-z-50
  nw-origin-bottom;
  &.nw-show-sticky {
    @apply nw-inline-block md:nw-transform md:nw-translate-y-0 md:nw-duration-500;
  }

  &.nw-hide-sticky {
    @apply md:nw-transform md:nw--translate-y-36 md:nw-duration-500;
  }

  #nw-sticky-menu {
    @apply nw-bg-white
    nw-flex
    nw-justify-items-stretch
    nw-h-10 nw-items-center
    nw-max-w-6xl nw-w-full nw-mx-auto nw-px-0 sm:nw-px-8 lg:nw-px-12;
  }
}

// von app-patch.css
/*
#nw-loginbox {
  right: 0;
}

#nw-loginbox {
  @apply nw-w-80 nw-p-2 nw-bg-white nw-rounded
    nw-right-0
    nw-z-50
    nw-border
    nw-border-gray-100
    nw-absolute
    nw-top-10
    nw-filter
    nw-shadow-md;
}


.nw-loginbox-arrow {
  @apply nw-inline-block
    nw-bg-white
    nw-border-gray-100
    nw-border-l
    nw-border-t
    nw-transform
    nw-rotate-45
    nw-bg-white
    nw-absolute;

  height: 8px;
  width: 8px;
  top: -5px;
  right: 12px;
} */

// new login-box
#background-popup {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 99;
}
//

.nw-abo-button {
  @apply nw-font-bold
  nw-bg-red-0
  nw-text-white
  nw-py-0.5
  nw-px-1
  nw-rounded
  nw-uppercase
  sm:nw-inline
  hover:nw-bg-red-100
  hover:nw-text-white
  focus:nw-outline-none
  focus:nw-bg-red-200;
}

#nw-login-button {
  @apply nw-text-slate-300 nw-cursor-pointer;
}

// von app-patch.css
@media (max-width: 767px)
{
  #nw-sticky-container {
    position: absolute;
    top: -36px;
  }
  .feedback-form{
    justify-content: left;
  }
  span.article-comments span span{
    line-height: 1;
  }
  span.article-comments span svg{
    margin-top: 0;
  }
}