.nw-notification.svg {
  @apply nw-text-red-0;
  li {
    padding: 5px 5px 5px 25px;
    background: transparent url('/images/download.svg') no-repeat;
    background-size: 16px;
    background-position-y: 6px;
  }
}
