.nw-text-limit-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.nw-text-limit-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.nw-text-limit-4 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
}

.nw-text-limit-5 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  line-clamp: 5;
  -webkit-box-orient: vertical;
}

.nw-text-limit-6 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
}

.nw-text-limit-7 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  line-clamp: 7;
  -webkit-box-orient: vertical;
}

.nw-text-limit-8 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  line-clamp: 8;
  -webkit-box-orient: vertical;
}

/* markt-komponente svg   */

.nw-markt-svg {
  background-size: contain;
  content: "";
  margin-right: 4px;
  margin-bottom: -2px;
  display: inline-block;
  background-repeat: no-repeat;
}

.nw-immobilien-markt-svg::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23D20A11' class='size-5'%3E%3Cpath fill-rule='evenodd' d='M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z' clip-rule='evenodd' /%3E%3C/svg%3E%0A");
  min-height: 18px;
  min-width: 18px;
}

.nw-ausbildung-markt-svg::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23D20A11' class='size-5'%3E%3Cpath d='m2.695 14.762-1.262 3.155a.5.5 0 0 0 .65.65l3.155-1.262a4 4 0 0 0 1.343-.886L17.5 5.501a2.121 2.121 0 0 0-3-3L3.58 13.419a4 4 0 0 0-.885 1.343Z' /%3E%3C/svg%3E%0A");
  min-height: 18px;
  min-width: 18px;
}

.nw-stelle-markt-svg::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23D20A11' class='size-5'%3E%3Cpath fill-rule='evenodd' d='M6 3.75A2.75 2.75 0 0 1 8.75 1h2.5A2.75 2.75 0 0 1 14 3.75v.443c.572.055 1.14.122 1.706.2C17.053 4.582 18 5.75 18 7.07v3.469c0 1.126-.694 2.191-1.83 2.54-1.952.599-4.024.921-6.17.921s-4.219-.322-6.17-.921C2.694 12.73 2 11.665 2 10.539V7.07c0-1.321.947-2.489 2.294-2.676A41.047 41.047 0 0 1 6 4.193V3.75Zm6.5 0v.325a41.622 41.622 0 0 0-5 0V3.75c0-.69.56-1.25 1.25-1.25h2.5c.69 0 1.25.56 1.25 1.25ZM10 10a1 1 0 0 0-1 1v.01a1 1 0 0 0 1 1h.01a1 1 0 0 0 1-1V11a1 1 0 0 0-1-1H10Z' clip-rule='evenodd' /%3E%3Cpath d='M3 15.055v-.684c.126.053.255.1.39.142 2.092.642 4.313.987 6.61.987 2.297 0 4.518-.345 6.61-.987.135-.041.264-.089.39-.142v.684c0 1.347-.985 2.53-2.363 2.686a41.454 41.454 0 0 1-9.274 0C3.985 17.585 3 16.402 3 15.055Z' /%3E%3C/svg%3E%0A");
  min-height: 18px;
  min-width: 18px;
}
.nw-reise-markt-svg::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23D20A11' class='size-6'%3E%3Cpath d='M21.721 12.752a9.711 9.711 0 0 0-.945-5.003 12.754 12.754 0 0 1-4.339 2.708 18.991 18.991 0 0 1-.214 4.772 17.165 17.165 0 0 0 5.498-2.477ZM14.634 15.55a17.324 17.324 0 0 0 .332-4.647c-.952.227-1.945.347-2.966.347-1.021 0-2.014-.12-2.966-.347a17.515 17.515 0 0 0 .332 4.647 17.385 17.385 0 0 0 5.268 0ZM9.772 17.119a18.963 18.963 0 0 0 4.456 0A17.182 17.182 0 0 1 12 21.724a17.18 17.18 0 0 1-2.228-4.605ZM7.777 15.23a18.87 18.87 0 0 1-.214-4.774 12.753 12.753 0 0 1-4.34-2.708 9.711 9.711 0 0 0-.944 5.004 17.165 17.165 0 0 0 5.498 2.477ZM21.356 14.752a9.765 9.765 0 0 1-7.478 6.817 18.64 18.64 0 0 0 1.988-4.718 18.627 18.627 0 0 0 5.49-2.098ZM2.644 14.752c1.682.971 3.53 1.688 5.49 2.099a18.64 18.64 0 0 0 1.988 4.718 9.765 9.765 0 0 1-7.478-6.816ZM13.878 2.43a9.755 9.755 0 0 1 6.116 3.986 11.267 11.267 0 0 1-3.746 2.504 18.63 18.63 0 0 0-2.37-6.49ZM12 2.276a17.152 17.152 0 0 1 2.805 7.121c-.897.23-1.837.353-2.805.353-.968 0-1.908-.122-2.805-.353A17.151 17.151 0 0 1 12 2.276ZM10.122 2.43a18.629 18.629 0 0 0-2.37 6.49 11.266 11.266 0 0 1-3.746-2.504 9.754 9.754 0 0 1 6.116-3.985Z' /%3E%3C/svg%3E%0A");
  min-height: 18px;
  min-width: 18px;

}
.nw-trauer-markt-svg::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke-width='3' fill='%23D20A11' class=''%3E%3Cpath fill-rule='evenodd' d='M12 3.75a.75.75 0 0 1 .75.75v6.75h6.75a.75.75 0 0 1 0 1.5h-6.75v6.75a.75.75 0 0 1-1.5 0v-6.75H4.5a.75.75 0 0 1 0-1.5h6.75V4.5a.75.75 0 0 1 .75-.75Z' clip-rule='evenodd' /%3E%3C/svg%3E%0A");
  min-width: 20px;
  min-height: 20px;
}
.nw-erwinsdate-markt-svg::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='%23D20A11' class='size-5'%3E%3Cpath d='m9.653 16.915-.005-.003-.019-.01a20.759 20.759 0 0 1-1.162-.682 22.045 22.045 0 0 1-2.582-1.9C4.045 12.733 2 10.352 2 7.5a4.5 4.5 0 0 1 8-2.828A4.5 4.5 0 0 1 18 7.5c0 2.852-2.044 5.233-3.885 6.82a22.049 22.049 0 0 1-3.744 2.582l-.019.01-.005.003h-.002a.739.739 0 0 1-.69.001l-.002-.001Z' /%3E%3C/svg%3E%0A");
  min-height: 18px;
  min-width: 18px;
}


/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.nw-toggle-checkbox {
  &:checked {
    @apply nw-right-0 nw-border-green-100;
    right: 0;
    border-color: #6eb783;

    + .nw-toggle-label {
      @apply nw-bg-green-100;
      background-color: #6eb783;
    }
  }
}

p.Zwischenzeile {
  @apply md:nw-w-5/6;
  padding-bottom: 0.75rem;
  font-weight: 700;
  font-size: 24px !important;
  line-height: 1.3 !important;
}

h2.Zwischenzeile {
  padding-bottom: 0.75rem;
  font-weight: 700;
  font-size: 24px !important;
  line-height: 26px !important;
}

p.druck-text {
  @apply nw-text-md nw-w-5/6 nw-mb-4;
}

h2.druck-text {
  @apply nw-text-xl nw-font-bold nw-w-5/6 nw-mb-4 nw-mt-6;
}

.article-detail-entry-content ol {
  @apply nw-list-decimal;
}

.article-detail-entry-content ul {
  @apply nw-list-disc;
}

.article-detail-entry-content ul,
.article-detail-entry-content ol {
  @apply nw-w-full md:nw-w-5/6 nw-ml-5;
  // von app-patch.css
  max-width: 83.33333333%;

  li {
    padding-bottom: 0.5rem;
  }
}

/* Hotfix pinpoll on articles von app-patch.css */
@media (min-width: 768px) {
  .article-detail-entry-content iframe[id^="pinpoll"] {
    width: 83.3%;
  }
}
/* Hotfix pinpoll end*/


/* toggle-buttons  */

.toggle-buttons {
  margin-right: 8px;
}

.toggle-buttons {
  width: 33px;
  min-width: 33px;
  max-width: 33px;
  height: 33px;
}

@media (min-width: 768px) {
  .toggle-buttons {
    margin-right: 5.8px;
  }
}

.toggle-buttons:last-child {
  margin-right: 0;
}

.nw-scrollbar {
  &::-webkit-scrollbar-track {
    background-color: #d9d9d9;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 100px;
  }

  &-vertical {
    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-thumb {
      background: #999999;
    }
  }

  &-horizontal {
    &::-webkit-scrollbar {
      height: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: #000000;
    }
  }

  &-horizontal-lesepaten {
    &::-webkit-scrollbar-thumb {
      background: #999999;
    }
  }
}
