.newsletter-boxen-image-container {
  height: 196px;
  width: 100%;
}


@media (min-width: 1023px) {
  .newsletter-boxen-image-container {
    height: auto;
  }
}

.newsletter-boxen-image-container2 {
  height: 160px;
  width: 100%;
}

.responsive-newsletter-box {
  max-width: 320px;
}

@media (min-width: 250px) {
  .responsive-newsletter-box {
    max-width: 712px;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .responsive-newsletter-box {
    max-width: 1007px;
    width: 100%;
  }
}
.responsive-newsletter-box2 {
  max-width: 320px;
}

