.nw-newsletter-mail-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.8' stroke='white'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75'/%3E%3C/svg%3E");

}

.nw-newsletter-icon {
  border-radius: 50%;
  background-color: rgb(169 171 173 );
  width: 3.75rem;
  height: 3.75rem;
  background-size: 2rem;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 640px) {
  .nw-newsletter-icon{
    width: 5.625rem;
    height: 5.625rem;
    background-size: 3rem;
  }
}