.nw-newsletter-boxen-slider {
  .embla__slide__inner {
    border: 0px solid transparent;
    max-width:320px;
  }

  .embla__slide {
    padding-right: 16px;
  }
}

.newsletter-boxen-image-container-slider {
  height: 160px;
}


.nw-event-slider {
  .embla__slide {
    padding-right: 16px;
  }

.embla__slide__inner {
    border: none !important;
  }
  @media (min-width: 768px) {
    .embla__slide {
      padding-right: 12px;
    }

  }
  .embla__slide__img {
    position: relative;
    top: 0;
    left: 0;
  }


}

