/* =============================================================================
   GENERAL PRINT
   ========================================================================== */

@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
  }

  .nw-print-image {
    content: url('/_em_daten/locals/module/nw/_includes/twig/current/public/images/nw-logo-wortmarke.svg');
    display: block;
    width: 256px;
    height: auto;
  }

  .nw-article-2023:after {
    content: "© Zeitungsverlag Neue Westfälische GmbH \0026 Co. KG";
    display: block;
    text-align: center;
    padding-top: 1rem;
    font-size: 1rem;
    color: #BFBFBF;
  }

  p {
    font-size: 18px;
    width: 83.333333%;
    margin-bottom: 1rem;
    line-height: 1.5rem;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 700;
    width: 83.333333%;
    padding-top: 1.5rem;
    line-height: 1.75rem;
  }

  #nw-paywall-footer,
  #reco-box,
  #themen-relateds,
  #em_ad_superbanner {
    display: none !important;
  }

  .box-ad-middle,
  .box-ad-in-article,
  .nw-menu-section,
  .nw-footer-container,
  .clearfix,
  .content-right-col,
  .feedback-form,
  .nw-panoimage,
  .nw-social-icon,
  .nw-engagently,
  .em_info,
  .nw-header-container,
  .nw-article-image-with-text,
  .nw-breadcrumb-container,
  .nw-overlay,
  .nw-reco-box-print,
  .slider,
  .nw-link-list,
  .nw-comments,
  .nw-video-print,
  .nw-img-author {
    display: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: "";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 2cm .5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  select {
    background: #fff !important;
  }

  .navbar {
    display: none;
  }

  .table td,
  .table th {
    background-color: #fff !important;
  }

  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }

  .label {
    border: 1px solid #000;
  }

  .table {
    border-collapse: collapse !important;
  }

  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}

/* =============================================================================
   RESPONSIVE UTILITIES
   ========================================================================== */

@media print {
  .visible-print {
    display: block !important;
  }
  table.visible-print {
    display: table;
  }
  tr.visible-print {
    display: table-row !important;
  }
  th.visible-print,
  td.visible-print {
    display: table-cell !important;
  }
  .hidden-print,
  tr.hidden-print,
  th.hidden-print,
  td.hidden-print {
    display: none !important;
  }
}